---
import { DocNavContext } from 'src/tools/docs';
import SideNavCategory from './SideNavCategory.astro';
import { specialCaps } from '../../tools/string';

let { items, context, frontmatter }: { items: any[], context: DocNavContext} = Astro.props;
items = items || [];
---
<nav>
  <a href="/docs" class="text-xs text-indigo-500 my-6 font-medium"><- Docs Home Page</a>
  <p class="text-2xl font-extrabold capitalize my-2">{ specialCaps(context.category.name) }</p>
  <div class="border-t-indigo-200 border-t-2  my-6"></div>
  <SideNavCategory category={context.category} level={0} {frontmatter} />
</nav>