---
import { DocNavContext } from 'src/tools/docs';
import SideNavCategory from './SideNavCategory.astro';
import { specialCaps } from '../../tools/string';

let { items, context, frontmatter }: { items: any[], context: DocNavContext} = Astro.props;
items = items || [];
---
<nav class="z-25">
  <a href="/docs" class="text-xs font-semibold text-slate-600 dark:text-slate-50 my-6 hover:text-indigo-500 dark:hover:text-indigo-500"><- Docs Home Page</a>
  <p class="text-2xl font-extrabold capitalize my-2">{ specialCaps(context.category.name) }</p>
  <div class="border-t-slate-600 border-t-2  my-5"></div>
  <SideNavCategory category={context.category} level={0} {frontmatter} />
</nav>