<li>The browser requests the shopping cart single-page application from the application backend</li>
<li>The application backend responds with the HTML, CSS & JavaScript of the application</li>
<li>The browser loads the application and as part of the initialization process, it makes a request to the application backend to see if the user is logged in </li>
<li>The application backend responds with a 404 indicating the user is not logged in</li>
<li>The user clicks the login link and the browser navigates away from the single-page application to FusionAuth's OAuth 2 interface. The browser requests the OAuth 2 login page from FusionAuth with a <code>response_type</code> of code indicating that it is using the authorization code grant</li>
<li>FusionAuth responds with the HTML, CSS & JavaScript of the login page (including the form)</li>
<li>The user inputs their credentials and clicks the submit button. The browser <code>POST</code>s the form data to FusionAuth</li>
<li>FusionAuth returns a redirect to the application backend's OAuth 2 <code>redirect_uri</code>. This redirect includes the authorization code from FusionAuth. Also, this response includes a session id for the FusionAuth OAuth 2 interface as an HTTP cookie. This cookie is HttpOnly, which prevents JavaScript from accessing it, making it less vulnerable to theft</li>
<li>The browser requests the application backend's OAuth <code>redirect_uri</code> with the authorization code from FusionAuth </li>
<li>The application backend calls FusionAuth's OAuth 2 token endpoint with the authorization code and optionally the <code>client_secret</code></li>
<li>FusionAuth verifies the authorization code and <code>client_secret</code>. It returns a 200 along with a JWT and refresh token in JSON</li>