---
layout: hero
title: Advanced Registration Forms
description: Build multi-step custom registration forms via API or the administrative user interface.
---
<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>Advanced Registration Forms</h1>
        <p>
          Build multi-step custom registration forms via API or the administrative user interface.
        </p>
        <a href="/pricing" class="brochure blue button">START FREE TRIAL</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/features.svg" alt="Features" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/find-compromised-passwords.svg" alt="We find compromised passwords">
        </header>
        <div class="content">
          <h2>Add custom form fields</h2>
          <p>
Use standard form fields like email, name, and password, or create your own. Custom fields can be strings, numbers, dates or booleans. Validate the fields to ensure no dirty data gets into your user database.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/protect-your-users-and-applications.svg" alt="Protect your users and applications">
        </header>
        <div class="content">
          <h2>Create multi-step forms</h2>
          <p>
            Create multi-page registration forms, providing contextual instructions and collecting different information on each page. Don't overwhelm your users during the sign up process.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/simple-integration.svg" alt="Simple integration">
        </header>
        <div class="content">
          <h2>Theme the form</h2>
          <p>
            Make the form your own. Use FusionAuth's rich theming functionality to give your registration a custom look and feel and add error messages. Localize the form to reach all your audiences.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="purple hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>Learning center</h2>
      </div>
    </div>
    <div class="row cards">
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-1 centered">
        <img src="/assets/img/advice/breached-password-detection/expert-advice-breached-password-detection.png" class="w-100"/>
        <h4>Featured Post</h4>
        <p style="flex-grow: 1">
          Typically an application collects sensitive information in a registration form. Passwords are the canonical example, but other types of data may need to be treated carefully, such as a social security number or other government identifier. When collecting sensitive data, keep it secure throughout the multi-page process. 
        </p>
        <a target="_blank" href="/learn/expert-advice/security/breached-password-detection" class="brochure purple button">READ NOW</a>
      </div>
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-2 centered">
        <div class="embed-container">
          <iframe src="https://www.youtube.com/embed/wte-NDXHE8I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h4>Featured Video</h4>
        <p style="flex-grow: 1">
          Building a complicated registration form capturing data custom to your application has never been easier. Use the registration form builder to create multi-step application specific registration forms.
        </p>
        <a target="_blank" href="https://www.youtube.com/watch?v=wte-NDXHE8I" class="brochure purple button">WATCH NOW</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/pricing-editions.svg" alt="Pricing for Editions">
  </div>
</section>

<section class="white">

  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>
          Screenshots
        </h2>
      </div>
    </div>

    <div class="feature-images row middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/advanced-registration-forms/custom-form-field.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <h3>Create custom fields</h3>
        <p>
          Custom fields can have different data types, validation and form controls. 
        </p>
      </div>
    </div>

    <div class="feature-images row middle reverse">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/advanced-registration-forms/custom-form.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 col-lg-offset-1 feature-card">
        <h3>Build your form</h3>
        <p>
          Assemble custom and standard form fields into a form, splitting into steps if needed.
        </p>
      </div>
    </div>

    <div class="feature-images row middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/advanced-registration-forms/registration-second-page.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <h3>Capture needed data</h3>
        <p>
          Your registration form now gathers profile data needed for your application.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="blue hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>
          External resources
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-1 centered">
        <a target="_blank" href="https://instapage.com/blog/multi-step-form-part-2">
          <img src="/assets/img/features/advanced-registration-forms/instapage-logo-3.svg" class="w-75" />
        </a>
        <h4>Blog post: Multi-step forms and conversion rates</h4>
        <p style="flex-grow: 1">
           "When Vendio, a website building tool ran an A/B test with an on-page form versus a multi-step form, they saw a 214% increase in leads. Similarly, BrokerNotes, a B2C financial lead gen website used multi-step forms and their conversion rate increased from 11% to 46%."
         </p>
        <a target="_blank" href="https://instapage.com/blog/multi-step-form-part-2" class="brochure blue button">READ NOW</a>
      </div>
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-2 centered">
        <a target="_blank" href="https://discovery.ucl.ac.uk/id/eprint/1378346/1/ewic_hci12_diss_paper7.pdf">
          <img src="/assets/img/features/advanced-registration-forms/ucl-logo.png" class="w-75" />
        </a>
        <h4>Research: Designing acceptable user registration processes for e-services (PDF)</h4>
        <p style="flex-grow: 1">
          Signup friction was impacted by factors including the number of credentials required, any delay in the process, such as waiting for an activation email and whether registration requires an interruption of a user’s routine.
        </p>
        <a target="_blank" href="https://discovery.ucl.ac.uk/id/eprint/1378346/1/ewic_hci12_diss_paper7.pdf" class="brochure blue button">READ NOW</a>
      </div>
    </div>
  </div>
  <div class="hero-image less-top right">
    <img src="/assets/img/heroes/pricing-hosting.svg" alt="Hosting">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 text">
        <h2>Technical documentation</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <h4>Blog posts</h4>
        {% for post in site.tags['feature-advanced-registration-forms'] limit:6 %}
          <p>
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url | replace: '.html', '' }}"> {{ post.title }} </a>
          </p>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>API docs &amp; guides</h4>
        <p>
          <a href="/docs/v1/tech/guides/advanced-registration-form">Guide</a>
        </p>
        <p>
          <a href="/docs/v1/tech/themes">Themes</a>
        </p>
        <p>
          <a href="/docs/v1/tech/apis/forms">Form APIs</a>
        </p>
        <p>
          <a href="/docs/v1/tech/apis/form-fields">Form Field APIs</a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>Example applications</h4>
        <p>
          <a href="https://github.com/FusionAuth/fusionauth-example-flask-portal">Flask user portal</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
