---
layout: default
title: Auth0 Migration
description: Migrating from Auth0? Here's how.
heroHeader: true
---
<section class="blue main hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>Migrate from Auth0 to FusionAuth</h1>
        <p>
          Auth0 and FusionAuth both provide authorization, authentication and user management. 
        </p>
        <p>
          Migrate to FusionAuth; you'll get more flexibility and control and save money at the same time.
        </p>
        <a href="/download/" class="brochure blue button">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/auth0-migration-guide-header-image.svg" alt="Auth0 Migration" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/test-fusionauth-stamp.svg" alt="Test FusionAuth">
        </header>
        <div class="content">
          <h2>Test FusionAuth</h2>
          <p>
            The community edition of FusionAuth can be downloaded and run for free. Test out integrations with other identity providers, including unlimited OIDC and SAML connections. Make sure it works for you. <a href="/download/">Download now</a>.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/export-your-data.svg" alt="Export Your Data">
        </header>
        <div class="content">
          <h2>Export your data</h2>
          <p>
            You'll need to export your users, password hashes, and other configuration from Auth0. With the password hash export, your users will never know you changed auth services. Pull other configuration from Auth0 using the management APIs.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/import-your-data.svg" alt="Import Your Data">
        </header>
        <div class="content">
          <h2>Import your data</h2>
          <p>
            Import your user and password data using FusionAuth provided scripts. Migrate other entities such as Connections, Roles and Rules manually. Or, if you have a lot of configuration, script the migration using Auth0 and FusionAuth APIs.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="purple hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>Learning center</h2>
      </div>
    </div>
    <div class="row cards">
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-1 centered">
        <img src="/assets/features/auth0-migration/auth0-migration-guide-header-image.svg" class="w-100"/>
        <h4>Featured Guide</h4>
        <p style="flex-grow: 1">
          There are a number of different ways applications can be integrated with Auth0, and it would be difficult to cover them all. This guide mentions the typical parts of a migration and in particular focuses on migrating user data from an Auth0 managed user database into FusionAuth. 
        </p>
        <a target="_blank" href="/docs/v1/tech/guides/auth0-migration/" class="brochure purple button">READ NOW</a>
      </div>
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-2 centered">
        <div class="embed-container">
          <iframe src="https://www.youtube.com/embed/wQklLZZP_3s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h4>Featured Video</h4>
        <p>
          Learn how to export your user data from Auth0 in less than five minutes. 
        </p>
        <p style="flex-grow: 1">
          You'll also see how to open a ticket to request your password hashes.
        </p>
        <a target="_blank" href="https://www.youtube.com/watch?v=wQklLZZP_3s" class="brochure purple button">WATCH NOW</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/pricing-editions.svg" alt="Pricing for Editions">
  </div>
</section>

<section class="white">

  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>
          Screenshots
        </h2>
      </div>
    </div>

    <div class="feature-images row middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/auth0-migration/add-tenant.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <h3>Create a tenant in FusionAuth</h3>
        <p>
          Create a tenant in FusionAuth. Tenants, applications and users are all core concepts. Tenants are unlimited, so create as many as you want.
        </p>
      </div>
    </div>

    <div class="feature-images row middle reverse">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/auth0-migration/export-users.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 col-lg-offset-1 feature-card">
        <h3>Export user data, then import it</h3>
        <p>
          Install the Export extension and download your user data. Load your users using provided scripts, and use the FusionAuth APIs to move over other Auth0 configuration.
        </p>
      </div>
    </div>

    <div class="feature-images row middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/auth0-migration/gmork-tech-login.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <h3>Customize the login experience</h3>
        <p>
          With FusionAuth's advanced theming, you can make your login pages hosted on FusionAuth look exactly like your site. You can also localize the entire authentication experience, allowing you to communicate with your users in their preferred language.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="blue">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 text">
        <h2>Technical documentation</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <h4>Blog posts</h4>
        {% for post in site.tags['topic-upgrade-auth0'] limit:6 %}
          <p>
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url | replace: '.html', '/' }}"> {{ post.title }} <i class="far fa-long-arrow-right"></i></a>
          </p>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>API docs &amp; guides</h4>
        <p>
          <a href="/docs/v1/tech/guides/auth0-migration/">Auth0 migration guide <i class="far fa-long-arrow-right"></i></a>
        </p>
        <p>
          <a href="/docs/v1/tech/guides/migration/">General migration guide <i class="far fa-long-arrow-right"></i></a>
        </p>
        <p>
          <a href="/docs/v1/tech/5-minute-setup-guide/">Set up a FusionAuth integration in 5 minutes <i class="far fa-long-arrow-right"></i></a>
        </p>
        <p>
          <a href="/docs/v1/tech/apis/">FusionAuth APIs <i class="far fa-long-arrow-right"></i></a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>Example apps &amp; case studies</h4>
        <p>
          <a href="https://github.com/fusionauth/fusionauth-import-scripts">User import scripts <i class="far fa-long-arrow-right"></i></a>
        </p>
        <p>
          <a href="/resources/dealcloser-case-study.pdf">dealcloser switched from Auth0 <i class="far fa-long-arrow-right"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
