---
layout: hero
title: Features - Authentication the way you want
description: FusionAuth gives you registration, login, authentication and authorization the way you need for all your apps in minutes, not months.
---

<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <p class="preface">FEATURES</p>
        <h1>Auth Every Way You Want</h1>
        <p>
          Every type of registration, login, authentication and authorization you need for all your apps in minutes, not months.
        </p>
        <a href="#" class="brochure blue button">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/features.svg" alt="Features" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="cards row">
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/auth-anywhere.svg" alt="Deployment options">
        <h2>Authentication Anywhere</h2>
        <p>
          FusionAuth provides quick and easy authentication to any type of application including web, mobile, desktop and console apps. You can build a native login experience or use FusionAuth's OAuth, OpenID Connect or SAML v2 front-ends.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/industry-standards.svg" alt="Industry Standards">
        <h2>Industry Standards</h2>
        <p>
          FusionAuth supports the most popular industry standards including OAuth 2 (with Introspect and PCKE support), OpenID Connect, and SAML v2 (POST binding). SCIM support coming soon as well.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/business-social-logins.svg" alt="Elastic Search">
        <h2>Social and Business Logins</h2>
        <p>
          Add social logins to your app in minutes. You can also add federated login with Active Directory, Ping and many others with SAML v2 or OpenID Connect.
        </p>
      </div>
    </div>
    <div class="cards row">
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/passwordless.svg" alt="Passwordless">
        <h2>Passwordless</h2>
        <p>
          The Passwordless revolution has begun. FusionAuth supports email-based passwordless login and is adding FIDO, out-of-band and many others in the coming months.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/multi-factor-authentication.svg" alt="Multi-Factor Authentication">
        <h2>Multi-factor Authentication</h2>
        <p>
          FusionAuth makes multi-factor authentication simple. You don't need to buy an expensive add-on. FusionAuth supports SMS and code-based MFA out-of-the-box. You can also add "Remember this Device" using our Two-Factor device ids.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/device-trust.svg" alt="Device Trust">
        <h2>Device Trust</h2>
        <p>
          Remembering users that previously logged in reduces friction and increases retention. Refresh tokens make remembering user devices simple.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="cards row">
      <div class="col-xs-12 col-lg-6 feature-card">
        <img src="/assets/img/icons/anomaly-detection.svg" alt="Anomaly Detection">
        <h2>Anomalous Login Detection</h2>
        <p>
          FusionAUth automatically detects anomalous login events such as brute-force attacks. You can easily lock user accounts when attacks happen. We are also working on advanced attack detection that will be available in 2020.
        </p>
      </div>
      <div class="col-xs-12 col-lg-6 feature-card">
        <img src="/assets/img/icons/family-relationships.svg" alt="Family Relationships">
        <h2>Families Relationships</h2>
        <p>
          FusionAuth provides a robust family modeling system. Parents and children can be added to families and children can also be included across families to handle cases of divorce. You can also support advanced consent models such as COPPA and Email Plus.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="feature-images row middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/fusionauth-roles.png" alt="FusionAuth Roles" class="w-100">
      </div>
      <div class="col-xs-12 col-lg-6">
        <h2>Authorization</h2>
        <p>
          FusionAuth supports role-based authorization as well as fine grained permissions as custom data. You can authorize users via OAuth or OpenID Connect making integration with your application simple.
        </p>
      </div>
    </div>
    <div class="feature-images row reverse middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/fusionauth-groups.png" alt="FusionAuth Groups" class="w-100">
      </div>
      <div class="col-xs-12 col-lg-6">
        <h2>Groups & Roles</h2>
        <p>
          FusionAuth Groups make it easy to model concepts like companies and organizations. You can also use Groups to control access by selecting roles that Group members receive when they log in.
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}