---
layout: hero
title: Breached Password Detection
description: Breached password detection prevents users from using compromised credentials to sign up or log in.
---
<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>Breached Password Detection</h1>
        <p>
          Prevents user from using compromised credentials to sign up or log in.
        </p>
        <a href="/pricing" class="brochure blue button">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/features.svg" alt="Features" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <p>
          FusionAuth checks user login credentials against a set of leaked databases that we've collected from all over the Internet, even the hard to reach places. You can enable Breached Password Detection during account creation, password resets, password changes and login. You can then force the user to change their password or notify them of the breach via email. 
        </p>
        <p>
          Receive a webhook event for every breached password found, allowing you to trigger external actions such as disabling access or notifying an internal team. FusionAuth also marks the user's account as using a breached password until it is changed, useful for reporting and analytics.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <h4>White papers &amp; case studies</h4>
        <p>
          <a href='/learn/expert-advice/security/breached-password-detection'>Expert Advice: Breached Password Detection</a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>Videos</h4>
        <p>
          <iframe width="280" height="157" src="https://www.youtube.com/embed/JUB-5wQ_fdI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>External resources</h4>
        <p>
          <a href="https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-63b.pdf">NIST Digital Identity Guidelines: Authentication and Lifecycle Management</a>
        </p>
        <p>
          <a href="https://www.ieee-security.org/TC/SPW2020/ConPro/papers/bhagavatula-conpro20.pdf">Academic Research: (How) Do People Change Their Passwords After a Breach?</a>
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <h4>Blog posts</h4>
        {% for post in site.tags['feature-breached-password-detection'] limit:6 %}
          <p>
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url | replace: '.html', '' }}"> {{ post.title }} </a>
          </p>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>API docs &amp; guides</h4>
        <p>
          <a href="/docs/v1/tech/reactor#breached-password-detection">Overview</a>
        </p>
        <p>
          <a href="/docs/v1/tech/apis/tenants">Tenant APIs</a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>Example applications</h4>
        <p>
          <a href="https://github.com/FusionAuth/fusionauth-example-php-webhook">Deactivate user accounts via webhook</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
