---
layout: hero
title: Breached Password Detection
description: Breached password detection prevents users from using compromised credentials to sign up or log in.
---
<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>Breached Password Detection</h1>
        <p>
          Prevent users from using compromised credentials to sign up or log in.
        </p>
        <a href="/pricing" class="brochure blue button">START FREE TRIAL</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/features.svg" alt="Features" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h4>We find compromised passwords</h4>
<p>
          FusionAuth checks user login credentials against a set of leaked databases that we've collected from all over the Internet, even the hard to reach places. 
</p>
        <h4>Protect your users and applications</h4>
<p>

You can enable Breached Password Detection during account creation, password resets, password changes and login. You can then force the user to change their password or notify them of the breach via email. 
        </p>
        <h4>Simple integration</h4>
        <p>
          Receive a webhook event for every breached password found, allowing you to trigger external actions such as disabling access or notifying an internal team. 
        </p>
      </div>
    </div>
  </div>
</section>
<section class="blue">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>Learning center</h2>
      </div>
    </div>
  </div>
</section>
<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <p>
          <a href='/learn/expert-advice/security/breached-password-detection'>
<img src='/assets/img/advice/breached-password-detection/expert-advice-breached-password-detection.png' height='157' />
</a>
        </p>
        <p>
<blockquote>
No matter how good your security is, if credentials are shared between systems, your application is as vulnerable as they are, should they suffer a data breach and leak passwords into the wild. 
</blockquote>
        </p>

      </div>
      <div class="col-xs-12 col-lg-4">
        <p>
          <iframe width="280" height="157" src="https://www.youtube.com/embed/JUB-5wQ_fdI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
        <p>
<blockquote>
Detecting if your users have passwords which have been compromised is a key part of securing your systems. It has the added benefit of doing so with little to no user experience impact.
</blockquote>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">

      </div>
    </div>
  </div>
</section>
<section class="blue">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>
          Screenshots
        </h2>
      </div>
    </div>
  </div>
</section>
<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
<img src='/assets/img/features/breached-password-detection/overview-report.png' width="800" />
        <p>
See the total number of checked passwords, detected breaches and accounts with action required. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-12">
<img src='/assets/img/features/breached-password-detection/user-report.png' width="800"/>
        <p>
Easily find and manage users with compromised credentials.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-12">
<img src='/assets/img/features/breached-password-detection/oauth-login-breached-message.png' width='800'/>
        <p>
Users can be required to change their breached password when signing in.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="blue">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>
          External resources
        </h2>
      </div>
    </div>
  </div>
</section>
<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <p>
<img src='https://www.nist.gov/sites/default/files/styles/960_x_960_limit/public/images/2017/09/20/645px-nist_logo-svg_1.png?itok=7EATTLHO' width='200'/>
<blockquote>
"[If the system] disallows a chosen memorized secret based on its appearance on a blacklist of compromised values, the subscriber SHALL be required to choose a different memorized secret."
</blockquote> -
          <a href="https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-63b.pdf">NIST Digital Identity Guidelines: Authentication and Lifecycle Management</a> (PDF)
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">
<img src='https://brand-experience.ieee.org/wp-content/uploads/2016/12/LogoTest-e1481836752230.png' width='200' />
        <p>
<blockquote>
"...new passwords were overall more similar to participants' other passwords, and participants rarely changed passwords on other sites even when these were the same or similar to their password on the breached domain."
</blockquote> -
          <a href="https://www.ieee-security.org/TC/SPW2020/ConPro/papers/bhagavatula-conpro20.pdf">Academic Research: (How) Do People Change Their Passwords After a Breach?</a> (PDF) 
        </p>
      </div>
    </div>
  </div>
</section>
<section class="blue">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-7 text">
        <h2>Technical documentation</h2>
      </div>
    </div>
  </div>
</section>
<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <h4>Blog posts</h4>
        {% for post in site.tags['feature-breached-password-detection'] limit:6 %}
          <p>
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url | replace: '.html', '' }}"> {{ post.title }} </a>
          </p>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>API docs &amp; guides</h4>
        <p>
          <a href="/docs/v1/tech/reactor#breached-password-detection">Overview</a>
        </p>
        <p>
          <a href="/docs/v1/tech/guides/breached-password-detection">Guide</a>
        </p>
        <p>
          <a href="/docs/v1/tech/apis/tenants">Tenant APIs</a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>Example applications</h4>
        <p>
          <a href="https://github.com/FusionAuth/fusionauth-example-php-webhook">Deactivate user accounts via webhook</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
