---
layout: default
title: Breached Password Detection
description: Breached password detection prevents users from using compromised credentials to sign up or log in.
heroHeader: true
---
<section class="blue main hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>Breached Password Detection</h1>
        <p>
          Prevent users from using compromised credentials to sign up or log in.
        </p>
        <a href="/pricing" class="brochure blue button">START FREE TRIAL</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/features.svg" alt="Features" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/find-compromised-passwords.svg" alt="We find compromised passwords">
        </header>
        <div class="content">
          <h2>We find compromised passwords</h2>
          <p>
            FusionAuth checks user login credentials against a set of leaked databases that we've collected from all over the Internet, even the hard to reach places. 
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/protect-your-users-and-applications.svg" alt="Protect your users and applications">
        </header>
        <div class="content">
          <h2>Protect your users and applications</h2>
          <p>
           You can enable Breached Password Detection during account creation, password resets, password changes and login. You can then force the user to change their password or notify them of the breach via email. 
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/simple-integration.svg" alt="Simple integration">
        </header>
        <div class="content">
          <h2>Simple integration</h2>
          <p>
            Receive a webhook event for every breached password found. This allows you to trigger external actions when a compromised password is found. You might want to lock an account, gather information for further analysis or notify an internal team. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="purple hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>Learning center</h2>
      </div>
    </div>
    <div class="row cards">
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-1 centered">
        <img src="/assets/img/resources/breached-password-detection-macbook.png" class="w-100"/>
        <h4>Featured Whitepaper</h4>
        <p style="flex-grow: 1">
           Learn about:
Attackers have an infinite number of ways into your systems. 
<ul>
<li>
    The severity of the problem
</li>
<li>
    Why breached password detection is the most valuable solution
</li>
<li>
    Breached password solutions for 2020 and beyond
</li>
<li>
    How to safeguard both your users and your organization
</li>
<li>
    How to enable breached password detection for your organization today
</li>
</ul>

        </p>
        <a target="_blank" href="/resources/breached-password-detection-white-paper/" class="brochure purple button">GET THE WHITE PAPER</a>
      </div>
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-2 centered">
        <div class="embed-container">
          <iframe src="https://www.youtube.com/embed/JUB-5wQ_fdI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h4>Featured Video</h4>
        <p style="flex-grow: 1">
          Detecting if your users have passwords which have been compromised is a key part of securing your systems. It has the added benefit of doing so with little to no user experience impact.
        </p>
        <a target="_blank" href="https://www.youtube.com/watch?v=JUB-5wQ_fdI" class="brochure purple button" >WATCH NOW</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/pricing-editions.svg" alt="Pricing for Editions">
  </div>
</section>

<section class="white">

  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>
          Screenshots
        </h2>
      </div>
    </div>

    <div class="feature-images row middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/breached-password-detection/overview-report.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <h3>Detect Breaches</h3>
        <p>
          See the total number of checked passwords, detected breaches and accounts with action required. 
        </p>
      </div>
    </div>

    <div class="feature-images row middle reverse">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/breached-password-detection/user-report.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 col-lg-offset-1 feature-card">
        <h3>Manage users</h3>
        <p>
          Easily find and manage users with compromised credentials.
        </p>
      </div>
    </div>

    <div class="feature-images row middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/breached-password-detection/oauth-login-breached-message.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <h3>Update passwords</h3>
        <p>
          Users can be required to change their breached password when signing in.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="blue hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>
          External resources
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-1 centered">
        <a target="_blank" href="https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-63b.pdf">
          <img src="/assets/img/features/breached-password-detection/nist-logo.png" class="w-75" />
        </a>
        <h4>NIST Digital Identity Guidelines: Authentication and Lifecycle Management (PDF)</h4>
        <p style="flex-grow: 1">
          "[If the system] disallows a chosen memorized secret based on its appearance on a blacklist of compromised values, the subscriber SHALL be required to choose a different memorized secret."
         </p>
        <a target="_blank" href="https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-63b.pdf" class="brochure blue button">READ NOW</a>
      </div>
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-2 centered">
        <a target="_blank" href="https://www.ieee-security.org/TC/SPW2020/ConPro/papers/bhagavatula-conpro20.pdf">
          <img src="/assets/img/features/breached-password-detection/ieee-mb-blue.png" class="w-75" />
        </a>
        <h4>Academic Research: (How) Do People Change Their Passwords After a Breach? (PDF)</h4>
        <p style="flex-grow: 1">
          "...new passwords were overall more similar to participants' other passwords, and participants rarely changed passwords on other sites even when these were the same or similar to their password on the breached domain."
        </p>
        <a target="_blank" href="https://www.ieee-security.org/TC/SPW2020/ConPro/papers/bhagavatula-conpro20.pdf" class="brochure blue button">READ NOW</a>
      </div>
    </div>
  </div>
  <div class="hero-image less-top right">
    <img src="/assets/img/heroes/pricing-hosting.svg" alt="Hosting">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 text">
        <h2>Technical documentation</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <h4>Blog posts</h4>
        {% for post in site.tags['feature-breached-password-detection'] limit:6 %}
          <p>
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url | replace: '.html', '' }}"> {{ post.title }} </a>
          </p>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>API docs &amp; guides</h4>
        <p>
          <a href="/docs/v1/tech/reactor#breached-password-detection">Overview</a>
        </p>
        <p>
          <a href="/docs/v1/tech/guides/breached-password-detection/">Guide</a>
        </p>
        <p>
          <a href="/docs/v1/tech/apis/tenants/">Tenant APIs</a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>Example applications</h4>
        <p>
          <a href="https://github.com/FusionAuth/fusionauth-example-php-webhook">Deactivate user accounts via webhook</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
