---
layout: hero
title: Features - Built for &lt;devs&gt;
description: FusionAuth was built for developers by developers. Every feature is accessible via the APIs with detailed documentation to guide your way.
---

<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <p class="preface">FEATURES</p>
        <h1>Built for Developers</h1>
        <p>
          You get complete flexibility and control of everything, everywhere you need it, and detailed <a href="/docs"> documentation </a>to guide the way.
        </p>
        <a href="/pricing" class="brochure blue button">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/features.svg" alt="Features" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="cards row">
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/apis-galore.svg" alt="APIs Galore">
        <h2>APIs Galore</h2>
        <p>
          Nearly every feature of FusionAuth is accessible via our APIs. That's because we built the APIs first and our UI on top of them. This means that you can perform any action in FusionAuth from your application whenever you need.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/client-libraries.svg" alt="Client Libraries">
        <h2>Client Libraries</h2>
        <p>
          We've built client libraries in a variety of languages including Java, C#, PHP, JavaScript and many more. We also have example apps to help get you started.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/deployment.svg" alt="Deployment">
        <h2>Simple Deployment</h2>
        <p>
          FusionAuth is simple to deploy on any server, anywhere in the world. We have Docker images, Kubernetes support, Debian packages and RPMs as well.
        </p>
      </div>
    </div>
    <div class="cards row">
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/imac-iphone.svg" alt="Cross Platform">
        <h2>Cross-Platform</h2>
        <p>
          FusionAuth was built to run on any platform. Whether you use Mac, Linux or Windows, FusionAuth will work.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/jwts-tokens.svg" alt="JWTs and Tokens">
        <h2>JWTs and Tokens</h2>
        <p>
          FusionAuth provides support for JWTs and refresh tokens. Even if you aren't using our OpenID Connect integration, you can still have FusionAuth build JWTs and refresh tokens for you.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/custom-data.svg" alt="Custom Data">
        <h2>Custom Data</h2>
        <p>
          Regardless of your requirements, FusionAuth can handle it. You can store custom data on Users, Applications, Registrations, Tenants, and Groups.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="cards row">
      <div class="col-xs-12 col-lg-6 feature-card">
        <img src="/assets/img/icons/webhooks-kafka.svg" alt="Webhooks">
        <h2>Webhooks and Kafka</h2>
        <p>
          FusionAuth can fire events to Webhooks in your backend. It can also publish events to Kafka topics. FusionAuth currently fires events including things like user creation, user login and many others. We're also adding new events all the time.
        </p>
      </div>
      <div class="col-xs-12 col-lg-6 feature-card">
        <img src="/assets/img/icons/user-events.svg" alt="User Events">
        <h2>User Events</h2>
        <p>
          FusionAuth allows you to create customizable user events (we call them user actions) that you can fire on users. These events can be time-based or singular events and are great for handling rewards, discipline (blocking, muting or banning users) or workflow integrations with your backend.
        </p>
      </div>
    </div>
    <div class="cards row">
      <div class="col-xs-12 col-lg-6 feature-card">
        <img src="/assets/img/icons/window-lambda.svg" alt="Lambdas">
        <h2>Lambdas</h2>
        <p>
          Gone are the days of horrible web UIs to try and map user data into JWT or SAML claims. FusionAuth lets you write JavaScript snippets that make mapping claims and handling federation responses simple.
        </p>
      </div>
      <div class="col-xs-12 col-lg-6 feature-card">
        <img src="/assets/img/icons/api-keys.svg" alt="API Keys">
        <h2>API Keys</h2>
        <p>
          FusionAuth API keys are simple to create and provide the ability to lock API keys to specific APIs. Revoking keys is also a snap.
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
