---
layout: hero
title: Connectors
description: Connect FusionAuth to LDAP or API data sources. Then, authenticate or migrate users contained in that datastore.
---
<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>Connectors</h1>
        <p>
          Connect FusionAuth to LDAP or API data sources. Then, authenticate or migrate users contained in that datastore.
        </p>
        <a href="/pricing" class="brochure blue button">START FREE TRIAL</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/features.svg" alt="Features" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/add-custom-form-fields.svg" alt="Add custom form fields">
        </header>
        <div class="content">
          <h2>Supports LDAP and APIs</h2>
          <p>
           Connectors securely communicate with LDAP directories, such as Active Directory. They can also connect FusionAuth with custom HTTP APIs, allowing authentication against homegrown user datastores without a painful data migration.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/create-multi-step-forms.svg" alt="Create multi-step forms">
        </header>
        <div class="content">
          <h2>Migrate or authenticate</h2>
          <p>
            Once a user is authenticated against a connected datasource, you can easily migrate them to FusionAuth. Or, leave their data untouched in the original datasource; FusionAuth can transparently delegate authentication.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/theme-your-forms.svg" alt="Theme your forms">
        </header>
        <div class="content">
          <h2>Segment your users</h2>
          <p>
            Connectors can be configured to run only for users matching certain domains. Only those users will be authenticated against the datasource. The user's data stays in the original store while they enjoy the FusionAuth login experience. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="purple hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>Learning center</h2>
      </div>
    </div>
    <div class="row cards">
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-1 centered">
        <img src="/assets/img/advice/slow-migration/slow-migration-of-user-data.png "class="w-100"/>
        <h4>Featured Post</h4>
        <p style="flex-grow: 1">
         [During a slow migration] you can also upgrade the user’s password. If the old system stored the password as an md5 hash, on migration you can use a more modern hashing algorithm, such as bcrypt. 
        </p>
        <a target="_blank" href="/learn/expert-advice/identity-basics/slow-migration/" class="brochure purple button">READ NOW</a>
      </div>
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-2 centered">
        <div class="embed-container">
          <iframe src="https://www.youtube.com/embed/Cqd7EgK4ess" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h4>Featured Video</h4>
        <p style="flex-grow: 1">
FusionAuth can federate with Microsoft Active Directory, or any other LDAP directory with Connectors. This allows you to maintain data for some users in Active Directory, while other users are managed by FusionAuth. 
        </p>
        <a target="_blank" href="https://www.youtube.com/watch?v=wte-NDXHE8I" class="brochure purple button">WATCH NOW</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/pricing-editions.svg" alt="Pricing for Editions">
  </div>
</section>

<section class="white">

  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>
          Screenshots
        </h2>
      </div>
    </div>

    <div class="feature-images row middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/connectors/ldap-connector.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <h3>Connect to an LDAP directory</h3>
        <p>
           Create a Connector to authenticate users against any LDAP directory, including Microsoft Active Directory, OpenLDAP or others. Extract attributes from the LDAP data and map them to the FusionAuth user data model.
        </p>
      </div>
    </div>

    <div class="feature-images row middle reverse">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/connectors/http-api-connector.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 col-lg-offset-1 feature-card">
        <h3>Secure your HTTP API</h3>
        <p>
          When using an HTTP API as a data source, lock down access. You can use basic auth, client certificates, custom headers, or any combination.
        </p>
      </div>
    </div>

    <div class="feature-images row middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/connectors/configure-connectors.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <h3>Configure a tenant to use a Connector</h3>
        <p>
          Tenants can have multiple Connectors. Each Connector can apply to one or more domains. Or you can have all users checked against a Connector. 
        </p>
      </div>
    </div>
  </div>
</section>

<section class="blue">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 text">
        <h2>Technical documentation</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <h4>Blog posts</h4>
        {% for post in site.tags['feature-connectors'] limit:6 %}
          <p>
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url | replace: '.html', '' }}"> {{ post.title }} </a>
          </p>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>API docs &amp; guides</h4>
        <p>
          <a href="/docs/v1/tech/connectors/">Connectors</a>
        </p>
        <p>
          <a href="/docs/v1/tech/apis/connectors/">Connector APIs</a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>Example applications</h4>
        <p>
          <a href="https://github.com/fusionauth/fusionauth-example-php-connector">Example HTTP API Connector</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
