---
layout: hero
title: Features - Ultimate password control
description: FusionAuth gives you complete control of your password constraints, reuse policies, and even per-user hashing and encryption algorithms.
---
<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <p class="preface">FEATURES</p>
        <h1>Ultimate Password Control</h1>
        <p>
          You get more control of your passwords and hashing than you ever asked for. Change allowable characters, adjust your hashing algorithm to common standads or add your own. It's up to you.
        </p>
        <a href="/pricing" class="brochure blue button">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/features.svg" alt="Features" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="cards row">
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/lock-password.svg" alt="Any Password">
        <h2>Any Password</h2>
        <p>
          FusionAuth allows users to select any password they want. Spaces, punctuation, uppercase, lowercase, Unicode, Emoji, and even line art all work. They can even use a password with 237 characters if they want.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/config-constraints.svg" alt="Configurable Constraints">
        <h2>Configurable Constraints</h2>
        <p>
          You control the password constraints for users including length, character requirements and reuse policies. FusionAuth will enforce the policies you select allowing you to <a href="/learn/expert-advice/security/password-security-compliance-checklist">comply with regulations quickly.</a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/secure-hashing.svg" alt="Secure Hashing">
        <h2>Secure Hashing</h2>
        <p>
          FusionAuth supports industry standard hashing algorithms and doesn't force you to use only one. You can also upgrade a user's security during login with a stronger hash. FusionAuth even has a plugin system that allows you to import users with any hashing system without requiring them to reset their password.
        </p>
      </div>
    </div>
    <div class="cards row">
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/password-reset.svg" alt="Password Resets">
        <h2>Password Resets</h2>
        <p>
          FusionAuth provides a complete password reset workflow. You can use our email template systems or an external email provider. You can also handle password resets via FusionAuth's APIs.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/user-onboarding.svg" alt="User On-boarding">
        <h2>User On-boarding</h2>
        <p>
          Allow admins to create accounts for new users but let the user select their own password. Gone are the days of sticky notes and emailing plain text passwords.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/password-validation.svg" alt="Password Validation">
        <h2>Password Validation</h2>
        <p>
          Once you configure your password rules, FusionAuth will enforce them across the board. Set it and forget it.
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
