---
layout: hero
title: Features - FusionAuth Reactor
description: FusionAuth Reactor is a suite of features that extends FusionAuth's core functionality giving developers more powerful identity and access management tools.
---
<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <p class="preface">FEATURES</p>
        <h1>FusionAuth Reactor</h1>
        <p>
          FusionAuth Reactor&trade; is a powerful suite of features developed to extend FusionAuth's core functionality and is available to customers with a paid edition of FusionAuth.
        </p>
        <a href="#" class="brochure blue button">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/features.svg" alt="Features" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="cards row">
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/breached-password-detection.svg" alt="Breached Password Detection">
        <h2>Breached Password Detection</h2><span class="orange stamp">NEW!</span>
        <p>
          FusionAuth will check user login credentials against a set of leaked databases that we've collected from all over the Internet (including the dark web). You can enable Breached Password Detection during account creation, password resets, password changes and login. You can then force the user to change their password or notify them via email. FusionAuth will also mark the user's account as using a breached password until it is changed. This can be used for reporting and analytics.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/advanced-registration-form.svg" alt="Advanced Registration Forms">
        <h2>Advanced Registration Forms</h2><span class="blue stamp">Coming soon!</span>
        <p>
          Soon you'll be able to collect custom user data and perform complex validation during registration inside FusionAuth. Our Advanced Registration Forms will provide the ability to collect custom user data and store it within FusionAuth. Admins will be able to edit this user data inside FusionAuth's admin UI as well.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/enhanced-threat-detection.svg" alt="Enhanced Thread Detection">
        <h2>Enhanced Threat Detection</h2><span class="blue stamp">Coming soon!</span>
        <p>
          Worried that hackers might be attacking your application? FusionAuth will perform threat detection each time a user logs in. Using an adaptive threat model based on numerous factors, FusionAuth will determine if an authentication looks like a high risk event. When FusionAuth detects an elevated risk, you'll be able to force a multi-factor authentication or lock the user's account automatically.
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
