---
layout: hero
title: Features - Scalability
description: FusionAuth was built to scale to 100s of millions of users. Don't worry about horribly slow APIs or logins here.
---
<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <p class="preface">FEATURES</p>
        <h1>Scalability</h1>
        <p>
          FusionAuth was built to scale to 100s of millions of users. Don't worry about horribly slow APIs or logins here.
        </p>
        <a href="/pricing" class="brochure blue button">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/features.svg" alt="Features" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="cards row">
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/millions-users.svg" alt="Deployment options">
        <h2>Scales to 100s of Millions</h2>
        <p>
          Every aspect and component of FusionAuth was built to scale. Don't worry about things slowing down like other solutions. FusionAuth can always keep pace with even <a href="/blog/2019/02/26/got-users-100-million">100s of millions of users</a>.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/stateless-apis.svg" alt="Stateless APIs">
        <h2>Stateless APIs</h2>
        <p>
          FusionAuth's APIs are all stateless. This means that you can easily horizontally scale nodes to handle increased volume.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/elastic-clustering.svg" alt="Elastic Clustering">
        <h2>Elastic Clustering</h2>
        <p>
          FusionAuth uses Elasticsearch for our full-text search engine. Elasticsearch can be clustered and horizontally scaled to meet your needs.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="cards row">
      <div class="col-xs-12 col-lg-6 feature-card">
        <img src="/assets/img/icons/containerized.svg" alt="Containerized">
        <h2>Containerized</h2>
        <p>
          FusionAuth provides Docker and Kubernetes configuration that makes auto-scaling simple.
        </p>
      </div>
      <div class="col-xs-12 col-lg-6 feature-card">
        <img src="/assets/img/icons/lightweight-sessions.svg" alt="Stateless UI">
        <h2>Stateless User Interfaces</h2>
        <p>
          Each FusionAuth instance is completely stateless. As your user base grows, FusionAuth effortlessly scales to meet increased login demands without outages or interruptions for existing users.
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
