---
layout: default
title: Single Sign-on
description: Add single sign-on to your custom applications or integrate with existing applications
heroHeader: true
---
<section class="blue main hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>Single Sign-on</h1>
        <p>
          Add single sign-on to your custom applications or integrate with existing applications.
        </p>
        <a href="/download/" class="brochure blue button">DOWNLOAD FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/single-sign-on-header-image.svg" alt="Single Sign-on header image" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/integrate-custom-applications-icon.svg" alt="Integreate custom applications">
        </header>
        <div class="content">
          <h2>Integrate custom applications</h2>
          <p>
            With APIs galore and themeable login pages, provide the same experience across all your apps. Save time by using already implemented common auth workflows.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/works-with-saas-and-off-the-shelf-software-icon.svg" alt="Works with SaaS and off the shelf software">
        </header>
        <div class="content">
          <h2>Works with SaaS and off the shelf software</h2>
          <p>
            Does it support SAMLv2 or OIDC? Is it commercial, proprietary or open source? If the application supports the standards, you can use FusionAuth as your identity provider. 
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 centered flat-card">
        <header>
          <img src="/assets/img/stamps/control-single-sign-on-behavior-icon.svg" alt="Control single sign-on behavior">
        </header>
        <div class="content">
          <h2>Control single sign-on behavior</h2>
          <p>
            Easily control how long each tenant's SSO session is valid for. When a user signs out of one application, should they be logged out of all the others? You decide. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="purple hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>Learning center</h2>
      </div>
    </div>
    <div class="row cards">
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-1 centered">
        <img src="/assets/img/features/single-sign-on/documentation-implementing-single-sign-on-sso-header-image.png " class="w-100"/>
        <h4>Featured Post</h4>
        <p style="flex-grow: 1">
          If a session doesn’t exist for a given application, or expected values aren't present in it, then the session must be created or updated after the user has presented valid credentials. 
        </p>
        <a target="_blank" href="/docs/v1/tech/guides/single-sign-on/" class="brochure purple button">READ NOW</a>
      </div>
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-2 centered">
        <div class="embed-container">
          <iframe src="https://www.youtube.com/embed/QYuTOD8wjZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h4>Featured Video</h4>
        <p style="flex-grow: 1">
          Set up Zendesk to use FusionAuth as its identity provider in less than 10 minutes. Users can log in to FusionAuth and access their Zendesk customer or agent views.
        </p>
        <a target="_blank" href="https://www.youtube.com/watch?v=QYuTOD8wjZU" class="brochure purple button">WATCH NOW</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/pricing-editions.svg" alt="Pricing for Editions">
  </div>
</section>

<section class="white">

  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>
          Screenshots
        </h2>
      </div>
    </div>

    <div class="feature-images row middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/single-sign-on/saml-configuration-details.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <h3>Configure FusionAuth as a SAML IdP</h3>
        <p>
          Set up a new application in FusionAuth and configure the ACS and other values to have your FusionAuth act as the IdP for applications supported Security Assertion Markup Language.
        </p>
      </div>
    </div>

    <div class="feature-images row middle reverse">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/single-sign-on/sso-session-timeout.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 col-lg-offset-1 feature-card">
        <h3>Configure SSO session length</h3>
        <p>
          Configure how long the single sign-on session lasts; it can differ for each tenant.
        </p>
      </div>
    </div>

    <div class="feature-images row middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/single-sign-on/oidc-configuration-details.png" class="w-100" />
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <h3>Find OIDC integration details</h3>
        <p>
          Once you've configured your application in FusionAuth, find the well known endpoints and other details you need to finish an OpenId Connect integration.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="blue hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 text">
        <h2>
          External resources
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-1 centered">
        <a target="_blank" href="https://instapage.com/blog/multi-step-form-part-2">
          <img src="/assets/img/features/single-sign-on/logo-phim.gif" class="w-75" />
        </a>
        <h4>Research: An Evaluation of the Clinical and Financial Value of Work Station Single Sign-on in 19 Hospitals</h4>
        <p style="flex-grow: 1">
           "Following SSO implementation [for workstations], first-of-shift login was reduced by 5.3 seconds (15.3 percent), and reconnect login duration in the remainder of the shift was reduced by 20.4 seconds (69.9 percent). The total weekly time savings realized by SSO was 943.4 hours (the equivalent of 78.6 12-hour shifts) across 19 hospitals, a mean of 49.7 hours (4.1 shifts) per facility."
         </p>
        <a target="_blank" href="https://instapage.com/blog/multi-step-form-part-2" class="brochure blue button">READ NOW</a>
      </div>
      <div class="card even white col-xs-12 col-lg-4 col-lg-offset-2 centered">
        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6669364/">
          <img src="/assets/img/features/single-sign-on/ASTES-Logo-2-e1590842048623.jpg" class="w-75" />
        </a>
        <h4>Research: Towards Adoption of Authentication and Authorization in Identity Management and Single Sign On (PDF)</h4>
        <p style="flex-grow: 1">
           "SSO ensures that users do not have to remember their authentication credentials for every application that they need to login in. Removing the necessity of having to remember multiple credentials also reduces the risk of being easily targeted by losing their credentials to the intruders."
        </p>
        <a target="_blank" href="https://discovery.ucl.ac.uk/id/eprint/1378346/1/ewic_hci12_diss_paper7.pdf" class="brochure blue button">READ NOW</a>
      </div>
    </div>
  </div>
  <div class="hero-image less-top right">
    <img src="/assets/img/heroes/pricing-hosting.svg" alt="Hosting">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 text">
        <h2>Technical documentation</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <h4>Blog posts</h4>
        {% for post in site.tags['feature-sso'] limit:6 %}
          <p>
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url | replace: '.html', '/' }}"> {{ post.title }} </a>
          </p>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>API docs &amp; guides</h4>
        <p>
          <a href="/docs/v1/tech/guides/single-sign-on/">Guide</a>
        </p>
        <p>
          <a href="/docs/v1/tech/oauth/">OAuth and OIDC Docs</a>
        </p>
        <p>
          <a href="/docs/v1/tech/samlv2/">SAMLv2 Idp Docs</a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <h4>Example applications</h4>
        <p>
          <a href="https://github.com/fusionauth/fusionauth-example-node-sso">Node SSO Example</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
