---
layout: hero
title: Features - Detailed user management and reporting
description: FusionAuth helps you monitor and manage your users and applications with at-a-glance dashboards, easy to configure groups, and detailed reporting.
---
<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <p class="preface">FEATURES</p>
        <h1>User Management and Reporting</h1>
        <p>
          You can monitor and manage your users and applications with at-a-glance dashboards, easy to configure groups, and detailed reporting.
        </p>
        <a href="/pricing" class="brochure blue button">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/features.svg" alt="Features" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="feature-images row middle">
      <div class="col-xs-12 col-lg-6">
        <img src="/assets/img/features/fusionauth-user-management.png" alt="FusionAuth User Management" class="w-100">
      </div>
      <div class="col-xs-12 col-lg-6">
        <h2>Full User Management UI</h2>
        <p>
          FusionAuth comes with a pre-built user management UI. Nearly everything you need to manage your users is there.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="cards row">
      <div class="col-xs-12 col-lg-6 feature-card">
        <img src="/assets/img/icons/user-searching.svg" alt="User Searching">
        <h2>User Searching</h2>
        <p>
          Using FusionAuth's full text search, you can quickly find users based on their name, email, or even custom attributes.
        </p>
      </div>
      <div class="col-xs-12 col-lg-6 feature-card">
        <img src="/assets/img/icons/multi-tenant-management.svg" alt="Multi-tenant Management">
        <h2>Multi-tenant Management</h2>
        <p>
          Even if your application or environment has multiple tenants, you can manage all of your users from a single location. No need to jump around interfaces to find and manage users.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="cards row">
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/audit-logging.svg" alt="Audit Logging">
        <h2>Audit Logging</h2>
        <p>
          FusionAuth provides a full audit logging system and you can even create custom audit logs via the API. This is useful when tracking down changes or ensuring you are compliant with regulations.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/reporting.svg" alt="Reports">
        <h2>Reports</h2>
        <p>
          FusionAuth ships with a number of pre-built reports including logins, registrations, daily and monthly active users.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/account-locking.svg" alt="Account Locking">
        <h2>Account Locking</h2>
        <p>
          FusionAuth's account locking feature makes it simple to lock user accounts that are violating terms of service, have suspicious activity, or for any other reason you might have.
        </p>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
