---
layout: advice-category
title: Tools for Developers
description: Use these developer tools to help you build efficient code and applications faster.
image: fusionauth-share-image.jpg
header_dark: true
category: Dev Tools
---

<div class="row">
  {% include _advice-card.html href="/learn/expert-advice/dev-tools/date-time" icon="clock" title="Date and time tools" description="A collection of browser-based tools for working with dates and times with no ads!" %}
  {% include _advice-card.html href="/learn/expert-advice/dev-tools/uuid-generator" icon="fingerprint" title="UUID Generator" description="A UUID generator with no ads!" %}
  {% include _advice-card.html href="/learn/expert-advice/dev-tools/url-encoder-decoder" icon="brackets-curly" title="URL Encoder & Decoder" description="A URL Encoder & Decoder with no ads!" %}
</div>
