---
layout: advice-category
title: Tools for Developers
description: Use these developer tools to help you build efficient code and applications faster.
category: Dev Tools
---
{% include _advice-card.liquid href="/learn/expert-advice/dev-tools/jwt-debugger" img="/assets/img/stamps/blue-calculator.svg" title="JWT Debugger" description="A simple JWT debugger" %}
{% include _advice-card.liquid href="/learn/expert-advice/dev-tools/date-time" img="/assets/img/stamps/blue-calculator.svg" title="Date and time tools" description="A collection of browser-based tools for working with dates and times with no ads!" %}
{% include _advice-card.liquid href="/learn/expert-advice/dev-tools/uuid-generator" img="/assets/img/stamps/blue-calculator.svg" title="UUID Generator" description="A UUID generator with no ads!" %}
{% include _advice-card.liquid href="/learn/expert-advice/dev-tools/url-encoder-decoder" img="/assets/img/stamps/blue-calculator.svg" title="URL Encoder & Decoder" description="A URL Encoder & Decoder with no ads!" %}
