---
import Head from 'src/components/Head.astro';
import DocsNav from 'src/components/nav/DocsNav.astro';

const { title, description } = Astro.props;
---
<html>
<Head {title} {description}/>
<body>
<DocsNav/>
<section id="main-content">
  <slot/>
</section>
</body>
</html>
