---
import Head from 'src/components/Head.astro';
import DocsNav from 'src/components/nav/DocsNav.astro';

const { title, description } = Astro.props;
---
<html>
<Head {title} {description}/>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P7VLHG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<DocsNav/>
<section id="main-content">
  <slot/>
</section>
</body>
</html>
