---
import ClickableCard from "../../components/ClickableCard.astro";
import Layout from "../../layouts/Quickstart.astro";

import { getCollection } from "astro:content";
const quickstarts = await getCollection("quickstarts");
---

<Layout frontmatter={{disableTOC: true}} title="Quickstarts">
  <p>
    Try these quickstarts to quickly get started using FusionAuth with these frameworks.
  </p>
  <div class="gap-6 grid grid-cols-1 not-prose lg:grid-cols-2" xmlns="http://www.w3.org/1999/xhtml">
    {quickstarts.filter(quickstart => quickstart.id.indexOf("index.md") === -1)
          .map(quickstart =>
      <ClickableCard href={`/quickstarts/${quickstart.slug}/`} title={quickstart.data.title} description={quickstart.data.description} icon={quickstart.data.icon}/>
    )}
  </div>
</Layout>
