---
layout: advice-category
title: "Security Articles"
description: "These resources are for the software developer who doesn’t want to spend a lifetime wading through cryptographic algorithms and complicated explanations of arcane system administration topics to tackle software security."
image: fusionauth-share-image.jpg
header_dark: true
category: Security
---

<div class="row">
  {% include _advice-card.html href="/learn/expert-advice/security/guide-to-user-data-security" img="/assets/img/advice/guide-user-data-security.png" title="Guide to User Data Security" description="Security is complex and for many software professionals an incredibly intimidating task that is easy to just ignore as a problem “outside the scope of requirements”. This guide is for the developer who doesn’t want to spend a lifetime wading through cryptographic algorithms and complicated explanations of arcane system administration topics to tackle software security." %}
  {% include _advice-card.html href="/learn/expert-advice/security/password-security-compliance-checklist" img="/assets/img/carousel/caro-password-checklist-2.png" title="Password Compliance Checklist" description="To help ensure stronger password security, leading organizations have published clear criteria to discourage users from selecting easy to guess passwords. We have assembled those criteria into one checklist of key password recommendations to help you evaluate and improve your own password policies." %}
  {% include _advice-card.html href="/learn/expert-advice/security/math-of-password-hashing-algorithms-entropy" img="/assets/img/advice/save-a-cpu.png" title="The Math of Password Hashing Algorithms and Entropy" description="More credential databases are stolen every year. Many include passwords stored in plain text, while others are one-way hashed. One-way hashing is better, but it is only as secure as is mathematically feasible. Let’s take a look at one-way hashing algorithms and how computers handle them." %}
</div>
