---
import features from 'src/content/json/features.json';
import { Feature, sortFeatures } from 'src/tools/docs';

const { plan } = Astro.props;

const filtered = features.filter((feature: Feature) => feature.plan === plan).sort(sortFeatures);
---
<ul>
{filtered && filtered.map(feature =>
  <li>
    <a href={feature.link}> { feature.displayName }</a>
  </li>
)}
</ul>
