---
import features from 'src/json/features.json';
import { Feature, sortFeatures } from '../../pages/docs/doc-tools';

const { edition } = Astro.props;

const filtered = features.filter((feature: Feature) => feature.edition === edition).sort(sortFeatures);
---
{filtered && filtered.map(feature =>
  <div>
    <a href={feature.link}> { feature.displayName }</a>
  </div>
)}
