          <h2>Additional Resources</h2>
          <ul>
            <li><a href="/resources/breached-password-detection-white-paper/">Breached Password Detection White Paper</a></li>
            <li><a href="/learn/expert-advice/authentication/login-authentication-workflows/">Authentication Workflows</a></li>
            <li><a href="/learn/expert-advice/security/guide-to-user-data-security/">Guide to User Data Security</a></li>
            <li><a href="/learn/expert-advice/tokens/revoking-jwts/">Revoking JWTs</a></li>
          </ul>
          <div class="gray card centered">
            <img src="/assets/img/logo-white.svg" alt="FusionAuth logo">
            <p>
              Want to learn more about Breached Password Detection? In this White Paper, we'll teach you everything you need to know about Breached Password Detection and how it can protect your company against bad actors.
            </p>
            <a href="/resources/breached-password-detection-white-paper/" class="orange brochure button">GET THE WHITEPAPER</a>
          </div>
