<nav class="navbar navbar-light border-bottom {% if page.header_classes %}{{ page.header_classes }}{% endif %} navbar-expand-xl mb-5">
  {% assign url = page.url | downcase %}

  <div class="container">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="bg-inverse navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse text-uppercase" id="navcol-2">
      <ul class="nav navbar-nav text-xl-left align-items-left">
        <li class="nav-item" role="presentation"><a href="/learn/expert-advice/"><img class="w-50" src="/assets/img/advice/expert-advice-nav.png" alt="expert advice" /></a></li>
        <li class="nav-item" role="presentation"><a class="nav-link {% if page.url == '/learn/expert-advice/authentication/'%}active{% endif %}" href="/learn/expert-advice/authentication/">Authentication</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link {% if page.url == '/learn/expert-advice/ciam/'%}active{% endif %}" href="/learn/expert-advice/ciam/">CIAM</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link {% if page.url == '/learn/expert-advice/identity-basics/'%}active{% endif %}" href="/learn/expert-advice/identity-basics/">Identity Basics</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link {% if page.url == '/learn/expert-advice/oauth/'%}active{% endif %}" href="/learn/expert-advice/oauth/">OAuth</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link {% if page.url == '/learn/expert-advice/security/'%}active{% endif %}" href="/learn/expert-advice/security/">Security</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link {% if page.url == '/learn/expert-advice/tokens/'%}active{% endif %}" href="/learn/expert-advice/tokens/">Tokens</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link {% if page.url == '/learn/expert-advice/dev-tools/'%}active{% endif %}" href="/learn/expert-advice/dev-tools/"><img class="w-50" src="/assets/img/advice/dev-tools-nav.png" alt="dev tools" /></a></li>
      </ul>
    </div>
  </div>
</nav>
