<nav class="expert-advice">
  {% assign url = page.url | downcase %}
  <ul class="align-items-center {% if include.border %}border-bottom{% endif %} flex-nowrap nav overflow-x-scroll">
    <li class="flex-grow-1 nav-item no-hover py-2 d-none d-lg-block" role="presentation"><a href="/learn/expert-advice/"><img src="/assets/img/advice/expert-advice-nav.svg" alt="expert advice"/></a></li>
    <li class="nav-item py-2 {% if page.url contains '/learn/expert-advice/authentication/'%}active{% endif %}" role="presentation"><a class="nav-link text-secondary" href="/learn/expert-advice/authentication/">Authentication</a></li>
    <li class="nav-item py-2 {% if page.url contains '/learn/expert-advice/ciam/'%}active{% endif %}" role="presentation"><a class="nav-link text-secondary" href="/learn/expert-advice/ciam/">CIAM</a></li>
    <li class="nav-item py-2 {% if page.url contains '/learn/expert-advice/identity-basics/'%}active{% endif %}" role="presentation"><a class="nav-link text-nowrap text-secondary" href="/learn/expert-advice/identity-basics/">Identity Basics</a></li>
    <li class="nav-item py-2 {% if page.url contains '/learn/expert-advice/oauth/'%}active{% endif %}" role="presentation"><a class="nav-link text-secondary" href="/learn/expert-advice/oauth/">OAuth</a></li>
    <li class="nav-item py-2 {% if page.url contains '/learn/expert-advice/security/'%}active{% endif %}" role="presentation"><a class="nav-link text-secondary" href="/learn/expert-advice/security/">Security</a></li>
    <li class="nav-item py-2 {% if page.url contains '/learn/expert-advice/tokens/'%}active{% endif %}" role="presentation"><a class="nav-link text-secondary" href="/learn/expert-advice/tokens/">Tokens</a></li>
    <li class="nav-item py-2 {% if page.url contains '/learn/expert-advice/dev-tools/'%}active{% endif %}" role="presentation"><a class="nav-link text-monospace text-nowrap text-secondary" href="/learn/expert-advice/dev-tools/"><strong>&lt;dev tools/&gt;</strong></a></li>
  </ul>
</nav>
