<div class="col col-md-6 col-lg-4 mb-4 p-4">
  <a class="text-decoration-none" href="{{ include.href }}">
    <div class="bg-white h-100 rounded shadow-sm bw-3">
      {% if include.img %}
        <img class="card-img-top" src="{{ include.img }}">
      {% endif %}
      <div class="p-4 text-left text-dark">
        <h2 class="h5">{% if include.icon %}<i class="fa fa-{{ include.icon }} mr-1"></i>{% endif %} {{ include.title }}</h2>
<!--        <div class="wpac-rating" data-wpac-chan="{{ include-href }}"></div>-->
        <div class="my-2">
          <div class="rw-ui-container" data-title="{{ include.href }}"></div>
        </div>
<!--        <a href="https://widgetpack.com" class="wpac-cr">Comments System WIDGET PACK</a>-->
<!--        <i class="fal fa-star text-primary mb-3"></i>-->
<!--        <i class="fal fa-star text-primary mb-3"></i>-->
<!--        <i class="fal fa-star text-primary mb-3"></i>-->
<!--        <i class="fal fa-star text-primary mb-3"></i>-->
<!--        <i class="fal fa-star text-primary mb-3"></i>-->

        <p>{{ include.description }}</p>
      </div>
    </div>
  </a>
</div>
