<section class="orange hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-7 text">
        <h1>FusionAuth is Auth Built for &lt;devs&gt;</h1>
        <p>
          FusionAuth gives devs complete flexibility with minimal implementation effort. Use our Fast Path install to get started in minutes.
        </p>
        <a href="/download" class="orange brochure button">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image right bottom">
    <img src="/assets/img/heroes/callout.svg" alt="Callout" class="callout">
  </div>
</section>
