<section class="orange advice">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-2">
        <h2>FusionAuth is Auth Built For Devs</h2>
        <p>
          FusionAuth gives devs complete flexibility with minimal implementation effort. Use our fast path install to get started in minutes.
        </p>
      </div>
      <div class="col-xs-12 col-md-5 col-lg-4">
        <a href="/download" class="white brochure button">Get started</a>
      </div>
    </div>
  </div>
</section>