<div style="display: flex; border-left-color: #02b6d3; border-left-style: solid; background: #E9FBFF; min-height: 100px;" >
  <div style="min-width: 99px; align-self: center; text-align: center">
    <i class="fa-info-circle fa-4x fas"></i>
    <div>
      NOTE
    </div>
  </div>
  <div style="align-self: center">
    {{ include.content }}
  </div>
</div>