<div class="col-xs-12 col-lg-6 challenge gray-split-card">
  <header>
    <h3>{{ include.title }}</h3>
    <h4>Level of Risk</h4>
    {% for i in (1..5) %}
      {% if i <= include.risk %}
        <img src="/assets/img/icons/bomb.svg">
      {% endif %}
    {% endfor %}
    <h4>Development Time</h4>
    {% for i in (1..5) %}
      {% if i <= include.time %}
        <img src="/assets/img/icons/clock.svg">
      {% endif %}
    {% endfor %}
  </header>
  <p class="content">
    {{ include.description }}
  </p>
</div>