<section class="orange hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-7 text">
        <h1>FusionAuth is Complete Auth for Any App</h1>
        <p>
          FusionAuth is a complete solution with no sacrifices.<br>
          We got this. Go build something awesome.
        </p>
        <a href="/download" class="orange brochure button">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image right bottom">
    <img src="/assets/img/heroes/callout.svg" alt="Callout" class="callout">
  </div>
</section>
