<section class="gray">
  <div class="container">
    <header class="centered">
      <h2>Trusted Worldwide</h2>
      <p>Over {% include _download-count.liquid %} downloads on six continents.</p>
    </header>
    <div class="customers narrow responsive-table">
      <div class="narrow item centered">
        <img src="/assets/img/customers/frontdoor.png" alt="Frontdoor" class="gray">
      </div>
      <div class="narrow item centered">
        <img src="/assets/img/customers/radio-com-logo.png" alt="Radio.com" class="gray">
      </div>
      <div class="narrow item centered">
        <img src="/assets/img/customers/become-education-logo.png" alt="Become Education" class="gray">
      </div>
      <div class="narrow item centered">
        <img src="/assets/img/customers/celery-logo.png" alt="Celery Payroll" class="gray">
      </div>
      <div class="narrow item centered">
        <img src="/assets/img/customers/currentdesk-logo.png" alt="Current Desk" class="gray">
      </div>
    </div>
    <div class="customers narrow responsive-table">
      <a href="/customers-partners/" class="orange brochure button">LEARN MORE ABOUT OUR CUSTOMERS</a>
    </div>
  </div>
</section>

