{% if site.tags[relatedTag].size >= 1 %}
{% if !noheader %}
<section>
<h3>Related Posts</h3> 
<ul>
{% endif %}
{% for post in site.tags[relatedTag] %}
  <li>
    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url | replace: '.html', '' }}">
      {{ post.title }}
    </a>
  </li>
{% endfor %}
</ul>
{% if !noheader %}
</section>
{% endif %}
{% endif %}
