{% if site.tags[relatedTag].size >= 1 %}
{% if noheader != "true" %}
<section>
<h3>Related Posts</h3> 
{% endif %}
<ul>
{% for post in site.tags[relatedTag] %}
  <li>
    <p>
      <a href="{{ site.url }}{{ site.baseurl }}{{ post.url | replace: '.html', '' }}">
        {{ post.title }}
      </a>
    </p>
  </li>
{% endfor %}
</ul>
{% if noheader != "true" %}
</section>
{% endif %}
{% endif %}
