{% unless site.tags[relatedTag].size == 0 %}
<h3>Related Posts</h3>
<ul>
{% for post in site.tags[relatedTag] limit:6 %}
  <li>
    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url | replace: '.html', '' }}">
      {{ post.title }}
    </a>
  </li>
{% endfor %}
</ul>
{% endunless %}
