<section class="white {{include.classes}}">
  <div class="container">
    <div class="row">
      <div class="col-xs downloads">
        <ul class="tabs">
          <li><a href="#linux"><img src="/assets/img/stamps/linux.svg" alt="Linux"> <span>Linux</span></a></li>
          <li><a href="#macos"><img src="/assets/img/stamps/macos.svg" alt="macOS"> <span>macOS</span></a></li>
          <li><a href="#windows"><img src="/assets/img/stamps/windows.svg" alt="Windows"> <span>Windows</span></a></li>
          <li><a href="#docker"><img src="/assets/img/stamps/docker.svg" alt="Docker"> <span>Docker</span></a></li>
        </ul>
        <div id="linux" class="tab-content">
          <h2>Linux</h2>
          <p>
            Copy and paste the code below and we'll do the rest. (Feel free to read the install scripts first.)
          </p>
          <p>
            <em>Installs in your current working directory using ZIP packages</em>
            <span class="copied"><strong><em>Copied</em></strong></span>
          </p>
          <div class="download-command">
            <code id="linux-1" data-clipboard-target="#linux-1">sh -c "curl -fsSL https://raw.githubusercontent.com/FusionAuth/fusionauth-install/master/install.sh | sh -s - -z"</code>
            <button class="blue square button" title="Click to copy to clipboard" data-clipboard-target="#linux-1"><i class="fad fa-copy fa-fw"></i></button>
          </div>
          <p>
            <em>Installs for all users on the system using DEB or RPM packages</em>
            <span class="copied"><strong><em>Copied</em></strong></span>
          </p>
          <div class="download-command">
            <code id="linux-2" data-clipboard-target="#linux-2">sh -c "curl -fsSL https://raw.githubusercontent.com/FusionAuth/fusionauth-install/master/install.sh | sh"</code>
            <button class="blue square button" title="Click to copy to clipboard" data-clipboard-target="#linux-2"><i class="fad fa-copy fa-fw"></i></button>
          </div>
          <p>
            For additional packages and versions checkout the <a href="/direct-download/">Direct Download</a>&nbsp;page. For additional installation options or to install Elasticsearch in addition to FusionAuth using Fast Path, check out the <a href="/docs/v1/tech/installation-guide/fast-path/">Fast Path Installation Guide</a>.
          </p>
        </div>
        <div id="macos" class="tab-content">
          <h2>macOS</h2>
          <p>
            Copy and paste the code below into Terminal and we'll do the rest. (Feel free to read the install scripts first.)
          </p>
          <p>
            <em>Installs in your current working directory using ZIP packages</em>
            <span class="copied"><strong><em>Copied</em></strong></span>
          </p>
          <div class="download-command">
            <code id="macos-1" data-clipboard-target="#macos-1">sh -c "curl -fsSL https://raw.githubusercontent.com/FusionAuth/fusionauth-install/master/install.sh | sh"</code>
            <button class="blue square button" title="Click to copy to clipboard" data-clipboard-target="#macos-1"><i class="fad fa-copy fa-fw"></i></button>
          </div>
          <p>
            Or install using <a href="https://brew.sh/">Homebrew</a> using the following commands.
          </p>
          <p>
            <em>Install the FusionAuth tap, this will only need to be performed once</em>
            <span class="copied"><strong><em>Copied</em></strong></span>
          </p>
          <div class="download-command">
            <code id="macos-2" data-clipboard-target="#macos-2">brew tap fusionauth/homebrew-fusionauth</code>
            <button class="blue square button" title="Click to copy to clipboard" data-clipboard-target="#macos-2"><i class="fad fa-copy fa-fw"></i></button>
          </div>
          <p>
            <em>Install FusionAuth</em>
            <span class="copied"><strong><em>Copied</em></strong></span>
          </p>
          <div class="download-command">
            <code id="macos-3" data-clipboard-target="#macos-3">brew install fusionauth-app</code>
            <button class="blue square button" title="Click to copy to clipboard" data-clipboard-target="#macos-3"><i class="fad fa-copy fa-fw"></i></button>
          </div>
          <p>
            <em>Start FusionAuth</em>
            <span class="copied"><strong><em>Copied</em></strong></span>
          </p>
          <div class="download-command">
            <code id="macos-4" data-clipboard-target="#macos-4">brew services start fusionauth-app</code>
            <button class="blue square button" title="Click to copy to clipboard" data-clipboard-target="#macos-4"><i class="fad fa-copy fa-fw"></i></button>
          </div>
          <p>
            For additional packages and versions checkout the <a href="/direct-download/">Direct Download</a>&nbsp;page. For additional installation options or to install Elasticsearch in addition to FusionAuth using Fast Path, check out the <a href="/docs/v1/tech/installation-guide/fast-path/">Fast Path Installation Guide</a>; or Homebrew, check out the <a href="/docs/v1/tech/installation-guide/homebrew/">Homebrew Installation Guide</a>.</li>
          </p>
        </div>
        <div id="windows" class="tab-content">
          <h2>Windows</h2>
          <p>
            Copy and paste the code below into Powershell and we'll do the rest. (Feel free to read the install scripts first.)
          </p>
          <p>
            <em>Installs in your current working directory using ZIP packages</em>
            <span class="copied"><strong><em>Copied</em></strong></span>
          </p>
          <div class="download-command">
            <code id="windows-1" data-clipboard-target="#windows-1">. { iwr -useb https://raw.githubusercontent.com/FusionAuth/fusionauth-install/master/install.ps1 } | iex; install</code>
            <button class="blue square button" title="Click to copy to clipboard" data-clipboard-target="#windows-1"><i class="fad fa-copy fa-fw"></i></button>
          </div>
          <p>
            For additional packages and versions checkout the <a href="/direct-download/">Direct Download</a>&nbsp;page. For additional installation options or to install Elasticsearch in addition to FusionAuth using Fast Path, check out the <a href="/docs/v1/tech/installation-guide/fast-path/">Fast Path Installation Guide</a>.
          </p>
        </div>
        <div id="docker" class="tab-content">
          <h2>Docker</h2>
          <p>
            Use the following Docker commands to get up and running quickly. Please feel free to open an issue or submit a pull request in <a href="https://github.com/FusionAuth/fusionauth-containers">GitHub</a> if you find an issue.
          </p>
          <p>
            <em>Use Docker Compose to build an entire FusionAuth instance</em>
            <span class="copied"><strong><em>Copied</em></strong></span>
          </p>
          <div class="download-command">
            <code id="docker-1" data-clipboard-target="#docker-1">curl -o docker-compose.yml https://raw.githubusercontent.com/FusionAuth/fusionauth-containers/master/docker/fusionauth/docker-compose.yml &amp;&amp; curl -o .env https://raw.githubusercontent.com/FusionAuth/fusionauth-containers/master/docker/fusionauth/.env &amp;&amp; docker-compose up</code>
            <button class="blue square button" title="Click to copy to clipboard" data-clipboard-target="#docker-1"><i class="fad fa-copy fa-fw"></i></button>
          </div>
          <p>
            All images can be found on <a href="https://hub.docker.com/u/fusionauth/">Docker Hub</a>. For additional installation options or to install Elasticsearch in addition to FusionAuth using Docker, check out the <a href="https://fusionauth.io/docs/v1/tech/installation-guide/docker">Docker Installation Guide</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
