<section class="orange hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h2>Download FusionAuth Now</h2>
        <p>
          Use our FastPath install, Homebrew, Docker, and traditional packages to download and install FusionAuth instantly.
        </p>
        <p>
          We got this! Go build the cool stuff!
        </p>
        <a href="/download" class="orange brochure button">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image right bottom">
    <img src="/assets/img/heroes/callout.svg" alt="Callout" class="callout">
  </div>
</section>
