<ul>
  {% assign apps = site.data.exampleapps | where: "language", language %}
  {% assign sorteditems = apps |sort: 'name' %}
  {% for app in sorteditems %}
    <li>
      <a href="{{ app.url }}">
        {{ app.name | capitalize }}
      </a> - {{app.description}} 
    </li>
  {% endfor %}
</ul>

