{% assign languages = site.data.exampleapps | group_by: "language" |sort: 'name' %}
{% for lang in languages %}
<h2>
      {% unless lang.name == "config" %}
        {{lang.name | capitalize}}
      {% endunless %}
      {% if lang.name == "config" %}
        Configuration examples
      {% endif %}
</h2>
    <ul>
      {% assign sorteditems = lang.items |sort: 'name' %}
      {% for app in sorteditems %}
        <li>
          <a href="{{ app.url }}">
            {{ app.name | capitalize }}
          </a> - {{app.description}} 
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
