<tr class="hide-sm">
    <td>&nbsp;</td>
    <td colspan="4">{{ include.feature }}</td>
</tr>
<tr>
  <td>{{ include.feature }}</td>
  <td><i class="far fa-check fa-fw"></i></td>
  <td><i class="far fa-check fa-fw"></i></td>
  <td><i class="far fa-check fa-fw"></i></td>
  <td><i class="far fa-check fa-fw"></i></td>
</tr>
