<tr class="category hide-sm">
  <td>&nbsp;</td>
  <td colspan="4">{{ include.category }}</td>
</tr>
<tr class="category">
  <td>{{ include.category }}</td>
  <td><i class="fas fa-check-circle"></i></td>
  <td><i class="fas fa-check-circle"></i></td>
  <td><i class="fas fa-check-circle"></i></td>
  <td><i class="fas fa-check-circle"></i></td>
</tr>
