<tr>
  <td>{{ include.feature }}</td>
  <td><i class="fas fa-check-circle fa-fw"></i></td>
  <td><i class="fas fa-check-circle fa-fw"></i></td>
  <td><i class="fas fa-check-circle fa-fw"></i></td>
</tr>
