<footer class="page-footer bg-secondary mt-auto text-white pb-5 pt-5 {% if page.header_classes %}{{ page.header_classes }}{% endif %}">
  <div class="container">
    <div class="mb-4 row magic-3-col-bars">
      <div class="col-12 col-md-3">
        <h3 class="border-bottom h5 mb-2 pb-1 text-white">Quick links</h3>
        <ul class="list-unstyled">
          <li><a href="/download" class="small text-light">Download</a></li>
          <li><a href="/docs/" class="small text-light">Docs</a></li>
          <li><a href="/pricing" class="small text-light">Pricing</a></li>
          <li><a href="/learn/expert-advice/" class="small text-light">Expert Advice</a></li>
          <li><a href="/contact" class="small text-light">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h3 class="border-bottom h5 mb-2 pb-1 text-white">Upgrade from...</h3>
        <ul class="list-unstyled">
          <li><a href="/upgrade/from-saas" class="small text-light">Upgrade from SaaS</a></li>
          <li><a href="/upgrade/from-homegrown" class="small text-light">Upgrade from Homegrown</a></li>
          <li><a href="/upgrade/from-open-source" class="small text-light">Upgrade from Open-Source</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h3 class="border-bottom h5 mb-2 pb-1 text-white">License & Privacy</h3>
        <ul class="list-unstyled">
          <li><a href="/privacy-policy" class="small text-light">Privacy Policy</a></li>
          <li><a href="/product-privacy-policy" class="small text-light">Product Privacy Policy</a></li>
          <li><a href="/license" class="small text-light">License</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h3 class="border-bottom h5 mb-2 pb-1 text-white">Follow us</h3>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://github.com/fusionauth" target="_blank" class="text-light"><i class="fab fa-github-alt fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/fusionauth" target="_blank" class="text-light"><i class="fab fa-twitter fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="https://facebook.com/fusionauth" target="_blank" class="text-light"><i class="fab fa-facebook fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/company/fusionauth/" target="_blank" class="text-light"><i class="fab fa-linkedin fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row mb-4 ml-sm-2 mr-sm-2">
      <div class="col-sm-12 col-md-10 m-auto">
        <div class="row mt-3">
          <div class="col-sm-12 col-md-5 d-flex flex-column align-content-center">
            <span class="m-auto h5 font-weight-normal text-white ls-1 text-uppercase">Subscribe for Updates</span>
          </div>
          <div class="col-sm-12 col-md-7">
            <form action="https://fusionauth.us1.list-manage.com/subscribe/post?u=e49fa3727e80f8a81984ec45e&amp;id=82607f973e" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
              <div class="input-group">
                <input name="EMAIL" type="email" class="form-control" placeholder="email">
                <!-- bot check -->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e49fa3727e80f8a81984ec45e_82607f973e" tabindex="-1" value=""></div>
                <div class="input-group-append pl-1">
                  <button class="btn btn-primary text-uppercase shadow" type="submit" value="Subscribe" name="subscribe">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="offset-0 offset-md-5 col-12 col-md-7 text-light text-center text-md-left">Auth built for devs. No marketing fluff!</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="m-auto ls-3">
        &copy;2019 FusionAuth
      </div>
    </div>
  </div>
</footer>
