<footer>
  <div class="container promo">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <small>&copy; 2021 FusionAuth </small>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 newsletter">
        <strong>Subscribe for developer updates</strong>
        <form action="https://fusionauth.us1.list-manage.com/subscribe/post?u=e49fa3727e80f8a81984ec45e&amp;id=82607f973e" method="POST" target="_blank">
          <!-- bot check -->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e49fa3727e80f8a81984ec45e_82607f973e" tabindex="-1" value=""></div>
          <input type="text" name="EMAIL" placeholder="Email address *" required>
          <input type="submit" class="orange button" name="GO" value="GO">
        </form>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <ul class="inline connect">
          <li><a href="https://github.com/fusionauth" target="_blank"><i class="fab fa-github-square fa-xs"></i></a></li>
          <li><a href="https://twitter.com/fusionauth" target="_blank"><i class="fab fa-twitter-square fa-xs"></i></a></li>
          <li><a href="https://facebook.com/fusionauth" target="_blank"><i class="fab fa-facebook-square fa-xs"></i></a></li>
          <li><a href="https://www.linkedin.com/company/fusionauth/" target="_blank"><i class="fab fa-linkedin fa-xs"></i></a></li>
          <li><a href="https://www.youtube.com/c/FusionAuth/" target="_blank"><i class="fab fa-youtube-square fa-xs"></i></a></li>
          <li><a href="https://fusionauth.io/blog/feed.xml" target="_blank"><i class="fas fa-rss-square fa-xs"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
