<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <h2>Quick Links</h2>
        <nav>
          <ul>
            <li><a href="/download/">Download</a></li>
            <li><a href="/pricing/">Pricing</a></li>
            <li><a href="/enterprise-sales-faq/">Enterprise Sales FAQ</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/jobs/">Jobs (come work with us)</a></li>
            <li><a href="https://account.fusionauth.io">My Account</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <h2>Resources</h2>
        <nav>
          <ul>
            <li><a href="/docs/">Docs</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/community/">Community & Support</a></li>
            <li><a href="/upgrade/from-saas/">Upgrade from SaaS</a></li>
            <li><a href="/upgrade/from-homegrown/">Upgrade from Homegrown</a></li>
            <li><a href="/upgrade/from-open-source/">Upgrade from Open Source</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <h2>Everything Else</h2>
        <nav>
          <ul>
            <li><a href="/privacy-policy/">Privacy Policy</a></li>
            <li><a href="/product-privacy-policy/">Product Privacy Policy</a></li>
            <li><a href="/license/">License</a></li>
            <li><a href="/license-faq/">License FAQ</a></li>
            <li><a href="/security/">Security (contact, bug bounty, etc)</a></li>
            <li><a href="/technical-support/">Technical Support</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <h2>Connect with Us</h2>
        <ul class="inline connect">
          <li><a href="https://github.com/fusionauth" target="_blank"><i class="fab fa-github-square fa-xs"></i></a></li>
          <li><a href="https://twitter.com/fusionauth" target="_blank"><i class="fab fa-twitter-square fa-xs"></i></a></li>
          <li><a href="https://facebook.com/fusionauth" target="_blank"><i class="fab fa-facebook-square fa-xs"></i></a></li>
          <li><a href="https://www.linkedin.com/company/fusionauth/" target="_blank"><i class="fab fa-linkedin fa-xs"></i></a></li>
          <li><a href="https://www.youtube.com/c/FusionAuth/" target="_blank"><i class="fab fa-youtube-square fa-xs"></i></a></li>
          <li><a href="https://fusionauth.io/blog/feed.xml" target="_blank"><i class="fas fa-rss-square fa-xs"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container promo">
    <div class="row middle">
      <div class="col-xs-0 col-lg-6">
        <img src="/assets/img/logo-white.svg" alt="logo">
      </div>
      <div class="col-xs-12 col-lg-6 newsletter">
        <strong>Subscribe for Updates</strong>
        <form action="https://fusionauth.us1.list-manage.com/subscribe/post?u=e49fa3727e80f8a81984ec45e&amp;id=82607f973e" method="POST" target="_blank">
          <!-- bot check -->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e49fa3727e80f8a81984ec45e_82607f973e" tabindex="-1" value=""></div>
          <input type="text" name="EMAIL" placeholder="Email address *" required>
          <input type="submit" class="orange button" name="GO" value="GO">
        </form>
        <em>We only send dev friendly newsletters. No marketing fluff!</em>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs">
        <small>&copy; 2020 FusionAuth </small>
      </div>
    </div>
  </div>
</footer>
