<section class="gray">
  <div class="container content">
    <div class="row middle">
      <div class="col-xs-12 col-lg-6">
        <div class="embed-container">
          <iframe src="https://www.youtube.com/embed/1GKJRCow75g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 text">
        <h5>What is FusionAuth?</h5>
        <h2>The Ultimate Platform For Secure Access Management</h2>
        <p>
          FusionAuth is a complete identity and access management tool that saves your team time and resources. Implement complex standards like OAuth, OpenID Connect, and SAML and build out additional login features to meet compliance requirements. It's built for devs to deploy anywhere and integrate in minutes. Go build something awesome!
        </p>
        <a href="/pricing" class="brochure orange button">TRY IT NOW FOR FREE</a>
      </div>
    </div>
  </div>
</section>
