<div id="io.fusionauth.breached-password-detection-white-paper" class="banner">
  <p class="content">
    <strong class="orange-text">Breached password detection</strong> is a critical component of secure applications. &nbsp;&nbsp; <a href="/resources/breached-password-detection-white-paper.html"><strong>Read the white paper <i class="fa fa-long-arrow-right orange-text"></i></strong></a>
    <button><i class="fa fa-times"></i></button>
  </p>
</div>
<header class="page-header {% if include.heroHeader == false %}gray-fixed{% endif %}">
  <div class="container">
    <a href="/"><img src="/assets/img/logo-white.svg" alt="FusionAuth logo" class="logo"></a>
    <nav>
      <header>
        <a href="/"><img src="/assets/img/logo-gray.svg" alt="FusionAuth logo" class="logo"></a>
        <a href="#" class="menu-close gray-light button square"><i class="fal fa-times fa-fw fa-2x"></i></a>
      </header>
      <ul>
        <li class="dropdown">
          <a href="#" class="{% if page.url contains '/features' %}active{% endif %}">Features <i class="fal fa-angle-down fa-fw orange"></i></a>
          <div class="super-dropdown animate">
            <div class="container">
              <div class="col-xs-12 col-lg-4 promo animate">
                <a href="/features/reactor/">
                  <img src="/assets/img/reactor.svg" alt="FusionAuth Reactor">
                </a>
                <p>
                  FusionAuth Reactor is a powerful suite of features developed to extend FusionAuth's core functionality.
                </p>
              </div>
              <div class="col-xs-12 col-lg-4 items animate">
                <ul>
                  <li><a href="/features/architecture/"><img src="/assets/img/header/flexible-architecture.svg" alt="Flexible Architecture"/>&nbsp;&nbsp;&nbsp;Flexible Architecture</a></li>
                  <li><a href="/features/authentication/"><img src="/assets/img/header/auth-the-way-you-want.svg" alt="Auth the Way You Want It"/>&nbsp;&nbsp;&nbsp;Auth the Way You Want It</a></li>
                  <li><a href="/features/security-data-compliance/"><img src="/assets/img/header/security-and-compliance.svg" alt="Security & Compliance"/>&nbsp;&nbsp;&nbsp;Security & Compliance</a></li>
                  <li><a href="/features/password-control/"><img src="/assets/img/header/ultimate-password-control.svg" alt="Ultimate Password Control"/>&nbsp;&nbsp;&nbsp;Ultimate Password Control</a></li>
                  <li><a href="/features/user-experience/"><img src="/assets/img/header/customizable-user-experience.svg" alt="Customizable User Experience"/>&nbsp;&nbsp;&nbsp;Customizable User Experience</a></li>
                  <li><a href="/features/advanced-registration-forms/"><img src="/assets/img/header/advanced-registration-forms.svg" alt="Advanced Registration Forms"/>&nbsp;&nbsp;&nbsp;Advanced Registration Forms</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-lg-4 items animate">
                <ul>
                  <li><a href="/features/built-for-developers/"><img src="/assets/img/header/built-for-devs.svg" alt="Built for Devs"/>&nbsp;&nbsp;&nbsp;Built for Devs</a></li>
                  <li><a href="/features/user-management-reporting/"><img src="/assets/img/header/user-management-and-reporting.svg" alt="User Management & Reporting"/>&nbsp;&nbsp;&nbsp;User Management & Reporting</a></li>
                  <li><a href="/features/scalability/"><img src="/assets/img/header/scalability.svg" alt="Scalability"/>&nbsp;&nbsp;&nbsp;Scalability</a></li>
                  <li><a href="/features/breached-password-detection/"><img src="/assets/img/header/breached-password-detection.svg" alt="Breached Password Detection"/>&nbsp;&nbsp;&nbsp;Breached Password Detection</a></li>
                  <li><a href="/features/connectors/"><img src="/assets/img/header/connectors.svg" alt="Connectors"/>&nbsp;&nbsp;&nbsp;Connectors</a></li>
                  <li><a href="/features/reactor/"><img src="/assets/img/header/reactor.svg" alt="FusionAuth Reactor"/>&nbsp;&nbsp;&nbsp;FusionAuth Reactor</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown">
          <a href="/pricing/" class="{% if page.url contains '/pricing/' %}active{% endif %}">Pricing <i class="fal fa-angle-down fa-fw orange"></i></a>
          <div class="super-dropdown animate">
            <div class="container">
              <div class="col-xs-12 col-lg-4 tight-both pricing animate">
                <img src="/assets/img/header/cloud-pricing.svg" alt="Cloud Pricing" class="desktop"/>
                <p class="desktop">
                  Let us host, monitor, manage, and maintain your deployments in your own private cloud.
                </p>
                <div class="buttons">
                  <a href="/pricing/cloud/" class="purple brochure button desktop">SEE PRICING</a>
                  <a href="/pricing/cloud/" class="mobile"><img src="/assets/img/header/cloud-pricing-mobile.svg" alt="cloud pricing"/>&nbsp;&nbsp;&nbsp;See FusionAuth Cloud Pricing</a>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 tight-both pricing animate">
                <img src="/assets/img/header/editions-pricing.svg" alt="Editions Pricing" class="desktop"/>
                <p class="desktop">
                  A powerful set of features with available support that extends FusionAuth's core functionality.
                </p>
                <div class="buttons">
                  <a href="/pricing/editions/" class="blue brochure button desktop">SEE PRICING</a>
                  <a href="/pricing/editions/" class="mobile"><img src="/assets/img/header/reactor.svg" alt="edition pricing"/>&nbsp;&nbsp;&nbsp;See FusionAuth Edition Pricing</a>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 tight-both pricing animate">
                <img src="/assets/img/header/editions-cloud-pricing.svg" alt="Editions + Cloud" class="desktop"/>
                <p class="desktop">
                  FusionAuth will handle everything so you can get back to building something awesome.
                </p>
                <div class="buttons">
                  <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/" class="orange brochure button desktop">GET STARTED</a>
                  <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/" class="mobile">Get started <i class="far fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a href="/docs/" class="{% if page.url contains '/docs/' %}active{% endif %}">Docs</a></li>
        <li><a href="/download/" class="{% if page.url contains '/download/' %}active{% endif %}">Downloads</a></li>
        <li class="dropdown">
          <a href="#" class="{% if page.url contains '/blog' || page.url contains '/community' || page.url contain '/customers-partners' || page.url contains '/upgrade/' %}active{% endif %}">Resources <i class="fal fa-angle-down fa-fw orange"></i></a>
          <div class="super-dropdown animate">
            <div class="container">
              <div class="col-xs-12 col-lg-4 promo animate">
                <img src="/assets/img/header/resources.svg" alt="FusionAuth Resources" class="resources"/>
                <ul>
                  <li><a href="/upgrade/from-saas/">Upgrade from SaaS</a></li>
                  <li><a href="/upgrade/from-open-source/">Upgrade from Open Source</a></li>
                  <li><a href="/upgrade/from-homegrown/">Upgrade from Home Grown</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-lg-4 items animate">
                <ul>
                  <li><a href="/blog/"><img src="/assets/img/header/blog.svg" alt="Blog"/>&nbsp;&nbsp;&nbsp;Blog</a></li>
                  <li><a href="/community/forum/"><img src="/assets/img/header/forum.svg" alt="Forum"/>&nbsp;&nbsp;&nbsp;Forum</a></li>
                  <li><a href="/community/"><img src="/assets/img/header/community-and-support.svg" alt="Community & Support"/>&nbsp;&nbsp;&nbsp;Community & Support</a></li>
                  <li><a href="/customers-partners/"><img src="/assets/img/header/customers-and-partners.svg" alt="Customer & Partners"/>&nbsp;&nbsp;&nbsp;Customers & Partners</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-lg-4 items animate">
                <ul>
                  <li><a href="https://www.youtube.com/c/FusionAuth"><img src="/assets/img/header/videos-and-podcasts.svg" alt="Video & Podcasts"/>&nbsp;&nbsp;&nbsp;Videos & Podcasts</a></li>
                  <li><a href="/docs/v1/tech/5-minute-setup-guide/"><img src="/assets/img/header/getting-started.svg" alt="Getting Started"/>&nbsp;&nbsp;&nbsp;Getting Started</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="{% if page.url contains '/learn' %}active{% endif %}">Expert Advice <i class="fal fa-angle-down fa-fw orange"></i></a>
          <div class="super-dropdown animate">
            <div class="container">
              <div class="col-xs-12 col-lg-4 promo animate">
                <img src="/assets/img/expert-advice.svg" alt="Expert Advice for Developers">
                <p>
                  Learn everything you need to know about authentication, authorization, identity, and access management from our team of industry experts.
                </p>
              </div>
              <div class="col-xs-12 col-lg-4 items animate">
                <ul>
                  <li><a href="/learn/expert-advice/authentication/"><img src="/assets/img/header/expert-advice-authentication.svg" alt="Authentication"/>&nbsp;&nbsp;&nbsp;Authentication</a></li>
                  <li><a href="/learn/expert-advice/ciam/"><img src="/assets/img/header/expert-advice-ciam.svg" alt="CIAM"/>&nbsp;&nbsp;&nbsp;CIAM</a></li>
                  <li><a href="/learn/expert-advice/identity-basics/"><img src="/assets/img/header/expert-advice-identity-basics.svg" alt="Identity Basics"/>&nbsp;&nbsp;&nbsp;Identity Basics</a></li>
                  <li><a href="/learn/expert-advice/oauth/"><img src="/assets/img/header/expert-advice-oauth.svg" alt="OAuth"/>&nbsp;&nbsp;&nbsp;OAuth</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-lg-4 items animate">
                <ul>
                  <li><a href="/learn/expert-advice/security/"><img src="/assets/img/header/expert-advice-security.svg" alt="Security"/>&nbsp;&nbsp;&nbsp;Security</a></li>
                  <li><a href="/learn/expert-advice/tokens/"><img src="/assets/img/header/expert-advice-tokens.svg" alt="Tokens"/>&nbsp;&nbsp;&nbsp;Tokens</a></li>
                  <li><a href="/learn/expert-advice/dev-tools/"><img src="/assets/img/header/expert-advice-dev-tools.svg" alt="Dev Tools"/>&nbsp;&nbsp;&nbsp;Dev Tools</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="search">
          <a href="#" class="search"><i class="fal fa-search fa-fw"></i></a>
        </li>
        <li>
          <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/" class="account">
            <span>Account</span>
            <i class="fal fa-user-circle fa-2x fa-fw"></i>
          </a>
        </li>
      </ul>
    </nav>
    <a href="#" class="search mobile"><i class="fal fa-search fa-fw"></i></a>
    <a href="#" class="menu-open button square"><i class="fal fa-bars fa-fw fa-2x"></i></a>
  </div>
  <div id="search-bar">
    <div id="search-box" class="container">
      <div id="search-input"></div>
      <a href="#" class="search-close"><i class="far fa-times fa-fw fa-2x"></i></a>
      <div id="search-results"></div>
    </div>
  </div>
</header>
