<header class="page-header {% if include.gray %}gray-fixed{% endif %}">
  <div class="container">
    <a href="/"><img src="/assets/img/logo-white.svg" alt="FusionAuth logo" class="logo"></a>
    <nav>
      <header>
        <a href="/"><img src="/assets/img/logo-gray.svg" alt="FusionAuth logo" class="logo"></a>
        <a href="#" class="menu-close gray-light button square"><i class="fal fa-times fa-fw fa-2x"></i></a>
      </header>
      <ul>
        <li class="dropdown">
          <a href="#" class="{% if page.url contains '/features' %}active{% endif %}">Features <i class="fal fa-angle-down fa-fw"></i></a>
          <div class="super-dropdown animate">
            <div class="container">
              <div class="promo animate">
                <span class="orange stamp">New</span>
                <a href="/features/reactor">
                  <img src="/assets/img/reactor.svg" alt="FusionAuth Reactor">
                </a>
                <p>
                  FusionAuth Reactor is a powerful suite of features developed to extend FusionAuth's core functionality.
                </p>
              </div>
              <div class="items animate">
                <ul>
                  <li><a href="/features/architecture">Flexible Architecture</a></li>
                  <li><a href="/features/authentication">Auth the way You Want it</a></li>
                  <li><a href="/features/security-data-compliance">Security & Compliance</a></li>
                  <li><a href="/features/password-control">Ultimate Password Control</a></li>
                  <li><a href="/features/user-experience">Customizable User Experience</a></li>
                </ul>
              </div>
              <div class="items animate">
                <ul>
                  <li><a href="/features/built-for-developers">Built for Devs</a></li>
                  <li><a href="/features/user-management-reporting">User Management & Reporting</a></li>
                  <li><a href="/features/scalability">Scalability</a></li>
                  <li><a href="/features/reactor">FusionAuth Reactor</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="/pricing" class="{% if page.url contains '/pricing' %}active{% endif %}">Pricing</a></li>
        <li><a href="/docs/" class="{% if page.url contains '/docs/' %}active{% endif %}">Docs</a></li>
        <li><a href="/download" class="{% if page.url contains '/download' %}active{% endif %}">Downloads</a></li>
        <li class="dropdown">
          <a href="#" class="{% if page.url contains '/blog' || page.url contains '/community' || page.url contain '/customers-partners' || page.url contains '/upgrade/' %}active{% endif %}">Resources <i class="fal fa-angle-down fa-fw"></i></a>
          <div class="super-dropdown animate">
            <div class="container">
              <div class="promo animate">
                <span class="orange stamp">New</span>
                <a href="/features/reactor">
                  <img src="/assets/img/reactor.svg" alt="FusionAuth Reactor">
                </a>
                <p>
                  FusionAuth Reactor is a powerful suite of features developed to extend FusionAuth's core functionality.
                </p>
              </div>
              <div class="items animate">
                <ul>
                  <li><a href="/blog/">Blog</a></li>
                  <li><a href="/community/forum/">Forum</a></li>
                  <li><a href="/community">Community & Support</a></li>
                  <li><a href="/customers-partners">Customers & Partners</a></li>
                </ul>
              </div>
              <div class="items animate">
                <ul>
                  <li><a href="/upgrade/from-saas">Upgrade from SaaS</a></li>
                  <li><a href="/upgrade/from-open-source">Upgrade from Open Source</a></li>
                  <li><a href="/upgrade/from-homegrown">Upgrade from Home Grown</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="{% if page.url contains '/learn' %}active{% endif %}">Expert Advice <i class="fal fa-angle-down fa-fw"></i></a>
          <div class="super-dropdown animate">
            <div class="container">
              <div class="promo animate">
                <img src="/assets/img/expert-advice.svg" alt="Expert Advice for Developers">
                <p>
                  Learn everything you need to know about authentication, authorization, identity, and access management from our team of industry experts.
                </p>
              </div>
              <div class="items animate">
                <ul>
                  <li><a href="/learn/expert-advice/authentication/">Authentication</a></li>
                  <li><a href="/learn/expert-advice/ciam/">CIAM</a></li>
                  <li><a href="/learn/expert-advice/identity-basics/">Identity Basics</a></li>
                  <li><a href="/learn/expert-advice/oauth/">OAuth</a></li>
                </ul>
              </div>
              <div class="items animate">
                <ul>
                  <li><a href="/learn/expert-advice/security/">Security</a></li>
                  <li><a href="/learn/expert-advice/tokens/">Tokens</a></li>
                  <li><a href="/learn/expert-advice/dev-tools/">Dev Tools</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/" class="account">
            <span>Account</span>
            <i class="fal fa-user-circle fa-2x fa-fw"></i>
          </a>
        </li>
      </ul>
    </nav>
    <a href="#" class="menu-open button square"><i class="fa fa-bars fa-fw fa-2x"></i></a>
  </div>
</header>