<div class="accordion" id="toc-container">
  <div class="card-header" id="toc-heading">
    <h5 class="mb-0">
      <button class="btn btn-link text-secondary" type="button" data-toggle="collapse" data-target="#toc" aria-expanded="true" aria-controls="collapseOne">
        Table of Contents
      </button>
    </h5>
  </div>

  <div id="toc" class="collapse" aria-labelledby="toc-heading" data-parent="#toc-container">
    <div class="card-body">
      <ol class="numbered">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#tldr">tl;dr</a></li>
        <li><a href="#server-security">First Section</a>
          <ol class="numbered">
            <li><a href="#server-architecture">Items</a></li>
          </ol>
        </li>
        <li><a href="#application-security">Second Section</a>
          <ol class="numbered">
            <li><a href="#application-user">Items</a></li>
          </ol>
        </li>
        <li><a href="#summary">Summary</a></li>
        <li><a href="#references">References</a></li>
      </ol>
    </div>
  </div>
</div>
