{% if paginator.page_trail %}
<ul class="pagination justify-content-center">

  {% if paginator.previous_page %}
  <li class="page-item">
    <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
  </li>
  {% endif %}

  {% for trail in paginator.page_trail %}
  <li {% if page.url == trail.path %}class="page-item active"{% else %}class="page-item"{% endif %}>
    <a class="page-link" href="{{ trail.path | prepend: site.baseurl | replace: 'index.html', '' }}" title="{{trail.title}}">{{ trail.num }}</a>
  </li>
  {% endfor %}

  {% if paginator.next_page %}
  <li class="page-item">
    <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
  </li>
  {% endif %}

</ul>
{% endif %}
