<section class="white">
  <div class="container">
    <header class="centered">
      <h2>Any Platform, Any Framework</h2>
      <p>Install FusionAuth anywhere and integrate with anything in minutes.</p>
    </header>
    <div class="stamps responsive-table">
      <div class="item">
        <a href="/download#linux" class="gray">
          <img src="/assets/img/stamps/linux.svg" alt="Linux">
          <p>Linux&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/download#docker" class="gray">
          <img src="/assets/img/stamps/docker.svg" alt="Docker">
          <p>Docker&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/download#macos" class="gray">
          <img src="/assets/img/stamps/macos.svg" alt="macOS">
          <p>macOS&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/download#windows" class="gray">
          <img src="/assets/img/stamps/windows.svg" alt="Windows">
          <p>Windows&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/docs/v1/tech/installation-guide/" class="gray">
          <img src="/assets/img/stamps/bare-metal.svg" alt="Bare Metal">
          <p>Bare Metal&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/docs/v1/tech/client-libraries/java" class="gray">
          <img src="/assets/img/stamps/java.svg" alt="Java">
          <p>JAVA&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/docs/v1/tech/client-libraries/node" class="gray">
          <img src="/assets/img/stamps/nodejs.svg" alt="NodeJS">
          <p>NODEJS&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/docs/v1/tech/client-libraries/typescript" class="gray">
          <img src="/assets/img/stamps/typescript.svg" alt="Typescript">
          <p>TYPESCRIPT&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/docs/v1/tech/client-libraries/javascript" class="gray">
          <img src="/assets/img/stamps/javascript.svg" alt="JavaScript">
          <p>JAVASCRIPT&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/docs/v1/tech/client-libraries/netcore" class="gray">
          <img src="/assets/img/stamps/csharp.svg" alt="CSharp">
          <p>C#&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/docs/v1/tech/client-libraries/php" class="gray">
          <img src="/assets/img/stamps/php.svg" alt="PHP">
          <p>PHP&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/docs/v1/tech/client-libraries/ruby" class="gray">
          <img src="/assets/img/stamps/ruby.svg" alt="Ruby">
          <p>Ruby&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/docs/v1/tech/client-libraries/python" class="gray">
          <img src="/assets/img/stamps/python.svg" alt="Python">
          <p>PYTHON&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/docs/v1/tech/client-libraries/go" class="gray">
          <img src="/assets/img/stamps/go.svg" alt="Go">
          <p>GO&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
      <div class="item">
        <a href="/docs/v1/tech/client-libraries/netcore" class="gray">
          <img src="/assets/img/stamps/netcore.svg" alt=".Net Core">
          <p>.NET CORE&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></p>
        </a>
      </div>
    </div>
  </div>
</section>
