<section class="gray">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-lg-9 centered">
        <h1>Ask Questions About FusionAuth</h1>
        <p>
          Join the FusionAuth developer community and share your challenges and solutions.
        </p>
        <a href="/community" class="orange brochure button">JOIN THE COMMUNITY</a>
      </div>
    </div>
  </div>
</section>