Aa<div class="carousel">
  <a href="#" class="changer-left orange button circle"><i class="fas fa-arrow-left"></i></a>
  <div class="scroll">
    {% for quote in site.data.quotes %}
      <div class="quote-card">
        <img src="/assets/img/{{ quote.image }}">
        <div class="name">{{ quote.name }}{% if quote.company %}, {{ quote.company }}{% endif %}</div>
        <p>
          "{{ quote.quote }}"
        </p>
      </div>
    {% endfor %}
  </div>
  <a href="#" class="changer-right orange button circle"><i class="fas fa-arrow-right"></i></a>
</div>
