<div id="top-bar-offer" class="alert alert-dismissible align-middle bg-primary text-center text-white mb-0 pt-1 pb-1 rounded-0" role="alert" hidden>
  <span style="font-size: 0.9rem;">
   {{ site.data.top-bar-offer.offer-text }}
  </span>
  <a id="top-bar-offer-button" class="btn btn-sm shadow-none bg-white text-primary pl-3 pr-2 ml-2 text-capitalize" href="{{ site.data.top-bar-offer.link }}">
    {{ site.data.top-bar-offer.link-text }} &nbsp;
    <i aria-hidden="true" class="fas fa-arrow-right"></i>
  </a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i aria-hidden="true" class="fal fa-times-circle"></i>
  </button>
</div>