<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ include.youtubeid }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="cookieconsent-optout-marketing">
    Please <a href="javascript:Cookiebot.renew()">accept marketing-cookies</a> to watch this video.
</div>
