# This is a managed file. Manual changes will be overwritten.
# If you need to add codeowners to the repository please add them to the CODEOWNERS file in the scripts/files directory at
# https://github.com/FusionAuth/fusionauth-public-repos/

* @fusionauth/owners @fusionauth/platform @FusionAuth/developer-relations-admins @FusionAuth/website-admins @FusionAuth/developer-relations @FusionAuth/developers @FusionAuth/customer-support @FusionAuth/marketing
.github/ @fusionauth/owners @fusionauth/platform @FusionAuth/website-admins
