<li>The browser requests the forum webapp's homepage from the application backend. This is a standard SSO login, but because of the way this workflow manages cookies and identities, FusionAuth does not provide SSO capabilities automatically</li>
<li>The application backend responds with the HTML, CSS & JavaScript of the homepage</li>
<li>The user clicks the login link and the browser requests the login page from the application backend</li>
<li>The application backend responds with the HTML, CSS & JavaScript of the login page (including the form)</li>
<li>The user inputs their credentials and clicks the submit button. The browser <code>POST</code>s the form data to the application backend</li>
<li>The application backend calls the Login API in FusionAuth by passing in the credentials it received</li>
<li>FusionAuth returns a 200 status code stating that the credentials were okay. It also returns the User object, a JWT and a refresh token in JSON</li>