---
import Layout from 'src/layouts/Developer.astro'
---
<Layout title="404 Not Found - FusionAuth">
  <section class="py-12 lg:py-36">
    <div class="max-w-full w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] mx-auto">
      <div class="centered flex flex-col h-3/6 justify-evenly items-center">
        <h1 class="text-4xl font-extrabold text-center text-slate-700">This is not the content you are looking for.</h1>
        <p class="text-center my-6">Hmmm... something's not right. What you are looking for may have moved. Check the navigation above or <span><a href="/contact/" class="text-blue-500">contact us</a></span> if you can't find what you need.</p>
        <img alt="storm troopers" class="justify-self-center" width="600" src="/img/troopers-404.png">
      </div>
    </div>
  </section>
</Layout>

