---
import ClickableCard from "../components/ClickableCard.astro";
import Layout from "../layouts/Landing.astro";
import Hero from "../heroes/DocLanding.astro";
---

<Layout title="Testing" description="Homepage" Hero={Hero}>
	<div>
		<h2 class="font-bold text-3xl">How to run FusionAuth</h2>
		<p class="mt-2 text-xl">
			We offer multiple options to get your hands on FusionAuth.
		</p>
		<div class="grid grid-cols-1 mt-10 gap-16 lg:grid-cols-4 md:grid-cols-2">
			<ClickableCard href="#" icon="/img/icons/web-app.svg" title="Install Locally"/>
			<ClickableCard href="#" icon="/img/icons/web-app.svg" title="Free Trial in the Cloud"/>
			<ClickableCard href="#" icon="/img/icons/web-app.svg" title="Shared Sandbox"/>
			<ClickableCard href="#" icon="/img/icons/web-app.svg" title="Run in Digital Ocean"/>
		</div>
	</div>
</Layout>
