---
import ClickableCard from "../components/ClickableLandingCard.astro";
import ClickableTile from "../components/ClickableLandingTile.astro";
import Layout from "../layouts/Landing.astro";
import Hero from "../heroes/DocLanding.astro";
---

<Layout title="Testing" description="Homepage" Hero={Hero}>
	<div>
		<h2 class="font-bold text-3xl">Clickable cards</h2>
		<p class="mt-2 text-xl">
			These are clickable cards.
		</p>
		<div class="grid grid-cols-1 mt-10 gap-16 lg:grid-cols-4 md:grid-cols-2">
			<ClickableCard href="#" icon="/img/icons/web-app.svg" title="Install Locally"/>
			<ClickableCard href="#" icon="/img/icons/web-app.svg" title="Free Trial in the Cloud"/>
			<ClickableCard href="#" icon="/img/icons/web-app.svg" title="Shared Sandbox"/>
			<ClickableCard href="#" icon="/img/icons/web-app.svg" title="Run in Digital Ocean"/>
		</div>
	</div>
	<div class="mt-16">
		<h2 class="font-bold text-3xl">Clickable tiles</h2>
		<p class="mt-2 text-xl">
			These are clickable tiles
		</p>
		<div class="grid grid-cols-1 mt-10 gap-x-8 gap-y-4 md:grid-cols-2">
			<ClickableTile href="#" icon="/img/icons/user-lock.svg" title="Identity, Authentication & Authorization" description="Learn everything you need to know about authentication, authorization, identity, and access management from our team of industry experts."/>
			<ClickableTile href="#" icon="/img/icons/user-lock.svg" title="Identity, Authentication & Authorization" description="Learn everything you need to know about authentication, authorization, identity, and access management from our team of industry experts."/>
			<ClickableTile href="#" icon="/img/icons/user-lock.svg" title="Identity, Authentication & Authorization" description="Learn everything you need to know about authentication, authorization, identity, and access management from our team of industry experts."/>
			<ClickableTile href="#" icon="/img/icons/user-lock.svg" title="Identity, Authentication & Authorization" description="Learn everything you need to know about authentication, authorization, identity, and access management from our team of industry experts."/>
		</div>
	</div>
</Layout>
