---
import Layout from 'src/layouts/Developer.astro'
---
<Layout title="FusionAuth Local Testing Documentation">
  <div class="prose">
    <p>When running the docs locally, this page serves as a stand-in for the real <a href="https://fusionauth.io">fusionauth.io</a> site.</p>
    <p>This page will never ship. Check out one of the subsections of the site to view your local preview:</p>
      <div>
        <ul>
          <li><a href="/docs/">Docs</a></li>
          <li><a href="/docs/get-started/quickstarts/">Quickstarts</a></li>
          <li><a href="/articles/">Articles</a></li>
          <li><a href="/docs/download-widget">Download Widget</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </div>
    </p>
  </div>
</Layout>
