---
import ClickableCard from "../components/ClickableLandingCard.astro";
import ClickableTile from "../components/ClickableLandingTile.astro";
import Layout from "../layouts/Landing.astro";
import Hero from "../heroes/DocLanding.astro";
---
<div data-pagefind-ignore="all">
	<h1>Welcome to Fusionauth Docs!</h1>
	<p>This is a landing that we don't want to index. <a href="/articles/">Go to articles</a>
</div>
