---
---

<div data-pagefind-ignore="all">
  <h1>Welcome to Fusionauth Docs!</h1>
  <p>This is a landing that we don't want to index.</p>


  <h2>Migrated Docs</h2>
  <p>Here's what we've migrated so far.</p>
  <div style="font-size: 20px;">
    <ul>
      <li><a href="/articles/">Articles (formerly Expert Advice)</a></li>
      <li><a href="/docs/quickstarts/">Quickstarts</a></li>
      <li><a href="/docs/get-started/start-here">Get Started Tutorial</a></li>
      <li><a href="/blog/">FusionAuth Blog</a></li>
      <li><a href="/docs/">Docs!</a></li>
      <li><a href="/docs/customize">Customize</a></li>
    </ul>
  </div>
</div>
