<div class="app-container change-container">
  <h3>Make Change</h3>

  <form (ngSubmit)="makeChange()">
      <div class="change-label">Amount in USD</div>
      <input class="change-input" name="amount" [(ngModel)]="amount" type="number" step=".01"/>
      <input class="change-submit" type="submit" value="Make Change"/>
  </form>

  <div class="change-message" *ngIf="change">
    We can make change for {{change.total | currency}} with {{change.nickels}} nickels and {{change.pennies}} pennies!
  </div>
</div>
