---
import AuthenticationTypes from 'src/content/json/generated/authenticationtype.json';
import AvailableSince from 'src/components/api/AvailableSince.astro';
import { parseInline } from 'marked';

const { showVersion } = Astro.props;
---

<ul>
{AuthenticationTypes.map((type) =>
  <li>
      <code>{type.name}</code> - <span set:html={parseInline(type.description)}/> {showVersion && type.version ? <AvailableSince since={type.version} /> : "" }
  </li>
)}
</ul>
