---
import Cookies from 'src/content/json/generated/cookies.json';

---
<table>
<th>Name</th>
<th>Type</th>
<th>Description</th>
{Cookies.map((cookie) =>
  <tr>
    <td>
      <code>{cookie.name}</code>
    </td>
    <td>
      {cookie.extraDoc}
    </td>
    <td>
      {cookie.description}
    </td>
  </tr>
)}
</table>
