---
import indexedFields from 'src/content/json/generated/indexuser.json';
import AvailableSince from 'src/components/api/AvailableSince.astro';

---
<table>
<th>Name</th>
<th>Description</th>
{indexedFields.map((field) =>
  <tr>
    <td>
      <code>{field.name}</code>
    </td>
    <td>
      {field.description} {field.version ? <AvailableSince since={field.version} /> : "" }
    </td>
  </tr>
)}
</table>
