---
import IndexedFields from 'src/content/json/generated/indexuser.json';
import AvailableSince from 'src/components/api/AvailableSince.astro';
import { parseInline } from 'marked';

---
<table>
<th>Name</th>
<th>Description</th>
{IndexedFields.map((field) =>
  <tr>
    <td>
      <code>{field.name}</code>
    </td>
    <td>
      <span set:html={parseInline(field.description)}/> {field.since ? <AvailableSince since={field.since} /> : "" }
    </td>
  </tr>
)}
</table>
