.DS_Store
.env*
.sass-cache
_site
build
fusionauth-site.iws
httpRequests
*.swp
.savant/cache
# File-based project format
*.iws

# Generated SVGs
assets/img/diagrams
site/assets/img/diagrams

# Generated releases.xml file
site/docs/v1/tech/releases.xml

.shelf

# these are used by the github action but we want to ignore when checking to see if we have anything not checked in
.bundle
vendor

# VS Code
.vscode/
*.code-workspace
/.idea/