---
import APIBlock from 'src/components/api/APIBlock.astro';
import APIField from 'src/components/api/APIField.astro';
import JSON from 'src/components/JSON.astro';

const { idp_display_name, extra_start_text } = Astro.props;
---
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>202</td>
      <td>
        The request completed successfully. The response will contain the <code>code</code> to be used to complete the login request.
      </td>
    </tr>
    <tr>
      <td>400</td>
      <td>
        The request was invalid and/or malformed. The response will contain an <a href="/docs/apis/errors">Errors</a> JSON Object with the specific errors.
      </td>
    </tr>
    {idp_display_name === 'HYPR' &&
    <tr>
      <td>404</td>
      <td>
        The user was not found or the password was incorrect. The response will be empty.
      </td>
    </tr>
    }
    <tr>
      <td>500</td>
      <td>
        There was an internal error. A stack trace is provided and logged in the FusionAuth log files. The response will be empty.
      </td>
    </tr>
  </tbody>
</table>

<APIBlock>
  <APIField name="code" type="String">
    The code used to complete login using the Complete {idp_display_name} Login API. {extra_start_text}
  </APIField>
</APIBlock>

<JSON title="Example Response JSON" src="identity-providers/start/samlv2-response.json" />
