---
import APIBlock from 'src/components/api/APIBlock.astro';
import APIField from 'src/components/api/APIField.astro';
import JSON from 'src/components/JSON.astro';
---

<h4> Request Body </h4>
<div class="border-b-2"></div>

<APIBlock>
  <APIField name="identityProviderId" type="UUID" required>
    The unique Id of the Identity Provider configuration to be tested.
  </APIField>
  <APIField name="tenantId" type="UUID" required>
    The unique Id of the Tenant to use for this test. This field is required.
  </APIField>
</APIBlock>

<JSON title="Example Identity Provider Test Request JSON" src="identity-providers/idp-test-request.json" />
