:root {
    --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

.image {
    width: 257px;
    height: 55px;
    object-fit: contain;
    margin: auto;
    padding: 60px 0 50px 0;
    display: block;
}

.container {
    width: 866px;
    height: 219px;
    border-radius: 10px;
    box-shadow: 0 0 25px 20px rgba(234, 234, 234, 0.8);
    background-color: #fff;
    margin: auto;
}


.blueContainer {
    width: 100px;
    height: 219px;
    margin: 0 109px 0 0;
    border-radius: 10px;
    background-color: #083b94;
    float: left;
}

.ovalContainer {
    width: 139px;
    height: 139px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 40px 40px 40px -185px;
    background-color: #fff;
    border-radius: 100px;
    float: left;
    overflow: hidden;
    div {
        background-color: #a0a0a0;
        border-radius: 100px;
        height: 120px;
        width: 120px;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .userIcon {
            width: 80px;
            margin: auto;
            object-fit: contain;
            display: block;
        }
    }
}

.name {
    font-family: var(--font-stack);
    font-size: 24px;
    font-weight: 500;
    color: #083b94;
    margin: 0;
}

.logout {
    padding: 7px 13px;
    margin: 0px auto 40px;
    display: block;
    background-color: transparent;
    color: #083b94;
    border-radius: 3px;
    border: solid 1px #083b94;
    font-family: var(--font-stack);
    font-size: 12px;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

.textContainer {
    padding-top: 40px;
}

table {
    width: 600px;
    padding: 10px 0;
    td {
        font-family: var(--font-stack);
        font-size: 16px;
        font-weight: 500;
        color: #424242;
        padding-top: 20px;
    }
}

.footerContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    .fusionAuthLogo {
        height: 24px;
        display: inline-block;
        margin: -5px 5px;
    }
    .poweredBy {
        display: inline-block;
        font-family: var(--font-stack);
        color: #424242;
        font-size: 16px;
    }
}
