:root {
  --font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.fusionAuthButton {
  padding: 16px 16px 13px 16px;
  border-radius: 8px;
  background-color: #083b94;
  font-family: var(--font-stack);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}

.fusionAuthLogoutButton {
  padding: 7px 13px;
  border-radius: 3px;
  display: block;
  border: solid 1px #083b94;
  font-family: var(--font-stack);
  font-size: 12px;
  text-align: center;
  color: #083b94;
  &:hover {
    cursor: pointer;
  }
}
