.footerContainer {
  position: absolute;
  bottom: 0px;
  right: 0px;

  .fusionAuthLogo {
    height: 24px;
    display: inline-block;
    margin: -5px 5px;
  }

  .poweredBy {
    display: inline-block;
    font-family: var(--font-stack);
    color: #424242;
    font-size: 16px;
  }
}
