:root {
    --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.image {
    width: 257px;
    height: 55px;
    object-fit: contain;
    margin: auto;
    padding: 60px 0 50px 0;
    display: block;
}

.container {
    width: 528px;
    height: 368px;
    border-radius: 10px;
    box-shadow: 0 0 25px 20px rgba(234, 234, 234, 0.8);
    background-color: #fff;
    margin: auto;
}

.welcome {
    width: 100%;
    height: 30px;
    padding: 35px 0;
    font-family: var(--font-stack);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #083b94;
}

.or {
    margin: 20px auto;
    font-family: var(--font-stack);
    font-size: 12px;
    font-weight: 500;
    color: #959595;
    display: block;
    text-align: center;
}

.line {
    width: 187px;
    height: 1px;
    border-top: solid 1px #979797;
    display: inline-block;
    margin: 0 5px;
}

.button {
    margin: 0 64px;
    width: 400px;
    &:hover {
        cursor: pointer;
    }
}

.footerContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    .fusionAuthLogo {
        height: 24px;
        display: inline-block;
        margin: -5px 5px;
    }
    .poweredBy {
        display: inline-block;
        font-family: var(--font-stack);
        color: #424242;
        font-size: 16px;
    }
}
