.copy-code {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.75rem;
  line-height: 1rem;
}
.copy-code-icon {
  width: 2.5em;
  padding: 0.5rem 0.6rem;
  background-color: #26292f;
  text-align: center;
  line-height: 1rem;
  border-radius: 3px;
}
.copy-code-icon:is(:hover, :focus) {
  background-color: #31343a;
}
