#diagram {
  font-size: 16px !important;
}

#diagram .error-icon {
  fill: red !important;
}

#diagram .error-text {
  fill: red !important;
  stroke: red !important;
}

#diagram .marker {
  fill: red !important;
  stroke: red !important;
}

#diagram .marker.cross {
  stroke: red !important;
}

#diagram .actor {
  stroke: #94a3b8 !important;
  fill: #e2e8f0 !important;
}

.dark #diagram .actor {
  stroke: #94a3b8 !important;
  fill: #1e293b !important;
}

#diagram text.actor > tspan {
  fill: #1e293b !important;
  stroke: none !important;
}

.dark #diagram text.actor > tspan {
  fill: #f8fafc !important;
  stroke: none !important;
}

#diagram .actor-line {
  stroke: red !important;
}

#diagram .messageLine0 {
  stroke: #64748b !important;
}

.dark #diagram .messageLine0 {
  stroke: #e2e8f0 !important;
}

#diagram .messageLine1 {
  stroke: #64748b !important;
}

.dark #diagram .messageLine1 {
  stroke: #e2e8f0 !important;
}

#diagram #arrowhead path {
  fill: #64748b !important;
  stroke: #64748b !important;
}

.dark #diagram #arrowhead path {
  fill: #e2e8f0 !important;
  stroke: #e2e8f0 !important;
}

#diagram .sequenceNumber {
  fill: #f1f5f9 !important;
  font-size: 16px;
}

#diagram #sequencenumber {
  fill: #64748b !important;
}

.dark #diagram #sequencenumber {
  fill: #334155 !important;
}

#diagram #sequencenumber circle {
  r: 9px;
}

#diagram #crosshead path {
  fill: #64748b !important;
  stroke: #64748b !important;
}

.dark #diagram #crosshead path {
  fill: #e2e8f0 !important;
  stroke: #e2e8f0 !important;
}

#diagram .messageText {
  fill: #1e293b !important;
  stroke: none !important;
}

.dark #diagram .messageText {
  fill: #f8fafc !important;
  stroke: none !important;
}

#diagram .labelBox {
  stroke: red !important;
  fill: red !important;
}

#diagram .labelText, #diagram .labelText > tspan {
  fill: red !important;
  stroke: red !important;
}

#diagram .loopText, #diagram .loopText > tspan {
  fill: red !important;
  stroke: red !important;
}

#diagram .loopLine {
  stroke: red !important;
  fill: red !important;
}

#diagram .note {
  fill: #c7d2fe !important;
  stroke: #818cf8 !important;
}

.dark #diagram .note {
  fill: #3730a3 !important;
  stroke: #818cf8 !important;
}

#diagram .noteText, #diagram .noteText > tspan {
  fill: #1e293b !important;
  stroke: none !important;
}

.dark #diagram .noteText, .dark #diagram .noteText > tspan {
  fill: #f1f5f9 !important;
  stroke: none !important;
}

#diagram .activation0 {
  fill: red !important;
  stroke: red !important;
}

#diagram .activation1 {
  fill: red !important;
  stroke: red !important;
}

#diagram .activation2 {
  fill: red !important;
  stroke: red !important;
}

#diagram .actorPopupMenuPanel {
  fill: red !important;
}

#diagram .actor-man line {
  stroke: red !important;
  fill: red !important;
}

#diagram .actor-man circle {
  stroke: red !important;
  fill: red !important;
}

#diagram line {
  stroke: #cbd5e1 !important;
  fill: #cbd5e1 !important;
}

.dark #diagram line {
  stroke: #64748b !important;
  fill: #64748b !important;
}
