/* overrides docs css that causes code text to be dark */
code.language-json  p {
  color: #FFFFFF;
}

code.language-json  span {
  color: #FFFFFF;
}

code.language-bash  p {
  color: #FFFFFF;
}

code.language-bash  span {
  color: #FFFFFF;
}

pre.microlight span.headerline {
  color: #FFFFFF;
}

/* hides smartbear image */
.topbar-wrapper a.link {
  display:none;
}