/* overrides docs css that causes code text to be dark */
:root {
  --slate-200: rgb(226, 232, 240);
  --slate-700: rgb(51 65 85);
  --slate-400: rgb(148 163 184);
}

code.language-json  p {
  color: #FFFFFF;
}

code.language-json  span {
  color: #FFFFFF;
}

code.language-bash  p {
  color: #FFFFFF;
}

code.language-bash  span {
  color: #FFFFFF;
}

pre.microlight span.headerline {
  color: #FFFFFF;
}

.dark .swagger-ui .arrow,
.dark .swagger-ui button {
  color: var(--slate-200);
  fill: var(--slate-200);
}

.dark .swagger-ui .model-toggle {
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\"><path style=\"stroke: rgb(226, 232, 240); fill: rgb(226, 232, 240);\" d=\"M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z\"/></svg>") 50% no-repeat
}

.dark .swagger-ui,
.dark input,
.dark optgroup,
.dark select,
.dark textarea,
.dark .swagger-ui a.nostyle,
.dark .swagger-ui a.nostyle:visited,
.dark .swagger-ui .info .title,
.dark .swagger-ui .info li,
.dark .swagger-ui .info p,
.dark .swagger-ui .info table,
.dark .swagger-ui .model-title,
.dark .swagger-ui .brace-open,
.dark .swagger-ui .brace-close,
.dark .swagger-ui .opblock-description-wrapper p,
.dark .swagger-ui .opblock-external-docs-wrapper p,
.dark .swagger-ui .opblock-title_normal p,
.dark .swagger-ui td,
.dark .swagger-ui table thead tr td,
.dark .swagger-ui table thead tr th,
.dark .swagger-ui .parameter__name,
.dark .swagger-ui .tab li button.tablinks {
  color: var(--slate-200);
}

.dark .swagger-ui .servers-title,
.dark .swagger-ui .opblock-body select,
.dark .swagger-ui .servers>label select,
.dark .swagger-ui .download-url-input {
  color: var(--slate-700);
}

.dark .swagger-ui .parameter__type,
.dark .swagger-ui .prop-type,
.dark .swagger-ui .prop-name,
.dark .swagger-ui .renderedMarkdown{
  color: var(--slate-400)
}

.dark section.models {
  background-color: rgb(30, 58, 138);
}

.dark .swagger-ui textarea,
.dark .swagger-ui section.models .model-container {
  background-color: rgb(15, 23, 42);
}

/* hides smartbear image */
.topbar-wrapper a.link {
  display:none;
}