---
import Layout from '../../../../layouts/BlogIndex.astro';
import { getStaticAuthorPaths } from '../../blog-tools';
import { AUTHORS } from '../../mappings';

export async function getStaticPaths({ paginate }) {
  return getStaticAuthorPaths(paginate);
}

const { page, authorName } = Astro.props;
---
<div>hey</div>
<Layout section="author"
        sectionTitle="Posts By"
        subject={authorName}
        page={page}
        showCategories={true}
        personalLink={{text: AUTHORS[authorName]?.linkText, href: AUTHORS[authorName]?.linkUrl}}/>