<html>
<head>
  <meta charset="utf-8" />
  <title>FusionAuth OpenID and PKCE example</title>
  <link rel="stylesheet" href="/static/css/changebank.css">
</head>
<body>
  <div id="page-container">
    <div id="page-header">
      <div id="logo-header">
        <img src="https://fusionauth.io/cdn/samplethemes/changebank/changebank.svg" />
        <a class="button-lg" href="/login">Login</a>
      </div>

      <div id="menu-bar" class="menu-bar">
        <a class="menu-link" href="/make-change">Make Change</a>
        <a class="menu-link inactive" href="/account">Account</a>
      </div>
    </div>

    <div style="flex: 1;">
      <div class="column-container">
        <div class="app-container change-container">
          <h3>Sign Up</h3>

          <form method="post" action="/register">
            <div class="h-row">
              <div class="convert-label">Email address:</div>
              <input class="convert-input" name="email" type="email" value=""  />
              <input class="convert-submit" type="submit" value="Sign up" />
            </div>
          </form>
          {% if message["message"] is not none: %}
            <div>{{message.message}}</div>
          {% endif %}
        </div>
      </div>
    </div>
</body>
</html>
