---
layout: developer
title: Pick your technology or feature
description: Pick your technology or feature
---
{% comment %}
This page is the how index page, with one icon per technology and feature
{% endcomment %}
<section class="white">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-lg-7 centered">
        <h1>Pick your technology</h1>
      </div>
    </div>
    <div class="row center">
      Authenticate your customers and users using any technology.
    </div>
    <div class="row center">
      <ul>
        <li>
          Works with all major web frameworks.
        </li>
        <li>
          Uses standards like OAuth, OIDC and SAML to ensure interoperability.
        </li>
        <li>
          API-first, so automation and extension is easy.
        </li>
       </ul>
    </div>
    <div class="row center">
      <div class="card-flex">
  
        {% assign technologies = site.data.howtos.technology_index_pages %}
        {% for tech in technologies %}
           <a href="/how-to/{{tech.indexname}}/" class="flat-orange-card">
              <img width="100px" src="/assets/img/howtos/icons/technology/{{tech.icon_name}}" alt="{{tech.technology}}">
              <span>
                {{ tech.technology | replace: " ", "&nbsp;" }}
              </span>
           </a>
        {% endfor %} 
      </div>
    </div>
    <div class="row center">
     &nbsp;
    </div>
    <div class="row center">
      <div class="col-xs-12 col-lg-7 centered">
        <h1>Pick your feature</h1>
      </div>
    </div>
    <div class="row center">
      Authenticate your customers and users with advanced features.
    </div>
    <div class="row center">
      <ul>
        <li>
          Easily add additional identity providers, whether social or enterprise.
        </li>
        <li>
          Add self service registration and profile management.
        </li>
        <li>
          Enable passwordless solutions like magic links and WebAuthn.
        </li>
        <li>
          Other included features: multi-factor authentication, a forgot password workflows, and flexible password rules.
        </li>
      </ul>
    </div>
    <div class="row center">
      <div class="card-flex">
  
        {% assign features = site.data.howtos.feature_index_pages %}
        {% for feature in features %}
           <a href="/how-to/{{feature.indexname}}/" class="flat-orange-card">
              <img width="100px" src="/assets/img/howtos/icons/feature/{{feature.icon_name}}" alt="{{feature.feature}}">
              <span>
                {{ feature.feature | replace: " ", "&nbsp;" }}
              </span>
           </a>
        {% endfor %} 
      </div>
    </div>
  </div>
</section>

