---
#Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);
//noinspection CssUnknownTarget
@import 'asciidoc';
//noinspection CssUnknownTarget
@import 'navigation';
//noinspection CssUnknownTarget
@import 'api';
//noinspection CssUnknownTarget
@import 'search';
//noinspection CssUnknownTarget
@import 'release_note';
//noinspection CssUnknownTarget
@import 'variables';

html {
  font-family: 'Lato', 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  background: #edece4;
}

h1 {
  font-weight: 400;
}

h2 {
  @extend h1;
  margin-top: 30px;
  font-size: 24px;
}

// Fixes the fixed header issue with # scrolling on the URL
@media only screen and (min-width: $media-md) {
  h1[id]::before, h2[id]::before, h3[id]::before, h4[id]::before {
    content: "";
    display: block;
    height: 6rem;
    margin-top: -6rem;
    visibility: hidden;
  }
}

a {
  color: #0096c7;

  &:hover {
    text-decoration: none;
  }
}

dt {
  margin-top: 10px;
}

p code {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 2px;
  color: #444;
  padding: 0 3px;
}

.field code,
ul > li > p code {
  padding: 0;
}

ul.ulist > li > p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

table {
  border-collapse: collapse;

  td {
    border: 1px solid #ccc;
    padding: 5px;
  }

  th {
    @extend td;
    background: #eee;
  }

  caption {
    color: #FF4088;
    font-style: italic;
    font-weight: 500;
    line-height: 1.6rem;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
  }
}

img {
  max-width: 100%;

  /* account for the drop shadow on macOS screenshots */
  @media only screen and (min-width: 1200px) {
    &.shadowed {
      margin-left: -40px;
      margin-top: -10px;
    }

    /* recreate for the drop shadow on Mac OS X screenshots in css */
    &.gen-shadow {
      box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
      border-radius: 5px;
    }
  }

  &.bottom-cropped {
    margin-bottom: 10px;
  }

  &.top-cropped {
    margin-top: 10px;
  }

  &.box-shadow {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px 0 rgba(0,0,0,.12);
  }
}

p {
  span.inline {
    img {
      position: relative;
      top: 5px;
    }
  }
}

header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  z-index: 10;

  @media only screen and (min-width: $media-md) {
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
  }

  button {
    background: none;
    border: none;
    display: inline-block;
    color: #ccc;
    cursor: pointer;
    margin: 10px 0 10px 10px;

    @media only screen and (min-width: $media-md) {
      display: none;
    }
  }

  .links {
    display: flex;

    @media only screen and (min-width: $media-md) {
      width: 250px;
    }
  }

  a {
    display: block;
    margin: 0;
    padding: 0;

    i.fa {

      &:hover {
        @include active();
      }

      border-right: 1px solid #ccc;
      font-size: 22px;
      line-height: 22px;
      margin-top: 0;
      margin-bottom: -1px;
      padding: 19px 12px 16px 10px;
    }

    img {
      height: 45px;
      padding: 5px 10px 2px 10px;
    }
  }

  h1 {
    color: #fff;
    flex-grow: 1;
    font-weight: 300;
    margin: 0 25px 0 0;
    text-align: right;

    @media only screen and (min-width: $media-md) {
      display: inherit;
      margin: 0;
      padding-left: 20px;
      text-align: left;
      width: auto;
    }
  }

  div {
    input {
      display: inline-block;
      width: 125px;
    }

    button {
      display: inline-block;
      padding-right: 10px;
    }

    @media only screen and (min-width: $media-md) {
      display: block;

      input {
        width: 200px;
      }
    }
  }
}

@mixin container() {
  margin: 0 auto;
  padding: 20px;
}

article {
  padding: 0;
  @media only screen and (min-width: $media-sm) {
    margin-top: 74px;
    padding: 0 20px;
  }

  @media only screen and (min-width: $media-md) {
    margin-left: $nav-width;
  }

  > section {
    @include container();
    background: white;
  }

  footer {
    @include container();
    background: #F9F9F9;

    a {
      text-decoration: none;
    }

    > div {
      display: flex;

      > div {
        flex-grow: 1;

        &:last-of-type {
          text-align: right;
        }
      }
    }
  }
}

.blockquote {
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 0 2px 2px 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow-x: scroll;
  padding-left: 0.5em;
}

.dialog-screenshot {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 30px;

  .content {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;

    @media only screen and (min-width: $media-xl) {
      flex-wrap: nowrap;
    }

    // Assuming left div is the image
    > div:first-of-type {
      flex-shrink: 0;
    }

    // Assuming the right div is the table (toc)
    > div:last-of-type {
      flex-grow: 1;
    }

    table {
      margin-left: 20px;
    }
  }
}

.highlight {
  background-color: #272822;
  color: #d4d4d4;
  padding: 1.2rem;
  overflow-x: scroll;
  font-size: 0.9em;
  line-height: 1.2em;
  font-weight: 400;
  font-family: 'Source Code Pro', Menlo, monospace;

  code {
    font-weight: 400;
    font-family: 'Source Code Pro', Menlo, monospace;

    &[data-lang="shell"] {
      .tok-c1 {
        color: #eb8c52;
      }
    }
  }
}

.videoblock {
  width: 100%;
  margin: 50px auto auto;
}

/* Copied from inversoft-style */
.blue-text {
  color: #156AA3;
}

.green-text {
  color: #0F8B72;
}

/* Bootstrap spacing helpers */

.d-inline {
  display: inline;
}

$spacer: 2rem;

.m1 {
 margin: ($spacer * .25);
}

.m2 {
  margin: ($spacer * .5);
}

.m3 {
  margin: $spacer;
}

.mb-1 {
  margin-bottom: ($spacer * .25);
}

.mb-2 {
  margin-bottom: ($spacer * .5);
}

.mb-3 {
  margin-bottom: $spacer;
}

.ml-1 {
  margin-left: ($spacer * .25);
}

.ml-2 {
  margin-left: ($spacer * .5);
}

.ml-3 {
  margin-left: $spacer;
}

.mt-1 {
  margin-top: ($spacer * .25);
}

.mt-2 {
  margin-top: ($spacer * .5);
}

.mt-3 {
  margin-top: $spacer;
}

