---
layout: default
title: Pricing for FusionAuth
description: Get all the premium features and support you need. Choose one of our FusionAuth hosting options and you'll be ready to go, even if you are self-hosting FusionAuth on your own servers.
---

<section class="white pricing">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 text">
        <p class="preface">PRICING</p>
        <h1>Find Your Perfect Plan</h1>
      </div>
    </div>
    <div class="row hosting-selections">
      <div class="col-xs-12 col-lg-7 tight-right-lg">
        <span class="selection-text">
            Select Hosting Option
            <a href="#" class="hosting-option-button"><i class="far fa-question-circle fa-fw fa-lg"></i></a>
        </span>
        <ul class="radio-bar">
          <li class="checked">
            <label><input type="radio" name="hosting" value="self-hosted" checked="checked"/><span>SELF-HOSTED</span></label>
          </li>
          <li>
            <label><input type="radio" name="hosting" value="basic-cloud"/><span>BASIC CLOUD</span></label>
          </li>
          <li>
            <label><input type="radio" name="hosting" value="business-cloud"/><span>BUSINESS CLOUD</span></label>
          </li>
          <li>
            <label><input type="radio" name="hosting" value="ha-cloud"/><span>HA CLOUD</span></label>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-lg-5 tight-left-lg">
        <span class="selection-text">Monthly Active Users</span>
        <div class="slider-bar">
          <input type="range" id="monthly-active-users" min="10000" max="5000000" step="10000" value="500000"/>
          <label for="monthly-active-users">500,000</label>
        </div>
      </div>
      <div class="col-xs-12 col-lg-12">
        <span class="compare-features">
          <a href="#compare-plan-features" class="compare-button"><i class="far fa-arrow-circle-down fa-fw fa-lg"></i> COMPARE PLAN FEATURES</a>
        </span>
      </div>
    </div>
    <div class="row pricing-cards show-self-hosted">
      <div class="col-xs-12 col-md-6 col-lg-3 even card green-border">
        <h2>COMMUNITY</h2>
        <div class="cost">
          <span class="amount">FREE</span>
          <span class="hosting self-hosted green-text">WHEN SELF HOSTED</span>
          <span class="hosting basic-cloud green-text">WITH BASIC CLOUD</span>
          <span class="hosting business-cloud green-text">WITH BUSINESS CLOUD</span>
          <span class="hosting ha-cloud green-text">WITH HA CLOUD</span>
        </div>
        <h3>Community includes:</h3>
        <ul class="fa-ul green">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Login, registration,
            authorization
          </li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> MFA, SSO, SAML, OAuth, OIDC
          </li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Themed login & registration
            pages
          </li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Unlimited users & API
            requests
          </li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/edition/edit?license.plan=COMMUNITY"
           class="green brochure button" rel="nofollow">JOIN THE COMMUNITY</a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 even card purple-border">
        <h2>DEVELOPER</h2>
        <div class="cost">
          <span class="amount">$125</span>
          <span class="hosting self-hosted purple-text">WHEN SELF HOSTED</span>
          <span class="hosting basic-cloud purple-text">WITH BASIC CLOUD</span>
          <span class="hosting business-cloud purple-text">WITH BUSINESS CLOUD</span>
          <span class="hosting ha-cloud purple-text">WITH HA CLOUD</span>
        </div>
        <h3>Includes everything in Community, plus:</h3>
        <ul class="fa-ul purple">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Login, registration,
            authorization
          </li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> MFA, SSO, SAML, OAuth, OIDC
          </li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Themed login & registration
            pages
          </li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Unlimited users & API
            requests
          </li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/edition/edit?license.plan=DEVELOPER"
           class="purple brochure button" rel="nofollow">TRY IT FOR FREE</a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 even card blue-border">
        <h2>PREMIUM</h2>
        <div class="cost">
          <span class="amount">$500</span>
          <span class="hosting self-hosted blue-text">WHEN SELF HOSTED</span>
          <span class="hosting basic-cloud blue-text">WITH BASIC CLOUD</span>
          <span class="hosting business-cloud blue-text">WITH BUSINESS CLOUD</span>
          <span class="hosting ha-cloud blue-text">WITH HA CLOUD</span>
        </div>
        <h3>Includes everything in Developer, plus:</h3>
        <ul class="fa-ul blue">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Login, registration,
            authorization
          </li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> MFA, SSO, SAML, OAuth, OIDC
          </li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Themed login & registration
            pages
          </li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Unlimited users & API
            requests
          </li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/edition/edit?license.plan=PREMIUM"
           class="blue brochure button" rel="nofollow">TRY IT FOR FREE</a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 even card orange-border">
        <h2>ENTERPRISE</h2>
        <div class="cost">
          <span class="amount">$2,500</span>
          <span class="hosting self-hosted orange-text">WHEN SELF HOSTED</span>
          <span class="hosting basic-cloud orange-text">WITH BASIC CLOUD</span>
          <span class="hosting business-cloud orange-text">WITH BUSINESS CLOUD</span>
          <span class="hosting ha-cloud orange-text">WITH HA CLOUD</span>
        </div>
        <h3>Includes everything in Premium, plus:</h3>
        <ul class="fa-ul orange">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Login, registration,
            authorization
          </li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> MFA, SSO, SAML, OAuth, OIDC
          </li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Themed login & registration
            pages
          </li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Unlimited users & API
            requests
          </li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/edition/edit?license.plan=ENTERPRISE"
           class="orange brochure button" rel="nofollow">CONTACT US</a>
      </div>
    </div>
  </div>
</section>

<section id="compare-plan-features" class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Compare Plan Features</h1>
        <div class="card feature-details">
          <table class="edition">
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>
                <span>COMMUNITY</span>
                <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/edition/edit?license.plan=COMMUNITY"
                   class="green brochure button">DOWNLOAD</a>
              </th>
              <th>
                <span>DEVELOPER</span>
                <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/edition/edit?license.plan=DEVELOPER"
                   class="purple brochure button">TRY IT FOR FREE</a>
              </th>
              <th>
                <span>PREMIUM</span>
                <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/edition/edit?license.plan=PREMIUM"
                   class="blue brochure button">TRY IT FOR FREE</a>
              </th>
              <th>
                <span>ENTERPRISE</span>
                <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/edition/edit?license.plan=ENTERPRISE"
                   class="orange brochure button">CONTACT US</a>
              </th>
            </tr>
            </thead>
            <tbody>
            {% include _feature-category.liquid category="Core Features" %}
            {% include _feature-all.liquid feature="Users" %}
            {% include _feature-all.liquid feature="Groups" %}
            {% include _feature-all.liquid feature="Tenants" %}
            {% include _feature-all.liquid feature="Custom user data" %}
            {% include _feature-all.liquid feature="JWTs" %}
            {% include _feature-all.liquid feature="Refresh tokens" %}
            {% include _feature-all.liquid feature="Lambdas" %}
            {% include _feature-all.liquid feature="Configurable CORS" %}
            {% include _feature-all.liquid feature="Full API access" %}

            {% include _feature-category.liquid category="Standards" %}
            {% include _feature-all.liquid feature="OAuth 2.0" %}
            {% include _feature-all.liquid feature="OpenID Connect" %}
            {% include _feature-all.liquid feature="SAML v2" %}

            {% include _feature-category.liquid category="Authentication" %}
            {% include _feature-all.liquid feature="Login" %}
            {% include _feature-all.liquid feature="Registration" %}
            {% include _feature-all.liquid feature="Single sign-on" %}
            {% include _feature-all.liquid feature="MFA (app)" %}
            {% include _feature-all.liquid feature="Account provisioning" %}
            {% include _feature-all.liquid feature="Email verification" %}
            {% include _feature-all.liquid feature="Forgot password" %}
            {% include _feature-all.liquid feature="Account locking" %}
            {% include _feature-all.liquid feature="Brute-force detection" %}
            {% include _feature-all.liquid feature="Long-lived sessions" %}
            {% include _feature-all.liquid feature="Social login" %}
            {% include _feature-all.liquid feature="Federated (3rd party) login" %}

            {% include _feature-category.liquid category="Passwords" %}
            {% include _feature-all.liquid feature="Password rules" %}
            {% include _feature-all.liquid feature="Password hashing" %}
            {% include _feature-all.liquid feature="Custom password hashing" %}

            {% include _feature-category.liquid category="Authorization & Consent" %}
            {% include _feature-all.liquid feature="Role-based access control" %}
            {% include _feature-all.liquid feature="Family support (including divorces)" %}
            {% include _feature-all.liquid feature="COPPA compliant" %}
            {% include _feature-all.liquid feature="Consent management" %}

            {% include _feature-category.liquid category="Email" %}
            {% include _feature-all.liquid feature="Email templates" %}
            {% include _feature-all.liquid feature="Email localization" %}
            {% include _feature-all.liquid feature="Customizable SMTP server" %}
            {% include _feature-all.liquid feature="Tenant Scoped SMTP server" %}

            {% include _feature-category.liquid category="Management & UI" %}
            {% include _feature-all.liquid feature="User management UI" %}
            {% include _feature-all.liquid feature="Key management" %}
            {% include _feature-all.liquid feature="Full-text search" %}
            {% include _feature-all.liquid feature="Full theme support" %}
            {% include _feature-all.liquid feature="Localizable UI and errors" %}
            {% include _feature-all.liquid feature="Full audit log" %}

            {% include _feature-category.liquid category="Reports" %}
            {% include _feature-all.liquid feature="Registration report" %}
            {% include _feature-all.liquid feature="Login report" %}
            {% include _feature-all.liquid feature="Daily active users" %}
            {% include _feature-all.liquid feature="Monthly active users" %}

            {% include _feature-category.liquid category="Integration" %}
            {% include _feature-all.liquid feature="Webhooks" %}
            {% include _feature-all.liquid feature="Custom Webhook events" %}
            {% include _feature-all.liquid feature="Kafka integration for events" %}
            {% include _feature-all.liquid feature="Username profanity filtering" %}

            <tr><!-- Empty row fixes highlighting every 2 rows on mobile --></tr>
            <tr class="hide-sm">
              <td class="repeat-header">&nbsp;</td>
              <td class="repeat-header">COMMUNITY</td>
              <td class="repeat-header">DEVELOPER</td>
              <td class="repeat-header">PREMIUM</td>
              <td class="repeat-header">ENTERPRISE</td>
            </tr>
            {% include _feature-category.liquid category="Premium Features" %}
            {% include _feature-paid.liquid feature="Breached password detection" %}
            {% include _feature-paid.liquid feature="Advanced registration forms" %}
            {% include _feature-paid.liquid feature="LDAP integration" %}
            {% include _feature-paid.liquid feature="Advanced MFA (email, SMS)" %}
            {% include _feature-paid.liquid feature="Entity management" %}
            {% include _feature-paid.liquid feature="Client credentials grant" %}
            {% include _feature-paid.liquid feature="IdP initiated SAMLv2 login support" %}
            {% include _feature-paid.liquid feature="Self service account portal" %}
            {% include _feature-support.liquid feature="Architecture review" %}
            {% include _feature-support.liquid feature="Deployment review" %}
            {% include _feature-support.liquid feature="Security assistance" %}
            {% include _feature-support.liquid feature="Integration assistance" %}
            {% include _feature-support.liquid feature="Data migration assistance" %}
            {% include _feature-support.liquid feature="Email support" %}
            {% include _feature-enterprise.liquid feature="Phone support" %}
            {% include _feature-enterprise.liquid feature="Private Slack channel" %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gray hero">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-md-10 col-lg-8 centered">
        <h1>Use FusionAuth for Free</h1>
        <strong>Seriously &hellip; No tricks or gimmicks!</strong>
        <p>
          Download FusionAuth -- a feature-rich version with everything you need to get started -- deploy it on your
          servers or private cloud, and you can use it for free for as long as you need. No time limits or no user
          limits. Use it for local testing, proof-of-concepts, in-house development, MVP startups, or full production.
          No problem.
        </p>
      </div>
    </div>
    <div class="row center">
      <div class="col-xs-12 col-md-10 col-lg-8 centered">
        <a href="/download" class="orange brochure button">DOWNLOAD FOR FREE</a>
      </div>
    </div>
    <div class="row center">
      <div class="col-xs-12 col-md-10 col-lg-8 centered">
        <p>
          Join our <a href="/community" class="orange-text"><strong>active developer community</strong></a> if you have
          questions.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="orange hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>Professional Services</h1>
        <p>
          Need something custom? Complex migration help? A unique feature no one else offers? Let's talk about it. We
          love a challenge.
        </p>
        <p>
          <a href="/contact" class="orange brochure button">CONTACT US</a>
        </p>
      </div>
    </div>
  </div>
  <div class="hero-image bottom right">
    <img src="/assets/img/heroes/callout.svg" alt="Professional Services" class="callout">
  </div>
</section>
