<section class="white pricing">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 text">
        <p class="preface">PRICING</p>
        <h1>Find Your Perfect Plan</h1>
      </div>
    </div>
    <div class="row hosting-selections">
      <div class="col-xs-12 col-lg-7 col-xl-6 tight-right-lg">
        <span class="selection-text">
            Select Hosting Option
            <a href="#" class="hosting-option-button"><i class="far fa-question-circle fa-fw fa-lg"></i></a>
        </span>
        <div class="selection-bar radio-bar">
          <div class="radio-bar-slider"></div>
          <div class="radio-bar-button">
            <label><input type="radio" name="hosting" value="self-hosted"
                          checked="checked"/><span>SELF-HOSTED</span></label>
          </div>
          <div class="radio-bar-button">
            <label><input type="radio" name="hosting" value="basic-cloud"/><span>BASIC CLOUD</span></label>
          </div>
          <div class="radio-bar-button">
            <label><input type="radio" name="hosting"
                          value="business-cloud"/><span>BUSINESS CLOUD</span></label>
          </div>
          <div class="radio-bar-button">
            <label><input type="radio" name="hosting" value="ha-cloud"/><span>HA CLOUD</span></label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-5 col-xl-4 tight-left-lg tight-both-xl">
        <span class="selection-text">Monthly Active Users</span>
        <div class="selection-bar slider-bar">
          <!--
            We will need some JS to fix the left side of the slider.
            var value = (this.value-this.min)/(this.max-this.min)*100
            this.style.background = 'linear-gradient(to right, #82CFD0 0%, #82CFD0 ' + value + '%, #fff ' + value + '%, white 100%)'
          -->
          <input type="range" id="monthly-active-users" min="10000" max="5000000" step="10000" value="500000"
                 style="background:linear-gradient(to right, #000 0%, #000 9.8%, #fff 9.8%, #fff 100%)"
                 oninput="v = (this.value-this.min)/(this.max-this.min)*100; this.style.background = 'linear-gradient(to right, #000 0%, #000 ' + v + '%, #fff ' + v + '%, white 100%)'"
          />
          <label for="monthly-active-users">500,000</label>
        </div>
      </div>
      <div class="col-xs-12 col-lg-12 col-xl-2 tight-left">
        <span class="compare-features">
          <a href="#" class="compare-button"><i class="far fa-arrow-circle-down fa-fw fa-lg"></i> COMPARE PLAN FEATURES</a>
        </span>
      </div>
    </div>
    <div class="row pricing-cards">
      <div class="col-xs-12 col-md-6 col-lg-3 white even card">
        <h2>Premium</h2>
        <div class="cost">
          <span class="starting-at">Starting at</span>
          <span class="amount">$250</span><span class="interval">/month</span>
        </div>
        <h3>Extra Features</h3>
        <ul class="fa-ul blue">
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Breached password detection
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Early access to security
            fixes
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Advanced registration forms
            (coming soon)
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Enhanced threat detection
            (coming soon)
          </li>
        </ul>
        <h3>Support</h3>
        <ul class="fa-ul blue">
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Community support, plus...
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> 9am - 5pm M-F (Mountain
            time)
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fal fa-check fa-fw"></i></span> Email</li>
              <li><span class="fa-li"><i class="fal fa-check fa-fw"></i></span> Private Slack channel</li>
              <li><span class="fa-li"><i class="fal fa-check fa-fw"></i></span> Response within 1 business
                day
              </li>
            </ul>
          </li>
        </ul>
        <a href="start-purchase" class="blue brochure button">BUY NOW</a>
      </div>
      <!-- START -->
      <div class="col-xs-12 col-md-6 col-lg-3 even card purple-border">
        <h2>COMMUNITY</h2>
        <div class="cost">
          <span class="amount">$725</span>
          <span class="hosting purple-text">WITH BASIC CLOUD</span>
        </div>
        <h3>Includes everything in Community, plus:</h3>
        <ul class="fa-ul purple">
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Login, registration,
            authorization
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> MFA, SSO, SAML, OAuth, OIDC
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Themed login & registration
            pages
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Unlimited users & API
            requests
          </li>
        </ul>
        <a href="start-purchase" class="purple brochure button">JOIN THE COMMUNITY</a>
      </div>
      <!-- END -->
      <div class="col-xs-12 col-md-6 col-lg-3 white even card">
        <h2>Basic Cloud</h2>
        <div class="cost">
          <span class="starting-at">Starting at</span>
          <span class="amount">$75</span><span class="interval">/month</span>
          <span class="starting-at">(billed hourly)</span>
          <strong>
            <a class="blue-text"
               href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/price-calculator?deployment.architecture=SINGLE&deployment.size=medium&deployment.region=US_EAST_1">Try
              our price calculator! <i class="far fa-long-arrow-right"></i></a><br/>
            <a class="blue-text" href="/license-faq/">License FAQ <i
                class="far fa-long-arrow-right"></i></a>
          </strong>
        </div>
        <h3>Great for&hellip;</h3>
        <ul class="fa-ul purple">
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Trials & POCs</li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Dev environments</li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Quick testing</li>
        </ul>
        <h3>Features</h3>
        <ul class="fa-ul purple">
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Pick your region: US,
            Canada, South America, Europe, Asia, Australia
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Fault-tolerant disks</li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Up and running in minutes
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Maintenance and monitoring
            included
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> 30-day money back guarantee
          </li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/deployment/add?deployment.architecture=SINGLE&deployment.size=medium&deployment.region=US_EAST_1"
           class="purple brochure button" rel="nofollow">GET STARTED</a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 white even card">
        <h2>COMMUNITY</h2>
        <div class="cost">
          <span class="amount">$0</span><span class="interval">/month</span>
        </div>
        <h3>Core Features</h3>
        <ul class="fa-ul purple">
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Login, registration,
            authorization
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> MFA, SSO, SAML, OAuth, OIDC
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Themed login & registration
            pages
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Unlimited users & API
            requests
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Much more</li>
        </ul>
        <h3>Support</h3>
        <ul class="fa-ul purple">
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Active community of
            developers
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Public Slack channel</li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Stack Overflow</li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Github issues and feature
            requests
          </li>
          <li><span class="fa-li"><i class="far fa-check fa-fw"></i></span> Forums (coming soon)</li>
        </ul>
        <a href="start-purchase" class="purple brochure button">JOIN THE COMMUNITY</a>
      </div>
    </div>
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card feature-details">
          <table class="edition">
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>
                <span>COMMUNITY</span>
                <a href="start-purchase" class="green brochure button">DOWNLOAD</a>
              </th>
              <th>
                <span>DEVELOPER</span>
                <a href="start-purchase" class="purple brochure button">TRY IT FOR FREE</a>
              </th>
              <th>
                <span>PREMIUM</span>
                <a href="start-purchase" class="blue brochure button">TRY IT FOR FREE</a>
              </th>
              <th>
                <span>ENTERPRISE</span>
                <a href="start-purchase" class="orange brochure button">CONTACT US</a>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr class="category hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Core Features</td>
            </tr>
            <tr class="category">
              <td>Core Features</td>
              <td><i class="fas fa-check-circle"></i></td>
              <td><i class="fas fa-check-circle"></i></td>
              <td><i class="fas fa-check-circle"></i></td>
              <td><i class="fas fa-check-circle"></i></td>
            </tr>
            <!--            <tr class="hide-sm">-->
            <!--              <td>&nbsp;</td>-->
            <!--              <td colspan="4">Empty</td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--              <td colspan="5">-->
            <!--                There are over 50+ features included in every edition of FusionAuth. Click <a href="#">here</a> to see-->
            <!--                them all.-->
            <!--              </td>-->
            <!--            </tr>-->
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Login</td>
            </tr>
            <tr>
              <td>Login</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Registration</td>
            </tr>
            <tr>
              <td>Registration</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Single Sign-On</td>
            </tr>
            <tr>
              <td>Single Sign-On</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">MFA (SMS or app)</td>
            </tr>
            <tr>
              <td>MFA (SMS or app)</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">OAuth 2.0</td>
            </tr>
            <tr>
              <td>OAuth 2.0</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">OpenID Connect</td>
            </tr>
            <tr>
              <td>OpenID Connect</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">SAMLv2</td>
            </tr>
            <tr>
              <td>SAMLv2</td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
              <td><i class="far fa-check fa-fw"></i></td>
            </tr>
            <tr class="category hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Premium Features</td>
            </tr>
            <tr class="category">
              <td>Premium Features</td>
              <td>&nbsp;</td>
              <td><i class="fas fa-check-circle"></i></td>
              <td><i class="fas fa-check-circle"></i></td>
              <td><i class="fas fa-check-circle"></i></td>
            </tr>

            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Breached password detection</td>
            </tr>
            <tr>
              <td>Breached password detection</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Advanced registration forms</td>
            </tr>
            <tr>
              <td>Advanced registration forms</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">LDAP integration</td>
            </tr>
            <tr>
              <td>LDAP integration</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Architecture review</td>
            </tr>
            <tr>
              <td>Architecture review</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Deployment review</td>
            </tr>
            <tr>
              <td>Deployment review</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Security assistance</td>
            </tr>
            <tr>
              <td>Security assistance</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Integration assistance</td>
            </tr>
            <tr>
              <td>Integration assistance</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Data migration assistance</td>
            </tr>
            <tr>
              <td>Data migration assistance</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Email support</td>
            </tr>
            <tr>
              <td>Email support</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Phone support</td>
            </tr>
            <tr>
              <td>Phone support</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
            </tr>
            <tr class="hide-sm">
              <td>&nbsp;</td>
              <td colspan="4">Private Slack channel</td>
            </tr>
            <tr>
              <td>Private Slack channel</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><i class="far fa-check"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row center">
      <div class="col-xs-12 col-md-10 col-lg-8 centered">
        <p>
          Migrating from another solution? Contact us about our <a href="#" class="orange-text">Upgrade Guides</a> to
          make migration simple.
        </p>
      </div>
    </div>
  </div>
</section>
