<div class="column-container">
  <div class="content-container">
    <div>
      <h1>Welcome to Changebank</h1>
      <p>
        Login or create a new account to get started
      </p>
        <button
          class="button-lg"
          (click)="login()"
          style="cursor: pointer"
        >
          Login
        </button>
        <br/>
        <button
          class="button-redirect"
          (click)="register()"
          style="cursor: pointer"
        >
          Create a new account.
        </button>
    </div>
  </div>
  <div class="image-container">
    <img src="/assets/money.jpg" alt="Coins" />
  </div>
</div>
