---
import ClickableCard from "../ClickableCard.astro";
---

<div class="cta-container w-container">
  <a href="/contact?utm_medium=internal&utm_source=blog&utm_campaign=contact_us" class="cta-link-block-flex w-inline-block" style="color:#FFF">
    <div class="cta-div-flex">
      <div class="internal-cta-content-div">
        <div class="cta-main-title">Let’s <span class="not-text">(NOT)</span> Build Our Own Auth.</div>
        <p class="cta-subtext">FusionAuth, built by devs, for devs. We got this. Go build something awesome.</p>
      </div>
      <div class="button cta">
        <div>talk to an expert</div>
      </div>
    </div>
    <div class="cta-div-flex adjust penguin"><img src="/img/marketing/penguin-fa.png" loading="lazy" width="241" alt="" class="cta-penguin"></div>
  </a>
</div>

{/*
<ClickableCard href={`/contact?utm_medium=internal&utm_source=blog&utm_campaign=contact_us`}
               title={`Let's (NOT) Build Our Own Auth.`}
               description={`FusionAuth, built by devs, for devs. We got this. Go build something awesome.`}
               icon={`/img/marketing/penguin-fa.png`}
></ClickableCard>
*/}
