<div class="cta-container w-container">
  <a href="/tech-papers/login-authentication-workflows?utm_medium=internal&utm_source=blog&utm_campaign=auth_workflows_paper" class="cta-link-block-flex _2 w-inline-block" style="color:#FFF">
    <div class="cta-div-flex">
      <div class="cta-type-text white-text">Free <span class="normal-text-span white-text">Ebook</span></div>
      <div class="internal-cta-content-div">
        <div class="cta-main-title blue">Login <span class="normal-text-span white-text">&amp; Authentication Workflow</span></div>
        <p class="cta-subtext">Detailed Login Authentication Flows for use with any Identity Provider.</p>
      </div>
      <div class="button cta">
        <div>download now</div>
      </div>
    </div>
    <div class="cta-div-flex adjust"><img src="/img/marketing/login-authentication-flows.png" loading="lazy" width="160" alt="" class="cta-book-image"></div>
  </a>
</div>
