<div class="cta-container w-container">
  <a href="/ebooks/modern-guide-to-oauth?utm_medium=internal&utm_source=blog&utm_campaign=oauth_ebook" class="cta-link-block-flex w-inline-block" style="color:#FFF">
    <div class="cta-div-flex">
      <div class="cta-type-text">Free <span class="normal-text-span white-text">Ebook</span></div>
      <div class="internal-cta-content-div">
        <div class="cta-main-title blue">The Modern <span class="normal-text-span white-text">Guide to OAuth</span></div>
        <p class="cta-subtext">Based on hundreds of conversations and client implementations.</p>
      </div>
      <div class="button cta">
        <div>download now</div>
      </div>
    </div>
    <div class="cta-div-flex adjust"><img src="/img/marketing/ebook-modern-guide-oauth.png" loading="lazy" width="160" alt="Book cover." class="cta-book-image"></div>
  </a>
</div>