<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tenant</key>
	<string>d7d09513-a3f5-401c-9685-34ab6c552453</string>
	<key>storage</key>
	<string>keychain</string>
	<key>additionalScopes</key>
	<array>
		<string>profile</string>
		<string>email</string>
	</array>
	<key>fusionAuthUrl</key>
	<string>http://localhost:9011</string>
	<key>clientId</key>
	<string>e9fdb985-9173-4e01-9d73-ac2d60d1dc8e</string>
</dict>
</plist>
