AddDefaultCharset UTF-8

# Direct
Redirect permanent /blog/2018/12/03/single-tenant-vs-multi-tenant /learn/expert-advice/identity-basics/multi-tenancy-vs-single-tenant-idaas-solutions
Redirect permanent /blog/2019/01/29/white-paper-developers-guide-gdpr /learn/expert-advice/ciam/developers-guide-to-gdpr
Redirect permanent /blog/2019/01/31/revoking-jwts /learn/expert-advice/tokens/revoking-jwts
Redirect permanent /blog/2019/02/21/save-a-cpu-ditch-bcrypt-use-sha2-instead /learn/expert-advice/security/math-of-password-hashing-algorithms-entropy
Redirect permanent /blog/2019/03/22/lets-talk-about-jwts-baby /learn/expert-advice/tokens/pros-and-cons-of-jwts
Redirect permanent /blog/2019/04/02/login-with-twitter-oh-the-humanity /learn/expert-advice/oauth/oauth-v1-signed-requests
Redirect permanent /blog/2019/04/11/password-security-compliance-checklist /learn/expert-advice/security/password-security-compliance-checklist
Redirect permanent /blog/2019/10/29/oauth-device-authorization-roku-appletv-xbox /learn/expert-advice/oauth/oauth-device-authorization
Redirect permanent /articles/logins/types-of-logins-authentication-workflows /learn/expert-advice/authentication/login-authentication-workflows
Redirect permanent /challenges-of-ciam /learn/expert-advice/ciam/challenges-of-ciam
Redirect permanent /downloads /download
Redirect permanent /everywhere /anywhere
Redirect permanent /resources/guide-to-user-data-security /learn/expert-advice/security/guide-to-user-data-security
Redirect permanent /features/auth0-migration/ /resources/auth0-migration/

# Device Grant redirect demo, append request parameters to this redirect to handle ?user_code=
RewriteCond "%{REQUEST_URI}" "^/activate$"
RewriteRule ^(.*)$ https://local.fusionauth.io/oauth2/device?client_id=c6b9de0c-2f71-4019-920b-58bc2d4206fc&tenantId=32306536-3036-6431-3865-646430303332 [R=302,QSA,L]

# Matches
RedirectMatch permanent "^/articles/logins/(.*)$" "/learn/expert-advice/authentication/$1"
RedirectMatch permanent "^/docs/v1/tech/(.+)/overview$" "/docs/v1/tech/$1/"
RedirectMatch permanent "^/features/$" "/"
RedirectMatch permanent "^/learn/expert-advice/$" "/learn/expert-advice/authentication/"
RedirectMatch permanent "^/anywhere$" "/"
RedirectMatch permanent "^/pricing$" "/pricing/"
RedirectMatch permanent "^/pricing/(?!index).+$" "/pricing/"

# HSTS for fusionauth.io domains
<IfModule mod_headers.c>
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
</IfModule>

# HTTP2 is enabled on the AWS Application load balancer, for some reason Safari on macOS is showing NSPOSIX 100 errors - this seems to be the fix for now.
Header unset Upgrade

# Add CORS header for account.fusionauth.io and login.fusionauth.io for the following file types: .json, .ttf, .eot, .wof, .woff2
<FilesMatch "\.(json|ttf|otf|eot|woff|woff2)$">
  <IfModule mod_headers.c>
    SetEnvIf Origin "http(s)?://(account.fusionauth.io|login.fusionauth.io)$" AccessControlAllowOrigin=$0
    Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
    Header merge Vary Origin
  </IfModule>
</FilesMatch>
