Redirect permanent /blog/2018/12/03/single-tenant-vs-multi-tenant /learn/expert-advice/identity-basics/multi-tenancy-vs-single-tenant-idaas-solutions
Redirect permanent /blog/2019/01/29/white-paper-developers-guide-gdpr /learn/expert-advice/ciam/developers-guide-to-gdpr
Redirect permanent /blog/2019/01/31/revoking-jwts /learn/expert-advice/tokens/revoking-jwts
Redirect permanent /blog/2019/02/21/save-a-cpu-ditch-bcrypt-use-sha2-instead /learn/expert-advice/security/math-of-password-hashing-algorithms-entropy
Redirect permanent /blog/2019/03/22/lets-talk-about-jwts-baby /learn/expert-advice/tokens/pros-and-cons-of-jwts
Redirect permanent /blog/2019/04/02/login-with-twitter-oh-the-humanity /learn/expert-advice/oauth/oauth-v1-signed-requests
Redirect permanent /blog/2019/04/11/password-security-compliance-checklist /learn/expert-advice/security/password-security-compliance-checklist
Redirect permanent /blog/2019/10/29/oauth-device-authorization-roku-appletv-xbox /learn/expert-advice/oauth/oauth-device-authorization
Redirect permanent /articles/logins/types-of-logins-authentication-workflows /learn/expert-advice/authentication/login-authentication-workflows
Redirect permanent /challenges-of-ciam /learn/expert-advice/ciam/challenges-of-ciam
Redirect permanent /resources/guide-to-user-data-security /learn/expert-advice/security/guide-to-user-data-security
RedirectMatch permanent "^/articles/logins(.*)$" "/learn/expert-advice/authentication/$1"