---
layout: default
title: Customers & Partners
description: Here are just a few of the companies and organizations using FusionAuth.
---
<section class="white">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-lg-7 centered">
        <h1>Companies Using FusionAuth</h1>
        <p>
          With over 500,000 downloads and thousands of customers, FusionAuth is one of the worlds leading identity and user management solutions. Here are some of our awesome customers who are using FusionAuth for all of their identity and user management needs.
        </p>
      </div>
    </div>

    <div class="cards row center">
      {% for customer in site.data.customers %}
        {% if customer.featured %}
          <a href="{{ customer.href }}" class="col-xs-12 col-md-6 col-lg-4 col-xl-3 light-gray even customer card">
            <img src="/assets/img/customers/{{ customer.image }}" alt="{{ customer.alt }}">
            <p>
              {{ customer.description }}
            </p>
            {% if customer.hasCaseStudy %}
              <span>read the case study <i class="fal fa-arrow-right"></i></span>
            {% else if customer.hasCommunityStory %}
              <span>read their story <i class="fal fa-arrow-right"></i></span>
            {% else %}
              <span>visit their website <i class="fal fa-arrow-right"></i></span>
            {% endif %}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- More -->
  <div class="collapsible">
    <header style="justify-content: center;">
      <a href="#" class="collapse-button stack orange brochure button">VIEW MORE&nbsp;<i class="fas fa-chevron-circle-up fa-1x"></i></a>
    </header>
    <div class="collapsible-content">
      <div class="collapsible-spacer">&nbsp;</div>
      <div class="container">
        <div class="cards row center">
          {% for customer in site.data.customers %}
            {% if customer.featured == false %}
              <a href="{{ customer.href }}" class="col-xs-12 col-md-6 col-lg-4 col-xl-3 light-gray even customer card">
                <img src="/assets/img/customers/{{ customer.image }}" alt="{{ customer.alt }}">
                <p>
                  {{ customer.description }}
                </p>
                {% if customer.hasCaseStudy %}
                  <span>read the case study <i class="fal fa-arrow-right"></i></span>
                {% else if customer.hasCommunityStory %}
                  <span>read their story <i class="fal fa-arrow-right"></i></span>
                {% else %}
                  <span>visit their website <i class="fal fa-arrow-right"></i></span>
                {% endif %}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <header class="centered">
      <h1>What Our Customers Are Saying</h1>
    </header>
    {% include _quotes.liquid %}
  </div>
</section>

<section class="blue hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 text">
        <h1>Partners</h1>
      </div>
      {% for partner in site.data.partners %}
        <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 light-gray even customer card">
          <img src="/assets/img/partners/{{ partner.image }}" alt="{{ partner.alt }}">
          <p>
            {{ partner.description }}
          </p>
          <a href="{{ partner.href }}" class="blue brochure button">VISIT THEIR WEBSITE</a>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="hero-image less-top right">
    <img src="/assets/img/heroes/pricing-hosting.svg" alt="Partners">
  </div>
</section>

{% include _built-for-devs.liquid %}
