---
layout: default
title: Customers & Partners
description: Here are just a few of the companies and organizations using FusionAuth.
---
<section class="white">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-lg-7 centered">
        <h1>Companies Using FusionAuth</h1>
        <p>
          With over 300,000 downloads and thousands of customers, FusionAuth is one of the worlds leading identity and user management solutions. Here are some of our awesome customers who are using FusionAuth for all of their identity and user management needs.
        </p>
      </div>
    </div>
    <div class="responsive-table">
      {% for customer in site.data.customers %}
        <div class="item centered">
          <img src="/assets/img/customers/{{ customer.image }}" style="{% if customer.width %} width:{{customer.width}}{% endif %}{% if customer.height %} height:{{customer.height}}{% endif %}; max-width: 150px;" alt="{{customer.alt}}">
        </div>
      {% endfor %}
    </div>
    <div class="row">
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
