---
layout: hero
title: Enterprise FAQ
description: Frequently asked questions about our enterprise sales
---
<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <p class="preface">ENTERPRISE FAQS</p>
        <h1>We don't have a Sales Team... No, Seriously</h1>
        <p>
          Just sign up for one of our editions. If there's something specific you need, let us know and we'll figure it out together.
        </p>
        <a href="/pricing" class="brochure blue button">GET MY FREE TRIAL</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/q-a.svg" alt="Questions and answers" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs text">
        <h2>"Salesy" questions.</h2>
        <h3>Answers to some commonly asked questions.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="brochure flat-card">
          <div class="content">
            <h3>Why don't you have a sales team?</h3>
            <p>
              I'm glad you asked. We got tired of dealing with procurement managers who want to endlessly negotiate pricing and legal terms for no reason until one or both parties ultimately die of exhaustion or boredom.
            </p>
            <p>
              We are engineers, and we prefer the idea of great software selling itself instead of a sales team trying to convince you.
            </p>
            <p>
              It may sound counterintuitive to allocate resources to improve the product we're selling, rather than to spend time making PDFs and fancy charts, but we're having great success with this strategy.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="brochure flat-card">
          <div class="content">
            <h3>So how am I supposed to buy your software for my company?</h3>
            <p>
              Please <a href='/pricing'>download the Community edition</a> and check it out FusionAuth for yourself. We think you'll like it.
            </p>
            <p>
              If downloading sounds like a lot of work (it isn't), you can also <a href='/pricing#fusionauth-cloud'>purchase FusionAuth Cloud</a> for roughly 10 cents an hour. You've already spent more than that reading this FAQ.
            </p>
            <p>
              When you're ready, <a href='/pricing'>purchase an Edition</a> that suits your needs. Trust us, buying software can be simple. We work with many large organizations. If they can figure it out, we have confidence you will too.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="brochure flat-card">
          <div class="content">
            <h3>What about compliance, security and special requirements?</h3>
            <p>
              We can accommodate most any requirements, and are happy to match your needs with a custom edition.
            </p>
            <p>
              Let us know what you need; we'll let you know what the extra cost will be. Super simple.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="brochure flat-card">
          <div class="content">
            <h3>What!? I don't get this outrageous, unorthodox sales strategy.</h3>
            <p>
              We make software. Awesome software that lets your team work on their awesome software.
            </p>
            <p>
              If you would like to buy FusionAuth, we are happy to accept your money in return for our hosting, support, software or services.
            </p>
            <p>
              We would love to have your business, but if you find another solution with a better sales process, we'll still be here if you end up changing your mind.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="brochure flat-card">
          <div class="content">
            <h3>Can we just schedule a quick call?</h3>
            <p>
              If we can't easily answer your question by <a href='/contact'>email</a>, then we'd be happy to set up a call. We're easy.
            </p>
            <p>
              We may be engineers, but we are quite adept at speaking to humans on the phone.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs text">
        <a href='https://ghost.org/enterprise/'>Inspired by Ghost</a>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
