---
layout: default
title: It just works, everywhere
description: FusionAuth is a universal solution - it works on every platform, for every device, with every framework, and every app.
image: fusionauth-share-image.jpg
header_dark: true
---

<section class="jumbotron jumbotron-fluid bg-secondary text-white pb-4 pt-5">
  <div class="container mb-5">
    <div class="align-items-center flex-row-reverse row text-center">
      <div class="col-12 col-md-5">
        <img class="w-100 w-md-75 shadow" src="/assets/img/everywhere/everywhere-hero3.svg">
      </div>
      <div class="col-12 col-md-7 p-md-3 text-md-left">
        <h1 class="fs-350 text-white">FusionAuth Works Everywhere</h1>
        <p class="lead lh-4 pt-3 pb-3">FusionAuth is a universal solution–every platform, every device, every framework, every use.</p>
        <a href="/download" class="btn btn-primary btn-lg mt-4">Get started for free</a>
      </div>
    </div>
  </div>
</section>

<section class="pt-6 pb-6">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
        <div class="mb-5 text-center">
          <h2 class="fs-275">Every Location</h2>
          <p class="lead">FusionAuth is single-tenant and installs everywhere giving you complete control of the physical location of your app and data.</p>
        </div>

        <div class="row d-flex flex-row-reverse">
          <div class="col-12 col-md-4">
            <img class="w-50 w-md-100 m-md-auto shadow" src="/assets/img/everywhere/managed-hosting.svg">
          </div>
          <div class="col-12 col-md-8 d-md-flex flex-column justify-content-center">
            <h3 class="h2">Managed hosting</h3>
            <p class="lead">Let us manage and maintain everything on secure cloud servers. You just connect and go. </p>
          </div>
        </div>
        <div class="row d-none d-md-block">
          <div class="w-67 m-auto">
            <img class="w-100" src="/assets/img/everywhere/right-line.svg">
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <img class="w-50 w-md-100 m-md-auto shadow" src="/assets/img/everywhere/on-premise.svg">
          </div>
          <div class="col-12 col-md-8 d-md-flex flex-column justify-content-center">
            <h3 class="h2">On-premises</h3>
            <p class="lead">Install FusionAuth and host it on your own internal servers, behind your own firewall. </p>
          </div>
        </div>
        <div class="row d-none d-md-block">
          <div class="w-67 m-auto">
            <img class="w-100" src="/assets/img/everywhere/left-line.svg">
          </div>
        </div>

        <div class="row d-flex flex-row-reverse">
          <div class="col-12 col-md-4">
            <img class="w-50 w-md-100 m-md-auto shadow" src="/assets/img/everywhere/private-cloud.svg">
          </div>
          <div class="col-12 col-md-8 d-md-flex flex-column justify-content-center">
            <h3 class="h2">Private cloud</h3>
            <p class="lead">Have your own private cloud setup that you want to use? We got ya covered. </p>
          </div>
        </div>
        <div class="row d-none d-md-block">
          <div class="w-67 m-auto">
            <img class="w-100" src="/assets/img/everywhere/right-line.svg">
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <img class="w-50 w-md-100 m-md-auto shadow" src="/assets/img/everywhere/cloud-services.svg">
          </div>
          <div class="col-12 col-md-8 d-md-flex flex-column justify-content-center">
            <h3 class="h2">Cloud services</h3>
            <p class="lead">Want to use a cloud service like AWS or Google? We're fine with that, too. </p>
          </div>
        </div>
        <div class="row d-none d-md-block">
          <div class="w-67 m-auto">
            <img class="w-100" src="/assets/img/everywhere/left-line.svg">
          </div>
        </div>

        <div class="row d-flex flex-row-reverse">
          <div class="col-12 col-md-4">
            <img class="w-50 w-md-100 m-md-auto shadow" src="/assets/img/everywhere/geo-specific.svg">
          </div>
          <div class="col-12 col-md-8 d-md-flex flex-column justify-content-center">
            <h3 class="h2">Geo-specific</h3>
            <p class="lead">How about a geo-specific server that stores your data within a specific country's borders? Fine with us. </p>
          </div>
        </div>
        <div class="row d-none d-md-block">
          <div class="w-67 m-auto">
            <img class="w-100" src="/assets/img/everywhere/right-line.svg">
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <img class="w-50 w-md-100 m-md-auto shadow" src="/assets/img/everywhere/limited-connectivity.svg">
          </div>
          <div class="col-12 col-md-8 d-md-flex flex-column justify-content-center">
            <h3 class="h2">Limited connectivity</h3>
            <p class="lead">What if you need authentication for internal applications that have limited, restricted or no Internet access? No worries. We do that, too.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="bg-light2">
  {% include macros/everywhere.html %}
</div>

<section class="pt-6 pb-6">
  <div class="container text-center">
    <h2 class="fs-275 mb-5">Every Application</h2>
    <div class="row d-flex flex-row justify-content-center flex-nowrap pl-4 pr-4">
      <div class="flex-shrink-1"><img class="mw-100" src="/assets/img/everywhere/social.svg"></div>
      <div class="flex-shrink-1"><img class="mw-100" src="/assets/img/everywhere/ecommerce.svg"></div>
      <div class="flex-shrink-1"><img class="mw-100" src="/assets/img/everywhere/iot.svg"></div>
      <div class="flex-shrink-1"><img class="mw-100" src="/assets/img/everywhere/ecommerce-laptop.svg"></div>
      <div class="flex-shrink-1"><img class="mw-100" src="/assets/img/everywhere/web.svg"></div>
    </div>
    <p class="mt-4 lead">Customer login, loyalty programs, partner programs, educational orgs, eCommerce, IoT -- everywhere.</p>
  </div>
</section>

<section class="bg-secondary pt-6 pb-6">
  <div class="container text-center text-white">
    <h2 class="fs-275 mb-5 text-white">Every Device</h2>
    <div class="row d-flex flex-row justify-content-center flex-nowrap pl-4 pr-4">
      <div class="flex-shrink-1"><img class="mw-100" src="/assets/img/everywhere/browser.svg"></div>
      <div class="flex-shrink-1"><img class="mw-100" src="/assets/img/everywhere/mobile.svg"></div>
      <div class="flex-shrink-1"><img class="mw-100" src="/assets/img/everywhere/web-desktop.svg"></div>
      <div class="flex-shrink-1"><img class="mw-100" src="/assets/img/everywhere/console.svg"></div>
      <div class="flex-shrink-1"><img class="mw-100" src="/assets/img/everywhere/cloud.svg"></div>
    </div>
    <p class="mt-4 lead">Web, mobile, desktop, consoles, IoT devices–everywhere. </p>
  </div>
</section>

{% include macros/download.html dark=false %}