---
layout: default
title: Authentication and Authorization built for devs
description: FusionAuth is a scalable, identity and user management platform built for devs. Run it on any computer anywhere in the world.
image: fusionauth-share-image.png
header_dark: true
---

<section class="jumbotron jumbotron-fluid bg-secondary text-white pb-4 pt-5">
  <div class="container-fluid hero">
    <div class="align-items-center row text-center">
      <div class="col-12 col-lg-6">
        <img class="w-100 w-md-75 shadow" src="/assets/img/fusionauth-homepage-hero.svg">
      </div>
      <div class="col-12 col-md-6 p-md-3 text-md-left">
        <h1 class="fs-350 text-white">Auth for every&nbsp;app</h1>
        <p class="lead lh-4 pt-3 pb-3">FusionAuth provides authentication, authorization, and user management for any app: deploy anywhere, integrate with anything, in minutes.</p>
        <p class="lead lh-4 text-light">We got this. Go build something awesome.</p>
        <a href="/pricing" class="btn btn-primary btn-lg mt-4 mb-6">Get started</a>
      </div>
    </div>
  </div>
</section>

<section class="pb-6 pt-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12 col-md-4 d-md-flex flex-md-column mb-6 mb-md-0">
        <div class="embed-responsive embed-responsive-1by1 w-50 m-auto">
          <img class="embed-responsive-item" src="/assets/img/built-for-devs.svg">
        </div>
        <h2 class="mt-4 mb-3">Built for &lt;devs&gt;</h2>
        <p class="lh-3 pl-3 pr-3">We built FusionAuth from the ground up to easily integrate with any app, language, and framework. Every feature (yes, every single one) is exposed as an API giving you complete flexibility to handle any use case.</p>
        <p><a href="/docs" class="mt-auto">Detailed Documentation <i class="far fa-arrow-right small"></i></a></p>
      </div>
      <div class="col-sm-12 col-md-4 d-md-flex flex-md-column mb-6 mb-md-0">
        <div class="embed-responsive embed-responsive-1by1 w-50 m-auto">
          <img class="embed-responsive-item" src="/assets/img/identity-solution.svg">
        </div>
        <h2 class="mt-4 mb-3">Complete identity solution</h2>
        <p class="lh-3 pl-3 pr-3">You get every feature and acronym you need: registration & login, passwordless, SSO, MFA, SAML, OIDC, OAuth, JWT, social login and more. Comply with GDPR, HIPAA, COPPA, and PCI requirements in seconds.</p>
        <p><a href="/features" class="mt-auto">Massive Feature List <i class="far fa-arrow-right small"></i></a></p>
      </div>
      <div class="col-sm-12 col-md-4 d-md-flex flex-md-column">
        <div class="embed-responsive embed-responsive-1by1 w-50 m-auto">
          <img class="embed-responsive-item" src="/assets/img/works-everywhere.svg">
        </div>
        <h2 class="mt-4 mb-3">Works everywhere</h2>
        <p class="lh-3 pl-3 pr-3">FusionAuth installs on any platform, any computer, anywhere. Host it yourself or use FusionAuth Cloud, our fully managed SaaS hosting service.</p>
        <p><a href="/everywhere" class="mt-auto">Seriously, Everywhere <i class="far fa-arrow-right small"></i></a></p>
      </div>
    </div>
  </div>
</section>

<section class="pb-5 pt-5 bg-light2">
  <div class="container text-center text-md-left">
    <h2 class="fs-275 pt-5 pb-6 text-center">Upgrade Your Auth</h2>
    <div class="row mb-3 d-md-flex flex-row-reverse">
      <div class="col-md-6 col-sm-12 pl-md-5">
        <div class="embed-responsive embed-responsive-1by1 w-50 m-auto m-md-0">
          <img class="embed-responsive-item" src="/assets/img/upgrade/upgrade-from-saas-solution.svg">
        </div>
      </div>
      <div class="col-md-6 col-sm-12 pt-5 pr-md-5">
        <h3>Better Than Saas Solutions</h3>
        <p class="lh-3">FusionAuth gives you all the features of SaaS platforms plus true data isolation, the ability to deploy anywhere, transparent & scale-friendly pricing, and awesome-sauce support.</p>
        <p><a href="/upgrade/from-saas">Compare FusionAuth to Saas Solutions <i class="far fa-arrow-right small"></i></a></p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12 pr-md-5 pl-md-5">
        <div class="embed-responsive embed-responsive-1by1 w-50 m-auto m-md-0 float-md-right">
          <img class="embed-responsive-item" src="/assets/img/upgrade/upgrade-from-home-grown.svg">
        </div>
      </div>
      <div class="col-md-6 col-sm-12 pt-5 pl-md-5">
        <h3>More Secure Than Home Grown</h3>
        <p class="lh-3">Secure identity is <a href="/challenges-of-ciam">massively complex</a>. A talented dev COULD do it all, but it takes months to build, test, and maintain. Use our one-minute install and spend your resources on something that makes you money.</p>
        <p><a href="/upgrade/from-homegrown">Compare FusionAuth to Home Grown Solutions <i class="far fa-arrow-right small"></i></a></p>
      </div>
    </div>
    <div class="row mb-3 d-md-flex flex-row-reverse">
      <div class="col-md-6 col-sm-12 pl-md-5">
        <div class="embed-responsive embed-responsive-1by1 w-50 m-auto m-md-0">
          <img class="embed-responsive-item" src="/assets/img/upgrade/upgrade-from-open-source.svg">
        </div>
      </div>
      <div class="col-md-6 col-sm-12 pt-5 pr-md-5">
        <h3>Simpler Than Open-Source Identity</h3>
        <p class="lh-3">With FusionAuth you get every feature with one easy install–no additional modules or configuration scripts to muck with. Plus, FusionAuth is built on modern technology, simple to deploy, and scalable to hundreds of millions of users. Just download, deploy, and integrate with our RESTful APIs. Simple.</p>
        <p><a href="/upgrade/from-open-source">Compare FusionAuth to Open-Source Identity <i class="far fa-arrow-right small"></i></a></p>
      </div>
    </div>
    <div class="pt-5 pb-5 text-center">Or just <a href="/download">Download FusionAuth</a> and get started - no plans, registration, or credit card required.
    </div>
  </div>
</section>

{% include macros/everywhere.html %}

<section class="pt-6 pb-6 bg-light2">
  <div class="container">

    {% include macros/customers.html includeAll=false %}

    <div class="row mt-5">
      <a class="text-uppercase btn btn-primary btn-lg m-auto" href="/customers-partners">Customers & Partners</a>
    </div>
  </div>
</section>

<section class="pb-6 pt-6 bg-secondary p-5">
  <div class="container text-center">
    <h2 class="fs-275 mb-5 text-white">Download FusionAuth Now</h2>
    <h3 class="mb-4 text-white">Use our Fast Path install and start building something awesome.</h3>
    <h4 class="mb-4 text-light">We got this. Go build the cool stuff.</h4>
    <p><a class="btn btn-primary btn-lg" href="/download">Get started for free</a></p>
    <p class="m-4"><img src="/assets/img/fusionauth-logo-white-orange.svg" alt="FusionAuth Logo" style="max-width: 250px"></p>
  </div>
</section>

<section class="pb-6 pt-6">
  <div class="container">
    <h2 class="fs-275 mb-3 text-center">Papers, Guides & Resources</h2>
    <p class="fs-125 mb-5 text-center">Auth is complex. We share everything we know.</p>

    {% include macros/resources.html %}

  </div>
</section>
