---
layout: hero
title: Pricing for Every Budget
description: Our flexible pricing options allow companies of any size to have secure authentication, authorization and user management that fits their budget.
---

<section class="purple main hero pricing">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <p class="preface">PRICING</p>
        <h1>FusionAuth Editions</h1>
        <p>
          Whether you choose self-hosting or FusionAuth Cloud, a paid FusionAuth edition gives you access to support and additional features.
        </p>
        <p>
          Hosting (FusionAuth Cloud) is not included with Premium or Enterprise Edition. You must purchase FusionAuth Cloud if you need managed hosting.
        </p>
      </div>
<!--      <div class="col-xs-12 col-lg-6">-->
<!--        <div class="white card">-->
<!--          <h2>Community Edition</h2>-->
<!--          <div class="cost">-->
<!--            <span class="amount">FREE</span>-->
<!--          </div>-->
<!--          <p>-->
<!--            Community edition is always free and gives all our core features and community support.-->
<!--          </p>-->
<!--          <a href="/community" class="purple brochure button">JOIN THE COMMUNITY</a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="row pricing-cards">
      <div class="col-xs-12 col-md-6 col-xl-3 white even card">
        <h2>Community</h2>
        <div class="cost">
          <span class="starting-at">&nbsp;</span>
          <span class="amount">FREE</span>
          <span class="starting-at">&nbsp;</span>
          <span class="slider">
            <input type="range" name="communityMonthlyActiveUserCount" class="green" min="10000" max="250000" step="10000" value="0" id="community-monthly-active-users" style="margin-bottom: 15px;">
            <label for="community-monthly-active-users">10,000</label> monthly active users
          </span>
        </div>
        <h3>Core Features</h3>
        <ul class="fa-ul green">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Login, registration, authorization</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> MFA, SSO, SAML, OAuth, OIDC</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Themed login & registration pages</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Unlimited users & API requests</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Much more</li>
        </ul>
        <h3>Support</h3>
        <ul class="fa-ul green">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Active community of developers</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Stack Overflow</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Github issues and feature requests</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Forums</li>
        </ul>
        <a href="/community" class="green brochure button">ALWAYS FREE</a>
      </div>
      <div class="col-xs-12 col-md-6 col-xl-3 white even card">
        <h2>Developer</h2>
        <div class="cost">
          <span class="starting-at">&nbsp;</span>
          <span class="amount">$125</span><span class="interval">/month</span>
          <span class="starting-at">&nbsp;</span>
          <span class="slider">
            <input type="range" name="developerMonthlyActiveUserCount" class="purple" min="10000" max="250000" step="10000" value="0" id="developer-monthly-active-users" style="margin-bottom: 15px;">
            <label for="developer-monthly-active-users">10,000</label> monthly active users
          </span>
        </div>
        <h3>Extra Features</h3>
        <ul class="fa-ul purple">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Breached password detection</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> LDAP integration</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Advanced registration forms</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Enhanced threat detection (coming soon)</li>
        </ul>
        <h3>Support</h3>
        <ul class="fa-ul purple">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Community support only</li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/start-purchase?license.plan=DEVELOPER" class="purple brochure button" rel="nofollow">BUY NOW</a>
      </div>
      <div class="col-xs-12 col-md-6 col-xl-3 white even card">
        <h2>Premium</h2>
        <div class="cost">
          <span class="starting-at">Starting at</span>
          <span class="amount">$500</span><span class="interval">/month</span>
          <span class="starting-at">&nbsp;</span>
          <span class="slider">
            <input type="range" name="premiumMonthlyActiveUserCount" class="blue" min="10000" max="250000" step="10000" value="0" id="premium-monthly-active-users" style="margin-bottom: 15px;">
            <label for="premium-monthly-active-users">10,000</label> monthly active users
          </span>
        </div>
        <h3>Extra Features</h3>
        <ul class="fa-ul blue">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Breached password detection</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> LDAP integration</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Advanced registration forms</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Early access to security fixes</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Enhanced threat detection (coming soon)</li>
        </ul>
        <h3>Support</h3>
        <ul class="fa-ul blue">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Community support, plus...</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> 9am - 5pm M-F (Mountain time)
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fal fa-check fa-fw"></i></span> Email</li>
              <li><span class="fa-li"><i class="fal fa-check fa-fw"></i></span> Response within 1 business day</li>
            </ul>
          </li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/start-purchase?license.plan=PREMIUM" class="blue brochure button" rel="nofollow">BUY NOW</a>
      </div>
      <div class="col-xs-12 col-md-6 col-xl-3 white even card">
        <h2>Enterprise</h2>
        <div class="cost">
          <span class="starting-at">Starting at</span>
          <span class="amount">$2,500</span><span class="interval">/month</span>
          <span class="starting-at">&nbsp;</span>
          <span class="slider">
            <input type="range" name="enterpriseMonthlyActiveUserCount" class="orange" min="10000" max="250000" step="10000" value="0" id="enterprise-monthly-active-users" style="margin-bottom: 15px;">
            <label for="enterprise-monthly-active-users">10,000</label> monthly active users
          </span>
        </div>
        <h3>Extra Features</h3>
        <ul class="fa-ul orange">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Breached password detection</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> LDAP integration</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Advanced registration forms</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Early access to security fixes</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Enhanced threat detection (coming soon)</li>
        </ul>
        <h3>Support</h3>
        <ul class="fa-ul orange">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Community support, plus...</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> 24 x 7 x 365
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fal fa-check fa-fw"></i></span> Email</li>
              <li><span class="fa-li"><i class="fal fa-check fa-fw"></i></span> Private Slack channel</li>
              <li><span class="fa-li"><i class="fal fa-check fa-fw"></i></span> Engineering phone support</li>
              <li><span class="fa-li"><i class="fal fa-check fa-fw"></i></span> Under 2 hour response time</li>
            </ul>
          </li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/start-purchase?license.plan=ENTERPRISE" class="orange brochure button" rel="nofollow">BUY NOW</a>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/pricing-editions.svg" alt="Pricing for Editions">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card collapsible feature-details">
          <header>
            <div> <!-- Dumb flexbox -->
              <h2>Full Feature Breakdown</h2>
              <p>Compare the features & benefits of each of the FusionAuth Editions.</p>
            </div>
            <a href="#" class="collapse-button"><i class="fas fa-chevron-circle-up fa-3x"></i></a>
          </header>
          <div class="collapsible-content">
            <table class="edition">
              <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Community</th>
                <th>Developer</th>
                <th>Premium</th>
                <th>Enterprise</th>
              </tr>
              </thead>
              <tbody>
              <tr class="category">
                <td colspan="5">Core Features</td>
              </tr>
              {% include _feature-all.liquid feature="Users" %}
              {% include _feature-all.liquid feature="Groups" %}
              {% include _feature-all.liquid feature="Tenants" %}
              {% include _feature-all.liquid feature="Custom user data" %}
              {% include _feature-all.liquid feature="JWTs" %}
              {% include _feature-all.liquid feature="Refresh tokens" %}
              {% include _feature-all.liquid feature="Lambdas" %}
              {% include _feature-all.liquid feature="Configurable CORS" %}
              {% include _feature-all.liquid feature="Full API access" %}
              <tr class="category">
                <td colspan="5">Standards</td>
              </tr>
              {% include _feature-all.liquid feature="OAuth 2.0" %}
              {% include _feature-all.liquid feature="OpenID Connect" %}
              {% include _feature-all.liquid feature="SAML v2" %}
              <tr class="category">
                <td colspan="5">Authentication</td>
              </tr>
              {% include _feature-all.liquid feature="Login" %}
              {% include _feature-all.liquid feature="Registration" %}
              {% include _feature-all.liquid feature="Single sign-on" %}
              {% include _feature-all.liquid feature="MFA (SMS or app)" %}
              {% include _feature-all.liquid feature="Account provisioning" %}
              {% include _feature-all.liquid feature="Email verification" %}
              {% include _feature-all.liquid feature="Forgot password" %}
              {% include _feature-all.liquid feature="Account locking" %}
              {% include _feature-all.liquid feature="Brute-force detection" %}
              {% include _feature-all.liquid feature="Long-lived sessions" %}
              {% include _feature-all.liquid feature="Social login" %}
              {% include _feature-all.liquid feature="Federated (3rd party) login" %}
              <tr class="category">
                <td colspan="5">Passwords</td>
              </tr>
              {% include _feature-all.liquid feature="Password rules" %}
              {% include _feature-all.liquid feature="Password hashing" %}
              {% include _feature-all.liquid feature="Custom password hashing" %}
              <tr class="category">
                <td colspan="5">Authorization & Consent</td>
              </tr>
              {% include _feature-all.liquid feature="Role-based access control" %}
              {% include _feature-all.liquid feature="Family support (including divorces)" %}
              {% include _feature-all.liquid feature="COPPA compliant" %}
              {% include _feature-all.liquid feature="Consent management" %}
              <tr class="category">
                <td colspan="5">Email</td>
              </tr>
              {% include _feature-all.liquid feature="Email templates" %}
              {% include _feature-all.liquid feature="Email localization" %}
              {% include _feature-all.liquid feature="Customizable SMTP server" %}
              {% include _feature-all.liquid feature="Tenant Scoped SMTP server" %}
              <tr class="category">
                <td colspan="5">Management & UI</td>
              </tr>
              {% include _feature-all.liquid feature="User management UI" %}
              {% include _feature-all.liquid feature="Key management" %}
              {% include _feature-all.liquid feature="Full-text search" %}
              {% include _feature-all.liquid feature="Full theme support" %}
              {% include _feature-all.liquid feature="Localizable UI and errors" %}
              {% include _feature-all.liquid feature="Full audit log" %}
              <tr class="category">
                <td colspan="5">Reports</td>
              </tr>
              {% include _feature-all.liquid feature="Registration report" %}
              {% include _feature-all.liquid feature="Login report" %}
              {% include _feature-all.liquid feature="Daily active users" %}
              {% include _feature-all.liquid feature="Monthly active users" %}
              <tr class="category">
                <td colspan="5">Integration</td>
              </tr>
              {% include _feature-all.liquid feature="Webhooks" %}
              {% include _feature-all.liquid feature="Custom Webhook events" %}
              {% include _feature-all.liquid feature="Kafka integration for events" %}
              {% include _feature-all.liquid feature="Username profanity filtering" %}
              <tr class="category">
                <td colspan="5">Premium Features</td>
              </tr>
              {% include _feature-paid.liquid feature="Breached password detection" %}
              {% include _feature-paid.liquid feature="Advanced registration forms" %}
              {% include _feature-paid.liquid feature="LDAP integration" %}
              {% include _feature-support.liquid feature="Early access to security fixes" %}
              {% include _feature-support.liquid feature="Architecture review" %}
              {% include _feature-support.liquid feature="Deployment review" %}
              {% include _feature-support.liquid feature="Integration assistance" %}
              {% include _feature-support.liquid feature="Data migration assistance" %}
              {% include _feature-support.liquid feature="Email support" %}
              {% include _feature-enterprise.liquid feature="Phone support" %}
              {% include _feature-enterprise.liquid feature="Private Slack channel" %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blue hero pricing hosting">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>FusionAuth Cloud</h1>
        <p>
          Let FusionAuth host, monitor, manage and maintain your deployment in your own private cloud.
        </p>
        <p>
          Support and paid features are not included with FusionAuth Cloud. You must also purchase an Edition for support and premium features.
        </p>
      </div>
    </div>
    <div class="row pricing-cards">
      <div class="col-xs-12 col-md-6 col-lg-4 white even card">
        <h2>Basic Hosting</h2>
        <div class="cost">
          <span class="starting-at">Starting at</span>
          <span class="amount">$75</span><span class="interval">/month</span>
          <span class="starting-at">(billed hourly)</span>
        </div>
        <h3>Features</h3>
        <ul class="fa-ul purple">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Pick your region: US, Canada, South America, Europe, Asia, Australia</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Fault-tolerant disks</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Up and running in minutes</li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/build-deployment?deployment.architecture=SINGLE&deployment.size=medium&deployment.region=US_EAST_1" class="purple brochure button" rel="nofollow">BUY NOW</a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 white even card">
        <h2>Business</h2>
        <div class="cost">
          <span class="starting-at">Starting at</span>
          <span class="amount">$225</span><span class="interval">/month</span>
          <span class="starting-at">(billed hourly)</span>
        </div>
        <h3>Features</h3>
        <ul class="fa-ul blue">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> All the Basic features plus &hellip;</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> 3 nightly backups</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Full database replication available</li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/build-deployment?deployment.architecture=SINGLE_RDS&deployment.size=medium&deployment.region=US_EAST_1" class="blue brochure button" rel="nofollow">BUY NOW</a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 white even card">
        <h2>High-Availability</h2>
        <div class="cost">
          <span class="starting-at">Starting at</span>
          <span class="amount">$350</span><span class="interval">/month</span>
          <span class="starting-at">(billed hourly)</span>
        </div>
        <h3>Extra Features</h3>
        <ul class="fa-ul orange">
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> All the Business features plus &hellip;</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Redundant servers</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Load-balanced</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> Custom URLs available (i.e. login.mycompany.com)</li>
          <li><span class="fa-li"><i class="fas fa-check-circle fa-fw"></i></span> SLA available (up to 99.99%)</li>
        </ul>
        <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/build-deployment?deployment.architecture=HA&deployment.size=medium&deployment.region=US_EAST_1" class="orange brochure button" rel="nofollow">BUY NOW</a>
      </div>
    </div>
  </div>
  <div class="hero-image less-top right">
    <img src="/assets/img/heroes/pricing-hosting.svg" alt="Hosting">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card collapsible feature-details">
          <header>
            <div> <!-- Dumb flexbox -->
              <h2>Full Feature Breakdown</h2>
              <p>Compare the features & benefits of each of the FusionAuth Editions.</p>
            </div>
            <a href="#" class="collapse-button"><i class="fas fa-chevron-circle-up fa-3x"></i></a>
          </header>
          <div class="collapsible-content">
            <table class="hosting">
              <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Basic</th>
                <th>Business</th>
                <th>High-Availability</th>
              </tr>
              </thead>
              <tbody>
              <tr class="category">
                <td colspan="4">Features</td>
              </tr>
              {% include _hosting-all.liquid feature="HTTPS (TLS 1.2)" %}
              {% include _hosting-all.liquid feature="Pick your region" %}
              {% include _hosting-all.liquid feature="Fault-tolerant disks (RAID 10)" %}
              {% include _hosting-all.liquid feature="Maintenance" %}
              {% include _hosting-all.liquid feature="Monitoring" %}
              {% include _hosting-all.liquid feature="Updates and upgrades" %}
              {% include _hosting-paid.liquid feature="3 nightly database backups" %}
              {% include _hosting-paid.liquid feature="Full database replication available" %}
              {% include _hosting-enterprise.liquid feature="Redundant servers" %}
              {% include _hosting-enterprise.liquid feature="Custom domains (i.e. login.mycompany.com)" %}
              {% include _hosting-enterprise.liquid feature="SLA available (up to 99.99%)" %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gray hero">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-md-10 col-lg-8 centered">
        <h1>Use FusionAuth for Free</h1>
        <strong>Seriously &hellip; No tricks or gimmicks!</strong>
        <p>
          Download FusionAuth -- a feature-rich version with everything you need to get started -- deploy it on your servers or private cloud, and you can use it for free for as long as you need. No time limits or no user limits. Use it for local testing, proof-of-concepts, in-house development, MVP startups, or full production. No problem.
        </p>
      </div>
    </div>
    <div class="row center">
      <div class="col-xs-12 col-md-10 col-lg-8 centered">
        <a href="/download" class="orange brochure button">DOWNLOAD FOR FREE</a>
      </div>
    </div>
    <div class="row center">
      <div class="col-xs-12 col-md-10 col-lg-8 centered">
        <p>
          Join our <a href="/community" class="orange-text"><strong>active developer community</strong></a> if you have questions.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="orange hero">
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>Professional Services</h1>
        <p>
          Need something custom? Complex migration help? A unique feature no one else offers? Let's talk about it. We love a challenge.
        </p>
        <p>
          <a href="/contact" class="orange brochure button">CONTACT US</a>
        </p>
      </div>
    </div>
  </div>
  <div class="hero-image bottom right">
    <img src="/assets/img/heroes/callout.svg" alt="Professional Services" class="callout">
  </div>
</section>
