---
layout: hero
title: Security
description: Information about FusionAuth's security practices and how to contact us or report security bugs found in FusionAuth.
---
<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <p class="preface">SECURITY</p>
        <h1>We Take Security Seriously</h1>
        <p>
          This page provides information about our security practices and contacting our team if you have questions or security reports.
        </p>
      </div>
    </div>
  </div>
  <div class="hero-image top right">
    <img src="/assets/img/heroes/q-a.svg" alt="Questions and answers" class="callout">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="brochure feature-card">
          <h2><img src="/assets/img/icons/audit-logging.svg" alt="Bug Bounty">&nbsp;&nbsp;Bug Bounty</h2>
          <p>
            We welcome anyone that believes they have found a security issue in our websites, web applications, or the FusionAuth product itself, to submit them to us.
          </p>
          <p>
            We regularly pay bug bounties for valid and verifiable submissions. Please follow these rules if you wish to submit a security report:
          </p>
          <ul>
            <li>Email a complete description of the issue to <a href="mailto:security@fusionauth.io">security@fusionauth.io</a></li>
            <li>Include a working example or documentation of a working example (screenshots, scripts, code, etc)</li>
            <li>Do not include a ransom or any suggested bounty amount. These are ignored and sometime peeve off the person reviewing the report.</li>
            <li>Do not demand pre-payment.</li>
            <li>Do not include a timeline.</li>
            <li>Do not demand updates. We will always reply to valid submissions in a timely manner.</li>
            <li>We require a minimum of 1-2 weeks to review the report and make a determination.</li>
            <li>We require a minimum of 1-2 weeks to make any bug bounty payments.</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="brochure feature-card">
          <h2><img src="/assets/img/icons/business-social-logins.svg" alt="Audits">&nbsp;&nbsp;Audits, Background Checks & Training</h2>
          <p>
            We perform regular security audits at every level of our organization from employees to our servers. We also review all changes to our source code for security issues.
          </p>
          <p>
            We run complete background checks on all employees and contractors. This process is repeated each year.
          </p>
          <p>
            All of our employees and contractors go through security training each year. We currently use ESET's security awareness training as part of this process.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="brochure feature-card">
          <h2><img src="/assets/img/icons/soc2-in-the-works.svg" alt="SOC 2">&nbsp;&nbsp;SOC 2 Type 2</h2>
          <p>
            We are in the process of obtaining our SOC 2 Type 2 compliance. This process takes time, but we are happy to share our Gap Analysis and a certification from the CPA firm that is running our audit to paying customers with a signed NDA in place.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="brochure feature-card">
          <h2><img src="/assets/img/icons/identity-access-management.svg" alt="HIPAA BAA">&nbsp;&nbsp;HIPAA BAA</h2>
          <p>
            We are happy to sign BAA for companies that wish to leverage FusionAuth Cloud and need to comply with healthcare industry regulations.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="brochure feature-card">
          <h2><img src="/assets/img/icons/gdpr-hipaa-coppa-more.svg" alt="GDPR">&nbsp;&nbsp;GDPR</h2>
          <p>
            FusionAuth can be deployed on any server, anywhere in the world. This makes it simple for companies to ensure FusionAuth complies with GDPR.
          </p>
          <p>
            FusionAuth Cloud also allows companies to select the location for their FusionAuth Cloud deployment. This makes data localization simple.
          </p>
          <p>
            We are also happy to sign a Data Processing Addendum with paying customers.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
