<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div id="page-container">
        <div id="page-header">
            <div id="logo-header">
                <img src="https://fusionauth.io/cdn/samplethemes/changebank/changebank.svg"/>
                <div class="h-row">
                    <p class="header-email" th:text="${profile.email}"></p>
                    <a class="button-lg" href="/logout">Logout</a>
                </div>
            </div>

            <div id="menu-bar" class="menu-bar">
                <a class="menu-link inactive" href="/make-change">Make Change</a>
                <a class="menu-link" href="/account">Account</a>
            </div>
        </div>

        <div style="flex: 1;">
            <div class="column-container">
                <div class="app-container">
                    <h3>Your balance</h3>
                    <div class="balance">$0.00</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
