<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>FusionAuth OpenID and PKCE example</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div id="page-container">
        <div id="page-header">
            <div id="logo-header">
                <img th:src="@{/images/example_bank_logo.svg}"/>
                <div class="h-row">
                    <p class="header-email" th:text="${profile.email}"></p>
                    <a class="button-lg" href="/logout">Logout</a>
                </div>
            </div>

            <div id="menu-bar" class="menu-bar">
                <a class="menu-link" href="/make-change">Make Change</a>
                <a class="menu-link inactive" href="/account">Account</a>
            </div>
        </div>

        <div style="flex: 1;">
            <div class="column-container">
                <div class="app-container change-container">
                    <h3>We Make Change</h3>

                    <div th:if="${change.error != null}" class="error-message" th:text="${change.error}"></div>
                    <div th:unless="${change.error != null}" class="change-message" th:text="${change.message}">
                    </div>

                    <form method="post" action="#" th:action="@{/make-change}" th:object="${change}">
                        <div class="h-row">
                            <div class="change-label">Amount in USD: $</div>
                            <input class="change-input" name="amount" value="0.00" th:field="*{total}"/>
                            <input class="change-submit" type="submit" value="Make Change"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>