---
/**
  * Using parenthesis due to @link https://github.com/withastro/compiler/issues/749
  */
type InnerProps = ({
  /**
   * Technology used to build the application.
   */
  technology: string;
  /**
   * Indicate that this intro is for API quickstarts.
   * @default false
   */
  api?: boolean;
} | {
  /**
   * If the default "you are going to build an application with <technology"> text doesn't apply, you can pass the
   * entire text here.
   */
  fulltext: string;
});

export type Props = (InnerProps & {
  /**
   * URL for the source code location
   */
  repositoryUrl: string;
});

const { technology, fulltext, repositoryUrl, api = false } = Astro.props as Props;
---
{(api) ? (
    <p>
        In this quickstart, you are going to learn how to integrate a {technology} resource server with FusionAuth.
        You will protect an API resource from unauthorized usage.
        You’ll be building it for <a href="https://www.youtube.com/watch?v=CXDxNCzUspM">ChangeBank</a>, a global leader in converting dollars into coins.
        <slot/>
    </p>
) : (
    <p>
        In this quickstart, you are going to build {fulltext || `an application with ${technology}`} and integrate it with FusionAuth.
        You’ll be building it for <a href="https://www.youtube.com/watch?v=CXDxNCzUspM">ChangeBank</a>, a global leader in converting dollars into coins.
        It’ll have areas reserved for users who have logged in as well as public facing sections.
        <slot/>
    </p>
)}
<p>
    The Docker Compose file and source code for a complete application are available at <a href={repositoryUrl}>{repositoryUrl}</a>.
</p>
