---
import LoginAfterSdk from 'src/diagrams/quickstarts/login-after-sdk.astro';
import LoginBefore from 'src/diagrams/quickstarts/login-before.astro';
---
<details><summary>Architecture</summary>

<p>While this sample application doesn't have login functionality without FusionAuth, a more typical integration will replace an existing login system with FusionAuth.</p>
<p>In that case, the system might look like this before FusionAuth is introduced.</p>

<LoginBefore/>

<p>The login flow will look like this after FusionAuth is introduced.</p>

<LoginAfterSdk/>

<p>In general, you are introducing FusionAuth in order to normalize and consolidate user data. This helps make sure it is consistent and up-to-date as well as offloading your login security and functionality to FusionAuth.</p>
</details>