---
import Diagram from 'src/diagrams/quickstarts/resource-server.astro';
---
<p>A client wants access to an API resource at <code>/resource</code>. However, it is denied this resource until it acquires an access token from FusionAuth.</p>

<Diagram />

<p>While the access token is acquired via the Login API above, this is for simplicity of illustration. The token can be, and typically is, acquired through one of the <a href="/docs/lifecycle/authenticate-users/oauth/">OAuth grants</a>.</p>
