<p>This quickstart is a great way to get a proof of concept up and running quickly, but to run your API in production, there are some things you're going to want to do.</p>

<h3>FusionAuth Integration</h3>

<ul>
    <li>Rather than call the Login API, you're probably going to want to use the <a href="/docs/lifecycle/authenticate-users/oauth/#example-authorization-code-grant">Authorization Code grant</a>, which keeps all sensitive credentials within the bounds of FusionAuth. You can customize the <a href="/docs/customize/look-and-feel/">hosted login pages</a>.</li>
    <li>You may want to generate a token using the <a href="/docs/lifecycle/authenticate-users/oauth/#example-client-credentials-grant">Client Credentials grant</a> if you are calling the API from another service.</li>
</ul>

<h3>Security</h3>

<ul>
    <li>Customize the <a href="/docs/lifecycle/authenticate-users/oauth/#configure-application-oauth-settings">token expiration times and policies</a> in FusionAuth</li>
    <li><a href="/articles/tokens/building-a-secure-jwt#consuming-a-jwt">Make sure you know how to securely consume a token</a></li>
    <li>Secure your API <a href="/docs/extend/examples/api-gateways/">using an API gateway</a> rather than at the framework layer.</li>
</ul>
