<p>This quickstart is a great way to get a proof of concept up and running quickly, but to run your application in production, there are some things you're going to want to do.</p>

<p>
Read the <a href="/docs/get-started">get started guide</a> to learn more about FusionAuth.
If you'd like to know exactly what features are available in the different editions of FusionAuth (most of which are free), check the <a href="https://fusionauth.io/pricing">pricing page</a>.
And if you have any other questions, please ask on the FusionAuth <a href="https://fusionauth.io/community/forum">forum</a>.
</p>

<h3>FusionAuth Customization</h3>

<p>FusionAuth gives you the ability to customize just about everything to do with the user's experience and the integration of your application. This includes:</p>

<ul>
    <li><a href="/docs/customize/look-and-feel/">Hosted pages</a> such as login, registration, email verification, and many more.</li>
    <li><a href="/docs/customize/email-and-messages/email-templates">Email templates</a>.</li>
    <li><a href="/articles/tokens/jwt-components-explained">User data and custom claims in access token JWTs</a>.</li>
</ul>

<h3>Security</h3>

<ul>
    <slot name="security"/>
    <li>You may want to customize the <a href="/docs/lifecycle/authenticate-users/oauth/">token expiration times and policies</a> in FusionAuth.</li>
    <li>Choose <a href="/docs/get-started/core-concepts/tenants#password">password rules</a> and a <a href="/docs/reference/password-hashes">hashing algorithm</a> that meet your security needs.</li>
</ul>

<h3>Tenant and Application Management</h3>

<ul>
    <li>Model your application topology using <a href="/docs/get-started/core-concepts/applications">Applications</a>, <a href="/docs/get-started/core-concepts/roles">Roles</a>, <a href="/docs/get-started/core-concepts/groups">Groups</a>, <a href="/docs/get-started/core-concepts/groups">Entities</a>, and more.</li>
    <li>Set up <a href="/docs/lifecycle/authenticate-users/multi-factor-authentication">MFA</a>, <a href="/docs/lifecycle/authenticate-users/identity-providers/">Social login</a>, or <a href="/docs/lifecycle/authenticate-users/identity-providers/overview-samlv2">SAML</a> integrations.</li>
    <li>Integrate with external systems using <a href="/docs/extend/events-and-webhooks/">Webhooks</a>, <a href="/docs/lifecycle/migrate-users/scim/scim">SCIM</a>, and <a href="/docs/extend/code/lambdas/">Lambdas</a>.</li>
</ul>

