<style>
  td,tr {
    text-align: left;
    vertical-align: top;
    background-color: #f8fafc;
    font-family: Arial, Helvetica, sans-serif;
    white-space: normal;
    border: 0px;
    line-height: 1;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .offer-header {
    padding-top: 40px;
    padding-bottom: 0px;
    font-size: 45px;
    color:#334155;
    font-weight: 800;
  }

  .thank-you {
    font-size: 25px;
    color:#334155;
    font-weight: 400;
  }

  .disclaimer {
    font-size: 10;
    color:#334155;
    font-weight: 200;
  }

 .free {
  color: #15b8a6;
 }

 .auth {
  color: #f58320;
 }

 .ship-it-button {
  color: #FFFFFF;
  background: #f58320;
  padding: 15px 17px;
  margin: 0px 5px 40px 0px;
  font-weight: 700;
  border-radius: 4px;
 }

</style>

<table cellspacing="0px">
  <tr>
    <td class="offer-header">
       Made it this far? Get a <span class="free">free</span> t-shirt, on us!
    </td>
    <td rowspan="4">
      <img src="https://assets-global.website-files.com/617b1b1f42c1da41aeae3413/65d4e0aa4728e21e6d690fbb_61fc3971a32d0adbbe6ad44b_t-shirt.png" loading="lazy" width="560" sizes="(max-width: 479px) 94vw, (max-width: 991px) 41vw, (max-width: 1279px) 396px, 481.71875px" alt="fusionauth tshirt" srcset="https://assets-global.website-files.com/617b1b1f42c1da41aeae3413/65d4e0aa4728e21e6d690fbb_61fc3971a32d0adbbe6ad44b_t-shirt-p-500.png 500w, https://assets-global.website-files.com/617b1b1f42c1da41aeae3413/65d4e0aa4728e21e6d690fbb_61fc3971a32d0adbbe6ad44b_t-shirt-p-800.png 800w, https://assets-global.website-files.com/617b1b1f42c1da41aeae3413/65d4e0aa4728e21e6d690fbb_61fc3971a32d0adbbe6ad44b_t-shirt.png 918w" class="fusionauth-shirt-image">
    </td>
  </tr>
  <tr>
    <td class="thank-you">
      Thank you for spending some time getting familiar with Fusion<span class="auth">Auth.</span>
    </td>
  </tr>
  <tr>
    <td>
      <a href="/download" class="ship-it-button">Ship It!</a>
    </td>
  </tr>
  <tr>
    <td class="disclaimer">
      *Offer only valid in the United States and Canada, while supplies last.
    </td>
  </tr>
</table>