<section
  class="flex flex-wrap border rounded p-2 gap-2 md:p-8"
>
  <div class="flex flex-col gap-8 min-w-full xl:min-w-[520px] md:flex-1">
    <h2>
      Made it this far? Want a <span class="text-[#15b8a6]">free</span> t-shirt? We got ya.
    </h2>
    <p class="not-prose">
      Thank you for spending some time getting familiar with Fusion<span
        class="text-[#f58320]">Auth</span>.
    </p>
    <div class="flex">
      <a href="https://go.fusionauth.io/tshirt" class="not-prose">
        <button
          class="bg-orange-500 font-bold hover:bg-orange-600 px-3 py-2
        rounded text-white text-xl tracking-tighter transition-colors uppercase
        lg:font-extrabold"
          >Ship It!
        </button>
      </a>
    </div>
    <p class="text-md not-prose">
      *Offer only valid in the United States and Canada, while supplies last.
    </p>
  </div>

  <a
    href="https://go.fusionauth.io/tshirt"
    class="not-prose grow md:shrink-0 flex justify-center align-middle items-center"
  >
    <img
      src="https://assets-global.website-files.com/617b1b1f42c1da41aeae3413/65d4e0aa4728e21e6d690fbb_61fc3971a32d0adbbe6ad44b_t-shirt.png"
      loading="lazy"
      sizes="(max-width: 479px) 94vw, (max-width: 991px) 41vw, (max-width: 1279px) 396px, 481.71875px"
      alt="fusionauth tshirt"
      srcset="https://assets-global.website-files.com/617b1b1f42c1da41aeae3413/65d4e0aa4728e21e6d690fbb_61fc3971a32d0adbbe6ad44b_t-shirt-p-500.png 500w, https://assets-global.website-files.com/617b1b1f42c1da41aeae3413/65d4e0aa4728e21e6d690fbb_61fc3971a32d0adbbe6ad44b_t-shirt-p-800.png 800w, https://assets-global.website-files.com/617b1b1f42c1da41aeae3413/65d4e0aa4728e21e6d690fbb_61fc3971a32d0adbbe6ad44b_t-shirt.png 918w"
      class="h-full lg:h-64 w-full lg:w-64"
    />
  </a>
</section>
