---
const { description, footer, href, icon, title, comingSoon } = Astro.props;
---
<a href={href} class={
  "border border-solid block rounded-lg " +
  (comingSoon
    ? "border-slate-800 dark:border-slate-700"
    : "border-slate-200 dark:bg-slate-900 dark:border-slate-800 bg-white dark:hover:bg-slate-800 dark:hover:border-indigo-500 group hover:bg-slate-100 hover:border-indigo-500 ")
}>
    <div class="flex items-center items-start gap-x-6 px-5 py-3">
      {icon && <img class={"h-9" + (comingSoon ? "opacity-40": "")} src={icon} alt={title}>}
        <div>
            <h3 class={ "font-medium group-hover:text-indigo-500 sm:leading-tight text-sm 1xl:leading-tight " + (comingSoon ? "text-slate-400" : "" ) }>
                { comingSoon ? title + ' * Coming Soon' : title }
            </h3>
        </div>
    </div>
</a>