<section class="bg-secondary pt-6 pb-6">
  <div class="container text-center text-white">
    <h2 class="fs-275 text-white">FusionAuth is Auth Built for &lt;devs&gt;</h2>
    <p class="mt-4 text-white">FusionAuth gives devs complete flexibility with minimal implementation effort. Use our Fast Path install to get started in minutes.</p>
    <a href="/pricing" class="btn btn-primary btn-lg mt-4 mb-4">Get started</a>
    <h4 class="mb-4 text-light">We got this. Go build the cool stuff.</h4>
    <img src="/assets/img/fusionauth-logo-white-orange.svg" alt="FusionAuth Logo" class="m-auto mt-4 mb-4" style="max-width: 250px">
  </div>
</section>
