<div class="container">
  <div class="block-heading">
    <h2 id="roadmap">Community</h2>
    <p>We want you to participate in what we're building. Found a bug, need a feature, or just stuck? Reach out, participate and
      contribute. If you see a feature on GitHub give it a thumbs up to show your support, or open your own feature
      and tell us how we can make FusionAuth better.  Use the buttons below to get started.</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3 d-xl-flex flex-column" style="margin-top: 0.5rem;">
      <a class="btn btn-primary btn-block d-flex align-items-center" role="button" href="https://stackoverflow.com/questions/tagged/fusionauth" style="background-size: 75%;"><span class="d-xl-flex mx-auto">Ask questions</span><img class="ml-auto" src="/assets/img/community/so-icon.svg?h=b1c9fc9a0f9d2d3dc32d5eccd307c9b0"></a>
      <a class="btn btn-primary btn-block d-flex align-items-center" role="button" href="/write-for-fusionauth" style="background-size: 75%;"><span class="d-xl-flex mx-auto">Write Tutorials</span><img class="ml-auto" src="/assets/img/community/books.svg?h=6e9f4611b9ddaf31dad5e5dcf0b55f18"></a>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3 d-flex flex-column" style="margin-top: 0.5rem;">
      <a class="btn btn-primary btn-block d-flex align-items-center" role="button" href="https://github.com/FusionAuth/fusionauth-issues" style="background-size: 75%;"><span class="d-xl-flex mx-auto">Report bugs</span><img class="ml-auto" src="/assets/img/community/github-icon.png?h=7c2904790d25ccbd414b41cb61faa972"></a>
      <a class="btn btn-primary btn-block d-flex align-items-center" role="button" href="mailto:dev@fusionauth.io?subject=Please%20send%20me%20an%20invite%20to%20the%20Slack%20channel&amp;body=My%20email%20address%20is" style="background-size: 75%;"><span class="d-xl-flex mx-auto">Chat with users</span><img class="ml-auto" src="/assets/img/community/slack-icon.svg?h=f75c699cd77d55d820805c00bc020d56"></a>
    </div>
  </div>
</div>