<section class="bg-light2 text-center p-2 pt-6 pb-6">
  <div class="container">
    <h2 class="fs-200 mb-4">FusionAuth is complete auth for every app</h2>
    <p class="lh-2 mb-4">FusionAuth is a complete solution with no sacrifices. You get every feature from day one - no premium tiers, no enterprise-only features, no sales BS.</p>
    <p class="mb-5">We got this. Go build the cool stuff.</p>
    <p><a class="btn btn-lg btn-primary" href="/download">Get started for free</a></p>
    <p class="m-4"><img src="/assets/img/fusionauth-logo-grey-orange.svg" alt="FusionAuth Logo" style="max-width: 250px"></p>
  </div>
</section>
