<h2 class="fs-275 mb-5 text-center">Trusted Worldwide</h2>
<p class="fs-125 mb-5 text-center text-primary">Over 150,000 downloads on six continents</p>

<div class="row mt-5 mb-6 d-flex flex-wrap align-items-center justify-content-center">
  {% for customer in site.data.customers %}
    {% if include.includeAll or customer.featured %}
      <div class="mt-3 mr-5 mb-3 ml-5">
        <img class="customer-logo" src="/assets/img/customers/{{ customer.image }}" style="{% if customer.width %} width:{{customer.width}}{% endif %}{% if customer.height %} height:{{customer.height}}{% endif %}" alt="{{customer.alt}}">
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class="fusion-go-round">
  <div class="fusion-go-round-platform">
    {% for quote in site.data.quotes %}
    <div class="fusion-go-round-car wide">
      <div class="fusion-go-round-card wide shadow-sm p-3">
        <img class="quote-fluff" src="/assets/img/customers/quotes.svg">
        <blockquote class="text-dark">{{ quote.quote }}</blockquote>
        <div class="mt-auto text-secondary font-weight-bold"><img class="circle shadow mr-3" style="width: 42px;" src="/assets/img/{{ quote.image }}"><span>{{ quote.name }}{% if quote.company %}, {{ quote.company }}{% endif %}</span></div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="fusion-go-round-left" href="#" role="button" data-slide="prev">
    <i class="fal fa-long-arrow-left fa-2x"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="fusion-go-round-right" href="#" role="button" data-slide="next">
    <i class="fal fa-long-arrow-right fa-2x"></i>
    <span class="sr-only">Next</span>
  </a>
</div>
