<section class="pt-6 pb-6 {% if include.dark %}bg-secondary text-white{% else %}{{ include.bg }}{% endif %}">
  <div class="container text-center">
    <h2 class="fs-275 {% if include.dark %}text-white{% endif %}">Download Now and Get Started</h2>
    <p class="mt-4">Use our Fast Path install and start building something awesome.</p>
    <a href="/pricing" class="btn btn-primary btn-lg mt-4 mb-4">Get started today</a>
    <h4 class="mb-4 {% if include.dark %}text-white{% endif %}">We got this. Go build the cool stuff.</h4>
    {% if include.dark %}
      <img src="/assets/img/fusionauth-logo-white-orange.svg" alt="FusionAuth Logo" class="m-auto mt-4 mb-4" style="max-width: 250px">
    {% else %}
      <img src="/assets/img/fusionauth-logo-grey-orange.svg" alt="FusionAuth Logo" class="m-auto mt-4 mb-4" style="max-width: 250px">
    {% endif %}
  </div>
</section>
