<section class="pb-6 pt-6">
  <div class="container">
    <h2 class="fs-275 mb-5 text-center">Every Platform, Every Framework</h2>
    <p class="fs-125 mb-5 text-center">Install FusionAuth anywhere and integrate everywhere in minutes.</p>

    <!-- Platforms -->
    <div class="icon-row pt-3 pb-3 mb-4 grid-5-cols">
      <div>
        <div class="overflow-visible">
          <img src="/assets/img/linux-logo.svg" style="height: 80px;"/>
        </div>
        <span>Linux</span>
      </div>
      <div>
        <div class="overflow-visible">
          <i class="fab fa-docker fa-5x"></i>
        </div>
        <span>Docker</span>
      </div>
      <div>
        <div class="overflow-visible">
          <i class="fab fa-apple fa-5x"></i>
        </div>
        <span>macOS</span>
      </div>
      <div>
        <div class="overflow-visible">
          <i class="fab fa-windows fa-5x"></i>
        </div>
        <span>Windows</span>
      </div>
      <div>
        <div class="overflow-visible">
          <i class="fad fa-server fa-5x"></i>
        </div>
        <span>Bare metal</span>
      </div>
    </div>

    <!-- Languages -->
    <div class="icon-row pt-3">
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <a href="/docs/v1/tech/client-libraries/java"><img class="embed-responsive-item" src="/assets/img/everywhere/integrate-java.svg"></a>
        </div>
        <span>JAVA</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <a href="/docs/v1/tech/client-libraries/node"><img class="embed-responsive-item" src="/assets/img/everywhere/integrate-node-js.svg"></a>
        </div>
        <span>NODE.JS</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <a href="/docs/v1/tech/client-libraries/typescript"><img class="embed-responsive-item" src="/assets/img/everywhere/integrate-typescript.svg"></a>
        </div>
        <span>TYPESCRIPT</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <a href="/docs/v1/tech/client-libraries/javascript"><img class="embed-responsive-item" src="/assets/img/everywhere/integrate-javascript.svg"></a>
        </div>
        <span>JAVASCRIPT</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <a href="/docs/v1/tech/client-libraries/csharp"><img class="embed-responsive-item" src="/assets/img/everywhere/integrate-csharp.svg"></a>
        </div>
        <span>C#</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <a href="/docs/v1/tech/client-libraries/php"><img class="embed-responsive-item" src="/assets/img/everywhere/integrate-php.svg"></a>
        </div>
        <span>PHP</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <a href="/docs/v1/tech/client-libraries/ruby"><img class="embed-responsive-item" src="/assets/img/everywhere/integrate-ruby.svg"></a>
        </div>
        <span>RUBY</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <a href="/docs/v1/tech/client-libraries/python"><img class="embed-responsive-item" src="/assets/img/everywhere/integrate-python.svg"></a>
        </div>
        <span>PYTHON</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <a href="/docs/v1/tech/client-libraries/go"><img class="embed-responsive-item" src="/assets/img/everywhere/integrate-go.svg"></a>
        </div>
        <span>GO</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <a href="/docs/v1/tech/client-libraries/netcore"><img class="embed-responsive-item" src="/assets/img/everywhere/integrate-net.svg"></a>
        </div>
        <span>.NET CORE</span>
      </div>
    </div>
  </div>
</section>
