<ul class="nav fusion-pills grid-7-cols mt-4 mb-5" id="features-tabs">
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url== '/features/single-tenant-data-control.html' %}active{% endif %}" href="/features/single-tenant-data-control">
      <div class="fusion-pill-icon mb-3">
        <i class="fal fa-island-tropical fa-2x"></i>
      </div>
      <span>Data Isolation and Control</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url == '/features/authentication-options.html' %}active{% endif %}" href="/features/authentication-options">
      <div class="fusion-pill-icon mb-3">
        <i class="fal fa-key fa-2x"></i>
      </div>
      <span>Auth the way you want</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url == '/features/security-data-compliance.html' %}active{% endif %}" href="/features/security-data-compliance">
      <div class="fusion-pill-icon mb-3">
        <i class="fal fa-shield-check fa-2x"></i>
      </div>
      <span>Security and Data Compliance</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url == '/features/password-hashing-control.html' %}active{% endif %}" href="/features/password-hashing-control">
      <div class="fusion-pill-icon mb-3">
        <i class="fal fa-passport fa-2x"></i>
      </div>
      <span>Ultimate Password Control</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url == '/features/user-experience.html' %}active{% endif %}" href="/features/user-experience">
      <div class="fusion-pill-icon mb-3">
        <i class="fal fa-clipboard-list fa-2x"></i>
      </div>
      <span>Complete User Experience</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url == '/features/api-built-for-developers.html' %}active{% endif %}" href="/features/api-built-for-developers">
      <div class="fusion-pill-icon mb-3">
        <i class="fal fa-code fa-2x"></i>
      </div>
      <span>API Built for &lt;devs&gt;</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url == '/features/user-management-reporting.html' %}active{% endif %}" href="/features/user-management-reporting">
      <div class="fusion-pill-icon mb-3">
        <i class="fal fa-file-chart-pie fa-2x"></i>
      </div>
      <span>User Management and Reporting</span>
    </a>
  </li>
</ul>
