<div id="papers" class="fusion-go-round">
  <div class="fusion-go-round-platform">
    {% for post in site.data.resources limit: 8 %}
    <div class="fusion-go-round-car">
      <a class="text-decoration-none" href="{{ post.url }}">
        <div class="fusion-go-round-card shadow-sm">
          <img class="card-img-top" src="/assets/img/{{ post.image }}" alt="{{ post.title }}">
          <div class="card-text-bottom text-center p-3 text-secondary font-weight-bold text-uppercase">
            <span>{{ post.title }}</span>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <a class="fusion-go-round-left" href="#" role="button" data-slide="prev">
    <i class="fal fa-long-arrow-left fa-2x text-secondary"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="fusion-go-round-right" href="#" role="button" data-slide="next">
    <i class="fal fa-long-arrow-right fa-2x text-secondary"></i>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row mt-5">
  <a class="text-uppercase btn btn-primary btn-lg m-auto" href="/resources">View all</a>
</div>
