<section class="pb-6 pt-6">
  <div class="container text-center">
    <h2 class="fs-275">FusionAuth in Your Inbox</h2>
    <div class="justify-content-center row">
      <p class="col-12 col-sm-10 col-md-8 lh-2 mt-4 mb-4">
        Subscribe for email updates and you'll be the first to know about new features and updates.
        And don't worry, our emails are just like FusionAuth - built for devs. We skip the annoying fluff marketing messages
        and only send out when we have useful information.
      </p>
    </div>
    <div class="justify-content-center row">
      <div class="col-12 col-sm-10 col-md-7">
        <form action="https://fusionauth.us1.list-manage.com/subscribe/post?u=e49fa3727e80f8a81984ec45e&amp;id=82607f973e" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate class="w-100">
          <div class="input-group">
            <input name="EMAIL" type="email" class="form-control" placeholder="email">
            <!-- bot check -->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e49fa3727e80f8a81984ec45e_82607f973e" tabindex="-1" value=""></div>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" value="Subscribe" name="subscribe">SUBSCRIBE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
