<section class="bg-dark-blue pt-5 pb-5">
  <div class="container text-center text-white">
    <h2 class="text-white h1">Download Now and Get Started</h2>
    <p class="h5 text-white mt-4">Use our Fast Path install and start building something awesome.</p>
    <a href="/download" class="btn btn-primary btn-lg mt-4 mb-4">Get started today</a>
    <h4 class="text-light mb-4">We got this. Go build the cool stuff.</h4>
    <img src="/assets/img/fusionauth-logo-white-orange.svg" alt="FusionAuth Logo" class="m-auto mt-4 mb-4" style="max-width: 250px">
  </div>
</section>

{% include macros/subscribe.html %}
