<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="main-nav-bar w-nav">
    <div class="main-nav-container w-container">
        <a href="#" class="brand w-nav-brand"><img src="/assets/img/docs/landing/fusionauth-docs-logo.svg" loading="lazy" alt="fusionauth logo" class="fusionauth-gray-logo"></a>
        <nav role="navigation" class="main-nav-menu w-nav-menu">
            <a href="/docs/v1/tech/5-minute-setup-guide" class="docs-nav-link w-inline-block">
                <div>Quickstarts</div>
            </a>
            <a href="/docs/v1/tech/apis/" class="docs-nav-link w-inline-block">
                <div>API Docs</div>
            </a>
            <a href="/docs/v1/tech/client-libraries/" class="docs-nav-link w-inline-block">
                <div>SDK</div>
            </a>
            <a href="/contact" class="header-button small sub-nav w-button">talk to an expert</a>
            <a href="https://account.fusionauth.io/account/" class="docs-nav-link w-inline-block">
                <div>Log In</div>
            </a>
        </nav>
        <div class="w-nav-button">
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>
</div>