<div class="accordion" id="toc-container">
  <div class="card-header" id="toc-heading">
    <h5 class="mb-0">
      <button class="btn btn-link text-secondary" type="button" data-toggle="collapse" data-target="#toc" aria-expanded="true" aria-controls="collapseOne">
        Table of Contents
      </button>
    </h5>
  </div>

  <div id="toc" class="collapse" aria-labelledby="toc-heading" data-parent="#toc-container">
    <div class="card-body">
      <ol class="numbered">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#tldr">tl;dr</a></li>
        <li><a href="#server-security">Server Security</a>
          <ol class="numbered">
            <li><a href="#server-architecture">Server Architecture</a></li>
            <li><a href="#provisioning">Provisioning</a></li>
            <li><a href="#logging-in-first-time">Logging in the First Time</a></li>
            <li><a href="#securing-passwords">Securing Passwords</a></li>
            <li><a href="#locking-sudo">Locking Sudo</a></li>
            <li><a href="#setup-ordinary-user-account">Setup Ordinary User Account</a></li>
            <li><a href="#locking-remote-access">Locking Remote Access</a></li>
            <li><a href="#ssh-agents">SSH Agents</a></li>
            <li><a href="#locking-root-account">Locking the Root Account</a></li>
            <li><a href="#two-factor-authentication">Two-Factor Authentication</a></li>
            <li><a href="#firewalling">Firewalling</a></li>
            <li><a href="#intrusion-detection">Intrusion Detection</a></li>
            <li><a href="#database-server-specific-security">Database Server Specific Security</a></li>
          </ol>
        </li>
        <li><a href="#application-security">Application Security</a>
          <ol class="numbered">
            <li><a href="#application-user">Application User</a></li>
            <li><a href="#ssl">SSL</a></li>
            <li><a href="#password-security">Password Security</a></li>
            <li><a href="#sql-injection">SQL Injections</a></li>
            <li><a href="#configuration">Configuration</a></li>
            <li><a href="#database-security">Database Security</a></li>
            <li><a href="#user-data-hacks">User Data Hacks</a></li>
            <li><a href="#cross-site-request-forgery">Cross-Site Request Forgery</a></li>
            <li><a href="#social-hacks">Social Hacks</a></li>
          </ol>
        </li>
        <li><a href="#summary">Summary</a></li>
        <li><a href="#references">References</a></li>
      </ol>
    </div>
  </div>
</div>
