---
import Layout from 'src/layouts/Developer.astro'
const title = 'PHP APIs Cookie App Login';
const description = 'PHP APIs Cookie App Login';
---
<Layout {title} {description}>
  <section class="py-36">
  <div class="w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] mx-auto">
    <div class="mb-10 justify-center flex flex-row items-stretch flex-wrap">
      <div class="centered flex flex-col basis-8/12 justify-center">
        <h2 class="text-4xl my-4 font-semibold text-slate-600 text-center">
          Login with walker@example.com or trivette@example.com
        </h2>
        <p class="flex flex-row justify-center my-4">
          <a class="bg-orange-500 px-6 py-3 rounded text-white font-semibold text-sm" href="https://longhornphp.fusionauth.io/app/login/e3c3351d-c02a-4db4-926e-748f267baa9d">Log In</a>
        </p>
      </div>
    </div>
  </div>
</section>
</Layout>

