---
import Layout from 'src/layouts/Developer.astro';

const title =  'PHP APIs Cookie App Login';
const description = 'PHP APIs Cookie App Login';
---
<Layout {title} {description}>
  <section class="py-24">
  <div class="w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] mx-auto">
    <div class="mb-10 justify-center flex flex-row items-stretch flex-wrap">
      <div class="flex flex-col basis-8/12 justify-center">
        <h2 class="text-4xl my-4 font-semibold text-slate-600 text-center">
          Thanks for logging in. Here are the cookies that JavaScript on this page can see.
        </h2>
        <ol id="cookie-list" class="list-decimal max-w-xl mx-auto">
        </ol>
      </div>
    </div>
  </div>
</section>
</Layout>
<script is:inline>
function listCookies() {
    var theCookies = document.cookie.split(';');
    var aString = '';
    for (var i = 0 ; i < theCookies.length; i++) {
        aString += `<li><p class="text-wrap max-w-auto break-all font-bold">${theCookies[i].split('=')[0]}</p>
                        <p class="text-wrap max-w-auto break-all">${theCookies[i].split('=')[1]}</p></li>`;
    }
    document.getElementById('cookie-list').innerHTML = aString;
}
listCookies();

</script>

