<footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-sm-4">
                    <h5>About Us</h5>
                    <p class="text-white-80">FusionAuth is web-scale authentication and authorization solution designed for developers to deploy anywhere on any platform.</p>
                    <h5>Let's get connected</h5>
                    <div>
<a href="https://github.com/fusionauth" target="_blank"><i class="fab fa-github-alt fa-social-icons"></i></a><a href="https://twitter.com/fusionauth" target="_blank"><i class="fab fa-twitter fa-social-icons"></i></a><a href="https://facebook.com/fusionauth" target="_blank"><i class="fab fa-facebook fa-social-icons"></i></a><a href="https://www.linkedin.com/company/fusionauth/" target="_blank"><i class="fab fa-linkedin fa-social-icons"></i></a>
</div>
                </div>
                <div class="col-sm-3">
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="/docs/v1/tech/">Documentation</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="https://github.com/FusionAuth" target="_blank">GitHub</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-sm-5">
                    <h5>Subscribe for updates</h5>
                    <p class="text-white-80">Stay up-to-date on FusionAuth including security updates, patches, and tutorials. This email list is developer oriented. No marketing fluff, we promise.</p>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="https://fusionauth.us1.list-manage.com/subscribe/post?u=e49fa3727e80f8a81984ec45e&amp;id=82607f973e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e49fa3727e80f8a81984ec45e_82607f973e" tabindex="-1" value=""></div>
        <button class="btn btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="margin-left:0px;">Subscribe</button>
    </div>
</form>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</div>
            </div>
        </div>
    </footer>
<script src="/assets/js/jquery.min.js?h=1dd785e1de9a32e236b624ae268bb803"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js?h=65bf9cb61d2ad5d51ddbf22319311dc3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="/assets/js/script.min.js?h=ea6719986a2e17c460d07123d6782dd6"></script>
