<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.description}}">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=e27ac4341d1d1bb3e719a43cd55e9eb0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=44459267e61b6d891e219fd682ccc3e9">
<script language="">
  console.log("Hello World");
</script>
</head>
