<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar" style="padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
{% assign url = page.url | downcase %}

        <div class="container">
<a class="navbar-brand logo" href="#"><img src="/assets/img/FusionAuth-Logo-white-color.png?h=9ef903e8afeba80dc4b584fd3026dfc6" width="200px"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == '/' %}active{% endif %}" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == '/features.html' %}active{% endif %}" href="/features">Features</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == '/pricing.html' %}active{% endif %}" href="/pricing">Pricing</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == '/faq.html' %}active{% endif %}" href="/faq">FAQ</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == '/blog-post-list.html' %}active{% endif %}" href="/blog-post-list">Blog</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == '/about-us.html' %}active{% endif %}" href="/about-us">About Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == '/contact-us.html' %}active{% endif %}" href="/contact-us">Contact Us</a></li>
                </ul>
        </div>
        </div>
    </nav>
