<nav class="navbar navbar-dark navbar-expand-lg bg-dark clean-navbar p-2">
{% assign url = page.url | downcase %}

        <div class="container">
<a class="navbar-brand logo" href="/"><img src="/assets/img/FusionAuth-Logo-white-orange.svg?h=b3dd00805e806aa4c910569eff3b15fc" alt="FusionAuth Logo" width="200"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse bg-dark" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == '/features.html' %}active{% endif %}" href="/features">Features</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == '/pricing.html' %}active{% endif %}" href="/pricing">Pricing</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == '/docs/v1/tech/' %}active{% endif %}" href="/docs/v1/tech/">Docs</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == 'https://github.com/FusionAuth' %}active{% endif %}" href="https://github.com/FusionAuth" target="_blank">Github</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == '/blog/' %}active{% endif %}" href="/blog/">Blog</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link {% if url == '/contact.html' %}active{% endif %}" href="/contact">Contact Us</a></li>
                </ul>
        </div>
        </div>
    </nav>
