<html>
<head>
  <meta charset="utf-8" />
  <title>FusionAuth OpenID and PKCE example</title>
  <link rel="stylesheet" href="/static/css/changebank.css">
</head>
<body>
  <div id="page-container">
    <div id="page-header">
      <div id="logo-header">
        <img src="https://fusionauth.io/cdn/samplethemes/changebank/changebank.svg" />
        <div class="h-row">
          <p class="header-email">{{ email }}</p>
          <form id="logoutForm" class="button-lg"  action="{% url 'oidc_logout' %}" method="post">
            {% csrf_token %}
            <a class="button-lg" href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
          </form>
        </div>
      </div>

      <div id="menu-bar" class="menu-bar">
        <a class="menu-link" href="{% url 'change' %}">Make Change</a>
        <a class="menu-link inactive" href="{% url 'account' %}">Account</a>
      </div>
    </div>

    <div style="flex: 1;">
      <div class="column-container">
        <div class="app-container change-container">
          <h3>We Make Change</h3>

          {% if change.error %}
            <div class="error-message">{{ change.error }}</div>
          {% else %}
            <div class="change-message">
              We can make change for ${{ change.total }} with {{ change.nickels }} nickels and {{ change.pennies }} pennies!
            </div>
          {% endif %}

          <form method="post" action="{% url 'change' %}">
            {% csrf_token %}
            <div class="h-row">
              <div class="change-label">Amount in USD: $</div>
              <input class="change-input" name="amount" value="0.00" />
              <input class="change-submit" type="submit" value="Make Change" />
            </div>
          </form>
        </div>
      </div>
    </div>
</body>
</html>
