/* API Lists
====================================================*/

table.api {
  display: table;
  margin-bottom: 30px;
  width: 100%;

  tbody, thead {
    display: block;
  }

  tr {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    display: block;
    padding: 20px 0;
  }

  td {
    border: none;
    display: block;
    padding: 0;
  }

  p {
    margin: 5px 0 10px 0;

    span {
      display: block;
      line-height: 16px;
      margin-bottom: 2px;
    }
  }

  ul li > p {
    margin: 0 0 2px 0;
  }

  .field {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: rgb(41, 46, 49);
  }

  .type {
    color: dodgerblue;
    font-weight: 500;
    font-size: 12px;
    margin-left: 3px;
  }

  .required {
    color: coral;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .deprecated {
    color: crimson;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .optional {
    color: darkgray;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .since {
    color: seagreen;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .ulist .since {
    display: inline-block;
  }

  .default {
    color: gray;
    font-size: 13px;
    font-weight: 500;
  }

  .field code,
  .default code {
    color: rgb(41, 46, 49);
    font-weight: 500;
    background: none;
    border: none;
    padding: 0;
  }

  .admonitionblock {
    td.icon {
      padding: 10px;
      text-align: center;
    }

    td.content {
      padding: 10px;
      white-space: normal;
    }
  }

  @media only screen and (min-width: 992px) {
    tbody {
      display: table-row-group;
    }

    thead {
      display: table-header-group;
    }

    tr {
      display: table-row;
    }

    td {
      display: table-cell;
      padding: 10px;
      vertical-align: top;
      word-break: keep-all;
    }

    tr > td:first-child {
      text-align: right;
    }

    td tbody td:first-child,
    td tbody td {
      padding-top: 0;
      padding-bottom: 0;
      text-align: left;
      white-space: nowrap;
    }

    table th,
    table td {
      border: none;
    }
  }
}

table.two-columns {
  display: table;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 100%;

  thead {
    tr {
      th {
        text-align: left;
      }

    }
  }

  tbody, thead {
    tr {
      td {
        border: none;

        &:first-of-type {
          border-right: 1px solid #eee;
          vertical-align: top;
        }

        &:not(:first-of-type) {
          padding-left: 20px;
        }

        padding-right: 20px;
      }
    }
  }
}

/* HTTP API URI
====================================================*/
.endpoint {
  .content p {
    background: rgb(43, 43, 43);
    padding: 10px;
    border-radius: 2px;
    font-family: 'Source Code Pro', Menlo, monospace;
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
    margin: 5px 0 25px 0;
  }

  .method {
    color: #c26230;
  }

  .uri {
    color: rgb(187, 187, 187);
  }

  code {
    font-weight: 300;
    font-family: 'Source Code Pro', Menlo, monospace;
    background: rgb(43, 43, 43);
    border: none;
    padding: 0;
    color: #64e260;
  }
}

/* Command Line
====================================================*/
.command-line pre {
  background: rgb(43, 43, 43);
  color: rgb(187, 187, 187);

  font-family: 'Source Code Pro', Menlo, monospace;
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 300;
  white-space: pre;
  word-break: break-all;
  border-radius: 2px;
  padding: 0.7em;
}