/* Admonitions
====================================================*/
table.admonitionblock {
  background: #f8f8f8;
  margin-right: 1px; /* accounts for the perceived additional width of the box shadow */
  margin-top: 20px;
  margin-bottom: 20px;
  //padding: 10px 10px 10px 0;
  width: 100%;
  -webkit-box-shadow: 4px 4px 5px -4px rgba(119, 119, 119, 1);
  -moz-box-shadow: 4px 4px 5px -4px rgba(119, 119, 119, 1);
  box-shadow: 4px 4px 5px -4px rgba(119, 119, 119, 1);

  &.padded {
    //margin: 20px 30px;
    //width: 95%;
  }

  &.note {
    border-left: 4px solid #1f5fa7;

    &.since {
      border-left: 4px solid seagreen;

      .icon-note:after {
        color: seagreen;
        content: '\f1fa';
      }
    }
  }

  &.warning {
    border-left: 4px solid #e2d42e;

    &.database-migration {
      border-left: 4px solid #ec9634;

      .icon-warning:after {
        color: #ec9634;
        content: '\f1c0';
      }
    }

    /* Stole the color from Elasticsearch logo */
    &.search-index-warning {
      border-left: 4px solid #4db9b1;

      .icon-warning:after {
        color: #4db9b1;
        content: '\f00a';
      }
    }
  }

  p {
    margin-bottom: 10px;

    &:not(:first-of-type) {
      margin-top: 6px;
    }
  }

  td, th {
    border: none;
    padding: 10px;

    &.content {
      padding-left: 0;
    }
  }

  td {
    &.icon {
      font-size: 35px;
      padding: 5px 15px;
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
      width: 60px;

      .icon-note:after {
        color: #1f5fa7;
        content: '\f05a';
      }

      .icon-warning:after {
        color: #e2d42e;
        content: '\f071';
      }

      .icon-tip:after {
        color: #111;
        content: '\f0eb';
      }

      .icon-caution:after {
        color: #bf3400;
        content: '\f06d';
      }

      .icon-important:after {
        color: #bf0000;
        content: '\f06a';
      }
    }
  }
}

span.icon {
  padding-right: 10px;
  font-size: 25px;

  &.green {
    color: #0bb796;

    &:hover {
      color: darken(#0bb796, 15%)
    }
  }

  &.red {
    color: #ee3e54;

    &:hover {
      color: darken(#ee3e54, 15%)
    }
  }
}

.listingblock, .openblock {
  .title {
    color: #FF4088;
    font-size: 13px;
    font-style: italic;
  }
}

.listingblock {
  margin-bottom: 30px;
}

.api-authentication {
  border-bottom: 1px solid #D7D7D7;
  font-size: 15px;
  padding-bottom: 3px;

  a {
    i {
      transition: color .25s ease;
    }
  }
}

p {
  .block-quote {
    border-left: 2px solid #ccc;
    margin: 15px 20px;
    padding-left: 10px;
  }
}

table.nested {
  margin-bottom: 30px;
  tr > th {
    text-align: left !important;
  }

  tbody > tr > td:last-of-type {
    white-space: initial;
  }
}

table.api {
  td:last-of-type > .field, td > p > .field {
    background-color: #e7e7e7;
    border-bottom: 1px solid #eb8c52;
    color: inherit;
    font-weight: 600;
    padding: 0 3px;
  }
}