$nav-width: 250px;

@mixin active {
  background: #474747;
  color: #eeeeee;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body.prime-side-menu-open {
  overflow: hidden;
}

.prime-side-menu-body {
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}

body.prime-side-menu-open {
  .prime-side-menu-body {
    overflow: hidden;
    -webkit-transform: translateX($nav-width);
    -ms-transform: translateX($nav-width);
    transform: translateX($nav-width);
  }

  .prime-side-menu {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

aside {
  background: white;
  display: block;
  height: 100%;
  left: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  padding: 0;
  position: fixed;
  top: 0;
  -webkit-transform: translateX(-$nav-width);
  -ms-transform: translateX(-$nav-width);
  transform: translateX(-$nav-width);
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
  width: $nav-width;

  @media only screen and (min-width: 960px) {
    display: block;
    top: 58px;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

  nav {
    > ul > li:last-of-type {
      margin-bottom: 18px; /* 18px for Chrome status */
    }

    /* ensure the last item is accessible by scrolling - match the top: 58px on aside */
    @media only screen and (min-width: 960px) {
      > ul > li:last-of-type {
        margin-bottom: 76px; /* 58 + 18px for Chrome status */
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          border-bottom: 1px solid #D7D7D7;
          border-left: 3px solid transparent;
          border-right: 1px solid #D7D7D7;
          color: #696d74;
          display: block;
          padding: 10px;
          text-decoration: none;

          &.active {
            @include active();
            border-left: 3px solid #eb8c52;
          }

          &.open {
            i.sub-menu {
              -webkit-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }

          &:hover {
            @include active();
            background: #474747;
          }

          // Font Awesome
          i {
            font-size: 18px;
            padding-right: 6px;
            text-align: center;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
            width: 30px;
            vertical-align: center;
          }

          i.sub-menu {
            padding-left: 5px;
            padding-right: 0;
            float: right;
          }
        }

        ul {
          max-height: 0;
          overflow: hidden;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;

          &.active {
            max-height: 1200px;
            overflow-y: scroll;
          }

          li {
            a {
              background: #EEEEEE;
              font-size: 14px;
              padding-left: 40px;
            }
          }
        }
      }
    }
  }
}

/* BreadCrumb Arrow
====================================================*/
span.breadcrumb {
  font-style: italic;
  font-weight: 600;
}

.icon {
  &.breadcrumb {
    color: #474747;
    padding-left: 4px;
    padding-right: 4px;

    i {
      font-size: 12px;
    }
  }
}