/* Google Search Results
====================================================*/
.search-results {
  table, tr, td, tbody, thead {
    border-collapse: inherit !important;
    border: none;
  }

  .gs-result .gsc-thumbnail {
    display: none;
  }
}

/* Search Field
====================================================*/
.search {
  button {
    background-color: rgba(255, 255, 255, 0.08);
    height: 53px;
    margin: 0;
    padding-right: 20px;
  }

  form {
    align-items: center;
    display: flex;
  }

  form > input {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.08);
    border: 0 none;
    font-size: 24px;
    font-weight: 300;
    height: 53px;
    line-height: 24px;
    outline: none;
    padding-left: 10px;
  }

  .fa {
    color: #fff;
    font-size: 20px;
  }
}

