/* Google Search Results
====================================================*/
.search-results {
  table, tr, td, tbody, thead {
    border-collapse: inherit !important;
    border: none;
  }

  .gs-result .gsc-thumbnail {
    display: none;
  }
}

/* Search Field
====================================================*/
.search {
  width: 270px;

  button {
    width: 35px;
    margin-right: 5px;
  }

  form > input {
    font-size: 18px;
    line-height: 18px;
    height: 30px;
    color: #696d74;
    background-color: transparent;
    outline: none;
    border: 0 none;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    padding-left: 10px;
    font-weight: 400;
  }

  .fa {
    font-size: 20px;
    color: #aaa;
  }
}

