---
layout: hero
title: Upgrade from open-source or legacy identity to FusionAuth
description: Upgrade your open-source or legacy identity solution to FusionAuth to get a complete, modern identity solution that installs in seconds.
---
<section class="blue main hero">
  {% include _header.liquid %}
  <div class="container content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <p class="preface">UPGRADE</p>
        <h1 class="text-white display-4">Simpler than Open Source Identity</h1>
        <p>
          FusionAuth is a complete, modern identity solution that installs in seconds. It's easy to switch.
        </p>
        <a href="/pricing" class="brochure blue button">GET STARTED FOR FREE</a>
      </div>
    </div>
  </div>
  <div class="hero-image bottom right">
    <img src="/assets/img/heroes/upgrade.svg" alt="Upgrade">
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-lg-9 centered">
        <h2>We Give You More, for Less</h2>
        <p>
          Compare FusionAuth to open source platforms.
        </p>
        <p>
          You’ll see.
        </p>
      </div>
    </div>
    <div class="cards row center">
      <a href="/blog/2019/03/06/keycloak-fusionauth-comparison" class="col-xs-12 col-lg-3 light-gray even competitor card">
        <div class="image-container">
          <img src="/assets/img/competition/keycloak_logo.svg" alt="Keycloak">
        </div>
        <p class="name">Keycloak</p>
      </a>
      <a href="/blog/2019/07/16/gluu-fusionauth-compare-identity-management-solutions" class="col-xs-12 col-lg-3 light-gray even competitor card">
        <div class="image-container">
          <img src="/assets/img/competition/gluu-logo.png" alt="Gluu">
        </div>
        <p class="name">Gluu</p>
      </a>
    </div>
    <div class="row center">
      <div class="col-xs-6 col-lg-3">
        <a href="from-saas" class="gray">Compare to SaaS&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></a>
      </div>
      <div class="col-xs-6 col-lg-3">
        <a href="from-homegrown" class="gray">Compare to Homegrown&nbsp;&nbsp;&nbsp;&nbsp;<i class="orange-text fas fa-long-arrow-right"></i></a>
      </div>
    </div>
    <div class="row center separate">
      <div class="col-xs-12 col-lg-8 centered">
        <h2>Easy to Deploy, Easy to Integrate</h2>
        <p>
          Existing open-source and legacy identity solutions require multiple module downloads, complex configuration syntax, and extensive custom code to get up and running. They also limit access to premium features and knowledgeable support engineers unless you purchase commercial licenses.
        </p>
        <p>
          FusionAuth is built on modern technology so it's simple to deploy and even simpler to get configured and integrated. Just run our one-line Fast Path installer and we walk you through the rest. You get full access to all our APIs in seconds–no restrictions, no premium-level features. From day one you get an enterprise-ready identity management solution with a strong community of developers, too.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/every-feature.svg" alt="Everything you Need">
        <h3>Everything You Need</h3>
        <p>
          FusionAuth is a complete identity and access management solution–no restrictions, no add-on modules. Check out the <a href="/features">features</a> you get out-of-the-box.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/managed-hosting.svg" alt="Managed Hosting Options">
        <h3>Managed Hosting Options</h3>
        <p>
          We can <a href="/pricing">host and manage</a> FusionAuth for you in a private cloud so you can focus on your business.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/gear-question-mark.svg" alt="Knowledgeable support">
        <h3>Knowledgeable Support</h3>
        <p>
          We have a team of engineers who understand auth and are here to help you solve your identity challenges. Our active <a href="/community">developer community</a> is always sharing challenges and solutions.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/auth-anywhere.svg" alt="Deployment options">
        <h3>Ability to Deploy Anywhere</h3>
        <p>
          FusionAuth is a universal solution that works wherever you need it. Any platform, any location, any device. <a href="/anywhere">Learn more here</a>.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/client-libraries.svg" alt="Continuous development">
        <h3>Continuous Development</h3>
        <p>
          Our identity and security experts are constantly improving FusionAuth. We maintain backward compatibility while addressing critical issues and adding new features.
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 feature-card">
        <img src="/assets/img/icons/long-term-commitment.svg" alt="A long-term-commitment">
        <div>
          <h3>A Long-Term Commitment</h3>
          <p>
            We're in this for the long haul. With thousands of installations and counting. We aren't going anywhere.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include _complete-auth.liquid %}
