
$fusion-go-round-card-width: 190px !default;
$fusion-go-round-card-width-wide: 300px !default;
$fusion-go-round-car-padding: 20px;
$fusion-go-round-car-padding-wide: 20px;

.fusion-go-round {
  position: relative;
  width: 100%;

  .fusion-go-round-platform {
    align-content: stretch;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding: $fusion-go-round-visible-padding-y $fusion-go-round-visible-padding-x;

    .fusion-go-round-car {
      &:not(:first-child) {
        padding-left: $fusion-go-round-car-padding;
      }
    }
  }

  .fusion-go-round-left {
    left: -35px;
  }

  .fusion-go-round-right {
    right: -35px;
  }

  .fusion-go-round-left, .fusion-go-round-right {
    position: absolute;
    top: 50%;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &:hover {
      i {
        &:before {
          opacity: 1;
        }
      }
    }

    i {
      background-color: white;
      box-shadow: $box-shadow;
      border: 25px solid white;
      border-radius: 50%;
      color: black;
      margin-top: -60%;
      vertical-align: middle;

      &:before {
        opacity: 0.6;
        transition: opacity 0.2s ease-out;
      }
    }
  }
}

// Use this as the parent if you use the cards outside of a carousel
.fusion-go-round-free {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;

  .fusion-go-round-car {
    flex: 0 0 auto;
    padding: 0 $fusion-go-round-car-padding;
    margin-bottom: map_get($spacers, 5);

    &.wide {
      padding: 0 $fusion-go-round-car-padding-wide;
    }
  }
}

.fusion-go-round-card {
  @extend .card;

  align-items: stretch;
  border: 0;
  border-radius: $fusion-go-round-card-border-radius;
  height: 100%;
  max-width: calc(100vw - #{$fusion-go-round-car-padding * 2 + $grid-gutter-width});
  width: $fusion-go-round-card-width;

  &.wide {
    width: $fusion-go-round-card-width-wide;
    max-width: calc(100vw - #{$fusion-go-round-car-padding-wide * 2 + $grid-gutter-width});
  }

  .card-img-top {
    border-top-left-radius: $fusion-go-round-card-border-radius;
    border-top-right-radius: $fusion-go-round-card-border-radius;
    height: 180px;
    width: 100%;
  }

  .card-text-bottom {
    border-bottom-left-radius: $fusion-go-round-card-border-radius;
    border-bottom-right-radius: $fusion-go-round-card-border-radius;
    border-top: 1px solid $light;
    font-size: .9rem;
    height: 74px;
    overflow: hidden;
    width: 100%;
  }
}
