
$fusion-tabs-spacing: 70px;
$fusion-tabs-spacing-sm: 15px;

.fusion-tabs {
  margin: 0 auto;
  padding-bottom: 8px;
  z-index: 1;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  &.border-less {
    padding-bottom: 0;

    .nav-item {
      height: unset;

      .nav-link {
        background-color: $white;
        border-radius: 0;
        border-top: 6px solid transparent;
        box-shadow: none;
        color: rgba(0, 0, 0, 0.50);   /* RGBA Color (Alternative Transparency) */
        height: 100px;
        margin-bottom: 0;
        opacity: 0.50;
        text-transform: none;
        box-sizing: border-box;

        i {
          padding-bottom: 3px;
        }

        &:hover {
          background-color: inherit;
        }

        span {
          font-weight: 300;
          text-transform: none;
          text-align: center;
          width: 100%;
        }

        &.active, &:hover {
          background-color: $white;
          border-bottom: none;
          color: $secondary;
          opacity: 1.0;

          i {
            filter: drop-shadow(1px 1px 1px $light);
          }
        }
      }
    }
  }

  .nav-item {
    margin: 0 ($fusion-tabs-spacing / 2);

    .nav-link {
      align-content: center;
      background-color: $light2;
      border: none;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      box-sizing: content-box;
      color: $secondary;
      font-weight: bold;
      height: 120px;
      margin-bottom: 8px;
      padding: 0;
      position: relative;
      text-transform: uppercase;
      width: 120px;

      i {
        font-weight: 400;
      }

      &:hover {
        background-color: $light;

        i {
          filter: drop-shadow(1px 1px 1px #eee);
        }
      }

      &.active {
        color: $white;
        background-color: $primary;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 8px solid $primary;
        margin-bottom: 0;

        i {
          filter: drop-shadow(1px 1px 1px #eee);
        }
      }

      @include media-breakpoint-down(sm) {
        height: 100px;
        width: 100px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin: 0;
    }

    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }
  }
}

.fusion-tabs-content {
  box-sizing: border-box;
  border: 10px solid $primary;
  background-color: $primary;
  border-radius: 8px;
  margin-top: -1px; // Need to touch the element above us
  position: relative;
  z-index: 10;

  .tab-content {
    @extend .shadow-sm;

    background-color: $white;
    border-radius: 4px;
    height: 100%;
  }
}
