
.fusion-pills {
  box-shadow: 0 6px 5px -6px rgba(black, .75);
  overflow-x: auto;

  .nav-link {
    border-bottom: 10px solid transparent;

    &:hover {
      border-bottom-color: $light;

      .fusion-pill-icon {
        background-color: $light;
      }
    }

    &.active {
      border-bottom-color: $primary;

      .fusion-pill-icon {
        background-color: $primary;
        color: white;
      }
    }
  }

  .fusion-pill-icon {
    @extend .shadow;

    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }

    i {
      margin: auto;
    }
  }
}

.circle {
  border-radius: 50%;
}
