/*!
 * FusionAuth Style
 */

//noinspection CssUnknownTarget
@import "variables";
//noinspection CssUnknownTarget
@import "../../node_modules/bootstrap/scss/bootstrap";
//noinspection CssUnknownTarget
@import "carousel";
//noinspection CssUnknownTarget
@import "fusion-pills";
//noinspection CssUnknownTarget
@import "fusion-tabs";
//noinspection CssUnknownTarget
@import "forms";
//noinspection CssUnknownTarget
@import "type";
//noinspection CssUnknownTarget
@import "utilities";

// Global Styles

html {
  height: 100%;
}

body {
  font-size: 16px;
  min-height: 100%;
}

.page-footer {
  a {
    color: $white;

    &:hover {
      color: $light;
    }
  }
}

.bg-secondary {
  // Hover to a lighter blue with dark background
  a.blue-link {
    color: lighten($blue, 10%);
  }

  a:hover {
    color: lighten($blue, 15%);
  }

  // Don't go to blue for buttons
  a.btn:hover {
    color: white;
  }
}

.bg-dark {
  // Hover to a lighter blue with dark background
  a.blue-link {
    color: lighten($blue, 20%);
  }

  a:hover {
    color: lighten($blue, 15%);
  }
}

.btn {
  color: $white;
  box-shadow: $box-shadow;
  text-transform: uppercase;
}

.input-group {
  .btn {
    box-shadow: none;
  }
}

.customer-logo {
  height: 150px;
  width: 250px;
  object-fit: scale-down;
}

img.shadow {
  box-shadow: none !important;
  -webkit-filter: drop-shadow($box-shadow-sm);
  filter: dropShadow($box-shadow);
}

.navbar {
  .navbar-nav {
    flex: 1;
  }

  .nav-item {
    display: block;
  }

  .nav-link {
    font-size: 14px;

    &.active, &:active {
      color: $dark;
    }

    &:focus {
      outline: 0;
    }
  }

  &.navbar-dark {
    background-color: $secondary;

    .nav-link {
      color: $white;
    }
  }
}

@include media-breakpoint-up(xl) {
  // Dropdowns
  // Add an arrow
  .dropdown-menu {
    &:before {
      background: white;
      border: 1px solid $dropdown-border-color;
      border-bottom-color: white;
      border-right-color: white;
      content: ' ';
      height: 12px;
      left: 50px;
      pointer-events: none;
      position: absolute;
      top: -6px;
      transform: rotate(45deg);
      width: 12px;
    }

    &.push-top {
      top: calc(100% + 8px);
    }

    &.tight-left {
      &:before {
        left: 15px;
      }
    }
  }
}

// Make the dropdown menus more similar to the nav on mobile
@include media-breakpoint-down(lg) {
  .navbar-expand-xl {
    .dropdown-menu {
      border: none;
    }

    .dropdown-item {
      color: $secondary;
      font-size: 14px;

      &:focus, &:hover {
        color: $navbar-light-hover-color;
      }
    }

    &.navbar-dark {
      .dropdown-menu {
        background: none;
      }

      .dropdown-item {
        color: $white;
        background: none;

        &:hover {
          color: $navbar-dark-hover-color;
        }
      }
    }
  }
}

// Expert advice
nav.expert-advice {
  img {
    height: 40px;
  }

  li {
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;

    &:hover:not(.no-hover), &.active {
      border-bottom: 3px solid $secondary;
    }
  }
}

.expert-advice-hero {
  background: $dark-purple url('/assets/img/advice/expert-advice-4k-hero.png') no-repeat center center;
  background-size: cover;

  //.bg-container {
  //  background: url('/assets/img/advice/expert-full-hero-graphics.svg') no-repeat;
  //  background-size: contain;
  //}

  .brace {
    color: $white;
    font-size: 7rem;
    font-weight: 100;
  }

  .middle {
    color: $white;
    font-size: 2rem;
    font-weight: 100;

    div {
      line-height: 1.1;
    }
  }

  @include media-breakpoint-up(md) {
    .brace {
      font-size: 12rem;
    }

    .middle {
      font-size: 4rem;
    }
  }
}

// Borders with media queries and sides
@include media-breakpoint-up(lg) {
  .border-lg-bottom-1 {
    border-bottom: 1px solid $light;
  }

  .border-lg-right-1 {
    border-right: 1px solid $light;
  }
}

// MISC and unsorted

.hero {
  max-width: 1440px;
}

// Dark links
a.link-dark, .link-dark {
  color: $secondary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Variation of the first dark link (No underline and changes orange on mouse over)
a.link-dark-2, .link-dark-2 {
  color: $secondary;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

// Used in the footer to add bars part of the way up the links
@include media-breakpoint-up(md) {
  .magic-3-col-bars > :nth-child(3n+5):not(:nth-last-child(-n+3)) {
    border-left: 2px solid $light;
    border-right: 2px solid $light;
  }
}

// Specific to the quote section
img.quote-fluff {
  position: absolute;
  top: -20px;
  left: 0;
}

.bg-upgrade {
  background-color: $dark-blue;
  margin-bottom: map_get($spacers, 6);
  text-align: center;
}

.upgrade-subheader {
  color: white;

  h2 {
    color: white;
  }
}

// Hack to get image to "overflow"
@include media-breakpoint-up(lg) {
  .bg-upgrade {
    background: linear-gradient($dark-blue 45%, $white 45%);
    margin-bottom: auto;
    text-align: left;

    .upgrade-image {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
    }

    // The second half of the hack to give the "overflow" effect for upgrade pages
    .balanced-vertical {
      display: grid;
      grid-template-rows: 45fr 55fr;
      align-content: stretch;
      justify-content: stretch;
    }
  }

  .upgrade-subheader {
    color: $body-color;
    margin-top: map_get($spacers, 6);

    h2 {
      color: $secondary;
    }
  }
}

.post-image {
  max-width: 100%;
  max-height: 100%;
}

.post-body-content {
  img {
    max-width: 100%;
  }
}

/* Shell Commands */
.shell-command {
  background-color: #262626;
  padding: 12px 12px 1px;
  margin-bottom: 0;
  overflow: scroll;
  width: 100%;

  + button {
    border-radius: 0;
    box-shadow: none;
  }

  p {
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 12px;
  }
}

/* Logo Colors */
.fa-apple {
  color: $apple-logo-bg;
}

.fa-docker {
  color: $docker-logo-bg;
}

.fa-linux {
  color: $linux-logo-bg;
}

.fa-windows {
  color: $windows-logo-bg;
}

.fa-server {
  color: $black;
}



/* Cloud Pricing */
.fa-clouds-sun {
  filter: drop-shadow(2px 1px 1px $light);
  --fa-primary-color: #{$blue};
  --fa-secondary-color: #{$yellow};
  --fa-secondary-opacity: 1.0;
}

/* FusionAuth Editions */
.fa-th {
  filter: drop-shadow(2px 1px 1px $light);
  --fa-primary-color: #ec8d53;
  --fa-secondary-color: #343a40;
  --fa-secondary-opacity: 1.0;
}

/* Support */
.fa-user-headset {
  filter: drop-shadow(2px 1px 1px $light);
  --fa-primary-color: #{$dark-blue};
  --fa-secondary-color: #{$sky-blue};
  --fa-secondary-opacity: 1.0;
}

/* Pricing */
.fa-home {
  filter: drop-shadow(2px 1px 1px $light);
  --fa-primary-color: #{$blue};
  --fa-secondary-color: #{$dark-blue};
  --fa-secondary-opacity: 1.0;
}

.fa-building {
  filter: drop-shadow(2px 1px 1px $light);
  --fa-primary-color: #{$blue};
  --fa-secondary-color: #{$yellow};
  --fa-secondary-opacity: 1.0;
}

.fa-city {
  filter: drop-shadow(2px 1px 1px $light);
  --fa-primary-color: #{$dark-blue};
  --fa-secondary-color: #{$yellow};
  --fa-secondary-opacity: 1.0;
}

/* Support */
.fa-dice-d8 {
  filter: drop-shadow(2px 1px 1px $light);
  --fa-primary-color: #{$sky-blue};
  --fa-secondary-color: #{$yellow};
  --fa-secondary-opacity: 1.0;
}

.fa-dice-d10 {
  filter: drop-shadow(1px 1px 1px $gray-900);
  --fa-primary-color: #{$yellow};
  --fa-secondary-color: #{$sky-blue};
  --fa-secondary-opacity: 1.0;
}

.fa-dice-d12 {
  filter: drop-shadow(1px 1px 1px $gray-800);
  --fa-primary-color: #{$sky-blue};
  --fa-secondary-color: #{$primary};
  --fa-secondary-opacity: 1.0;
}

/* Manage Users */
.fa-users {
  filter: drop-shadow(2px 1px 1px $light);
  --fa-primary-color: #343a40;
  --fa-secondary-color: #ec8d53;
  --fa-secondary-opacity: 1;
}

/* Billing */
.fa-receipt {
  filter: drop-shadow(2px 1px 1px $light);
  --fa-primary-color: #343a40;
  --fa-secondary-color: #ec8d53;
  --fa-secondary-opacity: 1;
}

.form-check-inline {
  > *:not(:last-child) {
    margin-right: $form-check-inline-input-margin-x;
  }
}

body, button, input, select, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.btn.btn-primary {
  &:hover {
    i {
      filter: invert(1);
    }
  }
}

/* Top Bar Offer */
#top-bar-offer {
  button {
    &:focus {
      outline:none;
    }

    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0.7rem;
  }
}

.social-share-button {
  border: 1px solid $light;
  border-radius: 20px;
  color: $light;
  display: inline-block;
  height: 30px;
  padding-top: 3px;
  text-align: center;
  width: 30px;

  &:hover, &:visited, &:link {
    color: $light;
  }
}

div.legend {
  margin-bottom: -30px;
}