/* Release Notes
====================================================*/
.release-note {
  h2 {
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
  }

  blockquote {
    border-left: 3px solid #eb8c52;
    margin-top: 1.5em;
    padding: 5px 10px;

    > p {
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }
  }

  .quoteblock {

    &.code {
      blockquote {
        padding: 0;
      }

      p {
        background-color: #f5f5f5;
        border: 1px solid #e1e1e8;
        border-radius: 0 2px 2px 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0.5em;
        padding-top: 1em;
        padding-bottom: 1em;

        code {
          background-color: transparent;
          border: none;
        }
      }
    }

  }

  > p {
    margin-top: 0;
  }
}

