.display-5 {
  font-size: 3rem;
  font-weight: bold;
  line-height: $display-line-height;
}
.display-6 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: $display-line-height;
}
.display-7 {
  font-size: 2rem;
  font-weight: bold;
  line-height: $display-line-height;
}

@each $size in $font-sizes {
  .fs-#{$size} {
    font-size: $font-size-base * ($size / 100);
  }
}
