// Grid helper

@for $i from 1 through 12 {
  .grid-#{$i}-cols {
    display: grid;
    grid-template-columns: repeat($i, 1fr);
  }
}

@for $i from 1 through 12 {
  .grid-#{$i}-rows {
    display: grid;
    grid-template-rows: repeat($i, 1fr);
  }
}

@each $size, $length in $spacers {
  .grid-gap-#{$size} {
    grid-gap: $length;
  }
}

// Line heights
@each $size, $length in $line-heights {
  .lh-#{$size} {
    line-height: $length;
  }
}

/* Widths
====================================================*/
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
      }
    }
  }
}

.mw-50 {
  max-width: 50%;
}

@each $size, $length in $border-widths {
  .bw-#{$size} {
    border-width: $length !important;
  }
}

// Used for the programming languages and platforms
.icon-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  > * {
    @extend .m-2;
    display: inline-block;
    width: 110px;
    text-align: center;
  }
}

.overflow-visible {
  overflow: visible;
}

.w-67 {
  width: 67% !important;
}


/* Letter Spacing
====================================================*/
@each $name, $size in $letter-spacings {
  .ls-#{$name} {
    letter-spacing: $size;
  }
}

@each $size, $length in $font-sizes {
  .fs-#{$size} {
    font-size: #{$length};
  }
}

.svg-container svg {
  height: 100%;
  width: 100%;
}

.text-black {
  color: $black;
}

// Overflow scrolls
@each $direction in $overflows-scroll {
  .overflow-#{$direction}-scroll {
    overflow-#{$direction}: scroll;
  }
}