$media-xl: 1600px;
$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;
$nav-width: 280px;

//$enable-shadows: true;

// Our stuff

$fusion-go-round-visible-padding-y: 20px; // Useful for showing shadows. Overflow is not viable for this.
$fusion-go-round-visible-padding-x: 5px; // Useful for showing shadows. Overflow is not viable for this.
$fusion-go-round-card-border-radius: 6px;

$border-width: 1px;

$border-widths: (
    1: $border-width,
    2: ($border-width * 2),
    3: ($border-width * 3),
    4: ($border-width * 8)
);

// Bootstrap variables
$primary: #ec8d53;
$secondary: #343a40;
$dark: #5b6670;
$light: #c6c7c6;
$light2: #efefef;
$blue: #6772e5;
$dark-blue: #2d3d50;
$dark-purple: #3f2e61;
$yellow: #ffd552;

// Used in DuoTone FontAwesome mainly
$sky-blue: #86cadd;
$light-red: #fe3b48;

$theme-colors: (
  "blue": $blue,
  "dark-blue": $dark-blue,
  "sky-blue": $sky-blue,
  "orange": $primary,
  "purple": $dark-purple,
  "light2": $light2
);


$font-size-base: 1rem;
$font-weight-bold: 600;
$font-sizes: (
  0: ($font-size-base),
  n1: ($font-size-base * .95),
  n2: ($font-size-base * .90),
  n3: ($font-size-base * .85),
  n4: ($font-size-base * .80),
  n5: ($font-size-base * .75)
);
$lead-font-size: $font-size-base * 1.1 !default;

$letter-spacings: (
  (0, 0rem),
  (1, .1rem),
  (2, .15rem),
  (3, .2rem),
  (4, .25rem)
);

// Links
$link-color: $blue;
$link-hover-color: $dark-blue;
$link-hover-decoration: none;

$box-shadow-sm: 0 0.075rem 0.2rem rgba(0, 0, 0, .65);
$box-shadow: 0 0.125rem 0.4rem rgba(0, 0, 0, .5);
$box-shadow-lg: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);

$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$navbar-light-color: $secondary;
$navbar-nav-link-padding-x: 20px;
$navbar-padding-y: 30px;
$navbar-light-active-color: $dark;

$btn-padding-x-lg: 24px;
$btn-padding-y-lg: 12px;

$spacer: 1rem; // Need this to be defined so we can add another spacer tier
$spacers: (
    6: ($spacer * 6)
);

$line-height-base: 1.5;
$line-heights: (
    1: $line-height-base,
    2: ($line-height-base * 1.1),
    3: ($line-height-base * 1.25),
    4: ($line-height-base * 1.5)
);

$embed-responsive-aspect-ratios: (
        (2, 1),
);

$headings-color: $secondary;
$headings-font-weight: bold;
$display1-weight: bold;
$display2-weight: bold;
$display3-weight: bold;
$display4-weight: bold;

/* Brand Colors */
$apple-logo-bg: #000;
$docker-logo-bg: rgb(1, 117, 188);
$linux-logo-bg: #000;
$windows-logo-bg: #03A9F4;


// Breadcrumbs
$breadcrumb-padding-y:              .75rem;
$breadcrumb-padding-x:              0rem;
$breadcrumb-item-padding:           .2rem;
$breadcrumb-margin-bottom:          .75rem;
$breadcrumb-bg:                     white;
$breadcrumb-divider-color:          $secondary;
$breadcrumb-active-color:           $secondary;
$breadcrumb-divider:                quote(">");
