---
const { intro } = Astro.props;
---
<section>
  <h2>FusionAuth has you covered</h2>
  <p>
    {intro &&
      <span>{ intro }</span>
    }

    FusionAuth is a flexible and secure Customer Identity and Access Management solution. FusionAuth provides registration, login, passwordless login, SSO, MFA, data search, social login, user management and much more. Best of all, you can download and try it today for free.
  </p>
  <p class="text-center not-prose">
    <a href="/pricing" class="bg-orange-500 dark:bg-orange-600 py-3 px-7 rounded prose-a text-white dark:text-slate-200">GET STARTED FOR FREE</a>
  </p>
</section>