---
const { href, label } = Astro.props;
---
<a href={href} class="border-none">
  <button 
    class="bg-orange-500 font-bold hover:bg-orange-600 px-6 py-2 rounded text-white text-xs transition-colors uppercase lg:font-extrabold">
    {label}
  </button>
</a>

