---
---
<div class="hidden mb-10 lg:block">
  <hr class="bg-slate-200 border-t-0 h-0.5 mb-2"/>
  <p class="font-inter leading-6 mb-3 sm:text-base md:leading-7 md:text-lg lg:text-base">Get the best of FusionAuth. Once a month. Directly
    to your inbox.</p>
  <form method="post" target="_blank" action="https://fusionauth.us1.list-manage.com/subscribe/post?u=e49fa3727e80f8a81984ec45e&amp;id=82607f973e">
    <input class="bg-slate-200 border-2 border-slate-200 border-solid font-semibold h-11 mb-4 px-2 rounded text-base w-full"
           placeholder="Email" type="text" name="EMAIL">
    <button
      class="bg-slate-700 font-bold hover:bg-slate-900 px-4 py-3 rounded text-sm text-white tracking-tighter transition-colors uppercase">
      subscribe
    </button>
    <!-- bot check -->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e49fa3727e80f8a81984ec45e_82607f973e" tabindex="-1" value=""></div>
  </form>
</div>
