<script>
  import HubSpotForm from "src/components/HubspotForm";
  new HubSpotForm("#blog-newsletter-cta","b2983217-5f06-4537-a54c-18213b260d5d");
</script>

<div class="hidden mb-10 lg:block">
    <hr class="bg-slate-200 border-t-0 h-0.5 mb-2" />
    <p class="font-inter leading-6 mb-3 sm:text-base md:leading-7 md:text-lg lg:text-base">
        Get the best of FusionAuth. Once a month. Directly to your inbox.
    </p>
    <form data-hubspot-form id="blog-newsletter-cta" class="space-y-4">
        <div class="error-container mb-4" style="display:none;"></div>
        <div class="form-fields flex gap-x-4">
            <input type="email" name="EMAIL" size="30" placeholder="Email address *" aria-label="Email address" required
                class="min-w-0 flex-auto rounded-md border-0 bg-slate-100 px-3.5 py-2 text-slate-600 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 placeholder:text-gray-500" />
            <input type="hidden" name="hs_context" id="hs_context" />
            <button type="submit"
                class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                Submit
            </button>
        </div>
        <div class="success-message mt-4" style="display:none;"></div>
    </form>
</div>