---
interface Props {
  href: string;
  label: string;
  size?: "small" | "medium" | "large";
}

const { href, label, size="small" } = Astro.props;
let sizeClasses;

if (size === "medium") {
  sizeClasses = "text-md px-8 py-3"
} else if (size ==="large") {
  sizeClasses = "text-lg px-8 py-4"
} else {
  sizeClasses = "text-sm px-6 py-2"
}

---
<a href={href} class=`not-prose bg-orange-500 font-bold ${sizeClasses} hover:bg-orange-600 border-none rounded text-white visited:text-white transition-colors uppercase lg:font-extrabold`>
  {label}
</a>

