---
const { headings, rows } = Astro.props;
---

<table class="overflow-x-scroll flex flex-grow-0 flex-col mb-14 mt-1">
    <thead>
        {
            headings?.map((row) => (
                <tr>
                    {row?.map((head) => (
                        <th>{head}</th>
                    ))}
                </tr>
            ))
        }
    </thead>
    <tbody>
        {
            rows?.map((row) => (
                <tr>
                    {row?.map((code) => (
                        <td>
                            <div set:html={code} />
                        </td>
                    ))}
                </tr>
            ))
        }
    </tbody>
</table>
