---
import Icon from "astro-iconset/components";

const {source} = Astro.props;
---
<button data-widget="copy-button" data-copy-source={source}
        class="group flex items-center justify-center bg-slate-200 leading-4 w-10 h-8 rounded text-indigo-700 dark:bg-slate-800 dark:text-indigo-400 dark:hover:bg-slate-700 dark:hover:text-indigo-400 hover:bg-slate-300 hover:text-indigo-600"
        title="Copy contents">
    <Icon name={`fa7-solid:copy`} class="block group-[.active]:hidden" size={18}/>
    <Icon name={`fa7-solid:check`} class="group-[.active]:block hidden" size={18}/>
</button>

<script>
  const timeouts = new WeakMap<HTMLElement, number>();

  document.querySelectorAll('[data-widget="copy-button"]')
    .forEach((copyButton: HTMLButtonElement) => {
      copyButton.addEventListener('click', () => {
        const id = copyButton.dataset.copySource;

        if (!id) return;

        const source = document.getElementById(id);

        if (!source) return;

        navigator.clipboard
          .writeText(source.textContent || '')
          .then(() => {
            copyButton.classList.add('active');

            const existingTimeout = timeouts.get(copyButton);
            if (existingTimeout) {
              clearTimeout(existingTimeout);
            }

            const timeoutId = window.setTimeout(() => {
              copyButton.classList.remove('active');
              timeouts.delete(copyButton);
            }, 1500);

            timeouts.set(copyButton, timeoutId);
          })
          .catch(err => {
            console.error('Failed to copy text: ', err);
          });
      });
    });
</script>