---
import Icon from "astro-iconset/components";

const {source} = Astro.props;
---
<copy-to-clipboard source={source}>
  <button
      class="group flex items-center justify-center bg-slate-200 leading-4 w-10 h-8 rounded text-indigo-700 dark:bg-slate-800 dark:text-indigo-400 dark:hover:bg-slate-700 dark:hover:text-indigo-400 hover:bg-slate-300 hover:text-indigo-600"
      title="Copy contents">
    <Icon name={`fa7-solid:copy`} class="block group-[.active]:hidden" size={18}/>
    <Icon name={`fa7-solid:check`} class="group-[.active]:block hidden" size={18}/>
  </button>
</copy-to-clipboard>

<script>
  class CopyToClipboard extends HTMLElement {
    private timeout?: number;
    private button?: HTMLButtonElement;

    connectedCallback() {
      const source = this.getAttribute('source');
      this.button = this.querySelector('button')!;
      this.button.addEventListener('click', () => this.handleClick(source));
    }

    private handleClick(source: string | null) {
      if (!source) return;

      const sourceElement = document.getElementById(source);
      if (!sourceElement) return;

      navigator.clipboard
        .writeText(sourceElement.textContent || '')
        .then(() => {
          this.button!.classList.add('active');

          if (this.timeout) {
            clearTimeout(this.timeout);
          }

          this.timeout = window.setTimeout(() => {
            this.button!.classList.remove('active');
            this.timeout = undefined;
          }, 1500);
        })
        .catch(err => {
          console.error('Failed to copy text: ', err);
        });
    }

    disconnectedCallback() {
      if (this.timeout) {
        clearTimeout(this.timeout);
      }
    }
  }

  if (!customElements.get('copy-to-clipboard')) {
    customElements.define('copy-to-clipboard', CopyToClipboard);
  }
</script>