---
const { intro } = Astro.props;
---
<a href="/pricing" class="bg-gradient-to-l border-2 border-indigo-900 border-solid flex-col from-blue-900 overflow-hidden pb-12 place-items-center pt-10 px-8 relative rounded-lg shadow-2xl shadow-black to-gray-900 z-20 flex place-content-center" data-pg-name="sidebar-cta">
  <img src="/img/cta/social-login.png" class="-bottom-20 absolute left-5 opacity-10 w-32 z-0"/>
  <img src="/img/cta/orange-shield.svg" class="absolute opacity-30 right-8 top-6 w-11"/>
  <img src="/img/cta/fa-vertical.svg" class="w-56"/>
  <h2 class="font-bold leading-7 my-6 text-2xl text-center text-white">Kick the Tires &amp; Build Your Own Instance</h2>
  <p class="font-bold leading-5 mb-11 text-base text-center text-gray-400">Download and install FusionAuth with no plans or credit card required.</p>
  <img src="/img/cta/kubernetes.svg" class="-left-3 -top-3 absolute opacity-25 w-20 z-0"/>
  <div data-pg-name="cta-orange-btn-div" class="bg-[#F5821F] bg-blend-normal border-2 border-solid border-white flex font-bold h-12 min-w-full mix-blend-normal place-content-center place-items-center relative rounded shadow-black shadow-md text-base text-white uppercase">
    <p class="block">Get Started For Free</p>
  </div>
</a>
