---
const { intro } = Astro.props;
---
<a href="/download" class="bg-gradient-to-b flex flex-col from-gray-900 overflow-hidden pb-10 place-content-center place-items-center pt-8 px-8 relative rounded-lg to-blue-900 w-72 z-20" data-pg-name="sidebar-cta">
  <img src="/img/cta/social-login.png" class="-bottom-20 absolute left-5 opacity-10 w-32 z-0"/>
  <img src="/img/cta/orange-shield.svg" class="absolute opacity-30 right-8 top-6 w-11"/>
  <img src="/img/cta/fa-vertical.svg" class="w-44"/>
  <h2 class="font-bold leading-6 mt-5 text-center text-white text-xl">Kick the Tires &amp; Build Your Own Instance</h2>
  <p class="font-bold leading-5 mb-7 mt-5 text-center text-gray-300 text-sm">Download and install FusionAuth with no plans or credit card required.</p>
  <img src="/img/cta/kubernetes.svg" class="-left-3 -top-3 absolute opacity-25 w-20 z-0"/>
  <div data-pg-name="cta-orange-btn-div" class="bg-[#F5821F] bg-blend-normal border-2 border-solid border-white flex font-bold h-12 min-w-full mix-blend-normal place-content-center place-items-center relative rounded shadow-black shadow-sm text-sm text-white uppercase">
    <p class="block">Get Started For Free</p>
  </div>
</a>
