---
export interface Props {
	duration: number;
}

const { duration } = Astro.props as Props;
---
<div class="border border-green-700 px-3 py-4 rounded-md text-sm">
	<i class="fa-duotone fa-stopwatch fa-2x mr-2 text-green-700 align-middle"/> Estimated time to complete this step: <strong>{duration} minutes</strong>
</div>
