---
import Logo from './FusionAuthLogo.astro';

const { sections = [
  {
    "heading": "Get Started",
    "items": [
      { "label": "download locally", "href": "/docs/get-started/download-and-install/docker/" },
      { "label": "run in cloud", "href": "/pricing?step=plan&hosting=basic-cloud" },
      { "label": "quickstarts", "href": "/docs/quickstarts/" },
    ]
  },
  {
    "heading": "product",
    "items": [
      { "label": "features", "href": "/platform/authentication" },
      { "label": "pricing", "href": "/pricing" },
    ]
  },
  {
    "heading": "developers",
    "items": [
      { "label": "SDKs", "href": "/docs/sdks/" },
      { "label": "API Docs", "href": "/docs/apis/" },
      { "label": "Documentation", "href": "/docs/" },
      { "label": "release notes", "href": "/docs/release-notes/" },
    ]
  },
  {
    "heading": "resources",
    "items": [
      { "label": "support forum", "href": "https://fusionauth.io/community/forum/" },
      { "label": "slack community", "href": "/community" },
      { "label": "blog", "href": "/blog/" },
      { "label": "articles", "href": "/articles/" },
    ]
  }
]} = Astro.props;
---
<footer class="bg-gradient-to-br bg-slate-900 from-slate-900 to-indigo-900 via-slate-800 ">
  <div class="max-w-8xl mx-auto px-4 py-8 lg:pt-10">
    <div class="grid grid-rows-2 pb-10 px-4 text-center md:mx-5 md:text-left lg:grid-cols-6 lg:grid-rows-1 lg:pb-12 lg:pt-8 xl:grid-cols-6 2xl:pb-14 2xl:pt-10">
      <div class="items-center lg:items-start col-span-2 flex place-content-center md:col-span-4 md:place-content-center lg:block lg:col-span-2 lg:place-self-start xl:col-span-2 xl:grid-flow-col xl:place-self-start">
        <Logo/>
      </div>
      {sections.map((section) =>
        <div class="mb-7 md:mb-0">
          <h4 class="font-semibold mb-3 text-sm text-white uppercase">{section.heading}</h4>
          <ul class="capitalize font-medium text-slate-300 text-sm">
            {section.items.map((item) =>
              <li class="mb-3">
                <a href={item.href} class="hover:duration-200 hover:ease-in-out hover:text-indigo-500 hover:transition-colors">{item.label}</a>
              </li>
            )}
          </ul>
        </div>
      )}
    </div>

    <div class="container inline-flex items-center justify-center mb-10 mt-2 mx-auto space-x-5 lg:justify-end lg:mb-7 lg:pr-9 xl:pr-20 2xl:justify-end">
      <a href="https://github.com/FusionAuth">
        <img src="/img/footer/github.svg" class="w-5" alt="FusionAuth Github">
      </a>
      <a href="https://fusionauth.slack.com/join/shared_invite/zt-6ykfov9u-MTwA1A6ptv0Gr6KcFBVG4w#/shared-invite/email">
        <img src="/img/footer/slack.svg" class="w-5" alt="FusionAuth Slack Community">
      </a>
      <a href="https://twitter.com/fusionauth">
        <img src="/img/footer/twitter.svg" class="w-5" alt="FusionAuth Twitter">
      </a>
      <a href="https://www.linkedin.com/company/fusionauth/">
        <img src="/img/footer/linkedin.svg" class="w-5" alt="FusionAuth LinkedIn">
      </a>
      <a href="https://www.youtube.com/@FusionAuth">
        <img src="/img/footer/youtube.svg" class="w-5" alt="FusionAuth Youtube">
      </a>
      <a href="https://dev.to/fusionauth">
        <img src="/img/footer/dev.svg" class="w-5" alt="FusionAuth Dev.to">
      </a>
    </div>

    <div class="border-slate-400 border-t container flex flex-wrap justify-center mx-auto px-4 py-6 md:flex md:items-center md:justify-center lg:justify-between">
      <span class="dark:text-gray-300 font-medium mb-4 text-gray-500 text-sm sm:text-center lg:mb-0">&copy; { new Date().getFullYear() } FusionAuth. All Rights Reserved.</span>
      <span class="font-medium text-center text-slate-300 text-xs sm:text-center md:text-center">
        <a href="https://fusionauth.io/license" class="hover:duration-200 hover:ease-in hover:text-indigo-500 hover:transition-colors mx-2">License </a>
        &bull;
        <a href="https://fusionauth.io/license-faq" class="hover:duration-200 hover:ease-in hover:text-indigo-500 hover:transition-colors mx-2">License FAQ</a>
        &nbsp;&bull;
        <a href="https://fusionauth.io/privacy-policy" class="hover:duration-200 hover:ease-in hover:text-indigo-500 hover:transition-colors mx-2">Privacy</a>
        &bull;
        <a href="https://fusionauth.io/product-privacy-policy" class="hover:duration-200 hover:ease-in hover:text-indigo-500 hover:transition-colors mx-2">Product Privacy Policy</a>
        &bull;
        <a href="https://fusionauth.io/cookie-policy" class="hover:duration-200 hover:ease-in hover:text-indigo-500 hover:transition-colors mx-2">Cookie Policy</a>
        </span>
    </div>
  </div>

</footer>
