---
import { Code } from 'astro/components';
import { parseInline } from 'marked';
import fs from 'fs';

interface Props {
  title?: string;
  src: string;
}

const { title, src }: Props = Astro.props;

const content = fs.readFileSync(src, {encoding: 'utf-8'});

// use parseInline so that we do not add additional <p> tags for plain text.
// - https://marked.js.org/using_advanced
const parsedTitle = title ? parseInline(title) : '';
//@ts-ignore
---
{/* title is optional, do not render an empty em tag */}
{title && <p class="mb-0"><em set:html={parsedTitle}/></p>}
<div class="mb-14 prose-pre:mt-1">
  <Code lang="html" code={content}></Code>
</div>
