---
export interface Props {
	float?: boolean;
	header?: string;
}

const { float = false, header = "GUIDELINE"} = Astro.props as Props;
---
<div class:list={[float ? "float-right mt-5 mr-0 mb-5 ml-5" : "", "border border-slate-400 rounded-md"]}>
	<div class="text-white font-medium bg-indigo-700 p-2.5 rounded-t-md">{header}</div>
	<div class="p-2.5">
		{float
				?
				<div class="not-prose">
					<slot/>
				</div>
				:
				<slot/>
		}
	</div>
</div>
