---
import ThemeSelector from "./ThemeSelector.astro";
const nav = [
  {
    "title": "Downloads",
    "path": "/download"
  },
  {
    "title": "Quickstarts",
    "path": "/docs/quickstarts/"
  },
  {
    "title": "Docs",
    "path": "/docs/"
  },
  {
    "title": "Articles",
    "path": "/articles/"
  },
  {
    "title": "Dev Tools",
    "path": "/dev-tools/"
  },
  {
    "title": "API Docs",
    "path": "/docs/v1/tech/apis/"
  },
  {
    "title": "SDKs",
    "path": "/docs/v1/tech/client-libraries/"
  }
];
const { breadcrumbs = [], displaySearchButton = false, themeable = true } = Astro.props;
---
<!-- Header w/ border on bottom, full width and is sticky -->
<div class:list={[themeable ? "backdrop-blur" : "bg-white dark:bg-slate-900", "border-b border-slate-900/20 sticky top-0 z-20 w-full dark:border-orange-400"]}>
  <!-- Header content -->
  <div class="flex items-center max-w-8xl mx-auto px-4 py-4">
    <!-- Logo -->
    <a href="/">
      <img src="/img/logo-dark.svg" alt="Logo" class="h-9 dark:hidden"/>
      <img src="/img/logo-light.svg" alt="Logo" class="hidden h-9 dark:inline"/>
    </a>

    <nav id="header-nav" class="absolute bg-white h-screen hidden left-0 right-0 top-0 p-6 dark:bg-slate-900 lg:bg-transparent lg:flex lg:h-auto lg:items-center lg:ml-auto lg:p-0 lg:static lg:dark:bg-transparent">
      <!-- Mobile close button -->
      <button type="button" class="absolute pl-4 pr-2 right-5 top-5 lg:hidden" data-widget="visibility-button" data-element="header-nav">
        <i class="fa-regular fa-x text-lg"></i>
      </button>

      <!-- Header nav -->
      <ul class="space-y-6 lg:flex lg:items-center lg:space-y-0">
        {nav.map(nav =>
          <li class:list={["font-semibold text-lg hover:text-indigo-600 dark:hover:text-indigo-400 lg:pl-8 lg:text-sm", Astro.url.pathname.startsWith(nav.path) ? "text-indigo-600 dark:text-indigo-400" : ""]}><a href={nav.path}>{nav.title}</a></li>
        )}
      </ul>

      <!-- Theme selector and Github link -->
      <div class="border-t border-slate-900/10 mt-6 pt-6 relative dark:border-slate-100/10 lg:border-t-0 lg:border-l lg:flex lg:items-center lg:ml-6 lg:mt-0 lg:pl-6 lg:pt-0 lg:space-x-6">
        {themeable && <ThemeSelector/>}

        {displaySearchButton &&
          <button type="button" class="hidden ml-auto lg:block" data-widget="search-button">
            <i class="fa-regular fa-magnifying-glass text-lg"></i>
          </button>
        }

        <a href="https://github.com/FusionAuth" class="flex items-center border border-slate-500 mt-5 rounded-lg p-2 text-slate-500 w-48 hover:bg-slate-100 hover:text-slate-700 dark:hover:bg-slate-700 dark:hover:text-slate-300 lg:border-0 lg:mt-0 lg:p-0 lg:text-slate-400 lg:w-auto lg:dark:hover:bg-transparent lg:hover:bg-transparent">
          <i class="fa-brands fa-github fa-fw text-lg"></i>
          <span class="ml-2 lg:hidden">GitHub</span>
        </a>
      </div>
    </nav>

    <!-- Mobile search button -->
    <button type="button" class="ml-auto lg:hidden" data-widget="search-button">
      <i class="fa-regular fa-magnifying-glass text-lg"></i>
    </button>

    <!-- Mobile nav button (data attributes control the nav to open) -->
    <button type="button" class="ml-4 px-4 lg:hidden" data-widget="visibility-button" data-element="header-nav">
      <i class="fa-regular fa-ellipsis-vertical text-lg"></i>
    </button>
  </div>

  <!-- Mobile nav button (data attributes control the nav to open) -->
  <div class="bg-white px-4 pb-2 dark:bg-slate-900 lg:hidden" data-widget="visibility-button" data-element="side-nav">
    <!-- Divider with a nasty padding hack (including the pb-2 above) -->
    <div class="border-b border-slate-900/10 mb-2 dark:border-slate-100/10"></div>
    <div class="flex items-center">
      <button type="button" data-widget="visibility-button" data-element="side-nav">
        <i class="fa-regular fa-bars text-lg"></i>
      </button>
      <span class="ml-6 text-sm text-slate-500">
        {breadcrumbs.map((crumb, index) => {
          if (index < breadcrumbs.length - 1) {
            return (
              <span class="font-semibold text-slate-500">{crumb}</span>
              <i class="fa-regular fa-angle-right mx-2 text-xs"></i>
            );
          } else {
            return (
              <span class="font-semibold text-slate-500">{crumb}</span>
            );
          }
        })}
      </span>
    </div>
  </div>
</div>
