---
import { Icon } from "astro-iconset/components";

interface Props {
  icon: 'edit' | 'view' | 'save' | 'add' | 'lock';
}

const faIconMapping = {
  'edit': 'edit',
  'view': 'magnifying-glass',
  'save': 'save',
  'add': 'plus',
  'lock': 'lock',
}

const iconColorMapping = {
  'edit': 'green',
  'view': 'blue',
  'save': 'blue',
  'add': 'green',
  'lock': 'red',
}

const { icon } = Astro.props;
const faIcon = faIconMapping[icon];
const color = iconColorMapping[icon];
---

<span 
  class:list={["btn-icon size-7 border rounded-sm bg-(--color) text-(--text-color) border-(--border-color) inline-flex items-center justify-center align-[-0.25em]", 'btn-icon-' + color]}
  role="img"
  aria-label={`${icon}`}
  title={`${icon}`}
>
    <Icon 
      name={`fa7-solid:${faIcon}`} 
      class="block h-4" 
      size="16" 
      aria-hidden="true" 
    />
</span>

<style>
  .btn-icon {
    --color: #fff;
    --border-color: var(--color);
    --text-color: white;

    &.btn-icon-blue {
      --color: #3998db;
    }

    &.btn-icon-green {
      --color: #0bb796;
    }

    &.btn-icon-red {
      --color: #ee3e54;
    }

    &.btn-icon-purple {
      --color: #34485e;
    }

    &.btn-icon-gray {
      --border-color: #bfbfbf;
      --color: #f7f7f7;
      --text-color: #262626;
    }
  }
</style>