---
import { Icon } from 'astro-iconify';

interface Props {
    icon: string;
    color?: 'blue' | 'green' | 'red' | 'gray' | 'purple';
}

const {icon, color = 'blue'} = Astro.props;

---
<span class:list={["btn-icon px-1.5 py-1.5 border rounded-sm bg-(--color) text-(--text-color) border-(--border-color) inline-flex items-center align-[-0.25em]", 'btn-icon-' + color]}>
    <Icon pack="fa7-solid" name={icon} class="block h-4" />
</span>

<style>
  .btn-icon {
    --color: #fff;
    --border-color: var(--color);
    --text-color: white;

    &.btn-icon-blue {
      --color: #3998db;
    }

    &.btn-icon-green {
      --color: #0bb796;
    }

    &.btn-icon-red {
      --color: #ee3e54;
    }

    &.btn-icon-purple {
      --color: #34485e;
    }

    &.btn-icon-gray {
      --border-color: #bfbfbf;
      --color: #f7f7f7;
      --text-color: #262626;
    }
  }
</style>
