---
const { name, since } = Astro.props;
---
<span class="font-bold break-words">{name && name}<slot></slot></span> { since && <span class="px-3 text-green-500 italic capitalize">available since {since}</span> }
