---
import { Code } from 'astro/components';
const { title, src } = Astro.props;
const file = `../json/${src}`;
const code = await import(file);
---
<p>
  <em>{ title }</em>
</p>
<Code lang="json" code={JSON.stringify(code.default, null, 2)}></Code>

