---
import { Code } from 'astro/components';
import { getCollection } from 'astro:content';

const { title, src } = Astro.props;
const jsonFiles = await getCollection('json');
const json = jsonFiles.find(file => file.id === src.replace('.json', ''));
if (json == null) {
  throw new Error("Could not find json for " + src);
}
---
<p>
  <em>{ title }</em>
</p>
<Code lang="json" code={JSON.stringify(json.data, null, 2)}></Code>

