---
import { Code } from 'astro/components';
import { getEntry, CollectionEntry } from 'astro:content';
import { marked } from 'marked';

const { title, src } = Astro.props;
const json = await getEntry('json', src.replace('.json', '')) as CollectionEntry<any>;
if (!json || !json.data) {
  console.error('Could not resolve json', src);
}
// use parseInline so that we do not add additional <p> tags for plain text.
// - https://marked.js.org/using_advanced
const parsedTitle = title ? marked.parseInline(title) : '';
---
{/* title is optional, do not render an empty em tag */}
{title && <em set:html={parsedTitle}/>}
<div class="mb-14 prose-pre:mt-0">
  <Code lang="json" code={JSON.stringify(json.data, null, 2)}></Code>
</div>
