---
import { Icon } from "astro-iconset/components";
import PurpleLogo from 'src/img/fa_logo_purple_orange.svg';
import WhiteLogo from 'src/img/fa_logo_white_orange.svg';

const {
  enableKapa = true,
} = Astro.props;

if (!enableKapa) return '';
---

<kapa-button class="fixed right-5 bottom-5 z-100">
  <button id="kapa-button" class="relative flex flex-col items-center justify-center h-20 w-18 cursor-pointer rounded-lg border border-slate-200 dark:bg-slate-900 dark:border-slate-800 bg-white dark:hover:bg-slate-800 dark:hover:border-indigo-500 group hover:bg-slate-100 hover:border-indigo-500 overflow-hidden shadow-lg">
    <PurpleLogo viewBox="0 0 200 200" class="size-9 group-hover:scale-110 transition-transform duration-500 dark:hidden" />
    <WhiteLogo viewBox="0 0 200 200" class="size-9 group-hover:scale-110 transition-transform duration-500 hidden dark:block" />

    <span class="text-lg">Ask AI</span>

    <span class="absolute inset-0 bg-black/10 dark:bg-black/50 transition-opacity duration-300 hidden group-[.is-loading]:flex items-center justify-center">
      <Icon name="fa7-solid:spinner" class="h-8 animate-spin [animation-duration:2s]" size={32} />
    </span>
  </button>
</kapa-button>

<script>
  const scriptSrc = "https://widget.kapa.ai/kapa-widget.bundle.js";

  declare global {
    // Note the capital "W"
    interface Window {
      Kapa(fn: 'render', config?: { onRender: () => void }): void;
      Kapa(fn: 'open', config?: { mode: 'search' | 'ai'; query: string; submit: boolean }): void;
      Kapa(fn: 'close'): void;
      Kapa(fn: 'unmount'): void;
    }
  }

  let k = window.Kapa;
  if (!k) {
    let i: any = function () {
      i.c(arguments);
    };
    i.q = [];
    i.c = function (args) {
      i.q.push(args);
    };
    window.Kapa = i;
  }

  class KapaButton extends HTMLElement {
    private btn: HTMLButtonElement | null = null;
    private script: HTMLScriptElement | null = null;
    private loaded = false;

    connectedCallback() {
      this.btn = this.querySelector('button');

      this.btn.addEventListener('click', async () => {
        this.btn.classList.add('is-loading');
        await this.loadKapa();
        window.Kapa('open');
        this.btn.classList.remove('is-loading');
      });
    }

    disconnectedCallback() {
      window.Kapa('unmount');

      if (this.script) {
        this.script.remove();
        this.script = null;
      }
    }

    private async loadKapa(): Promise<void> {
      return new Promise((resolve) => {
        if (this.loaded) {
          resolve();
          return;
        }

        const script = document.createElement("script");
        script.async = true;
        window.Kapa('render', {
          onRender: () => resolve()
        });
        script.onload = () => {
          return this.loaded = true;
        };
        script.src = scriptSrc;

        const attrs = {
          "data-website-id": "26ad3b7e-7d94-491c-ab54-95712d1fafee",
          "data-project-name": "FusionAuth",
          "data-project-color": "#0F172A",
          "data-project-logo": "https://uploads-ssl.webflow.com/617b1b1f42c1da41aeae3413/663bee0e6eec6b85377a3939_fa-square-icon-144.png",
          "data-render-on-load": "false",
          'data-user-analytics-cookie-enabled': "false",
          'data-button-animation-enabled': "false",
          'data-mcp-server-url': "https://ai.fusionauth.io/mcp/docs",
          'data-mcp-button-hidden': "false",
          'data-launcher-button-hidden': "true",
        };

        Object.entries(attrs).forEach(([k, v]) => script.setAttribute(k, v));

        // Append to the document head
        document.head.appendChild(script);
        this.script = script;
      });
    }
  }

  if (!customElements.get('kapa-button')) {
    customElements.define('kapa-button', KapaButton);
  }
</script>
