---
import { Code } from 'astro:components';
import fs from 'fs';
import path from 'path';

interface Props {
  src: string;
  lang?: string;
  title?: string;
}

const { src, lang = 'plaintext', title }: Props = Astro.props;

const content = fs.readFileSync(path.resolve(src), { encoding: 'utf-8' }).trim();
---
{title && <p><em>{title}</em></p>}
<Code code={content} lang={lang} />
