---
import Icon from './icon/Icon.astro';
const { menuLabel, menuItems } = Astro.props;
---
<div class="inline-block relative lg:mx-3 xl:hidden">
  <div class="mb-1 text-base lg:mb-0">
    <button type="button" class="font-medium gap-x-1.5 group hover:text-indigo-500 inline-flex text-base text-white" id="menu-button"
            aria-expanded="true" aria-haspopup="true">
      <label class="ease-in font-bold group-hover:text-indigo-500 text-sm">{ menuLabel }</label>
      <Icon name="down-chevron" />
    </button>
  </div>
  <div
    class="transition-opacity transition-scale bg-white opacity-0 -mt-1 absolute outline-none origin-top-right right-0  rounded-md shadow-xl text-base top-10 w-48 z-10"
    role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id="more-menu">
    <div role="none" class="py-2">
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
      { menuItems && menuItems.map(menuItem =>
        <a href={ menuItem.href } class="block font-semibold hover:text-indigo-600 px-4 py-2 text-slate-700 text-sm" role="menuitem" tabindex="-1">
          { menuItem.name }
        </a>
      )}
    </div>
  </div>
</div>
