---
const { items } = Astro.props;
---
{items.map(item =>
  <a class="font-semibold hover:font-bold pb-4 text-sm" href={item.href ? item.href : '#'}>{item.title}</a>
  <ul class="border-l border-slate-900/10 group mb-10 space-y-3 dark:border-slate-100/10">
    {item.items.map((item) =>
      <li class:list={["group", Astro.url.pathname.startsWith(item.path.substring(0, item.path.length - 1)) ? "active " : ""]}>
        <a href={item.path} class="block border-l border-transparent pl-4 text-slate-700 text-sm -ml-px dark:text-slate-400 dark:hover:border-slate-400 dark:group-[.active]:border-indigo-400 dark:group-[.active]:text-indigo-400 group-[.active]:border-indigo-600 group-[.active]:font-semibold group-[.active]:text-indigo-600 hover:border-slate-900/50">{item.title}</a>
      </li>
    )}
  </ul>
)}
