---
const { target } = Astro.props;
const href = `#${target.toLowerCase().split(' ').join('-').replaceAll('?','').replaceAll('.','')}`;
---
<span data-widget="scroll-spy-item">
  <a {href}>
    {target}
  </a>
</span>
