---
---
<!-- Search modal -->
<div class="backdrop-blur-sm bg-slate-500/10 fixed flex items-center justify-center hidden inset-0 overflow-auto z-30" data-widget="search">
  <div class="bg-white border border-slate-900/10 flex flex-col h-4/5 max-w-4xl mx-auto rounded-md shadow-2xl text-slate-500 w-11/12 dark:bg-slate-800 dark:border-slate-100/10 dark:text-slate-400">
    <header class="border-b border-slate-900/10 flex flex-shrink items-center px-6 py-4 dark:border-slate-100/10">
      <i class="fa-regular fa-magnifying-glass mr-4"></i>
      <input type="text" class="border-0 bg-transparent mr-4 pl-2 pr-3 py-1.5 w-full" placeholder="Search" data-widget="search-input"/>
      <i class="hidden fa-solid fa-loader fa-spin mr-4" style="--fa-animation-duration: 3s;" data-widget="search-loading-icon"></i>
      <button class="bg-slate-100 px-1.5 py-1 rounded-md text-[0.5rem] dark:bg-slate-700" data-widget="search-close">ESC</button>
    </header>
    <div class="overflow-auto py-4">
      <!-- Search results -->
      <div data-widget="search-results">
        <h2 class="flex font-medium items-center pb-4 pt-2 px-6 text-slate-700 dark:text-slate-200">Results</h2>
        <ul class="px-6 py-4 space-y-2">
        </ul>
      </div>

      <!-- Recent searches (not currently implemented, so they are hidden) -->
      <div class="hidden overflow-auto py-4" data-widget="search-recent">
        <h2 class="border-b border-slate-900/10 flex font-medium items-center pb-4 pt-2 px-6 text-slate-700 dark:border-slate-100/10 dark:text-slate-200">Recent</h2>
        <ul>
          {([...Array(10)].map(() =>
            <li class="border-b border-slate-900/10 flex items-center pr-4 w-full dark:border-slate-100/10">
              <a href="#" class="flex-grow px-6 py-4">
                <span class="mr-auto text-sm">Item 1</span>
              </a>
              <button class="border-r border-slate-900/10 pr-4 dark:border-slate-100/10" data-widget="search-favorite">
                <i class="fa-regular fa-star dark:hover:text-indigo-400 hover:text-indigo-600"></i>
              </button>
              <button class="ml-4" data-widget="search-remove">
                <i class="fa-regular fa-x dark:hover:text-slate-100 hover:text-slate-900"></i>
              </button>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </div>
</div>
