---
const { items } = Astro.props;
console.log(Astro.url.pathname);
---
<nav class="pb-8">
  <ul class="space-y-4">
    {items.map((item) =>
      <li class:list={["group", Astro.url.pathname.startsWith(item.path) > 0 ? "active " : ""]}>
        <a href={item.path} class="flex font-medium group items-center group text-sm">
          <i class="fa-duotone fa-book-open h-6 mr-4 ring-1 ring-slate-900/5 pt-[4px] rounded-md shadow-sm text-center text-indigo-400 text-xs w-6 dark:bg-slate-800 dark:ring-0 dark:shadow-none dark:group-hover:bg-indigo-400 dark:group-hover:shadow-none dark:group-hover:text-indigo-600 dark:group-[.active]:bg-indigo-400 dark:group-[.active]:shadow-none dark:group-[.active]:text-indigo-600 group-[.active]:ring-slate-900/10 group-[.active]:shadow group-[.active]:shadow-indigo-200 group-[.active]:text-indigo-600 group-hover:ring-slate-900/10 group-hover:shadow group-hover:shadow-indigo-200 group-hover:text-indigo-600"></i>
          <span class="group-hover:text-indigo-600 dark:group-hover:text-indigo-400 group-[.active]:text-indigo-600 dark:group-[.active]:text-indigo-400">{item.title}</span>
        </a>
      </li>
    )}
  </ul>
</nav>
