<div class="
  [&>ol]:list-none [&>ol]:pl-0 [&>ol]:[counter-reset:step]
  
  /* spacing */
  [&>ol>li]:relative [&>ol>li]:pl-12 [&>ol>li]:pb-8 [&>ol>li]:min-h-[2rem] [&>ol>li]:[counter-increment:step]
  
  /* circle in number before each step */
  [&>ol>li]:before:content-[counter(step)] [&>ol>li]:before:absolute [&>ol>li]:before:left-0 [&>ol>li]:before:top-0 
  [&>ol>li]:before:flex [&>ol>li]:before:h-8 [&>ol>li]:before:w-8 [&>ol>li]:before:items-center [&>ol>li]:before:justify-center 
  [&>ol>li]:before:rounded-full [&>ol>li]:before:border [&>ol>li]:before:border-indigo-200 [&>ol>li]:before:bg-indigo-50 
  [&>ol>li]:before:text-xs [&>ol>li]:before:font-bold [&>ol>li]:before:text-indigo-900
  
  /* line connecting each step */
  [&>ol>li]:after:absolute [&>ol>li]:after:bottom-2 [&>ol>li]:after:left-[0.9375rem] [&>ol>li]:after:top-10 
  [&>ol>li]:after:w-px [&>ol>li]:after:bg-indigo-200 [&>ol>li]:after:content-['']
  
  /* no line next to last step */
  [&>ol>li:last-child]:after:hidden
  
  /* dark mode color changes */
  dark:[&>ol>li]:before:border-indigo-800 dark:[&>ol>li]:before:bg-indigo-900 dark:[&>ol>li]:before:text-indigo-100
  dark:[&>ol>li]:after:bg-indigo-800
">
  <slot />
</div>
