<div class="form-container">
  <div style="margin-top: 25px;">
    <form id="mktoForm_custom" class="space-y-4" onsubmit="event.preventDefault();">
      <div class="form-fields flex flex-col sm:flex-row items-start gap-x-4 gap-y-2 w-full max-w-md">
        <div class="flex-auto w-full sm:w-auto">
          <input type="email" id="mktoEmail" placeholder="Email address *" aria-label="Email address" required
            class="min-w-0 w-full rounded-md border-0 bg-slate-100 px-3.5 py-2 dark:bg-white/5 text-slate-600 dark:text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 placeholder:text-gray-500" />
        </div>
        <button type="submit"
          class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 w-full sm:w-auto">Submit</button>
      </div>
      
      <div class="error-message mt-4" style="display:none;">
        <p class="text-sm font-semibold !text-red-500">Form submission blocked by your browser. Please temporarily disable your ad blocker or privacy protection to submit.</p>
      </div>

      <div class="success-message mt-4" style="display:none;">
        <p class="text-sm font-semibold !text-green-500">Thank you! Your submission has been received.</p>
      </div>
    </form>
  </div>
</div>

<form id="mktoForm_1148" style="display:none;"></form>

<script is:inline src="https://195-ZDI-012.mktoweb.com/js/forms2/js/forms2.min.js" charset="utf-8"></script>
<script is:inline>
  (function initMarketo() {
    var customForm = document.getElementById("mktoForm_custom");
    
    // if script blocked, show a default error message on submit
    if (typeof MktoForms2 === "undefined") {
      customForm.addEventListener("submit", function(e) {
        e.preventDefault();
        customForm.querySelector(".error-message").style.display = "block";
      });
    } else {
      MktoForms2.loadForm("//195-ZDI-012.mktoweb.com", "195-ZDI-012", 1148, function(mktoForm) {
        mktoForm.onSuccess(function(values, followUpUrl) {
          customForm.querySelector(".form-fields").style.display = "none";
          customForm.querySelector(".error-message").style.display = "none";
          customForm.querySelector(".success-message").style.display = "block";
        });

        customForm.addEventListener("submit", function(e) {
          e.preventDefault(); 
          var email = document.getElementById("mktoEmail").value;
          mktoForm.setValues({ Email: email });
          mktoForm.submit();
        });
      });
    }
  })();
</script>