<script>
  import HubSpotForm from "src/components/HubspotForm";
  new HubSpotForm("#subscribe-footer-cta","b2983217-5f06-4537-a54c-18213b260d5d");
</script>

<section class="bg-slate-900 grid px-7 py-16 2xl:pl-48 2xl:pr-40">
  <div
    class="2xl:p-20 border-2 border-indigo-600 border-solid container grid grid-cols-1 lg:flex lg:grid-cols-2 lg:p-10 lg:place-self-center lg:text-left m-auto max-w-8xl mx-auto px-4 py-8 rounded-lg sm:text-center xl:inline-flex xl:mx-20 xl:pt-10">
    <div class="mb-10 lg:mb-auto lg:pr-14 xl:mb-auto">
      <h2
        class="font-bold leading-6 mb-5 text-2xl text-white md:font-Inter md:font-bold md:leading-7 md:text-3xl md:tracking-tight">
        Subscribe to The FusionAuth Newsletter
      </h2>
      <p class="font-Inter font-medium leading-6 text-md text-slate-300">
        Get updates on techniques, technical guides, and the latest product
        innovations coming from FusionAuth.
      </p>
    </div>
    <div class="sm:place-self-center lg:justify-center lg:place-items-stretch xl:place-self-center xl:pr-14">
      <form data-hubspot-form id="subscribe-footer-cta">
        <div class="error-container mb-4 text-slate-100" style="display:none;"></div>
        <div class="form-fields flex gap-x-4 w-96 sm:flex-row w-full sm:w-96">
          <input type="email" name="EMAIL" size="30" placeholder="Email address *" aria-label="Email address" required
            class="min-w-0 flex-auto rounded-md border-0 bg-slate-100 px-3.5 py-2 dark:bg-white/5 text-slate-600 dark:text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 placeholder:text-gray-500" />
          <input type="hidden" name="hs_context" id="hs_context" />
          <button type="submit"
            class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
            Submit
          </button>
        </div>
        <div class="success-message mt-4 text-slate-100" style="display:none;"></div>
      </form>
      <p class="font-Inter font-medium mt-2 leading-6 text-center text-sm text-white">
        Just dev stuff. No junk.
      </p>
    </div>
  </div>
</section>