---
import { Marked } from "marked";
interface Props {
  label: string;
}
const { label } = Astro.props;
const remark = new Marked();
const markdownifiedLabel = remark.parseInline(label);
---
<div class="tab-panel hidden" data-label={markdownifiedLabel} role="tabpanel">
  <slot />
</div>
