---
import { markdown } from '@astropub/md';
interface Props {
  label: string;
}
const { label } = Astro.props;
const markdownifiedLabel = await markdown.inline(label);
---
<div class="tab-panel hidden" data-label={markdownifiedLabel} role="tabpanel">
  <slot />
</div>
