---
const groupName = `tab-group-${Math.random().toString(36).substring(2, 9)}`;

let html = await Astro.slots.render("default");

// Inject the unique group name and mark ONLY the first input as checked
let isFirst = true;
html = html.replace(/name="%%TAB_GROUP%%"/g, () => {
  if (isFirst) {
    isFirst = false;
    return `name="${groupName}" checked`;
  }
  return `name="${groupName}"`;
});
---

<div class="tabs-group flex flex-wrap my-8 border border-gray-200 dark:border-gray-700 rounded-xl overflow-hidden bg-gray-50 dark:bg-gray-800/50">
  <Fragment set:html={html} />
  <div class="order-1 flex-grow"></div>
</div>