---
---
<div data-widget="theme-selector" class="relative">
  <button type="button" class="flex items-center border border-slate-500 mt-5 rounded-lg p-2 text-slate-500 w-48 hover:bg-slate-100 hover:text-slate-700 dark:hover:bg-slate-700 dark:hover:text-slate-300 lg:border-0 lg:mt-0 lg:p-0 lg:text-slate-400 lg:w-auto lg:dark:hover:bg-transparent lg:hover:bg-transparent">
    <span class="dark:hidden">
      <i class="fa-light fa-sun-bright fa-fw text-indigo-600 text-lg"></i>
    </span>
    <span class="hidden dark:inline">
      <i class="fa-light fa-moon fa-fw text-indigo-400 text-lg"></i>
    </span>
    <span class="ml-2 lg:hidden">Change theme</span>
  </button>

  <!-- Theme dropdown menu -->
  <ul class="absolute bg-white border border-slate-900/10 hidden rounded-md shadow-lg left-0 top-12 w-36 dark:bg-slate-900 dark:border-slate-100/10 dark:text-slate-200 lg:left-auto lg:right-0">
    <li class="group">
      <div class="dark:group-[.active]:bg-slate-800 group-[.active]:bg-slate-100">
        <button type="button" class="flex font-medium group items-center px-2 py-1 text-sm text-slate-900 w-full dark:text-indigo-200 dark:group-[.active]:text-indigo-400 group-[.active]:text-indigo" data-theme="light">
          <i class="fa-light fa-sun-bright fa-fw mr-3 text-lg text-slate-500" data-active-class="text-indigo-600 dark:text-indigo-400" data-inactive-class="text-slate-500"></i>
          Light
        </button>
      </div>
    </li>
    <li class="group">
      <div class="dark:group-[.active]:bg-slate-800 group-[.active]:bg-slate-100">
        <button type="button" class="flex font-medium group items-center px-2 py-1 text-sm text-slate-900 w-full dark:text-indigo-200 dark:group-[.active]:text-indigo-400 group-[.active]:text-indigo" data-theme="dark">
          <i class="fa-light fa-moon fa-fw mr-3 text-lg text-slate-500" data-active-class="text-indigo-600 dark:text-indigo-400" data-inactive-class="text-slate-500"></i>
          Dark
        </button>
      </div>
    </li>
    <li class="group">
      <div class="dark:group-[.active]:bg-slate-800 group-[.active]:bg-slate-100">
        <button type="button" class="flex font-medium group items-center px-2 py-1 text-sm text-slate-900 w-full dark:text-indigo-200 dark:group-[.active]:text-indigo-400 group-[.active]:text-indigo" data-theme="system">
          <i class="fa-light fa-computer-classic fa-fw mr-3 text-lg text-slate-500" data-active-class="text-indigo-600 dark:text-indigo-400" data-inactive-class="text-slate-500"></i>
          System
        </button>
      </div>
    </li>
  </ul>
</div>
