---
---
<div class="mt-4 mb-8">
  <div class="bg-gray-800 my-0 py-2 px-4 rounded-md">
    <span class="text-white prose-code:text-blue-400 prose-code:border-0 prose-code:bg-slate-800">
      <slot></slot>
    </span>
  </div>
</div>

