---
layout: default
title: FusionAuth's Blog Posts
description: Get the latest updates on FusionAuth, identity and access management, security, general coding and major geekery here.
pagination:
  enabled: true
bloghomepage: true
---
<section class="white blog">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-lg-7 centered">
        <h1>FusionAuth Blog</h1>
        <p>
          Get the latest updates on FusionAuth, identity and access management, security, general coding and major geekery here.
        </p>
      </div>
    </div>
    <ul class="listing">
      {% for post in paginator.posts %}
        <li>
          <div class="row blog-snippet">
            <div class="col-xs-12 col-lg-5">
              <a href="{{ post.url | replace: '.html', '' }}">
                <img src="/assets/img/{{ post.image }}" alt="{{ post.title }}">
              </a>
            </div>
            <div class="col-xs-12 col-lg-7">
              <h2>{{ post.title }}</h2>
              <div class="author-date">{{ post.author }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ post.date | date_to_string: "ordinal", "US" }}</div>
              {{ post.excerpt }}
              <a href="{{ post.url | replace: '.html', '' }}" class="read-more">READ MORE <i class="fas fa-long-arrow-right"></i></a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="row">
      <div class="col-xs-12">
        <nav class="pagination">
          {% if paginator.page_trail %}
            <ul>
              <li>
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="white square button"><i class="fal fa-chevron-left fa-fw"></i></a>
              </li>
              {% for trail in paginator.page_trail %}
                <li>
                  <a href="{{ trail.path | prepend: site.baseurl | replace: 'index.html', '' }}" title="{{trail.title}}" class="white square button {% if page.url == trail.path %}active{% endif %}">{{ trail.num }}</a>
                </li>
              {% endfor %}
              <li>
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="white square button"><i class="fal fa-chevron-right fa-fw"></i></a>
              </li>
            </ul>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
</section>
