
h1 {
  color: #096324;
}

h3 {
  color: #096324;
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
}

a {
  color: #096324;
}

p {
  font-size: 18px;
}

.header-email {
  color: #096324;
  margin-right: 20px;
}

.fine-print {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.h-row {
  display: flex;
  align-items: center;
}

#page-container {
  overflow: hidden;
}

#page-header {
  flex: 0;
  display: flex;
  flex-direction: column;
}

#logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding: 12px 40px 12px 40px;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  padding: 15px 50px 15px 30px;
  background-color: #096324;
  font-size: 20px;
  column-gap: 80px;
}

.menu-link {
  font-weight: 600;
  font-size: 20px;
  font-family: sans-serif;
  color: #ffffff;
  text-decoration-line: none;
  background: none;
  border: none;
}

.active {
  text-decoration-line: underline;
}

.button-lg {
  border: none;
  background-color: #096324;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  padding: 8px 42px 8px 42px;
  gap: 20px;
  text-decoration-line: none;
}

.button-redirect {
  background: none;
  border: none;
  font-size: 18px;
  font-family: sans-serif;
  color: #096324;
  margin-top: 20px;
}

.column-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: calc(100vh - 144px);
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.balance {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 32px;
}

.change-label {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

.change-input {
  font-size: 18px;
  font-weight: 400;
  width: 210px;
  height: 42px;
  padding: 10px 22px 10px 22px;
  text-align: end;
  border-radius: 2px;
  border-width: 1px;
  border-color: #000000;
  box-sizing: border-box;
}


.change-submit {
  border-width: 1px;
  border-color: #000000;
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
  height: 42px;
  margin-left: 20px;
  border-radius: 8px;
}

.change-message {
  font-size: 20px;
  margin-top: 8px;
}

.error-message {
  font-size: 20px;
  color: #ff0000;
  margin-bottom: 15px;
}

.app-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.image-container {
  display: flex;
  flex: 1;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .image-container {
    display: none;
  }
  .image-container img {
    display: none;
  }
  .menu-bar {
    overflow: scroll;
  }
  #logo-header {
    flex-direction: column;
    justify-content: center;
    padding: 12px 20px 12px 20px;
  }
  .h-row {
    flex-direction: column;
  }
  .header-email {
    margin-right: 0;
    margin-top: 0;
  }
  .app-container {
    padding: 24px;
  }
}

  @media (max-width: 390px) {
  .change-container {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
  }
  .change-submit {
    margin-left: 0;
    margin-top: 8px;
  }
}