---
layout: advice-category
title: Token Articles
description: Everything you need to know to implement software tokens for secure authentication.
category: Tokens
---
{% include _advice-card.liquid href="/learn/expert-advice/tokens/pros-and-cons-of-jwts/" img="/assets/img/stamps/jwts-pros-cons.svg" title="Pros and Cons of JWTs" description="Customer identity and access management (CIAM) providers everywhere are pushing JWTs as the silver bullet for everything. JWTs are pretty cool, but let's talk about some of the downsides of JWTs and other solutions you might consider." %}
{% include _advice-card.liquid href="/learn/expert-advice/tokens/revoking-jwts/" img="/assets/img/stamps/revoking-jwts.svg" title="Revoking JWTs" description="We've been talking with developers about JSON Web Tokens (JWTs) recently and a one question keeps coming up: 'How do I revoke a JWT?' If you search online, you'll find a couple different possibilities, but let's take a closer look at the details." %}
{% include _advice-card.liquid href="/learn/expert-advice/tokens/building-a-secure-jwt/" img="/assets/img/stamps/building-jwt-tokens.svg" title="Building a Secure Signed JWT" description="JSON Web Tokens (JWTs) are extremely configurable. As a producer or consumer of JWTs, what should you do to make sure that a signed JWT is secure?" %}
