---
layout: default
title: Resources
description: Use the resources below to get in-depth details on everything related to authorization and identity.
image: fusionauth-share-image.jpg
header_dark: true
---

<section class="bg-secondary pt-5 pb-6">
  <div class="container text-center text-white">
    <h1 class="text-white display-4">Papers, Guides & Resources</h1>

    <p class="lead lh-4">Use the resources below to get in-depth details on everything related to authorization and identity.</p>

    <p class="lead lh-4">We also post regularly on the <a href="/blog/" class="blue-link">FusionAuth blog</a>, so jump over to see the most recent updates.</p>
  </div>
</section>

<section>
  <div class="container pt-6 pb-6">
    <div class="fusion-go-round-free">
      {% for resource in site.data.resources %}
      <div class="fusion-go-round-car">
        <a class="text-decoration-none" href="{{ resource.url }}">
          <div class="fusion-go-round-card shadow-sm">
            <img class="card-img-top" src="/assets/img/{{ resource.image }}">
            <div class="card-text-bottom text-center p-3 text-secondary font-weight-bold text-uppercase">
              <span>{{ resource.title }}</span>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!--<section>-->
<!-- Office hours don't exist yet -->
<!--</section>-->

<section class="bg-secondary text-white text-center">
  <div class="container pt-6 pb-6">
    <h2 class="text-white display-4">Tutorials, Code Samples & Videos</h2>
    <div class="fusion-go-round-free mt-5">
      {% for resource in site.data.pop-tutorials-videos %}
      <div class="fusion-go-round-car">
        <a class="text-decoration-none" href="{{ resource.url }}">
          <div class="fusion-go-round-card shadow-sm">
            <img class="card-img-top" src="/assets/img/{{ resource.image }}">
            <div class="card-text-bottom text-center p-3 text-secondary font-weight-bold text-uppercase">
              <span>{{ resource.title }}</span>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include macros/subscribe.html %}
