---
import { categories, getCategoryLabel } from 'src/components/docs/release-notes/ReleaseNotes.astro';
const category = 'deprecated';
const label = getCategoryLabel(category);
---
<div class={`issue-row release-notes-item-${category}`}>
  <span class={`issue-badge badge-${category}`}>
    {label}
  </span>

  <div class="issue-content">
    <div class="markdown-wrapper">
      <slot />
    </div>
  </div>
</div>
