---
import Aside from 'src/components/Aside.astro';
const { warning_message } = Astro.props
---

<Aside type="caution" title="Please Read">
  {warning_message && <p>{warning_message}</p>}
  <slot/>
</Aside>
