---
// Creates an issue entry in a release notes section, including the "Resolves GitHub issue #nnnn" bit
//
// issue: a comma-separated list of GitHub issue numbers
//
// Note that in our release notes docs, these are added to top-level markdown bullets. If you want to include multi-line text in the body, be sure to indent it so the renderer knows it's supposed to go with the bullet (you'll get an error if you don't).
//
// Example:
// * <ReleaseNotesIssue issue="1234">
//   Some content
//
//   Some other content
//   </ReleaseNotesIssue>

export interface Props {
  issue: string;
}

const { issue } = Astro.props as Props;
---
<Fragment>
<slot></slot>
<ul>
  <li>
      Resolves <a target="_" href={`https://github.com/FusionAuth/fusionauth-issues/issues/${issue}`}>GitHub Issue #{issue}</a>
  </li>
</ul>
</Fragment>
