---
import { refCase } from 'src/tools/string/refCase';

const { version, releaseDate, name } = Astro.props;
---

<h2 id={`version-${version.replaceAll('.', '-').replaceAll(' ', '-').toLowerCase()}`} class="release-note mb-2">Version {version}{ name !== undefined ? " - " + name : ""} </h2>
<p class="italic">{ releaseDate}</p>

