---
import { refCase } from 'src/tools/string/refCase';

const { version, releaseDate, name } = Astro.props;
---

<h2
	id={`version-${version.replaceAll('.', '-').replaceAll(' ', '-').toLowerCase()}`} class="release-note mb-2">
	Version {version}{ name !== undefined ? " - " + name : ""}
	<a class="anchor-link" title="copy header link" href=`#${version}`></a></h2>
<p style="float:right; margin-top: -3em;" class="italic">{releaseDate}</p>

