---
export interface Props {
  issue: string;
}

const { issue } = Astro.props as Props;
---
<Fragment>
<slot></slot>
<ul>
  <li>
    Resolves <a target="_" href={`https://github.com/FusionAuth/fusionauth-issues/issues/${issue}`}>GitHub Issue #{issue}</a>
  </li>
</ul>
</Fragment>
