---
import { refCase } from 'src/tools/string/refCase';

const { version, releaseDate, name } = Astro.props;
---

<h2
	id={`version-${version.replaceAll('.', '-').replaceAll(' ', '-').toLowerCase()}`} class="release-note mb-2 group">
	Version {version}{ name !== undefined ? " - " + name : ""}
	<a class="anchor-link !border-b-0 !no-underline ml-2 opacity-0 group-hover:opacity-100" title="copy header link" href=`#version-${version.replaceAll('.', '-')}`>#</a></h2>
<p style="float:right; margin-top: -3em;" class="italic">{releaseDate}</p>

