---
---

<label>
  <select id="release-notes-version" class="select border-2 border-gray-300 focus-ring-indigo-300 h-10 px-2 dark:text-slate-900" style="width: 100%;"></select>
</label>

<slot />

<script>
  let options = '';
  const elements = document.querySelectorAll('h2.release-note');

  for (let i = 0; i < elements.length; i++) {
    const element = elements[i];
    options += '<option value="' + element.id + '">' + element.innerHTML.trim() + '</option>\n';
  }

  const select = document.getElementById('release-notes-version') as HTMLSelectElement;
  if (select) {
    select.insertAdjacentHTML('beforeend', options);
    select.addEventListener('change', function() {
      window.location.hash = select.options[select.selectedIndex].value;
    });
  }
</script>

<!-- If we want to make this the default style for selects, we could either bring in the Select Tailwind component, or just make this the default style -->
<style>
  .select {
    -webkit-print-color-adjust: exact;
    appearance: none;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"%3E%3C!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/%3E%3C/svg%3E');
    background-position: right 0.6rem center;
    background-repeat: no-repeat;
    background-size: 0.75em 0.75em;
  }
</style>

