---
---

<label>
  <select id="release-notes-version" class="border-2 border-gray-300 focus-ring-indigo-300 h-10 px-2 dark:text-slate-900" style="width: 100%;"></select>
</label>

<slot />

<script>
  let options = '';
  const elements = document.querySelectorAll('h2.release-note');

  for (let i = 0; i < elements.length; i++) {
    const element = elements[i];
    options += '<option value="' + element.id + '">' + element.innerHTML.trim() + '</option>\n';
  }

  const select = document.getElementById('release-notes-version') as HTMLSelectElement;
  if (select) {
    select.insertAdjacentHTML('beforeend', options);
    select.addEventListener('change', function() {
      window.location.hash = select.options[select.selectedIndex].value;
    });
  }
</script>
