---
export interface Props {
  resolvedIn: string;
  viaIssue: string;
}

const { resolvedIn, viaIssue } = Astro.props as Props;
---
<Fragment>
<slot></slot>
<ul>
  <li>
    Resolved in version <code>{resolvedIn}</code> via <a target="_" href={`https://github.com/FusionAuth/fusionauth-issues/issues/${viaIssue}`}>GitHub Issue #{viaIssue}</a>
  </li>
</ul>
</Fragment>
