---
// Creates an issue entry in a release notes section, including the "Resolves GitHub issue #nnnn" bit
//
// issue: a comma-separated list of GitHub issue numbers

export interface Props {
  issue: string;
}

const { issue } = Astro.props as Props;
const issueNumbers = issue.split(',');
---
<Fragment>
<slot></slot>
<ul>
  {issueNumbers.map((inum) => (
    <li>
      Resolves <a target="_" href={`https://github.com/FusionAuth/fusionauth-issues/issues/{inum}`}>GitHub Issue {inum}</a>
    </li>
  ))}
</ul>
</Fragment>
