---
import Aside from 'src/components/Aside.astro';

export interface Props {
  version: string;
}

const { version } = Astro.props as Props;

var fragment = "";
if (version) {
  fragment = "#version-" + version.replace(/\./g, '');
}
---

<Aside type="theme" title="Theme update">
<p>This version of FusionAuth includes changes that may affect you if you have one more custom themes. <strong>Please read below to understand if this affects you</strong>, or if you need to take immediate action prior to upgrading.</p>

<slot/>

<p>
  See <a href=`/docs/customize/look-and-feel/upgrade${fragment}`>Theme Upgrade Notes</a> for details on updating an existing advanced theme specific to this release. See <a href="/docs/customize/look-and-feel/advanced-theme-editor#upgrading">Theme Upgrades</a> for additional information about the upgrade process.
</p>
</Aside>
