---
import Aside from 'src/components/Aside.astro';
---

<Aside type="theme" title="Theme update">
<p>This version of FusionAuth includes changes to the default FusionAuth theme. If you have created custom themes in previous versions of FusionAuth, <strong>you will need to incorporate these changes into your custom themes</strong>.</p>

<slot/>

<p>See <a href="/docs/customize/look-and-feel/advanced-theme-editor#upgrading">Theme Upgrades</a> for more information about the upgrade process.</p>
</Aside>
