---
import Aside from 'src/components/Aside.astro';

export interface Props {
  version: string;
}

const { version } = Astro.props as Props;

var fragment = "";
if (version) {
  fragment = "#version-" + version.replace(/\./g, '');
}
---

<Aside type="theme" title="Requires an update to custom themes">

<slot/>

<p>
  For more information about the upgrade process, see <a href="/docs/customize/look-and-feel/advanced-theme-editor#upgrading">Theme Upgrades</a>.
</p>
</Aside>
