---
import Layout from 'src/layouts/Developer.astro';

const title = 'Ubyft';
const description = "Doesn't the world need another rideshare service?";
---
<Layout {title} {description}>
  <section class="py-24">
  <div class="w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] mx-auto">
    <div class="mb-10 justify-center flex flex-row items-stretch flex-wrap">
      <div class="text-center">
        <img src="/img/landing/fancy-car.jpg">
      </div>
    </div>
      <div class="centered flex-col justify-center items-center mx-auto">
        <h2 class="text-4xl my-4 font-semibold text-slate-600 text-center">
          Thanks for checking out this fake rideshare website.
        </h2>
        <p class="text-center my-2">
          We don't have any rides for you, sorry. But you do get bonus points for your attention to detail.
        </p>
        <p class="text-center my-8 bg-orange-500 rounded w-[270px] h-10 mx-auto flex flex-col justify-center">
          <a class="text-white my-4 text-sm font-semibold" href="/download">DOWNLOAD FUSIONAUTH</a>
        </p>
      </div>
  </div>
</section>
</Layout>

