---
import exampleApps from 'src/content/json/exampleapps.json';

exampleApps.sort((a, b) => { return a.name.toUpperCase().localeCompare(b.name.toUpperCase())});

const { language } = Astro.props;
---
<ul>
{exampleApps.filter((app) => app.language === language).map((app) =>
  <li><a href={app.url}>{app.name}</a> - {app.description}</li>
)}
</ul>
