---
import exampleApps from 'src/content/json/exampleapps.json';

//const groupedExamples = Map.groupBy(exampleApps.sort((a, b) => { return a.name.toUpperCase().localeCompare(b.name.toUpperCase())}), (app) => app.language);
const groupedExamples = exampleApps.reduce((result, app) => { if (result[app.language]) { result[app.language].push(app); } else {result[app.language] = [app];} return result;}, {});
const langKeys = Object.keys(groupedExamples).sort((a, b) => { return a.toUpperCase().localeCompare(b.toUpperCase()) });
---
{langKeys.map((lang) =>
  <h2 class="capitalize">{lang}</h2>

  <ul>
    {groupedExamples[lang].sort((a, b) => { return a.name.toUpperCase().localeCompare(b.name.toUpperCase()) }).map((app) =>
      <li><a href={app.url}>{app.name}</a> - {app.description}</li>
    )}
  </ul>
)}

