-# Modified for FusionAuth
-#    I changed this to use a <p> only instead of a <div> and a <p>
-#    I removed the nested <div class="sectionbody">
-#    I removed the class="paragraph"
%p{:id=>@id, :class=>[role]}>
  - if title?
    .title=title
  =content
