- case @type
- when :xref
  %a(href=@target)<=(@text || (@document.find_by(id: @target[1..-1])[0] ? @document.find_by(id: @target[1..-1])[0].title : 'BROKEN LINK'))
- when :ref
  %a(id=@target)
- when :bibref
  %a(id=@target)>
  =%([#{@target}])
- else
  %a(href=@target){:id=>@id, :class=>role, :target=>(attr :window), :title=>(attr :title)}=@text
