---
layout: landing-page
title: Hacker Attack!
description: Download, install and get FusionAuth up and running in minutes.
sitemap:
  exclude: 'yes'
---

<section class="purple main hero">
  {% include _header.liquid %}
  <div class="container bottom content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>Auth for Any App.</h1>
        <p>
          Don’t let authentication, authorization, and user management slow your development process. Try FusionAuth.
        </p>
        <p>
          Download and install FusionAuth with no plans or credit card required. Deploy anywhere, integrate with anything, in minutes.
        </p>
        <p>
          We got this. Go build something awesome.
        </p>
        <p>
          GET STARTED BELOW
        </p>
      </div>
    </div>
  </div>
  <div class="hero-image flush-bottom right">
    <img src="/assets/img/heroes/landing/steve.png">
  </div>
</section>

{% include _download.liquid %}

{% include _professional-services.liquid %}
