---
layout: advice-category
title: "OAuth Articles"
description: "Learn the best practices and workflows for implementing OAuth for traditional web, single page, and mobile native applications."
image: fusionauth-share-image.jpg
header_dark: true
category: OAuth
---

<div class="row">
  {% include _advice-card.html href="/learn/expert-advice/oauth/oauth-device-authorization-roku-appletv-xbox" img="/assets/img/advice/oauth-device-authorization.png" title="How-To: OAuth Device Authorization for Roku, AppleTV, and XBox" description="If you have a modern entertainment device like a Roku, AppleTV, XBox, Playstation, etc., there’s a good chance that at some point you will want to connect to one or more subscription services like Netflix, Amazon, Pandora, or HBO. In theory it should be easy. Sadly, no. We were recently asked by one of our clients to provide a solution and OAuth Device Authorization Grants were the key to it all." %}
  {% include _advice-card.html href="/learn/expert-advice/oauth/login-with-twitter-using-oauth-java" img="/assets/img/advice/login-with-twitter.png" title="Login with Twitter using OAuth v1 and Java" description="If you've ever had to navigate the harrowing path to signing OAuth v1 requests to Twitter in Java, you may know there isn't a great option off the shelf to make this easy. Since we had to do some heavy lifting, we decided to share our work with the Java community." %}
</div>
