---
layout: advice-category
title: OAuth Articles
description: Learn the best practices and workflows for implementing OAuth for traditional web, single page, and mobile native applications.
category: OAuth
---
{% include _advice-card.liquid href="/learn/expert-advice/oauth/oauth-device-authorization/" img="/assets/img/stamps/oauth-device-authorization-grant.svg" title="OAuth Device Authorization" description="Connecting a modern entertainment device like a Roku, AppleTV, XBox, Playstation, etc., to a subscription service or app like Netflix or Amazon should be simple. Sadly, it isn't. Fortunately the proposed stardard for OAuth Device Authorization Grants is here to change all that." %}
{% include _advice-card.liquid href="/learn/expert-advice/oauth/oauth-v1-signed-requests/" img="/assets/img/stamps/oauth-v1-signed-reguests.svg" title="OAuth v1 Signed Requests" description="If you've ever had to navigate the harrowing path to signing OAuth v1 requests to Twitter (or other OAuth v1 providers), this article will help you implement this tricky bit of code easily." %}
{% include _advice-card.liquid href="/learn/expert-advice/oauth/whats-new-with-oauth-2-1/" img="/assets/img/stamps/oauth-v1-signed-reguests.svg" title="Differences between OAuth 2 and OAuth 2.1" description="The OAuth 2.1 draft will soon be published as an RFC. Why did they write it? How were the OAuth 2 specifications modified? What will you have to change?" %}
