---
const { is_delete, no_authentication, never_missing, never_search, never_webhook_event } = Astro.props;
---
<span>Response Codes</span>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  { !is_delete && <tr>
      <td>200</td>
      <td>The request was successful. The response will contain a JSON body.</td>
    </tr> }
  { is_delete && <tr>
      <td>204</td>
      <td>The request was successful. The response will be empty.</td>
    </tr>}
  <tr>
      <td>400</td>
      <td>The request was invalid and/or malformed. The response will contain a <a href="/docs/apis/scim/">SCIM Error</a> JSON Object with the specific errors. This status will also be returned if a paid FusionAuth license is required and is not present.</td>
    </tr>
  { !no_authentication && <tr>
      <td>401</td>
      <td>You did not supply a valid JWT in your Authorization header. The response will be empty. Ensure you've correctly set up Entities and performed a <a href="/docs/apis/authentication#client-credentials">Client Credentials</a> grant.</td>
    </tr>}
  {!never_missing && <tr>
      <td>404</td>
      <td>The object doesn't exist. The response will be empty.</td>
    </tr>}
  <tr>
      <td>500</td>
      <td>There was an internal error. A stack trace is provided and logged in the FusionAuth log files. The response will be empty.</td>
    </tr>
  {!never_search && <tr>
      <td>503</td>
      <td>The search index is not available or encountered an exception so the request cannot be completed. The response will contain a JSON body.</td>
    </tr>}
  {!never_webhook_event && <tr>
      <td>504</td>
      <td>One or more Webhook endpoints returned an invalid response or were unreachable. Based on the transaction configuration for this event your action cannot be completed. A stack trace is provided and logged in the FusionAuth log files.</td>
    </tr>}
  </tbody>
</table>
