---
const { intro } = Astro.props;
---
<div class="bg-gradient-to-b flex flex-col from-gray-900 overflow-hidden pb-10 place-content-center place-items-center pt-8 px-8 relative rounded-lg to-blue-900 w-72 z-20" data-pg-name="sidebar-cta">
  <img src="/img/cta/social-login.png" class="-bottom-20 absolute left-5 opacity-10 w-32 z-0"/>
  <img src="/img/cta/orange-shield.svg" class="absolute opacity-30 right-8 top-6 w-11"/>
  <img src="/img/cta/fa-vertical.svg" class="w-44"/>
  <h2 class="font-bold leading-6 mt-5 text-center text-white text-xl">Want industry and product updates from FusionAuth?</h2>
  <p class="font-bold leading-5 mb-7 mt-5 text-center text-gray-300 text-sm">No spam, we promise!</p>
  <img src="/img/cta/kubernetes.svg" class="-left-3 -top-3 absolute opacity-25 w-20 z-0"/>
  <div>
  <form action="https://fusionauth.us1.list-manage.com/subscribe/post?u=e49fa3727e80f8a81984ec45e&amp;id=82607f973e" method="POST" target="_blank">
    <input style="padding:5px" type="text" name="EMAIL" size="10" placeholder="Email address" required=""><br><br>
    <div data-pg-name="cta-orange-btn-div" class="bg-[#F5821F] bg-blend-normal border-2 border-solid border-white flex font-bold h-12 min-w-full mix-blend-normal place-content-center place-items-center relative rounded shadow-black shadow-sm text-sm text-white uppercase">
    <input class="block" type="submit" name="GO" value="Sign Up">
    </div>
    <!-- bot check -->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e49fa3727e80f8a81984ec45e_82607f973e" tabindex="-1" value=""></div>
    <p>&nbsp;</p>
  </form>
  </div>
</div>
