---
---
<div class="container px-5 h-full flex flex-col justify-evenly space-y-4 py-8 bg-slate-900">
  <h3 class="text-xl leading-7 font-black text-white">Your <span class="text-orange-400">Auth</span>, Your Way - We Handle the Rest</h3>
  <p class="text-base font-medium text-white">Start 30-day <span class="font-bold text-green-300">Free</span> Trial.</p>
  <a href="https://account.fusionauth.io/account/free-trial/start?source=site" class="text-center text-white w-full bg-orange-400 rounded px-4 py-2.5 text-sm font-bold uppercase">Start Free Trial</a>
</div>
<style>
  .container {
    background-image:
        radial-gradient(circle 312px at bottom right, rgb(127, 41, 168) .5%, rgb(45, 29, 93) 15%, transparent 100%),
        linear-gradient(to top left, transparent 0%, rgb(15, 23, 41, 1) 100%),
        url("/img/texture/grid.svg"),
        url("/img/cta/corner-circ.svg");
    background-size:
        100%,
        100%,
        400%,
        60%;
    background-repeat: no-repeat;
    background-position: center, center, center, bottom right;
    opacity: 1;
  }
</style>
