---

const {image, right=true} = Astro.props
---

<div class=`promo-gradient relative min-h-64 overflow-hidden text-white p-10 mb-8 rounded-md not-prose ${right ? 'md:pr-66' : ''}`>
  
  <slot />
  
  <img src={image} class="image-slot image-right" />
</div>


<style>
  @reference "tailwindcss";

  .image-slot {
    @apply w-64 absolute hidden md:block visible;
  }
  .image-right {
    @apply -bottom-2 right-0;
  }
  .image-left {
    @apply -bottom-2 left-0;
  }
</style>