---
import Icon from '../icon/Icon.astro';
//TODO link to apis/authentication
const { icon } = Astro.props;
---
<div class="border-b-2 flex flex-row font-bold">
  <div class="mr-2">
    <a href="#">
      <Icon name={icon}/>
    </a>
  </div>
  <slot/>
</div>