---
import Icon from '../icon/Icon.astro';
//TODO link to apis/authentication
const { icon } = Astro.props;
//...sorry
const icons = Array.isArray(icon) ? icon : [icon];
const hrefMap = {
  lock: '/docs/apis/authentication#api-key-authentication',
  unlock: '/docs/apis/authentication#no-authentication-required',
  badge: '/docs/apis/authentication#jwt-authentication',
  shield: '/docs/apis/authentication#basic-authentication-using-an-api-key',
  'passport-red': '/docs/apis/authentication#client-credentials',
  server: '/docs/apis/authentication#localhost-authentication-bypass',
}
---
<div class="border-b-2 flex flex-row font-bold">
  <div class="mr-2 not-prose">
    { icons.map(i =>
      <a class="mx-1 no-underline" href={hrefMap[i]}>
        <Icon name={i}/>
      </a>
    )}
  </div>
  <slot/>
</div>