---
import Icon from '../icon/Icon.astro';
//TODO link to apis/authentication
const { icon } = Astro.props;
//...sorry
const icons = Array.isArray(icon) ? icon : [icon];
const hrefMap = {
  lock: '/docs/apis/authentication#api-key-authentication',
  unlock: '/docs/apis/authentication#no-authentication-required',
}
---
<div class="border-b-2 flex flex-row font-bold">
  <div class="mr-2">
    { icons.map(i =>
      <a class="mx-1" href={hrefMap[i]}>
        <Icon name={i}/>
      </a>
    )}
  </div>
  <slot/>
</div>