---
import AvailableSince from './AvailableSince.astro';
import ReadOnly from './ReadOnly.astro';
import Optional from './Optional.astro';
const { name, description, type, required, optional, since, defaults, deprecated, renderif=true, readonly, noborder } = Astro.props;
---
{/*If you put the API field inside a conditional block it can break the markdown parsing, `renderif` solves that problem  */}
{/* Note: if you use a description parameter instead of a body, you'll get an single-line version */}
{ renderif && <div class={`${noborder ? '' : '[&:not(:first-child)]:border-t border-slate-300 dark:border-slate-100 '}pt-1`}>
  <div class="flex flex-wrap">
    <span class="font-semibold api-field-name truncate">{ name }</span>
    { type && <span class="text-blue-500 px-3">[{type}]</span> }
    { description && <span class="px-3">{description}</span> }
    { required && <span class="px-3 text-orange-500 font-semibold capitalize">required</span> }
    { optional && <Optional /> }
    { defaults && <span class="px-3 text-gray-500 italic">Defaults to {defaults}</span> }
    { since && <AvailableSince since={since} /> }
    { deprecated && <span class="px-3 text-red-700">DEPRECATED</span> }
    { readonly && <ReadOnly /> }
  </div>
  <div class="ml-4 mb-2 mb-6">
    <slot></slot>
  </div>
</div>
}
