---
const { name, type, required, optional, since, defaults } = Astro.props;
---
<div class="border-b-2">
  <div class="pt-2">
    <span class="font-bold">{ name }</span>
    { type && <span class="text-blue-500 px-3">[{type}]</span> }
    { required && <span class="px-3 text-orange-500 font-bold capitalize">required</span> }
    { optional && <span class="px-3 text-gray-500 font-bold capitalize">optional</span> }
    { defaults && <span class="px-3 text-gray-500 italic">Defaults to {defaults}</span> }
    { since && <span class="px-3 text-green-500 italic capitalize">available since {since}</span> }
  </div>
  <div class="ml-4">
    <slot></slot>
  </div>
</div>
