---
// todo better styling on this mofo
const { method, uri }: { method: 'GET' | 'POST' | 'PUT' | 'PATCH' | 'DELETE', uri } = Astro.props;
---
<div class="my-4">
  <p class="my-0 font-semibold">URI</p>
  <div class="bg-gray-800 my-0 py-2 px-4">
    <span class="text-orange-500 font-bold pr-2">{ method }</span>
    <span class="text-white api-uri-ref prose-code:text-blue-500 prose-code:border-0 prose-code:bg-slate-800">
      <slot></slot>
    </span>
  </div>
</div>