---
interface Props {
  since: string
}

const { since }: Props = Astro.props;
if (!since) {
  throw new Error("No since field");
}
---
<span class='text-green-500 text-sm italic'>Available since {since}</span>
