---
interface Props {
  inline: boolean,
  since: string
}

const { inline, since }: Props = Astro.props;

if (!since) {
  throw new Error("No since field");
}

let classList = 'text-green-500 text-sm italic';
if (inline) {
  classList = 'pl-3 ' + classList;
}
---
<span class={classList}>Available since {since}</span>
