---
const { since } = Astro.props;
if (since === undefined || since === null) {
  throw new Error("No since field");
}
---
<span class="px-3 text-green-500 italic capitalize">available since {since}</span>
