---
interface Props {
  since: string;
}

const { since }: Props = Astro.props;

if (!since) {
  throw new Error("No since field");
}
---
<span class="px-3 text-green-500 italic">Available since {since}</span>
