---
interface Props {
  version: string;
}

const { version }: Props = Astro.props;
if (!version) {
  throw new Error("No version field");
}
---
{ version && <span class="text-green-500 text-sm italic">Before version {version}</span> }
