---
interface Props {
  version: string;
}

const { version }: Props = Astro.props;
if (!version) {
  throw new Error("No version field");
}
const hasContent = Astro.slots.has("default");
---
{ version && <span class="text-green-500 text-sm italic">Before version {version}</span>
<Fragment>
  {hasContent &&
    <div class="prose-p:mt-1"><slot></slot></div>
  }
</Fragment>
}
