---
interface Props {
  since: string
}

const { since }: Props = Astro.props;
const hasContent = Astro.slots.has("default");
---
{ since && <span class='text-red-700 italic'>Deprecated since {since}</span>
<Fragment>
  {hasContent &&
    <div class="mb-7 ml-4 text-sm font-normal"><slot></slot></div>
  }
</Fragment>
}
