---
interface Props {
  since: string;
}

const { since }: Props = Astro.props;
const hasContent = Astro.slots.has("default");
---
{ since && hasContent &&  <span class="text-red-700 italic">Deprecated since {since}</span> <div class="prose-p:mt-1"><slot></slot></div> }
{ since && !hasContent &&  <span class="pl-3 text-red-700 italic">Deprecated since {since}</span> }
