---
interface Props {
  create_request?: boolean;
}

const { create_request }: Props = Astro.props;
--- 
{
  create_request ? 
<span>
When creating a family the first user must be an adult. This value must be set to <code>Adult</code>.
</span>

: 

<span>The possible values are: </span>
<ul>
<li><code>Adult</code></li>
<li><code>Child</code></li>
<li><code>Teen</code></li>
</ul>
}
