---
interface Props {
  since: string
}

const { since }: Props = Astro.props;
const hasContent = Astro.slots.has("default");
---
{ since && <span class='text-red-700 italic'>Removed in {since}</span>
<Fragment>
{hasContent &&
  <div class="prose-p:mt-1"><slot></slot></div>
}
</Fragment>
}
