---
interface Props {
  inline: boolean,
  since: string
}

const { inline, since }: Props = Astro.props;
const hasContent = Astro.slots.has("default");
let classList = 'text-red-700 italic';
if (inline) {
  classList = 'pl-3 ' + classList;
}
---
{ since && <span class={classList}>Removed in {since}</span>
<>
{hasContent &&
  <div class="prose-p:mt-1"><slot></slot></div>
}
</>
}
