.highlight { background-color: #272822; color: #d4d4d4; padding: 2rem; overflow-x: scroll }
.highlight .tok-hll { background-color: #272822; }
.highlight .tok-c { color: #75715e } /* Comment */
.highlight .tok-cm { color: #75715e } /* Comment.Multiline */
.highlight .tok-cp { color: #75715e } /* Comment.Preproc */
.highlight .tok-c1 { color: #75715e } /* Comment.Single */
.highlight .tok-cs { color: #75715e } /* Comment.Special */
.highlight .tok-err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .tok-k { color: #66d9ef } /* Keyword */
.highlight .tok-l { color: #ae81ff } /* Literal */
.highlight .tok-n { color: #c4d2f8 } /* Name */
.highlight .tok-o { color: #fff } /* Operator */
.highlight .tok-p { color: #f8f8f2 } /* Punctuation */
.highlight .tok-ge { font-style: italic } /* Generic.Emph */
.highlight .tok-gs { font-weight: bold } /* Generic.Strong */
.highlight .tok-kc { color: #66d9ef } /* Keyword.Constant */
.highlight .tok-kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .tok-kn { color: #f92672 } /* Keyword.Namespace */
.highlight .tok-kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .tok-kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .tok-kt { color: #66d9ef } /* Keyword.Type */
.highlight .tok-ld { color: #8de656 } /* Literal.Date */
.highlight .tok-m { color: #ae81ff } /* Literal.Number */
.highlight .tok-s { color: #8de656 } /* Literal.String */
.highlight .tok-na { color: #a6e22e } /* Name.Attribute */
.highlight .tok-nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .tok-nc { color: #a6e22e } /* Name.Class */
.highlight .tok-no { color: #66d9ef } /* Name.Constant */
.highlight .tok-nd { color: #a6e22e } /* Name.Decorator */
.highlight .tok-ni { color: #f8f8f2 } /* Name.Entity */
.highlight .tok-ne { color: #a6e22e } /* Name.Exception */
.highlight .tok-nf { color: #a6e22e } /* Name.Function */
.highlight .tok-nl { color: #f8f8f2 } /* Name.Label */
.highlight .tok-nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .tok-nx { color: #a6e22e } /* Name.Other */
.highlight .tok-py { color: #f8f8f2 } /* Name.Property */
.highlight .tok-nt { color: #f92672 } /* Name.Tag */
.highlight .tok-nv { color: #f8f8f2 } /* Name.Variable */
.highlight .tok-ow { color: #f92672 } /* Operator.Word */
.highlight .tok-w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .tok-mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .tok-mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .tok-mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .tok-mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .tok-sb { color: #8de656 } /* Literal.String.Backtick */
.highlight .tok-sc { color: #8de656 } /* Literal.String.Char */
.highlight .tok-sd { color: #8de656 } /* Literal.String.Doc */
.highlight .tok-s2 { color: #8de656 } /* Literal.String.Double */
.highlight .tok-se { color: #ae81ff } /* Literal.String.Escape */
.highlight .tok-sh { color: #8de656 } /* Literal.String.Heredoc */
.highlight .tok-si { color: #8de656 } /* Literal.String.Interpol */
.highlight .tok-sx { color: #8de656 } /* Literal.String.Other */
.highlight .tok-sr { color: #8de656 } /* Literal.String.Regex */
.highlight .tok-s1 { color: #8de656 } /* Literal.String.Single */
.highlight .tok-ss { color: #8de656 } /* Literal.String.Symbol */
.highlight .tok-bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .tok-vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .tok-vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .tok-vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .tok-il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .tok-gh { } /* Generic Heading & Diff Header */
.highlight .tok-gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .tok-gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .tok-gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */



