---
#Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);
@import 'asciidoc';
@import 'navigation';
@import 'api';
@import 'search';

html {
  font-family: 'Lato', 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  background: #edece4;
}

h1 {
  font-weight: 400;
}

h2 {
  @extend h1;
  margin-top: 30px;
  font-size: 24px;
}

a {
  color: #0096c7;

  &:hover {
    text-decoration: none;
  }
}

dt {
  margin-top: 10px;
}

p code {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 2px;
  color: #444;
  padding: 0 3px;
}

.field code,
ul > li > p code {
  padding: 0;
}

ul.ulist > li > p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

table {
  border-collapse: collapse;

  td {
    border: 1px solid #ccc;
    padding: 5px;
  }

  th {
    @extend td;
    background: #eee;
  }

  caption {
    color: #FF4088;
    font-style: italic;
    font-weight: 500;
    line-height: 1.6rem;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
  }
}

img {
  max-width: 100%;

  /* account for the drop shadow on Mac OS X screenshots */
  @media only screen and (min-width: 1200px) {
    &.shadowed {
      margin-left: -52px;
    }
  }
}

header {
  align-items: center;
  background-color: #343a40;
  border-bottom: 1px solid rgba(239, 243, 246, .2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  z-index: 10;

  @media only screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
  }

  button {
    background: none;
    border: none;
    display: inline-block;
    color: #ccc;
    cursor: pointer;
    margin: 10px 0 10px 10px;

    @media only screen and (min-width: 960px) {
      display: none;
    }
  }

  .links {
    display: flex;
    width: 250px;
  }

  a {
    display: block;
    margin: 0;
    padding: 0;

    i.fa {

      &:hover {
        @include active();
      }

      border-right: 1px solid #ccc;
      font-size: 22px;
      line-height: 22px;
      margin-top: 0;
      margin-bottom: -1px;
      padding: 19px 12px 16px 10px;
    }

    img {
      height: 45px;
      padding: 5px 10px 2px 10px;
    }
  }

  h1 {
    color: #fff;
    flex-grow: 1;
    font-weight: 300;
    margin: 0;
    padding-left: 20px;
    text-align: left;
    width: 100%;

    @media only screen and (min-width: 768px) {
      width: auto;
    }
  }

  div {
    display: none;

    input {
      display: inline-block;
      width: 200px;
    }

    button {
      display: inline-block;
      padding-right: 10px;
    }

    @media only screen and (min-width: 960px) {
      display: block;
    }
  }
}

@mixin container() {
  margin: 0 auto;
  padding: 20px;
}

article {
  padding: 0;

  @media only screen and (min-width: 768px) {
    margin-top: 74px;
    padding: 0 20px;
  }

  @media only screen and (min-width: 960px) {
    margin-left: $nav-width;
  }

  > section {
    @include container();
    background: white;
  }

  footer {
    @include container();
    background: #F9F9F9;
  }
}


.highlight {
  background-color: #272822;
  color: #d4d4d4;
  padding: 1.2rem;
  overflow-x: scroll;
  font-size: 0.9em;
  line-height: 1.2em;
  font-weight: 300;
  font-family: 'Source Code Pro', Menlo, monospace;

  code {
    font-weight: 300;
    font-family: 'Source Code Pro', Menlo, monospace;

    &[data-lang="shell"] {
      .tok-c1 {
        color: #eb8c52;
      }
    }
  }
}

.videoblock {
  width: 100%;
  margin: 50px auto auto;
}