---
---

ol.numbered {
  counter-reset: item;
  list-style: none;

  li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    margin-right: 10px;
  }
}

.w-md-75 {
  width: auto;

  @media only screen and (min-width: 768px) {
    width: 75%
  }
}
.w-md-50 {
  width: auto;

  @media only screen and (min-width: 768px) {
    width: 50%
  }
}

blockquote {
  border-left: 3px solid rgb(59, 153, 224);
  padding-left: 3rem;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;

  iframe, object, embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}