---
---

figure {
  img {
    width: 100%;
  }
}
ol.numbered {
  counter-reset: item;
  list-style: none;

  li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    margin-right: 10px;
  }
}

.w-md-75 {
  width: auto;

  @media only screen and (min-width: 768px) {
    width: 75%
  }
}
.w-md-50 {
  width: auto;

  @media only screen and (min-width: 768px) {
    width: 50%
  }
}

blockquote {
  background: #fff;
  box-shadow: 2px 2px 15px #ccc;
  border-left: 3px solid rgb(59, 153, 224);
  color: #666;
  display: block;
  margin: 1rem 0 2rem 0;
  padding: 1.5rem 2rem 1.5rem 2rem;
  position: relative;

  &.text {
    &::before{
      content: "\201C";
      color: #eb8c52;
      font-family: 'Lato', 'Roboto', sans-serif;
      font-size:4em;
      position: absolute;
      left: 10px;
      top:-10px;
    }

    background: #f6f6f6;
    border-left: 3px solid #eb8c52;
    box-shadow: 1px 1px 1px #ccc;
    padding: 2em 0.5rem 1.5rem 2.5rem;

    p {
      margin-top: auto;
      margin-bottom: 0 !important;
    }
  }

  &.tight {
    padding: 1.1rem 2rem 0 2rem;

    p {
      margin-bottom: 0 !important;
      padding-bottom: 1rem;
    }
  }
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;

  iframe, object, embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.clean-block .guide-header {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/img/resources/guide/background.jpg) no-repeat;
  margin-bottom: 0;
  height: 389px;
  padding-top: 160px;
}

.blog-post .post-body-content {
  img.full {
    max-width: inherit;
  }

  ol, ul {
    margin-bottom: 30px;
  }
}

.youtube {
  iframe {
    height: 225px;
    width: 400px;

    @media only screen and (min-width: 768px) {
      height: 315px;
      width: 560px;
    }

    @media only screen and (min-width: 992px) {
      height: 505px;
      width: 835px;
    }
  }
}