---
import JSON from 'src/components/JSON.astro';
import EventStandardFields from './_event-standard-fields.mdx';

const { eventType, sinceThreatDetection, sinceIpAddress, jsonFile, skipStandardFields } = Astro.props;
---
<h3>Event Body</h3>

<slot name="leading-fields" />

{ !skipStandardFields && <EventStandardFields {sinceThreatDetection} {sinceIpAddress} /> }

<slot name="trailing-fields" />

<JSON title="Example Event JSON" src={`events/${jsonFile}`} />
