---

---
<div class="dark:hover:text-indigo-500 ease-in font-bold hover:text-indigo-600 mx-3 text-base text-white transition-colors lg:mx-3 lg:text-sm">
  <a href="https://account.fusionauth.io/account/" class="lg:font-Inter lg:font-bold lg:text-sm">Login</a>
</div>