---
import BellIcon from "./BellIcon.astro";
import DownChevronIcon from "./DownChevronIcon.astro";
import LeftChevronIcon from "./LeftChevronIcon.astro";
import MobileMenuIcon from "./MobileMenuIcon.astro";
import MoonIcon from "./MoonIcon.astro";
import RightChevronIcon from "./RightChevronIcon.astro";
import SearchIcon from "./SearchIcon.astro";

const { name } = Astro.props;
---
<div>
  {
    {
      'bell':
        <BellIcon/>,
      'down-chevron':
        <DownChevronIcon/>,
      'left-chevron':
        <LeftChevronIcon/>,
      'mobile-menu':
        <MobileMenuIcon/>,
      'moon':
        <MoonIcon/>,
      'search':
        <SearchIcon/>,
      'search-small':
        <SearchIcon size="small"/>,
      'right-chevron':
        <RightChevronIcon/>
    }[name]
  }
</div>