---
import BellIcon from "./BellIcon.astro";
import DownChevronIcon from "./DownChevronIcon.astro";
import LeftChevronIcon from "./LeftChevronIcon.astro";
import MobileMenuIcon from "./MobileMenuIcon.astro";
import MoonIcon from "./MoonIcon.astro";
import RightChevronIcon from "./RightChevronIcon.astro";
import SearchIcon from "./SearchIcon.astro";

const { name } = Astro.props;
---
<div>
  {
    {
      'badge':
        <i class="fa-id-badge fas"/>, //todo new icon
      'bell':
        <BellIcon/>,
      'down-chevron':
        <DownChevronIcon/>,
      'left-chevron':
        <LeftChevronIcon/>,
      'lock':
        <i class="fa-lock fas text-red-800"/>, //todo new icon
      'mobile-menu':
        <MobileMenuIcon/>,
      'moon':
        <MoonIcon/>,
      'passport':
        <i class="fa-passport fas"/>, //todo new icon
      'right-chevron':
        <RightChevronIcon/>,
      'search':
        <SearchIcon/>,
      'search-small':
        <SearchIcon size="small"/>,
      'server':
        <i class="fa-server fas"/>,
      'shield':
        <i class="fa-shield-alt fas"/>, //todo new icon
      'unlock':
        <i class="fa-unlock fas"/>,// todo new icon
    }[name]
  }
</div>