---
import BellIcon from "./BellIcon.astro";
import DownChevronIcon from "./DownChevronIcon.astro";
import LeftChevronIcon from "./LeftChevronIcon.astro";
import MobileMenuIcon from "./MobileMenuIcon.astro";
import MoonIcon from "./MoonIcon.astro";
import RightChevronIcon from "./RightChevronIcon.astro";
import SearchIcon from "./SearchIcon.astro";

const { name } = Astro.props;
---
<>
  {
    {
      'address-card':
        <span class="bg-gray-700 py-1 px-2 rounded"><i class="fa-address-card fas text-white" /></span>,
      'badge':
        <i class="fa-id-badge fas"/>, //todo new icon
      'bell':
        <BellIcon/>,
      'copy':
        <span class="bg-gray-700 py-1 px-2 rounded"><i class="fa-copy fas text-white" /></span>,
      'down-chevron':
        <DownChevronIcon/>,
      'edit':
        <span class="bg-blue-500 py-1 px-2 rounded"><i class="fa-edit fas text-white"/></span>,
      'fa-search':
        <span class="bg-green-500 py-1 px-2 rounded"><i class="fa-search fas text-white" /></span>,
      'key':
        <span class="bg-gray-700 py-1 px-2 rounded"><i class="fa-key fas text-white" /></span>,
      'left-chevron':
        <LeftChevronIcon/>,
      'lock':
        <i class="fa-lock fas text-red-800"/>, //todo new icon
      'lock-button':
        <span class="bg-red-700 py-1 px-2 rounded"><i class="fa-lock fas text-white"/></span>,
      'minus-circle':
        <span class="bg-orange-400 py-1 px-2 rounded"><i class="fa-minus-circle fas text-white" /></span>,
      'minus-circle-red':
        <span class="bg-red-500 py-1 px-2 rounded"><i class="fa-minus-circle fas text-white" /></span>,
      'mobile-menu':
        <MobileMenuIcon/>,
      'moon':
        <MoonIcon/>,
      'passport':
        <i class="fa-passport fas"/>, //todo new icon
      'plus':
        <span class="bg-green-700 py-1 px-2 rounded"><i class="fa-plus fas text-white" /></span>,
      'plus-circle':
        <span class="bg-blue-500 py-1 px-2 rounded"><i class="fa-plus-circle fas text-white"></i></span>,
      'right-chevron':
        <RightChevronIcon/>,
      'search':
        <SearchIcon/>,
      'search-small':
        <SearchIcon size="small"/>,
      'server':
        <i class="fa-server fas"/>,
      'shield':
        <i class="fa-shield-alt fas"/>, //todo new icon
      'unlock':
        <i class="fa-unlock fas"/>,// todo new icon
      'unlock-button':
        <span class="bg-green-700 py-1 px-2 rounded"><i class="fa-unlock fas text-white"/></span>,// todo new icon
      'trash':
        <span class="bg-red-700 py-1 px-2 rounded"><i class="fa-trash fas text-white" /></span>,
      'user':
        <span class="bg-blue-900 py-1 px-2 rounded"><i class="fas fa-user text-white"/></span>, // todo new icon
      'x':
        <span class="bg-red-500 py-1 px-2 rounded"><i class="fas fa-times text-white"/></span>,
    }[name]
  }
</>