<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>FusionAuth Start Here Application | Account</title>
  <link rel="stylesheet" href="/static/css/changebank.css">
  <script src="/static/js/FetchName-0.0.1.js" type="text/javascript"></script>
</head>
<body>
  <div id="page-container">
    <div id="page-header">
      <div id="logo-header">
        <img src="https://fusionauth.io/cdn/samplethemes/changebank/changebank.svg" alt="Changebank"/>
        <div class="h-row">
          <p class="header-email"></p>
          <a class="button-lg" href="/logout">Logout</a>
        </div>
      </div>

      <div id="menu-bar" class="menu-bar">
        <a class="menu-link inactive" href="/make-change">Make Change</a>
        <a class="menu-link" href="/account">Account</a>
      </div>
    </div>

    <div style="flex: 1;">
      <!-- Application page -->
      <div class="column-container">
        <div class="app-container">
          <h3>Admin area</h3>
          <div class="balance">Restricted access!</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
