---
layout: default
title: Blog - Brand
description: 
---
<main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Blog Post List</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="block-content">
                    {% for post in paginator.posts %}
<ul class="list-group post-list">
                        <li class="list-group-item">
                            <div class="clean-blog-post blog-post">
                                <div class="row">
                                    <div class="col-lg-5"><img class="rounded img-fluid" src="/assets/img/tech/image4.jpg?h=0adc0de9a17a7caea6b8641f5d6ae02c"></div>
                                    <div class="col-lg-7">
                                        <h3 class="post-title">{{ post.title }}</h3>
                                        <div class="info">
<span class="text-muted post-date">{{ post.date }}</span><span class="text-muted post-author">{{ post.author }}</span>
</div>
                                        <div class="post-body-content">{{ post.excerpt }}<a href="{{post.url}}" class="btn btn-outline-primary btn-sm post-link">Read More</a>
</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
{% endfor %}
                    <nav>{% include _pagination.html %}</nav>
                </div>
            </div>
        </section>
    </main>
