---
layout: default
title: Blog Posts - FusionAuth
description: Get the latest updates on FusionAuth, security, general coding and major geekery here.
---
<main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h1 class="text-info">Blog Posts</h1>
                    <p>Get the latest updates on FusionAuth, security, general coding and major geekery here.</p>
                </div>
                <div class="block-content">
                    {% for post in paginator.posts %}
<ul class="list-group post-list">
                        <li class="list-group-item">
                            <div class="clean-blog-post">
                                <div class="row">
                                    <div class="col-lg-5 mb-3 mb-lg-0 post-image"><img class="rounded img-fluid" src="/assets/img/blogs/{{post.image}}"></div>
                                    <div class="col-lg-7">
                                        <h2 class="post-title">{{ post.title }}</h2>
                                        <div class="info">
<span class="text-muted post-date mr-1">{{ post.date | date_to_string: "ordinal", "US" }}</span><span class="text-muted mr-1">by</span><span class="text-muted post-author">{{ post.author }}</span>
</div>
                                        <div class="post-body-content">{{ post.excerpt }}</div>
<a class="btn btn-outline-primary btn-sm post-link" role="button" href="{{post.url}}">Read More</a>
</div>
                                </div>
                            </div>
                        </li>
                    </ul>
{% endfor %}
                    <div class="row justify-content-center">
                        <div class="col-xl-12">
                            <nav>{% include _pagination.html %}</nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
