<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authCredentials</key>
	<dict>
		<key>issuer</key>
		<string>http://localhost:9011</string>
		<key>clientId</key>
		<string>e9fdb985-9173-4e01-9d73-ac2d60d1dc8e</string>
	</dict>
</dict>
</plist>
