<li>The user inputs their credentials and clicks the submit button. The browser AJAX <code>POST</code>s the form data to the application backend</li>
<li>The application backend calls the OAuth token endpoint in FusionAuth by passing in the credentials it received plus a <code>grant_type</code> of <code>password</code>, which indicates it is using the resource owner password credentials grant in FusionAuth's OAuth 2 backend</li>
<li>FusionAuth returns a 200 status code stating that the credentials were okay. It also returns a JWT and a refresh token in JSON</li>
<li>The application backend returns the JWT and refresh token to the mobile application</li>