---
const { description, risk, time, title } = Astro.props;
---
<div class="border border-slate-500 flex flex-col group items-center not-prose p-5 rounded-lg dark:hover:bg-slate-800 hover:bg-slate-100 hover:border-indigo-500">
  <h3 class="text-2xl pb-4">{title}</h3>
  <h4 class="mb-2 text-xl">Level of risk</h4>
  <div class="flex gap-4 items-center mb-4">
    {[...Array(risk)].map(i =>
      <img src="/img/articles/challenges-of-ciam/bomb.svg" class="block w-6"/>
    )}
  </div>
  <h4 class="mb-2 text-xl">Development time</h4>
  <div class="flex gap-4 items-center mb-6">
    {[...Array(time)].map(i =>
      <img src="/img/articles/challenges-of-ciam/clock.svg" class="block w-6"/>
    )}
  </div>
  <p class="text-sm">
    {description}
  </p>
</div>
