:root {
    --text-color: #3C495D;
    --primary-color: #000643;
    --primary-color-lighten: #0919c8;
    --secondary-color: #E2E8F0;
    --tertiary-color: #EBEFF2;
    --quaternary-color: #aeb3b9;
    --white-color: #FFFFFF;
    --black-color: black;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
    color: var(--text-color);
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.input-form form {
    width: 60%;
    padding: 20px;
    border-radius: 10px;
}

.input-form form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.input-form form input {
    width: calc(100% - 20px);
    font-size: larger;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    height: 50px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button-lg {
    display: inline-block;
    width: auto; /* Adjusted width to fit content */
    padding: 15px 30px; /* Increased padding for bigger button */
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.button-lg:hover {
    background-color: var(--primary-color-lighten);
}

#sidebar {
    width: 250px;
    background: var(--white-color);
    height: 100%;
    border-right: 1px solid var(--secondary-color);
}

#sidebar hr {
    margin: 20px;
    border: 0;
    border-top: 1px solid var(--secondary-color);
}

#sidebar ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

#sidebar ul li:hover {
    background-color: var(--secondary-color);
}

#sidebar ul .selected {
    background-color: var(--secondary-color);
}

#sidebar ul li a {
    display: block;
    text-decoration: none;
    color: var(--black-color);
    margin-left: 5px;
}

#sidebar ul li i {
    margin-left: 20px;
    margin-right: 5px;
    color: var(--black-color);
}

#content {
    flex-grow: 1;
    background: var(--tertiary-color);
    min-height: fit-content;
}

#content-inner {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    height: auto;
}

#menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--tertiary-color);
    border-bottom: 1px solid var(--quaternary-color);
}

#user-profile {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

#user-name {
    color: var(--black-color);
    font-weight: bold;
    font-size: smaller;
}

#company-profile {
    margin-top: 20px;
}

#company-logo {
    margin-left: 20px;
    height: 80px;
    margin-bottom: 0px;
}

.company-block-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.company-block {
    width: 60%;
}

.company-block .container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.company-block .title-bar {
    background-color: var(--tertiary-color);
    padding: 10px;
}

.company-block .main-section {
    background-color: var(--white-color);
    padding: 20px;
}

.company-block .button-container {
    margin-top: 20px;
    align-items: center;
    text-align: center;
    background-color: var(--white-color);
}

.company-block .button {
    width: 80%;
    background-color: var(--tertiary-color);
    border: 1px solid var(--quaternary-color);
    padding: 10px;
    text-align: center;
    font-size:larger;
    font-weight: bolder;
    cursor: pointer;
    margin: 0 auto; 
    margin-bottom: 20px;
    border-radius: 5px;
}

.company-block .button:hover {
    background-color: var(--quaternary-color);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 80px;
}

table th,
table td {
    padding: 10px;
    border: 1px solid var(--quaternary-color);
    text-align: left;
}

table th {
    background-color: var(--text-color);
    color: var(--white-color);
}

table tr:nth-child(even) {
    background-color: var(--secondary-color);
}

table tr:nth-child(odd) {
    background-color: var(--tertiary-color);
}


/* Admin settings styles */

.settings-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch.small {
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
.slider.small:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.user-permissions{
    justify-content: space-between;
    align-items: left;
    margin-bottom: 20px;
    
}
.user-permissions li{
    list-style: none;
    margin-bottom: 10px;
    /* padding: 10px; */
    cursor: pointer;
}