---
import ClickableCard from "../ClickableCard.astro";
import { getCollection } from "astro:content";
const articles = await getCollection("articles");
const { section } = Astro.props;

console.log(section);
const list = [];
for (const article of articles) {
  console.log(article.data.section);
  console.log(section);
  if (article.data.section === section) {
    console.log("Yep");
    list.push(article);
  }
}
---

<div class="gap-6 grid grid-cols-1 not-prose lg:grid-cols-2">
  {list.map(article =>
    <ClickableCard href={article.slug} title={article.data.title} description={article.data.description}/>
  )}
</div>