---
import ClickableCard from "../ClickableCard.astro";
import { getCollection } from "astro:content";

const { section } = Astro.props;
const articles = await getCollection("articles");
const list = [];
for (const article of articles) {
  if (article.data.section === section) {
    list.push(article);
  }
}
---

<div class="gap-6 grid grid-cols-1 not-prose lg:grid-cols-2" xmlns="http://www.w3.org/1999/xhtml">
  {list.map(article =>
    <ClickableCard href={`/articles/${article.slug}`} title={article.data.title} description={article.data.description}/>
  )}
</div>