        <h3><strong>Powered By Coffee and FusionAuth help save media companies and digital publishers money and time</strong></h3>
        <p>
          Powered By Coffee is a UK based specialist web development shop with a history of helping media companies and digital publishers such as Bonhill and STV. As they have grown over the years, they’ve specialised in solving more and more complicated issues for their clients. A common problem they've encountered is memberships, paywalls and user management, which is why they’ve partnered with FusionAuth.
        </p>
        <p>
          In this webinar, you’ll learn about how Powered By Coffee can help your digital efforts, including integrating paywalls and membership systems with content management systems such as WordPress. You’ll also learn how a user management system can help provide a single view of the customer and improve the customer journey through a single sign on experience.
        </p>
        <br/>
        <img src="/assets/img/resources/breached-password-detection-macbook.png" alt="Computer with white-paper"/>
