        <h3><strong>Powered By Coffee and FusionAuth help save media companies and digital publishers money and time</strong></h3>
        <p>
          Powered By Coffee is a UK based specialist web development shop with a history of helping media companies and digital publishers such as Bonhill and STV. As they have grown over the years, they've specialised in solving more and more complicated issues for their clients. 
        </p>
        <p>
          A common problem they've encountered is memberships, paywalls and user management, which is why they’ve partnered with FusionAuth.
        </p>
        <p>
          In this webinar, you’ll learn:
        </p>
        <ul>
    	  <li>why you should integrate your paywall and membership systems with your CMS</li>
    	  <li>how Powered By Coffee can help your digital efforts</li>
    	  <li>how a user managment system allows you to have a single view of your readers and customers</li>
    	  <li>how single sign on and other advanced auth features lead to a better user experience</li>
        </ul>
        </p>
