@use "../styles/lib" as l;

summary::-webkit-details-marker {
  display: none;
}

.em {
  margin-block: .5rem;
  display: inline-block;
  color: l.$very-light-gray;
  font-size: 1.05rem;
}

.h2 {
  font-size: 20px;
  white-space: pre;
  margin-bottom: -.25rem;
}

