---
 const { mdpath } = Astro.props;   
---    
<script src="../../tools/docs/copy-md-to-clipboard.js"></script>
<button class="bg-orange-500 font-bold hover:bg-orange-600 ml-3 px-3 py-2 rounded text-white text-xs tracking-tighter transition-colors uppercase lg:font-extrabold" id="copyBtn" data-href={mdpath}>Copy as Markdown for LLMs</button>
