---
const { mdpath } = Astro.props;
---    
<script src="../../tools/docs/copyMarkdownToClipboard.js"></script>
<button class="flex-none rounded-md bg-indigo-500 px-2.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" id="copy-docs-markdown-llm-button" data-href={mdpath}>Copy as Markdown for LLMs</button>
