---
// TODO FIXME NOT WORKING YET

import ClickableCard from "../ClickableCard.astro";

import { getDocsPages } from 'src/tools/docs';

const { section, subcategory, tertcategory } = Astro.props;
const docs = await getDocsPages();
const list = docs.filter(doc => doc.data.section === section && doc.data.subcategory === subcategory);
---

<div class="gap-6 grid grid-cols-1 not-prose lg:grid-cols-2" xmlns="http://www.w3.org/1999/xhtml">
  {list.map(doc =>
    <ClickableCard href={`/articles/${doc.slug}`} title={doc.data.title} description={doc.data.description ? doc.data.description : ''} icon={doc.data.icon ? doc.data.icon : null}/>
  )}
</div>
