<html>
<head>
  <meta charset="utf-8" />
  <title>FusionAuth Express Web</title>
  <link rel="stylesheet" href="/static/css/changebank.css">
</head>
<body>
  <div id="page-container">
    <div id="page-header">
      <div id="logo-header">
        <img src="https://fusionauth.io/cdn/samplethemes/changebank/changebank.svg" />
        <div class="h-row">
          <p class="header-email"></p>
          <a class="button-lg" href="/logout">Logout</a>
        </div>
      </div>

      <div id="menu-bar" class="menu-bar">
        <a class="menu-link" href="/make-change">Make Change</a>
        <a class="menu-link inactive" href="/account">Account</a>
      </div>
    </div>

    <div style="flex: 1;">
      <div class="column-container">
        <div class="content-container">
          <div style="margin-bottom: 100px;">
            <h1>Admin things</h1>
            <p>Go ahead, do some admin things.</p>
            <p>You've earned it.</p>
          </div>
        </div>
        <div style="flex: 0;">
          <img src="/static/img/money.jpg" style="max-width: 800px;"/>
        </div>
      </div>
    </div>
</body>
</html>
