---
import Aside from 'src/components/Aside.astro';
---

<Aside type="theme" title="Theme update">
<p>The theme has changed and an upgrade is required for this version of FusionAuth. Custom themes will render new pages according to the default theme until a custom version has been added.</p>

<p>See <a href="/docs/customize/look-and-feel/advanced-theme-editor#upgrading">Theme Upgrades</a> for more information about theme upgrades.</p>

<slot/>
</Aside>
