---
const { header, linkText, href } = Astro.props;
---
<aside class="not-prose bg-slate-100 border-indigo-500 border-t-4 my-10 pb-8 pt-6 px-7 sm:my-7">
  <p class="font-bold mt-0 leading-6 mb-3 text-slate-800 text-xl md:font-inter md:font-bold md:leading-7 md:text-xl">{header}</p>
  <div class="font-inter font-medium leading-6 text-slate-600 text-base md:leading-normal md:text-base">
    <slot/>
  </div>
  <a class="block font-semibold hover:decoration-1 hover:underline hover:underline-offset-2 mt-8 text-indigo-600" href={href}>{linkText}</a>
</aside>