---
const encodedURL = encodeURI(Astro.url);
const url = "https://www.linkedin.com/sharing/share-offsite/?url="+encodedURL 
---

<a href={url} class="mr-3" target="_blank"><img src="/img/blogs/social/linkedin.svg" class="pr-0 w-9 md:w-11 lg:pr-0 lg:w-9"></a>
