---
const encodedURL = encodeURI(Astro.url);
const url = "https://twitter.com/intent/tweet?via=fusionauth&url="+encodedURL
---
<a href={url} class="mr-3" target="_blank"><img src="/img/blogs/social/twitter.svg" class="pr-0 w-9 md:w-11 lg:pr-0 lg:w-9"></a>
