<html>
<head>
  <meta charset="utf-8" />
  <title>FusionAuth Golang example</title>
  <link rel="stylesheet" href="/static/css/changebank.css">
</head>
<body>
  <div id="page-container">
    <div id="page-header">
      <div id="logo-header">
        <img src="https://fusionauth.io/cdn/samplethemes/changebank/changebank.svg" />
        <div class="h-row">
          <p class="header-email">{{ .Email }}</p>
          <a class="button-lg" href="{{ .LogoutUrl }}">Logout</a>
        </div>
      </div>

      <div id="menu-bar" class="menu-bar">
        <a class="menu-link" href="/make-change">Make Change</a>
        <a class="menu-link inactive" href="/account">Account</a>
      </div>
    </div>

    <div style="flex: 1;">
      <div class="column-container">
        <div class="app-container change-container">
          <h3>We Make Change</h3>

          {{ if .Error }}
            <div class="error-message">{{ .Error }}</div>
          {{ else if .Total }}
            <div class="change-message">
              We can make change for ${{ .Total }} with {{ .Nickels }} nickels and {{ .Pennies }} pennies!
            </div>
          {{ end }}

          <form method="post" action="/make-change">
            <div class="h-row">
              <div class="change-label">Amount in USD: $</div>
              <input class="change-input" name="amount" value="0.00" />
              <input class="change-submit" type="submit" value="Make Change" />
            </div>
          </form>
        </div>
      </div>
    </div>
</body>
</html>
