---
import JSON from 'src/components/JSON.astro';
---
<i class="mb-0">Response Codes</i>
<table class="overflow-x-scroll flex flex-grow-0 flex-col mb-14 mt-1">
  <thead>
  <tr>
    <th>Code</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>200</td>
    <td>
      The request was successful. Starting in version <code>1.5.0</code> a JSON response body will be returned unless the API was called with an API
      key was used with a <code>loginId</code>. Prior to version <code>1.5.0</code> a JSON body was not returned.
    </td>
  </tr>
  <tr>
    <td>400</td>
    <td>
      The request was invalid and/or malformed. The response will contain an <a href="/docs/apis/errors">Errors</a> JSON Object with the specific errors.
      <br /> Beginning in version <code>1.33.0</code> a status code of <code>400</code> may also be used to indicate additional trust is required to
      complete this request. In this case the following error will be returned.
      <br/>
      <div><JSON title="Example Response JSON" src="errors/requires-trust-token-response.json" /></div>
      To complete this request you must obtain a <code>trustToken</code>. To obtain a <code>trustToken</code> complete a Two-Factor Login request.
      <br /> Beginning in version <code>1.43.0</code> a status code of <code>400</code> may also indicate that the supplied
      <code>currentPassword</code> or <code>loginId</code> were incorrect if the call was made with an API key. For security reasons without an API
      key this will return a <code>404</code>.
    </td>
  </tr>
  <tr>
    <td>401</td>
    <td>
      You did not supply a valid Authorization header. The header was omitted or your API key was not valid. The response will be empty. See
      <a href="/docs/apis/authentication">Authentication</a>.
    </td>
  </tr>
  <tr>
    <td>404</td>
    <td>
      The User could not be found using the <code>changePasswordId</code> or <code>loginId</code> value from the request. If using the
      <code>changePasswordId</code> the id is either incorrect or expired. Another reason for this status code is that you have provided the
      <code>currentPassword</code> parameter and it does not match the current password.
    </td>
  </tr>
  <tr>
    <td>500</td>
    <td>
      There was an internal error. A stack trace is provided and logged in the FusionAuth log files.
    </td>
  </tr>
  <tr>
    <td>503</td>
    <td>
      The search index is not available or encountered an exception so the request cannot be completed. The response will contain a JSON body.
    </td>
  </tr>
  </tbody>
</table>
