---
import JSON from 'src/components/JSON.astro';
---
<i class="mb-0">Response Codes</i>
<table class="overflow-x-scroll flex flex-grow-0 flex-col mb-14 mt-1">
    <thead>
    <tr>
        <th>Code</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>200</td>
        <td>The request was successful and can be used as part of a request to <a href="#change-a-users-password">change the user's password</a>.</td>
    </tr>
    <tr>
        <td>400</td>
        <td>
            The request was invalid and/or malformed. The response will contain an <a href="/docs/apis/errors">Errors</a> JSON Object with the specific errors.
            <br /> Beginning in version <code>1.33.0</code> a status code of <code>400</code> may also be used to indicate additional MFA trust is required
            <br /> to <a href="#change-a-users-password">change the user's password</a>. In this case the following error will be returned.
            <br/>
            <div><JSON title="Example Response JSON" src="errors/requires-trust-token-response.json" /></div>
            To complete a request to <a href="#change-a-users-password">change the user's password</a>, you must obtain a <code>trustToken</code> using a <a href="/docs/apis/login#complete-multi-factor-authentication">Multi-Factor Login request</a>.
        </td>
    </tr>
    <tr>
        <td>404</td>
        <td>The <code>changePasswordId</code> is incorrect or expired or the user could not be found.</td>
    </tr>
    </tbody>
</table>
