---
import JSON from 'src/components/JSON.astro';
---
<i class="mb-0">Response Codes</i>
<table class="overflow-x-scroll flex flex-grow-0 flex-col mb-14 mt-1">
    <thead>
    <tr>
        <th>Code</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>200</td>
        <td>The request was successful and the <code>changePasswordId</code> is valid.</td>
    </tr>
    <tr>
        <td>400</td>
        <td>
            The request was invalid and/or malformed. The response will contain an <a href="/docs/apis/errors">Errors</a> JSON Object with the specific errors.
            <br /> Beginning in version <code>1.33.0</code> a status code of <code>400</code> may also be used to indicate additional trust is required to
            complete a POST request using this <code>changePasswordId</code>. In this case the following error will be returned.
            <br/>
            <div><JSON title="Example Response JSON" src="errors/requires-trust-token-response.json" /></div>
            To complete a POST request using this <code>changePasswordId</code>, you must obtain a <code>trustToken</code>. To obtain a <code>trustToken</code>, complete a Two-Factor Login request.
        </td>
    </tr>
    <tr>
        <td>404</td>
        <td>The <code>changePasswordId</code> could not be found.</td>
    </tr>
    </tbody>
</table>
