---
import APIURI from 'src/components/api/APIURI.astro'
import Aside from 'src/components/Aside.astro';
const { api_endpoint } = Astro.props;
const parts = api_endpoint.split('`');
const codeParts = parts.slice(1, parts.length);
---
<APIURI method="PATCH">
  {parts[0] && <>{parts[0]}</> }
  {codeParts && codeParts.map(part => <code>{ part }</code>)}
</APIURI>

<Aside type="note">
  <p class="text-green-600">Available since 1.39.0</p>
  <br/>

  <p>When using the PATCH method, you can either use the same request body documentation that is provided for the PUT request for backward compatibility. Or you may use either <a href="https://www.rfc-editor.org/rfc/rfc6902">JSON Patch/RFC 6902]</a> or <a href="https://www.rfc-editor.org/rfc/rfc7396">JSON Merge Patch/RFC 7396</a>. See the <a href="/docs/apis/#the-patch-http-method"><code>PATCH</code> documentation for more information</a>.</p>
  <br/>

  <p class="mt-2 text-green-600">Available since 1.12.0</p>

  <br/>
  <p>When using the PATCH method, use the same request body documentation that is provided for the PUT request.
  The PATCH method will merge the provided request parameters into the existing object, this means all parameters are optional when using the PATCH method and you only provide the values you want changed.
  A <code>null</code> value can be used to remove a value.
    Patching an <code>Array</code> will result in all values from the new list being appended to the existing list, this is a known limitation to the current implementation of PATCH.</p>
</Aside>

