---
interface Props {
  success_code: boolean,
  success_message: string,
  async_enabled: boolean,
  never_search_error: boolean,
  no_errors: boolean,
  omit_missing_header: boolean,
  never_missing: boolean,
  webhook_event: boolean
}

const {success_code, success_message, async_enabled, never_search_error, no_errors, never_missing, webhook_event }: Props  = Astro.props;

---
<i class="mb-0">Response Codes</i>
<table class="overflow-x-scroll flex flex-grow-0 flex-col mb-14 mt-1">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>200</td>
      { success_code
          ? <td>{ success_message }</td>
          : <td>The request was successful.</td>
      }
    </tr>
    {async_enabled && <tr>
      <td>202</td>
      <td>
        The request has been accepted but not completed. The response will be empty.
      </td>
    </tr>}
    {!no_errors &&
      <tr>
        <td>400</td>
         <td>
          The request was invalid and/or malformed. The response will contain an <a href="/docs/apis/errors">Errors</a> JSON Object with the specific errors. This status will also be returned if a paid FusionAuth license is required and is not present.
         </td>
      </tr>
    }
    <tr>
      <td>401</td>
      <td>
        You did not supply a valid Authorization header. The header was omitted or your API key was not valid. The response will be empty. See <a href="/docs/apis/authentication">Authentication</a>.
      </td>
    </tr>
    {!never_missing &&
      <tr>
        <td>404</td>
         <td>
          The object you requested doesn't exist. The response will be empty.
        </td>
      </tr>
    }
     <tr>
      <td>500</td>
      <td>
        There was an internal error. A stack trace is provided and logged in the FusionAuth log files. The response will be empty.
      </td>
    </tr>
    {!never_search_error && <tr>
      <td>503</td>
      <td>The search index is not available or encountered an exception so the request cannot be completed. The response will contain a JSON body.</td>
    </tr>}
    {webhook_event && <tr>
      <td>504</td>
      <td>One or more Webhook endpoints returned an invalid response or were unreachable. Based on the transaction configuration for this event your action cannot be completed. A stack trace is provided and logged in the FusionAuth log files.</td>
    </tr>}
  </tbody>
</table>
