<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  {% include _head.liquid %}
  <style>
    @media screen and (min-width: 800px) {
      .show-on-mobile {
        display: none;
      }
      .hide-on-mobile {
        display: block;
      }
      .hide-on-mobile-flex {
        display: flex;
      }
    }

    @media screen and (max-width: 800px) {
      .show-on-mobile {
        display: block;
      }
      .hide-on-mobile {
        display: none;
      }
      .hide-on-mobile-flex {
        display: none;
      }
    }
  </style>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% comment %} Since HTML5 recommends that the `main` element shouldn't include the header or footer and since we are using gradients, we can't use a main (boo) {% endcomment %}

{% include _header.liquid %}

<main>
  <section class="purple main hero">
    <div class="container bottom content">
      <div class="row">
        <div class="col-xs-12 col-lg-6 text">
          <h1>{{ page.headertext }}</h1>
          <p>
            FusionAuth provides authentication, authorization, and user management for any app: deploy anywhere, integrate with anything, in minutes.
          </p>
          <p>
            We got this. Go build something awesome!
          </p>
          <p>
            LEARN MORE BELOW
          </p>
        </div>
      </div>
    </div>
    <div class="hero-image flush-bottom right hide-on-mobile-flex">
      <img src="{{ page.adimage }}">
    </div>
  </section>

  <section class="white">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-4 centered flat-card">
          <header>
            <img src="/assets/img/stamps/built-for-devs.svg" alt="Built for Devs">
          </header>
          <div class="content">
            <h2>Built for Devs</h2>
            <p>
              We built FusionAuth from the ground up to easily integrate with any app, language, and framework. Every feature (yes, every single one) is exposed as an API giving you complete flexibility to handle any use case.
            </p>
          </div>
          <footer>
            <a href="/docs/" class="gray"><strong>CHECK OUT THE DOCS</strong> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-right orange-text"></i></a>
          </footer>
        </div>
        <div class="col-xs-12 col-lg-4 centered flat-card">
          <header>
            <img src="/assets/img/stamps/complete-identity-solution.svg" alt="Complete Identity Solution">
          </header>
          <div class="content">
            <h2>Complete<br>Identity Solution</h2>
            <p>
              You get every feature and acronym you need: registration & login, passwordless, SSO, MFA, SAML, OIDC, OAuth, JWT, social login and more. Comply with GDPR, HIPAA, COPPA, and PCI requirements in seconds.
            </p>
          </div>
          <footer>
            <a href="/download/" class="gray"><strong>ALWAYS FREE</strong> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-right orange-text"></i></a>
          </footer>
        </div>
        <div class="col-xs-12 col-lg-4 centered flat-card">
          <header>
            <img src="/assets/img/stamps/works-anywhere-2.svg" alt="Works Anywhere">
          </header>
          <div class="content">
            <h2>Works Anywhere</h2>
            <p>
              FusionAuth installs on any platform, any computer, anywhere. Host it yourself or use FusionAuth Cloud, our fully managed SaaS hosting service.
            </p>
          </div>
          <footer>
            <a href="/docs/v1/tech/example-apps/" class="gray"><strong>LOOK AT SOME EXAMPLE APPS</strong> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-right orange-text"></i></a>
          </footer>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-4 centered flat-card">
          <header>
            <img src="/assets/img/stamps/more-secure-than-homegrown.svg" alt="More secure than homegrown">
          </header>
          <div class="content">
            <h2>More Secure than Homegrown</h2>
            <p>
              Secure identity is massively complex. A talented dev COULD do it all, but it takes months or years to build, test, and maintain. Use our one-minute install and spend your resources on something that makes you money.
            </p>
          </div>
          <footer>
            <a href="/upgrade/from-homegrown/" class="gray"><strong>COMPARE TO HOMEGROWN</strong> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-right orange-text"></i></a>
          </footer>
        </div>
        <div class="col-xs-12 col-lg-4 centered flat-card">
          <header>
            <img src="/assets/img/stamps/premium-support.svg" alt="Premium features and support">
          </header>
          <div class="content">
            <h2>Premium Features and Support</h2>
            <p>
              We understand that some teams might need support, hosting, and additional features like breached password detection, advanced registration forms, and LDAP integration.
            </p>
          </div>
          <footer>
            <a href="/pricing" class="gray"><strong>LEARN MORE</strong> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-right orange-text"></i></a>
          </footer>
        </div>
        <div class="col-xs-12 col-lg-4 centered flat-card">
          <header>
            <img src="/assets/img/stamps/worldwide-community.svg" alt="Worldwide community of developers">
          </header>
          <div class="content">
            <h2>Worldwide Community of Developers</h2>
            <p>
              With hundreds of thousands of downloads in the last year, we've quickly developed an active worldwide community of developers sharing challenges and solutions every day.
            </p>
          </div>
          <footer>
            <a href="/community/forum/" class="gray"><strong>EXPLORE THE FORUM</strong> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-right orange-text"></i></a>
          </footer>
        </div>
      </div>
    </div>
  </section>

  {% include _gray-video.liquid %}

  {% include _platforms.liquid %}

  {% include _complete-auth.liquid %}
</main>

{% include _footer.liquid %}

</body>
</html>
