<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  {% include _head.liquid %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% comment %} Since HTML5 recommends that the `main` element shouldn't include the header or footer and since we are using gradients, we can't use a main (boo) {% endcomment %}

<section class="purple main hero">
  {% include _header.liquid %}
  <div class="container bottom content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>{{ page.headertext }}</h1>
        <p>
          Don’t let authentication, authorization, and user management slow your development process. Try FusionAuth.
        </p>
        <p>
          Download and install FusionAuth with no plans or credit card required. Deploy anywhere, integrate with anything, in minutes.
        </p>
        <p>
          We got this. Go build something awesome.
        </p>
        <p>
          GET STARTED BELOW
        </p>
      </div>
    </div>
  </div>
  <div class="hero-image flush-bottom right">
    <img src="{{ page.adimage }}">
  </div>
</section>

<style>
@media screen and (min-width: 600px) {
  .show-on-mobile {
    display: none;
  }
  .hide-on-mobile {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .show-on-mobile {
    display: block;
  }
  .hide-on-mobile {
    display: none;
  }
}
</style>

<section class="white show-on-mobile" >
  <div class="container bottom content">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text">
        <h1>Hi.</h1>
        <p>
          Most people don't develop on their mobile phone, but if you want to, here's the <a href="/download">download link</a>. 
        </p>
        <p>
          Otherwise, you may want to:
          <ul>
            <li><a href="/docs/v1/tech/">Check out the docs</a></li>
            <li><a href="/docs/v1/tech/example-apps/">Look at some example apps</a></li>
            <li><a href="/blog/">Read our blog</a></li>
            <li>Or <a href="/learn/expert-advice/">learn from our expert advice about OAuth, JWTs and more</a></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>

{% include _download.liquid classes="hide-on-mobile" %}

{% include _professional-services.liquid %}

</body>
</html>
