<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  {% include _head.liquid %}
  <style>
    @media screen and (min-width: 800px) {
      .show-on-mobile {
        display: none;
      }
      .hide-on-mobile {
        display: block;
      }
      .hide-on-mobile-flex {
        display: flex;
      }
    }

    @media screen and (max-width: 800px) {
      .show-on-mobile {
        display: block;
      }
      .hide-on-mobile {
        display: none;
      }
      .hide-on-mobile-flex {
        display: none;
      }
    }
  </style>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% comment %} Since HTML5 recommends that the `main` element shouldn't include the header or footer and since we are using gradients, we can't use a main (boo) {% endcomment %}

{% include _header.liquid %}

<main>
  <section class="purple main hero">
    <div class="container bottom content">
      <div class="row">
        <div class="col-xs-12 col-lg-6 text">
          <h1>{{ page.headertext }}</h1>
          <p>
            FusionAuth seamlessly plugs into your applications and is fully customizable for your needs. We'll handle the auth so you can focus on your business.
          <p>
            The best part? You get awesome support with pricing that doesn't break the bank.
          </p>
          <a href="/pricing/" class="brochure purple button">GET STARTED</a>
        </div>
      </div>
    </div>
    <div class="hero-image flush-bottom right hide-on-mobile-flex">
      <img src="{{ page.adimage }}">
    </div>
  </section>

  <section class="white">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-4 centered flat-card">
          <header>
            <img src="/assets/img/stamps/support.svg" alt="Built for Devs">
          </header>
          <div class="content">
            <h2>Awesome support</h2>
            <p>
              Our support is the best in the industry. You'll almost think we're part of your team. Stop waiting around for days and delaying your project roadmap.
            </p>
          </div>
          <footer>
            <a href="/pricing/" class="gray"><strong>SUPPORT</strong> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-right orange-text"></i></a>
          </footer>
        </div>
        <div class="col-xs-12 col-lg-4 centered flat-card">
          <header>
            <img src="/assets/img/stamps/competitive-pricing.svg" alt="Complete Identity Solution">
          </header>
          <div class="content">
            <h2>Competitive pricing</h2>
            <p>
              Stop wasting time and money on Auth. When you choose FusionAuth, you'll never get a surprise bill. Our prices are completely transparent and friendly for companies of any size.
            </p>
          </div>
          <footer>
            <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/price-calculator" class="gray"><strong>PRICE CALCULATOR</strong> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-right orange-text"></i></a>
          </footer>
        </div>
        <div class="col-xs-12 col-lg-4 centered flat-card">
          <header>
            <img src="/assets/img/stamps/fully-customizable.svg" alt="Works Anywhere">
          </header>
          <div class="content">
            <h2>Fully customizable</h2>
            <p>
              You can customize every aspect of FusionAuth including theming, password constraints, email templates, localization, messaging, and much more. Plus, every feature is exposed as an API giving you complete flexibility to handle any use case.
            </p>
          </div>
          <footer>
            <a href="/docs/" class="gray"><strong>DOCUMENTATION</strong> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-right orange-text"></i></a>
          </footer>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-4 centered flat-card">
          <header>
            <img src="/assets/img/stamps/more-secure-than-homegrown.svg" alt="More secure than homegrown">
          </header>
          <div class="content">
            <h2>More Secure than Homegrown</h2>
            <p>
              Secure identity is massively complex. A talented dev COULD do it all, but it takes months or years to build, test, and maintain. Use our one-minute install and spend your resources on something that makes you money.
            </p>
          </div>
          <footer>
            <a href="/upgrade/from-homegrown/" class="gray"><strong>COMPARE TO HOMEGROWN</strong> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-right orange-text"></i></a>
          </footer>
        </div>
        <div class="col-xs-12 col-lg-4 centered flat-card">
          <header>
            <img src="/assets/img/stamps/built-for-devs.svg" alt="Built for Devs">
          </header>
          <div class="content">
            <h2>Built for Devs</h2>
            <p>
              We built FusionAuth from the ground up to easily integrate with any app, language, and framework. Every feature (yes, every single one) is exposed as an API giving you complete flexibility to handle any use case.
            </p>
          </div>
          <footer>
            <a href="/docs/" class="gray"><strong>CHECK OUT THE DOCS</strong> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-right orange-text"></i></a>
          </footer>
        </div>
        <div class="col-xs-12 col-lg-4 centered flat-card">
          <header>
            <img src="/assets/img/stamps/works-anywhere-2.svg" alt="Works Anywhere">
          </header>
          <div class="content">
            <h2>Works Anywhere</h2>
            <p>
              FusionAuth installs on any platform, any computer, anywhere. Host it yourself or use FusionAuth Cloud, our fully managed SaaS hosting service.
            </p>
          </div>
          <footer>
            <a href="/docs/v1/tech/example-apps/" class="gray"><strong>LOOK AT SOME EXAMPLE APPS</strong> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-right orange-text"></i></a>
          </footer>
        </div>
      </div>
    </div>
  </section>

  {% include _gray-video.liquid %}

  {% include _platforms.liquid %}

  {% include _complete-auth.liquid %}

</main>

{% include _footer.liquid %}

<!-- Reddit Pixel -->
<script>
!function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','t2_aatj7pz2');rdt('track', 'PageVisit');
</script>
<!-- DO NOT MODIFY -->
<!-- End Reddit Pixel -->
</body>
</html>
