<!doctype html>
<html lang="en">
{% include _head.html %}
<body class="d-flex flex-column">
{% include _navigation.html %}
<main class="page">
  <section>
    <div class="container">
      {% include _advicenav.html %}
      <div class="row">
        <article class="col col-lg-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Expert Advice</a></li>
              <li class="breadcrumb-item"><a href="">OAuth</a></li>
            </ol>
          </nav>
          <div class="article-title">
            <h1 class="display-5">{{ page.title }}</h1>
          </div>
          <div class="article-body">
            {% if page.markdown == 1 %}
              {{ content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
{% include _footer.html %}
</body>
</html>
