<!doctype html>
<html lang="en">
{% include _head.html %}
<body class="d-flex flex-column">
{% include _navigation.html %}
<main class="page">
  <section>
    <div class="container">
      {% include _advicenav.html %}
    </div>
    <div>
      {% if page.markdown == 1 %}
        {{ content | markdownify }}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </section>
  <section class="bg-secondary pt-6 pb-6">
    <div class="container text-center text-white">
      <h2 class="text-white h1">FusionAuth is Auth Built for &lt;devs&gt;</h2>
      <p class="h5 text-white mt-4">FusionAuth gives devs complete flexibility with minimal implementation effort. Use our Fast Path install to get started in minutes.</p>
      <a href="/" class="btn btn-primary btn-lg mt-4 mb-4">Learn More</a>
      <h4 class="text-light mb-4">We got this. Go build the cool stuff.</h4>
      <img src="/assets/img/fusionauth-logo-white-orange.svg" alt="FusionAuth Logo" class="m-auto mt-4 mb-4" style="max-width: 250px">
    </div>
  </section>
  {% include macros/subscribe.html %}
</main>
{% include _footer.html %}
</body>
</html>
