<!doctype html>
<html lang="en">
<head>
  {% include _head.html %}
  <script type="application/ld+json">
    [{
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://fusionauth.io{{ page.url | remove: '.html' }}"
      },
      "headline": "{{ page.title | strip_html }}",
      "description": "{{ page.description | strip_html }}",
      "image": "https://fusionauth.io/assets/img/{{ page.image }}",
      "author": {
        "@type": "Person",
        "name": "{{ page.author }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "FusionAuth",
        "logo": {
          "@type": "ImageObject",
          "url": "https://fusionauth.io/assets/img/fusionauth-logo-grey-orange.png",
          "width": "1800",
          "height": "448"
        }
      },
      "datePublished": "{{ page.date }}",
      "dateModified": "{{ page.dateModified }}"
    },
    {
      "@context": "https://schema.org/",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Expert Advice",
        "item": "https://fusionauth.io/learn/expert-advice/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.category }}",
        "item": "https://fusionauth.io/learn/expert-advice/{{ page.category | slugify }}/"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ page.title }}",
        "item": "https://fusionauth.io{{ page.url | remove: '.html' }}"
      }]
    }]
  </script>
</head>
<body>
{% include _navigation.html %}
<main>
  <section>
    <div class="container">
      {% include _advice-nav.html border=true %}
      <nav class="mt-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/learn/expert-advice/">Expert Advice</a></li>
          <li class="breadcrumb-item"><a href="/learn/expert-advice/{{ page.category | slugify }}">{{ page.category }}</a></li>
          <li class="breadcrumb-item"><a href="{{ page.url | remove: '.html' }}">{{ page.title }}</a></li>
        </ol>
      </nav>
      <div class="row">
        <article class="col-12 col-lg-9">
          <div class="mb-5">
            <img class="post-image" src="/assets/img/{{ page.image }}" alt="{{ page.description }}"/>
          </div>
          <div class="article-body">
            <h1>{{ page.title }}</h1>
            <div class="mb-2 mt-2">
              <span class="text-secondary text-uppercase">ARTICLE BY {{ page.author }}</span>
            </div>
            <div class="mb-5">
              <div class="rw-ui-container" data-title="{{ page.url | replace: '.html', '' }}"></div>
            </div>
            <div class="article-body-content">
              {% if page.markdown == 1 %}
                {{ content | markdownify }}
              {% else %}
                {{ content }}
              {% endif %}
            </div>
          </div>
          <div class="article-rating-block mt-6 mb-6 text-center">
            <hr>
            <div class="article-rating mt-5 mb-5">
              <p>
                Was this article awesome? Click a star to rate it.
              </p>
              <div class="rw-ui-container" data-title="{{ page.url | replace: '.html', '' }}"></div>
            </div>
            <hr>
          </div>
          <div class="article-comments mb-4">
            <div id="hyvor-talk-view"></div>
            <script type="text/javascript">
              var HYVOR_TALK_WEBSITE = 360; // DO NOT CHANGE THIS
              var HYVOR_TALK_CONFIG = {
                url: false,
                id: false
              };
            </script>
            <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
<!--            <div class="just-comments" data-apikey="edc7b4a8-97ce-47ba-9e21-0477407197ef"></div>-->
<!--            <script async src="https://just-comments.com/w.js"></script>-->
          </div>
        </article>
        <div class="col col-lg-3 d-lg-block d-none pl-4">
<!--          <div class="border rounded p-2">-->
<!--            <h2 class="h4">Related Articles</h2>-->
<!--            <a class="d-block mt-3 mb-3" href="#">Related 1</a>-->
<!--            <a class="d-block mt-3 mb-3" href="#">Related 2</a>-->
<!--            <a class="d-block mt-3 mb-3" href="#">Related 3</a>-->
<!--            <a class="d-block mt-3 mb-3" href="#">Related 4</a>-->
<!--            <a class="d-block mt-3 mb-3" href="#">Related 5</a>-->
<!--            <a class="d-block mt-3 mb-3" href="#">Related 6</a>-->
<!--          </div>-->

          <div class="bg-secondary p-2 rounded text-center text-white">
            <img class="w-100 mt-2" src="/assets/img/fusionauth-stacked-logo.svg">
            <p class="mt-4 text-light">
              Authentication, authorization, and user management for any app: deploy anywhere, integrate with anything, in minutes.
            </p>
            <a class="btn btn-lg btn-primary text-uppercase mt-3 mb-4 mx-3" href="/download">Get Started for Free</a>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>
{% include _footer.html %}
</body>
</html>
