<!doctype html>
<html lang="en">
{% include _head.html %}
<body class="d-flex flex-column">
{% include _navigation.html %}
<main class="page">
  <section>
    <div class="container">
      {% include _advicenav.html %}
      <div class="row">
        <div class="col col-lg-2" style="border: 1px solid red;">
          TOC etc
        </div>
        <article class="col col-lg-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Expert Advice</a></li>
              <li class="breadcrumb-item"><a href="">OAuth</a></li>
            </ol>
          </nav>
          <div class="article-title">
            <h1 class="display-5">{{ page.title }}</h1>
          </div>
          <div class="mt-1 mb-3">
            <span class="text-secondary">{{ page.author }}</span>
          </div>
          <div class="article-rating mb-4">
            <i class="fal fa-star text-primary"></i>
            <i class="fal fa-star text-primary"></i>
            <i class="fal fa-star text-primary"></i>
            <i class="fal fa-star text-primary"></i>
            <i class="fal fa-star text-primary"></i>
          </div>
          <div class="embed-responsive embed-responsive-2by1 mb-5">
            <div class="embed-responsive-item text-center">
              <img class="post-image" src="/assets/img/{{ page.image }}">
            </div>
          </div>
          <div class="article-body">
            {% if page.markdown == 1 %}
              {{ content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
          <div class="article-rating-block mt-6 mb-6 text-center">
            <hr>
            <div class="article-rating mt-5 mb-5">
              <p>
                Was this article awesome? Click a star to rate it.
              </p>
              <i class="fal fa-star text-primary"></i>
              <i class="fal fa-star text-primary"></i>
              <i class="fal fa-star text-primary"></i>
              <i class="fal fa-star text-primary"></i>
              <i class="fal fa-star text-primary"></i>
            </div>
            <hr>
          </div>
          <div class="article-comments">
            <div class="just-comments" data-apikey="edc7b4a8-97ce-47ba-9e21-0477407197ef"></div>
            <script async src="https://just-comments.com/w.js"></script>
          </div>
        </article>
        <div class="col col-lg-2" style="border: 1px solid red;">
          Side bar shit
        </div>
      </div>
    </div>
  </section>
</main>
{% include _footer.html %}
</body>
</html>