<!doctype html>
<html lang="en">
{% include _head.html %}
<body>
{% include _navigation.html %}
<main class="bg-light2 pb-5">
  <section>
    <div class="container">
      {% include _advice-nav.html %}
      <nav class="mt-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/learn/expert-advice/">Expert Advice</a></li>
          <li class="breadcrumb-item"><a href="/learn/expert-advice/{{ page.category | downcase | slugify }}">{{ page.category }}</a></li>
        </ol>
      </nav>
      <div class="row">
        <article class="col-12 col-lg-9">
          <div class="article-body bg-white p-4 rounded shadow">
            <h1><i class="fad fa-{{ page.icon }} mr-2"></i> {{ page.title }}</h1>
            <div class="mb-2 mt-2">
              <span class="text-secondary text-uppercase">TOOL WRITTEN BY {{ page.author }}</span>
            </div>
            <div class="mb-5">
              <div class="rw-ui-container" data-title="{{ page.url | replace: '.html', '' }}"></div>
            </div>
            <div class="article-body-content">
              {% if page.markdown == 1 %}
                {{ content | markdownify }}
              {% else %}
                {{ content }}
              {% endif %}
            </div>
          </div>
          <div class="article-footer-block mt-6 mb-6 text-center">
            <hr>
            <div class="article-rating mt-5 mb-5">
              <p>
                Was this dev tool awesome? Click a star to rate it.
              </p>
              <div class="rw-ui-container" data-title="{{ page.url | replace: '.html', '' }}"></div>
            </div>
            <hr>
            <div class="article-contribute mt-5 mb-5">
              <p>
                Have an idea for a great dev tool? Submit a PR to our GitHub project at:
                <br/>
                <a href="https://github.com/fusionAuth/fusionauth-site">https://github.com/fusionAuth/fusionauth-site</a>
              </p>
            </div>
            <hr>
          </div>
        </article>
        <div class="col col-lg-3 d-lg-block d-none pl-4">
          <div class="bg-secondary p-2 rounded text-center text-white">
            <img class="w-100 mt-2" src="/assets/img/fusionauth-stacked-logo.svg">
            <p class="mt-4 text-light">
              Authentication, authorization, and user management for every app: deploy anywhere, integrate with anything, in minutes.
            </p>
            <a class="btn btn-lg btn-primary text-uppercase mt-3 mb-4 mx-3" href="/download">Get Started for Free</a>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>
{% include _footer.html %}
</body>
</html>
