<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  {% include _head.liquid %}
</head>
<body>
{% include _header.liquid hero=page.heroHeader section="blog" %}
<main>
  {% if page.markdown == 1 %}
    {{ content | markdownify }}
  {% else %}
    {{ content }}
  {% endif %}
</main>
{% include _footer.liquid %}
</body>
</html>
