<!doctype html>
<html lang="en">
{% include _head.html %}
<body class="d-flex flex-column">
{% include _navigation.html %}
<main class="page">
  <section>
    <div class="container">
      <div class="row">
        <article class="col-12 col-lg-9">
          <div class="embed-responsive embed-responsive-2by1">
            <div class="embed-responsive-item text-center">
              <img class="post-image" src="/assets/img/{{ page.image }}">
            </div>
          </div>
<!--          <div class="post-image" style="background-image: url('/assets/img/{{ page.image }}');"></div>-->
          <div class="post-body mt-5">
            <h1 class="display-5">{{ page.title }}</h1>
            <div class="mb-5 mt-4">
              <span class="text-uppercase text-secondary">{{ page.date | date_to_string: "ordinal", "US" }}</span>
              <span class="ml-4 text-uppercase text-secondary">{{ page.author }}</span>
            </div>
            <div class="post-body-content">
              {% if page.markdown == 1 %}
              {{ content | markdownify }}
              {% else %}
              {{ content }}
              {% endif %}
            </div>
            <div class="post-body-comments">
              <div class="just-comments" data-apikey="edc7b4a8-97ce-47ba-9e21-0477407197ef"></div>
              <script async src="https://just-comments.com/w.js"></script>
            </div>
          </div>
        </article>
        <div class="col-12 col-lg-3">
          <div class="">
            <div class="p-4">
              <h2>Recent Posts</h2>
              {% for post in site.posts limit: 4 %}
              <a class="d-block mt-3 mb-3 link-dark" href="{{ post.url | replace: '.html', '' }}">{{ post.title }}</a>
              {% endfor %}
            </div>
            <div class="mt-4 mb-4 bg-secondary p-4 text-center text-white">
              <img class="w-100" src="/assets/img/fusionauth-logo-white-orange.svg">
              <p class="mt-4 text-light">
                FusionAuth provides authentication, authorization, and user management for every app: deploy anywhere, integrate with anything, in minutes.
              </p>
              <a class="btn btn-lg btn-primary text-uppercase mt-3 mb-4">Get Started for Free</a>
            </div>
            <div class="p-4">
              <h2>Additional<br>Useful<br>Resources</h2>
              {% for resource in site.data.resources %}
              <a class="d-block mt-3 mb-3 link-dark" href="{{ resource.url }}">{{ resource.title }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% include _footer.html %}
</body>
</html>
