<!doctype html>
<html lang="en">
<head>
  {% include _head.html %}
  {% if page.homepage %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Corporation",
      "name": "FusionAuth",
      "alternateName": "FusionAuth",
      "url": "https://fusionauth.io",
      "logo": "https://fusionauth.io/assets/img/fusionauth-logo-grey-orange.svg",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "1630 Welton Suite 600-A",
        "addressLocality": "Denver",
        "addressRegion": "CO",
        "postalCode": "80202"
      },
      "sameAs": [
        "https://www.facebook.com/FusionAuth/",
        "https://twitter.com/FusionAuth",
        "https://www.instagram.com/fusionauth/",
        "https://github.com/fusionauth",
        "https://www.youtube.com/channel/UCd52fyC6UAR09AZp_0IjoxA"
      ]
    }
  </script>
  {% endif %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
  {% include _top-bar-offer.html %}
  {% include _navigation.html %}
</header>
<main>
  {% if page.markdown == 1 %}
    {{ content | markdownify }}
  {% else %}
    {{ content }}
  {% endif %}
</main>
{% include _footer.html %}
</body>
</html>