<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  {% include _head.liquid %}
</head>
<body>
{% include _header.liquid hero=page.heroHeader section="developer"%}
<main>
  <section class="white">
    <div class="container">
      {% if page.markdown == 1 %}
        {{ content | markdownify }}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </section>
</main>
{% include _footer.liquid %}
</body>
</html>
