<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
    {% include _head.liquid %}
</head>
<body class="landing-body">
{% include docs/_docs-header.liquid section="developer" %}
<main>
    {% if page.markdown == 1 %}
        {{ content | markdownify }}
    {% else %}
        {{ content }}
    {% endif %}
</main>
{% include _footer.liquid %}
</body>
</html>