<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
  <!--suppress HtmlRequiredTitleElement -->
  <head>
    {% include _head.liquid %}
    <script src="/assets/js/Documentation-0.1.0.js"></script>
  </head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include _header.liquid gray=true %}
<main>
  <section class="white docs navigable">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 tight-both col-lg-3">
          <aside>
            <a href="#" class="sub-menu">Navigate to... <i class="fas fa-chevron-down fa-fw"></i></a>
            <nav>
              <ul>
                <li class="search">
                  <form action="https://google.com/search" method="GET">
                    <div class="input search-field">
                      <i class="fal fa-search"></i>
                      <input type="text" name="q" placeholder="Search" autofocus="autofocus">
                    </div>
                    <input type="hidden" name="q" value="site:fusionauth.io">
                  </form>
                </li>
                <li {% if page.url == "/docs/v1/tech/" %}class="active"{% endif %}><a href="/docs/v1/tech/"><i class="fal fa-fw fa-home"></i> Welcome</a></li>
                <li {% if page.url == "/docs/v1/tech/getting-started.html" %}class="active"{% endif %}><a href="/docs/v1/tech/getting-started"><i class="fal fa-fw fa-road"></i> Getting Started</a></li>
                <li {% if page.url == "/docs/v1/tech/5-minute-setup-guide.html" %}class="active"{% endif %}><a href="/docs/v1/tech/5-minute-setup-guide"><i class="fal fa-fw fa-stopwatch"></i> 5-Minute Setup Guide</a></li>
                <li {% if page.url == "/docs/v1/tech/reactor.html" %}class="active"{% endif %}><a href="/docs/v1/tech/reactor"><i class="fal fa-fw fa-radiation"></i> Reactor</a></li>
                <li {% if page.url contains "/core-concepts/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-chart-pie-alt"></i> Core Concepts <i class="fal fa-chevron-{% if page.url contains "/core-concepts/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/core-concepts/" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/core-concepts/users.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/users">Users</a></li>
                    <li {% if page.url == "/docs/v1/tech/core-concepts/roles.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/roles">Roles</a></li>
                    <li {% if page.url == "/docs/v1/tech/core-concepts/groups.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/groups">Groups</a></li>
                    <li {% if page.url == "/docs/v1/tech/core-concepts/registrations.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/registrations">Registrations</a></li>
                    <li {% if page.url == "/docs/v1/tech/core-concepts/applications.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/applications">Applications</a></li>
                    <li {% if page.url == "/docs/v1/tech/core-concepts/tenants.html" %}class="active"{% endif %}><a href="/docs/v1/tech/core-concepts/tenants">Tenants</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/installation-guide/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-download"></i> Installation Guide <i class="fal fa-chevron-{% if page.url contains "/installation-guide/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/system-requirements.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/system-requirements">System Requirements</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/server-layout.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/server-layout">Server Layout</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/docker.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/docker">Docker</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/fast-path.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/fast-path">Fast Path</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/kickstart.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/kickstart">Kickstart&#8482;</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/homebrew.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/homebrew">Homebrew</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/packages.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/packages">Packages</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/database.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/database">Database</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/fusionauth-app.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/fusionauth-app">FusionAuth App</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/fusionauth-search.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/fusionauth-search">FusionAuth Search</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/securing.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/securing">Securing</a></li>
                    <li {% if page.url == "/docs/v1/tech/installation-guide/upgrade.html" %}class="active"{% endif %}><a href="/docs/v1/tech/installation-guide/upgrade">Upgrading</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/apis/" %} class="open"{% endif %}>
                 <a href="#" class="sub-menu"><i class="fal fa-fw fa-code"></i> APIs <i class="fal fa-chevron-{% if page.url contains "/apis/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/apis/" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/authentication.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/authentication">Authentication</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/errors.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/errors">Errors</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/actioning-users.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/actioning-users">Actioning Users</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/applications.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/applications">Applications</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/audit-logs.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/audit-logs">Audit Logs</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/consent.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/consent">Consent</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/emails.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/emails">Emails</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/event-logs.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/event-logs">Event Logs</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/families.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/families">Families</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/groups.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/groups">Groups</a></li>
                    <li {% if page.url contains "/apis/identity-providers/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu">Identity Providers <i class="fal fa-chevron-{% if page.url contains "/apis/identity-providers" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/facebook.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/facebook"><i class="fab fa-fw fa-facebook"></i> Facebook</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/google.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/google"><i class="fab fa-fw fa-google"></i> Google</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/hypr.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/hypr"><i class="fal fa-fw fa-fingerprint"></i> HYPR</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/twitter.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/twitter"><i class="fab fa-fw fa-twitter"></i> Twitter</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/openid-connect.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/openid-connect"><i class="fab fa-fw fa-openid"></i> OpenID Connect</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/samlv2.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/samlv2"><i class="fal fa-fw fa-id-badge"></i> SAML v2</a></li>
                        <li {% if page.url == "/docs/v1/tech/apis/identity-providers/external-jwt.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/identity-providers/external-jwt"><i class="fab fa-fw fa-empire"></i> External JWT</a></li>
                      </ul>
                    </li>
                    <li {% if page.url == "/docs/v1/tech/apis/integrations.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/integrations">Integrations</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/jwt.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/jwt">JWT</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/keys.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/keys">Keys</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/lambdas.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/lambdas">Lambdas</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/login.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/login">Login</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/passwordless.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/passwordless">Passwordless</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/registrations.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/registrations">Registrations</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/reports.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/reports">Reports</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/system.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/system">System</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/tenants.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/tenants">Tenants</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/themes.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/themes">Themes</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/two-factor.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/two-factor">Two Factor</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/users.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/users">Users</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/user-actions.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/user-actions">User Actions</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/user-action-reasons.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/user-action-reasons">User Action Reasons</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/user-comments.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/user-comments">User Comments</a></li>
                    <li {% if page.url == "/docs/v1/tech/apis/webhooks.html" %}class="active"{% endif %}><a href="/docs/v1/tech/apis/webhooks">Webhooks</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/client-libraries/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-th"></i> Client Libraries <i class="fal fa-chevron-{% if page.url contains "/client-libraries/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/client-libraries/" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/client-libraries/dart.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/dart">Dart</a></li>
                    <li {% if page.url == "/docs/v1/tech/client-libraries/go.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/go">Go</a></li>
                    <li {% if page.url == "/docs/v1/tech/client-libraries/java.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/java">Java</a></li>
                    <li {% if page.url == "/docs/v1/tech/client-libraries/netcore.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/netcore">.NET Core</a></li>
                    <li {% if page.url == "/docs/v1/tech/client-libraries/php.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/php">PHP</a></li>
                    <li {% if page.url == "/docs/v1/tech/client-libraries/python.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/python">Python</a></li>
                    <li {% if page.url == "/docs/v1/tech/client-libraries/ruby.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/ruby">Ruby</a></li>
                    <li {% if page.url == "/docs/v1/tech/client-libraries/typescript.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/typescript">Typescript</a></li>
                    <li {% if page.url == "/docs/v1/tech/client-libraries/javascript.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/javascript">JavaScript (deprecated)</a></li>
                    <li {% if page.url == "/docs/v1/tech/client-libraries/node.html" %}class="active"{% endif %}><a href="/docs/v1/tech/client-libraries/node">Node (deprecated)</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/themes/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-paint-brush"></i> Themes <i class="fal fa-chevron-{% if page.url contains "/themes/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/themes/" %}class="active"{% endif %}><a href="/docs/v1/tech/themes/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/themes/localization.html" %}class="active"{% endif %}><a href="/docs/v1/tech/themes/localization">Localization</a></li>
                    <li {% if page.url == "/docs/v1/tech/themes/examples.html" %}class="active"{% endif %}><a href="/docs/v1/tech/themes/examples">Examples</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/email-templates/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-envelope"></i> Email & Templates <i class="fal fa-chevron-{% if page.url contains "/email-templates/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/email-templates/" %}class="active"{% endif %}><a href="/docs/v1/tech/email-templates/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/email-templates/configure-email.html" %}class="active"{% endif %}><a href="/docs/v1/tech/email-templates/configure-email">Configure Email</a></li>
                    <li {% if page.url == "/docs/v1/tech/email-templates/email-templates.html" %}class="active"{% endif %}><a href="/docs/v1/tech/email-templates/email-templates">Email Templates</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/events-webhooks/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-rss"></i> Events & Webhooks <i class="fal fa-chevron-{% if page.url contains "/events-webhooks/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/events-webhooks/" %}class="active"{% endif %}><a href="/docs/v1/tech/events-webhooks/" >Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/events-webhooks/events.html" %}class="active"{% endif %}><a href="/docs/v1/tech/events-webhooks/events" >Events</a></li>
                    <li {% if page.url == "/docs/v1/tech/events-webhooks/writing-a-webhook.html" %}class="active"{% endif %}><a href="/docs/v1/tech/events-webhooks/writing-a-webhook" >Writing a Webhook</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/lambdas/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-code"></i> Lambdas <i class="fal fa-chevron-{% if page.url contains "/lambdas/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/lambdas/" %}class="active"{% endif %}><a href="/docs/v1/tech/lambdas/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/lambdas/jwt-populate.html" %}class="active"{% endif %}><a href="/docs/v1/tech/lambdas/jwt-populate">JWT Populate</a></li>
                    <li {% if page.url == "/docs/v1/tech/lambdas/openid-connect-response-reconcile.html" %}class="active"{% endif %}><a href="/docs/v1/tech/lambdas/openid-connect-response-reconcile">OpenID Connect Reconcile</a></li>
                    <li {% if page.url == "/docs/v1/tech/lambdas/samlv2-response-populate.html" %}class="active"{% endif %}><a href="/docs/v1/tech/lambdas/samlv2-response-populate">SAML v2 Populate</a></li>
                    <li {% if page.url == "/docs/v1/tech/lambdas/samlv2-response-reconcile.html" %}class="active"{% endif %}><a href="/docs/v1/tech/lambdas/samlv2-response-reconcile">SAML v2 Reconcile</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/tech/identity-providers/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-id-badge"></i> Identity Providers <i class="fal fa-chevron-{% if page.url contains "/tech/identity-providers/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/identity-providers/" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/identity-providers/apple.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/apple"><i class="fab fa-fw fa-apple"></i> Apple</a></li>
                    <li {% if page.url == "/docs/v1/tech/identity-providers/facebook.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/facebook"><i class="fab fa-fw fa-facebook"></i> Facebook</a></li>
                    <li {% if page.url == "/docs/v1/tech/identity-providers/google.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/google"><i class="fab fa-fw fa-google"></i> Google</a></li>
                    <li {% if page.url == "/docs/v1/tech/identity-providers/hypr.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/hypr"><i class="fal fa-fw fa-fingerprint"></i> HYPR</a></li>
                    <li {% if page.url == "/docs/v1/tech/identity-providers/twitter.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/twitter"><i class="fab fa-fw fa-twitter"></i> Twitter</a></li>
                    <li {% if page.url contains "/identity-providers/openid-connect/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu"><i class="fab fa-fw fa-openid"></i> OpenID Connect <i class="fal fa-chevron-{% if page.url contains "/identity-providers/openid-connect/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/identity-providers/openid-connect/" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/openid-connect/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/identity-providers/openid-connect/azure-ad.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/openid-connect/azure-ad"><i class="fab fa-fw fa-windows"></i> Azure AD</a></li>
                        <li {% if page.url == "/docs/v1/tech/identity-providers/openid-connect/github.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/openid-connect/github"><i class="fab fa-fw fa-github-alt"></i> Github</a></li>
                        <li {% if page.url == "/docs/v1/tech/identity-providers/openid-connect/discord.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/openid-connect/discord"><i class="fal fa-fw fa-gamepad"></i> Discord</a></li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/identity-providers/samlv2/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu"><i class="fal fa-fw fa-id-badge"></i> SAML v2 <i class="fal fa-chevron-{% if page.url contains "/identity-providers/samlv2/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/identity-providers/samlv2/" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/samlv2/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/identity-providers/samlv2/adfs.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/samlv2/adfs"><i class="fab fa-fw fa-windows"></i> ADFS</a></li>
                      </ul>
                    </li>
                    <li {% if page.url contains "/identity-providers/external-jwt/" %} class="open"{% endif %}>
                      <a href="#" class="sub-menu"><i class="fab fa-fw fa-empire"></i> External JWT <i class="fal fa-chevron-{% if page.url contains "/docs/v1/tech/identity-providers/external-jwt/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                      <ul>
                        <li {% if page.url == "/docs/v1/tech/identity-providers/external-jwt/" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/external-jwt/">Overview</a></li>
                        <li {% if page.url == "/docs/v1/tech/identity-providers/external-jwt/example.html" %}class="active"{% endif %}><a href="/docs/v1/tech/identity-providers/external-jwt/example"><i class="fab fa-fw fa-rebel"></i> Example</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li {% if page.url contains "/integrations/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-exchange"></i> Integrations <i class="fal fa-chevron-{% if page.url contains "/integrations/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/integrations/" %}class="active"{% endif %}><a href="/docs/v1/tech/integrations/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/integrations/cleanspeak.html" %}class="active"{% endif %}><a href="/docs/v1/tech/integrations/cleanspeak">CleanSpeak</a></li>
                    <li {% if page.url == "/docs/v1/tech/integrations/kafka.html" %}class="active"{% endif %}><a href="/docs/v1/tech/integrations/kafka">Kafka</a></li>
                    <li {% if page.url == "/docs/v1/tech/integrations/twilio.html" %}class="active"{% endif %}><a href="/docs/v1/tech/integrations/twilio">Twilio</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/oauth/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fab fa-fw fa-openid"></i> OpenID Connect & OAuth 2.0<i class="fal fa-chevron-{% if page.url contains "/oauth/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/oauth/" %}class="active"{% endif %}><a href="/docs/v1/tech/oauth/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/oauth/endpoints.html" %}class="active"{% endif %}><a href="/docs/v1/tech/oauth/endpoints">Endpoints</a></li>
                    <li {% if page.url == "/docs/v1/tech/oauth/tokens.html" %}class="active"{% endif %}><a href="/docs/v1/tech/oauth/tokens">Tokens</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/tech/samlv2/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-id-badge"></i> SAML v2 IdP <i class="fal fa-chevron-{% if page.url contains "/tech/samlv2/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/samlv2/" %}class="active"{% endif %}><a href="/docs/v1/tech/samlv2/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/samlv2/google.html" %}class="active"{% endif %}><a href="/docs/v1/tech/samlv2/google">Google</a></li>
                    <li {% if page.url == "/docs/v1/tech/samlv2/zendesk.html" %}class="active"{% endif %}><a href="/docs/v1/tech/samlv2/zendesk">Zendesk</a></li>
                    <!--          <li {% if page.url == "/docs/v1/tech/samlv2/pivotal.html" %}class="active"{% endif %}><a href="/docs/v1/tech/samlv2/pivotal">Log into Pivotal Tracker via SAML</a></li>-->
                  </ul>
                </li>
                <li {% if page.url contains "/plugins/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-plug"></i> Plugins <i class="fal fa-chevron-{% if page.url contains "/plugins/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/plugins/writing-a-plugin.html" %}class="active"{% endif %}><a href="/docs/v1/tech/plugins/writing-a-plugin">Writing a Plugin</a></li>
                    <li {% if page.url == "/docs/v1/tech/plugins/password-encryptors.html" %}class="active"{% endif %}><a href="/docs/v1/tech/plugins/password-encryptors">Password Encryptors</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/guides/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-map-signs"></i> Guides <i class="fal fa-chevron-{% if page.url contains "/guides/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/guides/passwordless.html" %}class="active"{% endif %}><a href="/docs/v1/tech/guides/passwordless">Passwordless</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/tutorials/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-graduation-cap"></i> Tutorials <i class="fal fa-chevron-{% if page.url contains "/tutorials/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/tutorials/" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/">Overview</a></li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/setup-wizard.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/setup-wizard">Setup Wizard & First Login</a></li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/register-user-login-api.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/register-user-login-api">Register/Login a User</a></li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/migrate-users.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/migrate-users">Migrate Users</a></li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/json-web-tokens.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/json-web-tokens">JSON Web Tokens</a></li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/application-authentication-tokens.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/application-authentication-tokens">Authentication Tokens</a></li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/start-and-stop.html" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/start-and-stop">Start and Stop FusionAuth</a></li>
                    <li {% if page.url == "/docs/v1/tech/tutorials/switch-search-engines" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/switch-search-engines">Switch Search Engines</a></li>
                    <li {% if page.url contains "/tutorials/two-factor/" %}class="active"{% endif %}><a href="/docs/v1/tech/tutorials/two-factor">Two Factor</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/reference/" %} class="open"{% endif %}>
                  <a href="#" class="sub-menu"><i class="fal fa-fw fa-book"></i> Reference <i class="fal fa-chevron-{% if page.url contains "/reference/" %}up{% else %}down{% endif %} fa-fw"></i></a>
                  <ul>
                    <li {% if page.url == "/docs/v1/tech/reference/cors.html" %}class="active"{% endif %}><a href="/docs/v1/tech/reference/cors">CORS</a></li>
                    <li {% if page.url == "/docs/v1/tech/reference/configuration.html" %}class="active"{% endif %}><a href="/docs/v1/tech/reference/configuration">Configuration</a></li>
                    <li {% if page.url == "/docs/v1/tech/reference/data-types.html" %}class="active"{% endif %}><a href="/docs/v1/tech/reference/data-types">Data Types</a></li>
                    <li {% if page.url == "/docs/v1/tech/reference/password-encryptors.html" %}class="active"{% endif %}><a href="/docs/v1/tech/reference/password-encryptors">Password Encryptors</a></li>
                  </ul>
                </li>
                <li {% if page.url == "/docs/v1/tech/release-notes.html" %}class="active"{% endif %}><a href="/docs/v1/tech/release-notes"><i class="fal fa-fw fa-list-ol"></i> Release Notes</a></li>
                <li {% if page.url == "/docs/v1/tech/troubleshooting.html" %}class="active"{% endif %}><a href="/docs/v1/tech/troubleshooting"><i class="fal fa-fw fa-exclamation-circle"></i> Troubleshooting</a></li>
                <li {% if page.url == "/docs/v1/tech/common-errors.html" %}class="active{% endif %}"><a href="/docs/v1/tech/common-errors"><i class="fal fa-fw fa-bug"></i> Common Errors</a></li>
              </ul>
            </nav>
          </aside>
        </div>
        <div class="col-xs-12 col-lg-9">
          <article>
            <h1>{{ page.title }}</h1>
            {% if page.markdown == 1 %}
              {{ content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
            <div id="scroll-top">
              <div><a href="#"><i class="fad fa-chevron-circle-up"></i></a></div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
{% include _footer.liquid %}
</body>
</html>
