<!doctype html>
<html lang="en">
{% include _head.html %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include _navigation.html %}
<div>
  {% include _advice-nav.html %}
</div>

<article class="post-body-content dark">
  <section style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/resources/guide/background.jpg') no-repeat center; height:300px; background-color: rgb(0,0,14); ">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col text-center pt-2 pb-2">
          <h1 class="text-white">{{ page.title }}</h1>
          <p class="text-white"><em>{{ page.subtitle }}</em></p>        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="card text-secondary">
      {% include guide/_toc.html %}
      <div class="card-body">
        {% if page.markdown == 1 %}
          {{ content | markdownify }}
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </div>
  </section>
</article>
{% include _footer.html %}
</body>
</html>
