---
layout: developer
description: Pick your {{page.title}} feature
---
<section class="white blog">
  <div class="container">
    <div class="row center">
      <article class="col-xs-12 col-lg-9">
        <h1>{{ page.title }}</h1>

        <div class="post-body">
        <h2>Intro</h2>
<p>
  {{page.feature_intro}}
</p>
<p>
Learn how to add {{page.feature}} functionality to your {{page.technology}} application. You'll use FusionAuth to augment your application to easily add {{page.feature_singular}}.
</p>

<h2>Prequisites</h2>

<p>
You'll need to set up FusionAuth and a sample Spring application. Please follow <a href="/docs/v1/tech/tutorials/integrate-{{page.technology_slug}}" target="_blank">this tutorial</a> to get that set up.
</p>

<p>
All done? Great. Let's get {{page.feature}} set up.
</p>

<h2>Enable {{page.feature}}</h2>

{%capture setup-feature%}{% include {{page.feature_include_file}} %}{% endcapture %}
{{ setup-feature | markdownify }}

        </div>

        <h3>{{page.technology}} How-Tos</h1>
        <div class="card-flex">

          {% assign tech_matches = site.data.howtos.list | where_exp: "item", "item.technology_slug == page.technology_slug" %}
          {% for article in tech_matches %}
            {% if page.technology_slug == article.technology_slug  %}
            <a href="/how-tos/{{article.technology_slug}}/{{article.howtoname}}/" class="flat-orange-card">
              <img src="/assets/img/advice/icons/{{article.icon_name}}" alt="{{article.feature}}">
              <span>
                {{ article.feature_title | replace: " ", "&nbsp;" }}
              </span>
            </a>
            {% endif %}
          {% endfor %} 
        </div>
        <h3>{{page.feature_title}} How-Tos</h1>
        <div class="card-flex">

          {% assign feature_matches = site.data.howtos.list | where_exp: "item", "item.feature_slug == page.feature_slug" %}

          {% for article in feature_matches %}
            {% if page.feature_slug == article.feature_slug  %}
              <a href="/how-tos/{{article.technology_slug}}/{{article.howtoname}}" class="flat-orange-card">
                <img src="/assets/img/advice/icons/{{article.icon_name}}" alt="{{article.feature}}">
                <span>
                  {{ article.technology | replace: " ", "&nbsp;" }}
                </span>
              </a>
            {% endif %}
          {% endfor %} 
        </div>

      </article>
    </div>
  </div>
</section>
