---
layout: developer
description: Pick your {{page.title}} feature
---
{% comment %}
This page is for feature index pages, with one icon per feature
{% endcomment %}
<section class="white blog main">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-lg-7" style="padding-bottom: 10px;">
        <a href="/how-to/">How-To</a> > {{page.title}}
      </div>
      <div class="col-xs-12 col-lg-7 centered">
        <h1>Pick your technology to use with {{page.title}}</h1>
      </div>
    </div>
    <div class="row center">
      <div class="col-xs-12 col-lg-7">
        <p>
          Authenticate your customers with {{page.title}}. 
        </p>
        <p>
          {{page.more_text}}
        </p>
      </div>
    </div>
    <div class="row center">
      <div class="card-flex">
        {% assign howtos = site.data.howtos.list | where_exp:"howto","howto.howtoname == page.indexname" %}
        {% for howto in howtos %}
           <a href="/how-to/{{howto.technology_slug}}/{{howto.howtoname}}" class="flat-orange-card">
              <img width="100px" src="/assets/img/howto/icons/technology/{{howto.technology_icon_name}}" alt="{{howto.technology}}">
              <span>
                {{ howto.technology | replace: " ", "&nbsp;" }}
              </span>
           </a>
        {% endfor %} 
      </div>
    </div>
  </div>
</section>

