---
layout: developer
---
<style>
div.howto-hero-row {
  background-color: #1E293B;
  color: white;
}

div.howto-hero-image-container {
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 36px;
}

div.howto-hero-image {
  display:flex;
  width: 72px;
  height: 72px;
  background-color: white;
  border-radius: 36px;
  align-items: center;
  justify-content: center;
  margin: 12px;
}

div.howto-hero-image img {
  margin-bottom:0px;
  width: 36px;
  height: 36px;
}

div.howto-hero-row h1 {
  font-size: 36px;
  color: white;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

div.howto-hero-row p {
  color: white;
  font-size: 18px;
  padding-bottom: 48px
}
</style>

<section class="white blog">
  <div class="container">
    <div class="row center howto-hero-row">
      <div class="howto-hero-image-container">
        <div class="howto-hero-image"><img src="/assets/img/howto/icons/technology/{{page.technology_icon_name}}" alt="{{page.technology}}"/></div> 
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0H7V7H0V9H7V16H9V9H16V7H9V0Z" fill="#FFF"></path>
        </svg>
        <div class="howto-hero-image"><img src="/assets/img/howto/icons/feature/{{page.feature_icon_name}}" alt="{{page.feature}}"/></div> 
      </div>
      <h1>{{ page.title }}</h1>
      <p>
         FusionAuth provides a convenient and quick way to implement {{page.feature}} in your {{page.technology}} app
      </p>
    </div>
    <div class="row center">
      <article class="col-xs-12 col-lg-9">
        <div style="padding-bottom: 10px; margin-top: -50px;">
          <a href="/how-to/">How-To</a> > <a href="/how-to/{{page.technology_slug}}/">{{page.technology}}</a> > {{page.feature_title}}
        </div>
        <h2>Start implementing {{page.feature}} by setting up FusionAuth</h2>

        <div class="post-body">
          {%capture setup-feature%}{% include howto/_fusionauth-feature.liquid %}{% endcapture %}
          {{ setup-feature | markdownify }}
        </div>

        <h3>{{page.technology}} How-Tos</h1>
        <div class="card-flex">

          {% assign tech_matches = site.data.howtos.list | where_exp: "item", "item.technology_slug == page.technology_slug" %}
          {% for article in tech_matches %}
            {% if page.technology_slug == article.technology_slug  %}
            <a href="/how-to/{{article.technology_slug}}/{{article.howtoname}}/" class="flat-orange-card">
              <img width="100px" src="/assets/img/howto/icons/feature/{{article.feature_icon_name}}" alt="{{article.technology}} {{article.feature}}" />
              <span>
                {{ article.feature_title | replace: " ", "&nbsp;" }}
              </span>
            </a>
            {% endif %}
          {% endfor %} 
        </div>
        <h3>{{page.feature_title}} How-Tos</h1>
        <div class="card-flex">

          {% assign feature_matches = site.data.howtos.list | where_exp: "item", "item.howtoname == page.howtoname" %}

          {% for article in feature_matches %}
            {% if page.howtoname == article.howtoname  %}
              <a href="/how-to/{{article.technology_slug}}/{{article.howtoname}}" class="flat-orange-card">
                <img width="100px" src="/assets/img/howto/icons/technology/{{article.technology_icon_name}}" alt="{{article.technology}} {{article.feature}}" />
                <span>
                  {{ article.technology | replace: " ", "&nbsp;" }}
                </span>
              </a>
            {% endif %}
          {% endfor %} 
        </div>

      </article>
    </div>
  </div>
</section>
