---
layout: developer
description: Pick your {{page.title}} feature
---
{% comment %}
This page is for technology index pages (for java, python, etc), with one icon per feature
{% endcomment %}
<section class="white blog main">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-lg-7" style="padding-bottom: 10px;">
        <a href="/how-to/">How-To</a> > {{page.title}}
      </div>
      <div class="col-xs-12 col-lg-7 centered">
        <h1>Pick your feature to use with {{page.title}}</h1>
      </div>
    </div>
    <div class="row center">
      <div class="col-xs-12 col-lg-7">
        <p>
          Authenticate your users using {{page.title}} with any identity provider or method.
        </p>
        <p>
          {{page.more_text}}
        </p>
      </div>
    </div>
    <div class="row center">
      <div class="card-flex">
  
        {% assign howtos = site.data.howtos.list | where_exp:"howto","howto.technology_slug == page.indexname" %}
        {% for howto in howtos %}
           <a href="/how-to/{{howto.technology_slug}}/{{howto.howtoname}}" class="flat-orange-card">
              <img width="100px" src="/assets/img/howtos/icons/feature/{{howto.feature_icon_name}}" alt="{{howto.feature}}">
              <span>
                {{ howto.feature_title | replace: " ", "&nbsp;" }}
              </span>
           </a>
        {% endfor %} 
      </div>
    </div>
  </div>
</section>

