---
layout: developer
description: Pick your {{page.title}} feature
---
{% comment %}
This page is for technology index pages (for java, python, etc), with one icon per feature
{% endcomment %}
<section class="white">
  <div class="container">
    <div>
      <h1>Pick your feature</h1>
    </div>
    <div class="card-flex">
    {% assign howtos = site.data.howtos.list | where_exp:"howto","howto.technology_slug == page.indexname" %}
    {% for howto in howtos %}
       <a href="/how-tos/{{howto.technology_slug}}/{{howto.feature_slug}}" class="flat-orange-card">
          <img src="/assets/img/advice/icons/{{howto.icon_name}}" alt="{{howto.feature}}">
          <span>
            {{ howto.feature_title | replace: " ", "&nbsp;" }}
          </span>
       </a>
    {% endfor %} 
    </div>
  </div>
</section>
