---
layout: developer
---
<section class="white blog">
  <div class="container">
    <div class="row center">
      <article class="col-xs-12 col-lg-9">
        <div style="padding-bottom: 10px;">
          <a href="/how-to/">How-To</a> > <a href="/how-to/{{page.technology_slug}}/">{{page.technology}}</a> > {{page.feature_title}}
        </div>
        <h1>{{ page.title }}</h1>

        <div class="post-body">
          {%capture setup-feature%}{% include howtos/_fusionauth-feature.liquid %}{% endcapture %}
          {{ setup-feature | markdownify }}
        </div>

        <h3>{{page.technology}} How-Tos</h1>
        <div class="card-flex">

          {% assign tech_matches = site.data.howtos.list | where_exp: "item", "item.technology_slug == page.technology_slug" %}
          {% for article in tech_matches %}
            {% if page.technology_slug == article.technology_slug  %}
            <a href="/how-tos/{{article.technology_slug}}/{{article.howtoname}}/" class="flat-orange-card">
              <img width="100px" src="/assets/img/howtos/icons/feature/{{article.feature_icon_name}}" alt="{{article.technology}} {{article.feature}}">
              <span>
                {{ article.feature_title | replace: " ", "&nbsp;" }}
              </span>
            </a>
            {% endif %}
          {% endfor %} 
        </div>
        <h3>{{page.feature_title}} How-Tos</h1>
        <div class="card-flex">

          {% assign feature_matches = site.data.howtos.list | where_exp: "item", "item.howtoname == page.howtoname" %}

          {% for article in feature_matches %}
            {% if page.howtoname == article.howtoname  %}
              <a href="/how-tos/{{article.technology_slug}}/{{article.howtoname}}" class="flat-orange-card">
                <img width="100px" src="/assets/img/howtos/icons/technology/{{article.technology_icon_name}}" alt="{{article.technology}} {{article.feature}}">
                <span>
                  {{ article.technology | replace: " ", "&nbsp;" }}
                </span>
              </a>
            {% endif %}
          {% endfor %} 
        </div>

      </article>
    </div>
  </div>
</section>
