<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  {% include _head.liquid %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://fusionauth.io{{ page.url | remove: '.html' }}"
      },
      "headline": "{{ page.title | strip_html | replace: '"', '\"' }}",
      "description": "{{ page.description | strip_html | replace: '"', '\"' }}",
      "image": {
        "@type": "ImageObject",
        "url": "https://fusionauth.io/assets/img/{{ page.image }}"
      },
      "author": {
        "@type": "Person",
        "name": "{{ page.author | strip_html | replace: '"', '\"' }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "FusionAuth",
        "logo": {
          "@type": "ImageObject",
          "url": "https://fusionauth.io/assets/img/fusionauth-logo-grey-orange.png",
          "width": "1800",
          "height": "448"
        }
      }
    }
  </script>
</head>
<body>
{% include _header.liquid hero=false section="blog" %}
<main>
  <section class="white blog">
    <div class="container">
      <div class="row center">
        <article class="col-xs-12 col-lg-9">
          <img class="post-image" src="/assets/img/{{ page.image }}" alt="{{ page.description }}"/>
          <div class="info">
            <div class="social-share-buttons">
              <a href="#https://www.facebook.com/sharer/sharer.php?u=https://fusionauth.io{{ page.url }}">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#https://twitter.com/intent/tweet?via=fusionauth&url=https://fusionauth.io{{ page.url }}">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#https://www.linkedin.com/shareArticle?mini=true&url=https://fusionauth.io{{ page.url }}&title={{ page.title | uri_escape }}&source=fusionauth.io">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
          <h1>{{ page.title }}</h1>
          <div class="post-body">
          <h2>Intro</h2>
<p>
              {{page.feature_intro}}
</p>
<p>
In this article, you are going to learn how to add {{page.feature}} functionality to your {{page.technology}} application. You'll use FusionAuth to augment your application to easily add {{page.feature_singular}} login.
</p>
          <h2>Prequisites</h2>

  {%capture install-fusionauth%}{% include howtos/_install-fusionauth.liquid %}{% endcapture %}
{{ install-fusionauth | markdownify }}

<h2>Set up FusionAuth</h2>

  {%capture setup-fusionauth%}{% include {{page.fusionauth_base_include_file}} %}{% endcapture %}
{{ setup-fusionauth | markdownify }}

<p>
If you want, you can <a href='http://localhost:9011'>login to your instance</a> and examine the new application configuration the script created for you.
</p>

<h2>Set up {{page.technology}}</h2>

  {%capture setup-technology%}{% include {{page.technology_include_file}} %}{% endcapture %}
{{ setup-technology | markdownify }}

<h2>Enable {{page.feature}}</h2>

  {%capture setup-feature%}{% include {{page.feature_include_file}} %}{% endcapture %}
{{ setup-feature | markdownify }}


          </div>

          <h3>{{page.technology}} How-Tos</h1>
          <div class="card-flex">

            {% assign tech_matches = site.data.howtos.list | where_exp: "item", "item.technology_slug == page.technology_slug" %}
            {% for article in tech_matches %}
              {% if page.technology_slug == article.technology_slug  %}
              <a href="/how-tos/{{article.technology_slug}}/{{article.howtoname}}/" class="flat-orange-card">
                <img src="/assets/img/advice/icons/{{article.icon_name}}" alt="{{article.feature}}">
                <span>
                  {{ article.feature_title | replace: " ", "&nbsp;" }}
                </span>
              </a>
              {% endif %}
            {% endfor %} 
          </div>
          <h3>{{page.feature_title}} How-Tos</h1>
          <div class="card-flex">

            {% assign feature_matches = site.data.howtos.list | where_exp: "item", "item.feature_slug == page.feature_slug" %}

            {% for article in feature_matches %}
              {% if page.feature_slug == article.feature_slug  %}
                <a href="/how-tos/{{article.technology_slug}}/{{article.howtoname}}" class="flat-orange-card">
                  <img src="/assets/img/advice/icons/{{article.icon_name}}" alt="{{article.feature}}">
                  <span>
                    {{ article.technology | replace: " ", "&nbsp;" }}
                  </span>
                </a>
              {% endif %}
            {% endfor %} 
          </div>

        </article>
      </div>
    </div>
  </section>
</main>
{% include _footer.liquid %}
</body>
</html>

