---
layout: developer
description: Pick your {{page.title}} feature
---
{% comment %}
This page is for technology index pages (for java, python, etc), with one icon per feature
{% endcomment %}
<section class="white">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-lg-7 centered">
        <h1>Pick your feature to use with {{page.title}}</h1>
      </div>
    </div>
    <div class="row center">
      <p>
        Authenticate your users using {{page.title}} with any identity provider or method.
      </p>
      <ul>
        <li>
          Easily add additional identity providers, whether social or enterprise.
        </li>
        <li>
          Add self service registration and profile management.
        </li>
        <li>
          Enable passwordless solutions like magic links and WebAuthn.
        </li>
        <li>
          Other included features: multi-factor authentication, a forgot password workflows, and flexible password rules.
        </li>
      </ul>
    </div>
    <div class="row center">
      <div class="card-flex">
  
        {% assign howtos = site.data.howtos.list | where_exp:"howto","howto.technology_slug == page.indexname" %}
        {% for howto in howtos %}
           <a href="/how-to/{{howto.technology_slug}}/{{howto.howtoname}}" class="flat-orange-card">
              <img width="100px" src="/assets/img/howtos/icons/feature/{{howto.feature_icon_name}}" alt="{{howto.feature}}">
              <span>
                {{ howto.feature_title | replace: " ", "&nbsp;" }}
              </span>
           </a>
        {% endfor %} 
      </div>
    </div>
  </div>
</section>

