<!doctype html>
<html lang="en">
<head>
  {% include _head.html %}
</head>
<body>
{% include _navigation.html %}
<section class="jumbotron jumbotron-fluid bg-secondary text-white py-5">
  <div class="container">
    <div class="row text-center pb-4">
      <div class="col-12">
        <i class="fa fa-lightbulb-on fs-275"></i>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <h1 class="fs-350 text-white mb-5">{{ page.title }}</h1>
        <p><i class="fa fa-users-class"></i> <span class="mr-5">{{ page.department }}</span> <i class="fa fa-globe"></i> Denver, CO</p>
      </div>
    </div>
  </div>
</section>
<main>
  <section>
    <div class="container">
      <nav class="mt-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/jobs/">Jobs</a></li>
          <li class="breadcrumb-item"><a href="/jobs/{{ page.title | downcase | slugify }}">{{ page.title }}</a></li>
        </ol>
      </nav>
      <div class="row">
        <article class="col-12">
          <div class="article-body">
            <h1>{{ page.title }}</h1>
            <div class="article-body-content">
              {% if page.markdown == 1 %}
                {{ content | markdownify }}
              {% else %}
                {{ content }}
              {% endif %}
            </div>
          </div>
          <div class="mt-6 mb-6 text-center">
            <hr>
            <div class="mt-5 mb-5">
              <p>
                Want to apply for this job position? Email us at <a href="mailto:jobs@fusionauth.io">jobs@fusionauth.io</a>
              </p>
            </div>
            <hr>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
{% include _footer.html %}
</body>
</html>
