<!doctype html>
<html lang="en">
{% include _head.html %}
<body class="d-flex flex-column">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div>
  {% include _navigation.html %}
</div>
<div>
  {% if page.markdown == 1 %}
    {{ content | markdownify }}
  {% else %}
    {{ content }}
  {% endif %}
</div>

</body>
</html>
