<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  {% include _head.liquid %}
</head>
<body>
{% include _header.liquid heroHeader=page.heroHeader %}
<main>
  {% if page.markdown == 1 %}
    {{ content | markdownify }}
  {% else %}
    {{ content }}
  {% endif %}
</main>
</body>
</html>
