---

---
<a href="/contact">
  <button
    class="bg-orange-500 font-bold hover:bg-orange-600 ml-3 px-3 py-2 rounded text-white text-xs tracking-tighter transition-colors uppercase lg:font-extrabold">
    Get a demo
  </button>
</a>