---
import Icon from '../../icon/Icon.astro';

const { size } = Astro.props;
---
<div id="backend-search">
<button class="mx-3 pt-[5px] search-button" data-widget="search-button">
  <Icon name={size === "small" ? "search-small" : "search" } />
</button>
</div>