---
import Icon from '../../icon/Icon.astro';

const { size } = Astro.props;
---
<button class="mx-3" data-widget="search-button">
  <Icon name={size === "small" ? "search-small" : "search" } />
</button>