---
import SearchIcon from 'src/components/icon/SearchIcon.astro';

const { size } = Astro.props;
---
<div id="backend-search">
<button aria-label="Search" class="mx-3 pt-[5px] search-button" data-widget="search-button">
  <SearchIcon size={size} />
</button>
</div>