---
import Layout from 'src/layouts/Developer.astro';

const title = 'Mozart Ghost';
const description = 'You discovered an Easter Egg!'
---
<Layout {title} {description}>
  <section class="py-24">
  <div class="w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] mx-auto">
    <div class="mb-10 justify-center flex flex-row items-stretch flex-wrap">
      <div class="centered">
        <img style="width: 100%;" src="/img/landing/terminate-mozart-ghost.jpeg">
      </div>
    </div>
    <div class="mb-10 justify-center flex flex-row items-stretch flex-wrap">
      <div class="centered">
        <h2 class="text-4xl my-4 font-semibold text-slate-600">
          "Escape is impossible when you're caught in the net."
        </h2>
        <p class="text-center my-2">
          If you haven't watched Sandra Bullock in The Net, you should go watch it.
        </p>
        <p class="text-center my-2">
          But in all seriousness, thanks for using FusionAuth.
        </p>
      </div>
    </div>
  </div>
</section>
</Layout>
