-# Modified for Inversoft - Changed Q&A to use a <dl> element instead of an <ol>
- case @style
- when 'qanda'
  %dl{:id=>@id, :class=>['qlist', 'qanda', role]}
    - if title?
      .title=title
    - items.each do |questions, answer|
      - [*questions].each do |question|
        %dt<
          %em=question.text
      - unless answer.nil?
        - if answer.text?
          %dd<=answer.text
        - if answer.blocks?
          =answer.content
- when 'horizontal'
  %div{:id=>@id, :class=>['hdlist', role]}
    - if title?
      .title=title
    %table
      - if (attr? :labelwidth) || (attr? :itemwidth)
        %colgroup
          %col{:style=>((attr? :labelwidth) ? %(width:#{(attr :labelwidth).chomp '%'}%;) : nil)}
          %col{:style=>((attr? :itemwidth) ? %(width:#{(attr :itemwidth).chomp '%'}%;) : nil)}
      - items.each do |terms, dd|
        %tr
          %td{:class=>['hdlist1', ('strong' if (option? :strong))]}
            - terms = [*terms]
            - last_term = terms.last
            - terms.each do |dt|
              =dt.text
              - if dt != last_term
                %br
          %td.hdlist2
            - unless dd.nil?
              - if dd.text?
                %p<=dd.text
              - if dd.blocks?
                =dd.content
- else
  %dl{:id=>@id, :class=>['dlist', @style, role]}
    - items.each do |terms, dd|
      - [*terms].each do |dt|
        %dt{:class=>('hdlist1' unless @style)}=dt.text
      - unless dd.nil?
        %dd
          - if dd.text?
            %p<=dd.text
          - if dd.blocks?
            =dd.content
