---
import ClickableCard from "../components/ClickableCard.astro";
const { title = "" } = Astro.props;
---
<header class="bg-hero bg-no-repeat bg-pos-hero bg-white">
  <div class="max-w-8xl mx-auto px-4 py-16">
    <h1 class="font-bold text-4xl">{title}</h1>
    <p class="pt-3 text-lg text-slate-400">
      Hero section description.
    </p>
    <div class="grid grid-cols-1 mt-10 gap-16 lg:grid-cols-4 md:grid-cols-2">
      {[...Array(4)].map(i =>
        <ClickableCard description="Traditional web applications that run on servers." footer="e.g. Express.js, Rails, Java, Drupal" href="#" icon="/img/icons/web-app.svg" title="Web App"/>
      )}
    </div>
  </div>
</header>
