---
interface Props {
  excludeFromSearchIndex: boolean,
}

const { excludeFromSearchIndex } = Astro.props;
---
{ excludeFromSearchIndex &&
<body data-pagefind-ignore class="antialiased bg-articles bg-right-top bg-no-repeat bg-white min-h-full text-slate-700 dark:bg-articles-dark dark:bg-slate-900 dark:text-slate-200">
  <slot></slot>
</body>
}
{ !excludeFromSearchIndex &&
<body class="antialiased bg-articles bg-right-top bg-no-repeat bg-white min-h-full text-slate-700 dark:bg-articles-dark dark:bg-slate-900 dark:text-slate-200">
  <slot></slot>
</body>
}

