---
import { Icon } from "astro-iconset/components";
---
<!-- Search modal -->
<fa-search-modal class="contents">
  <dialog id="search-modal"
          class="group backdrop:backdrop-blur-sm backdrop:bg-slate-500/10 bg-transparent fixed size-full flex items-center justify-center overflow-auto z-30 not-open:hidden overscroll-contain backdrop:overscroll-contain has-no-results">
    <div class="bg-white border border-slate-900/10 flex flex-col h-4/5 max-w-4xl mx-auto rounded-md shadow-2xl text-slate-500 w-11/12 dark:bg-slate-800 dark:border-slate-100/10 dark:text-slate-400">
      <header class="border-b border-slate-900/10 flex shrink items-center justify-stretch px-6 py-4 dark:border-slate-100/10">
        <Icon name="fa7-solid:magnifying-glass" class="h-lh mr-4" size={24}/>
        <input type="text" class="border-0 bg-transparent mr-4 pl-2 pr-3 py-1.5 w-full" placeholder="Search" data-widget="search-input"/>
        <Icon name="fa7-solid:spinner" class="hidden h-lh mr-4 animate-spin [animation-duration:3s]" size={24} data-widget="search-loading-icon"/>
        <button class="bg-slate-100 px-1.5 py-1 rounded-md text-[0.5rem] dark:bg-slate-700" data-widget="search-close">ESC</button>
      </header>
      <div class="relative overflow-auto group-[.is-searching]:overflow-hidden pt-8 pb-4 px-6 grow">
        <!-- Search results -->
        <div data-widget="search-results" class="hidden group-[.has-results]:flex flex-col overflow-auto h-full">
          <h2 class="flex font-medium items-center text-slate-700 dark:text-slate-200">Results</h2>
          <ul class="pt-4 space-y-2 grow"></ul>
        </div>

        <div class="hidden group-[.has-errors]:flex flex-col">
          <h2 class="flex font-medium items-center text-slate-700 dark:text-slate-200">Errors</h2>
          <p class="pt-4 text-red-500" id="search-error-message">
            No results found
          </p>
        </div>

        <div class="hidden group-[.has-no-results]:flex flex-col">
          <h2 class="flex font-medium items-center text-slate-700 dark:text-slate-200">Results</h2>
          <p class="pt-4 font-semibold">
            If you search it, they will come.
          </p>
        </div>

        <div id="search-modal-spinner" class="hidden group-[.is-searching]:flex items-center justify-center absolute top-0 left-0 size-full bg-slate-50/50 dark:bg-slate-900/50">
          <img src="/img/gif/dark/bouncing-balls.gif" alt="Loading..." class="h-12 w-12 dark:block hidden"/>
          <img src="/img/gif/light/bouncing-balls.gif" alt="Loading..." class="h-12 w-12 dark:hidden"/>
        </div>
      </div>
    </div>
  </dialog>
</fa-search-modal>

<template id="search-modal-result-tpl">
  <li data-widget="search-result">
    <a href="#url" class="group bg-slate-100 rounded-md flex group items-center px-4 py-2 gap-x-4 dark:bg-slate-700 focus:bg-indigo-600 focus:text-white focus:outline-none">
      <i class="bg-white border border-slate-900/10 font-mono font-semibold px-1 rounded-md shadow-sm text-slate-400 text-sm dark:bg-slate-600 group-focus:bg-indigo-600 group-focus:border-indigo-300 group-focus:text-white">#</i>
      <div class="flex flex-col">
        <span data-widget="search-result-title"
              class="bg-slate-200 border border-slate-900/10 font-semibold mb-2 px-2 py-0.5 rounded-full text-slate-700 text-xs w-fit dark:bg-slate-600 dark:text-slate-400 group-focus:bg-indigo-500 group-focus:border-indigo-300 group-focus:text-white"></span>
        <span data-widget="search-result-excerpt" class="mr-auto text-slate-700 text-sm dark:text-slate-400 group-focus:text-white"></span>
      </div>
      <span>
        <Icon name="fa7-solid:chevron-right" class="h-5"/>
      </span>
    </a>
  </li>
</template>

<script>
  import { debounce } from "es-toolkit";
  import { PagefindInstance, PagefindSearchResult } from "src/types/pagefind";

  declare const gtag: (t: string, e: string, d: Record<string, unknown>) => void;

  class SearchModal extends HTMLElement {
    private dialog: HTMLDialogElement | null = null;
    private resultList: HTMLUListElement | null = null;
    private input: HTMLInputElement | null = null;
    private errorEl: HTMLParagraphElement | null = null;

    private pagefind: PagefindInstance | null = null;

    private openSearchFn = this.openSearch.bind(this);
    private handleKeydownFn = this.handleKeydown.bind(this);

    private resultsTpl = document.getElementById('search-modal-result-tpl') as HTMLTemplateElement;

    connectedCallback() {
      this.dialog = document.getElementById('search-modal') as HTMLDialogElement;
      this.resultList = this.dialog.querySelector('ul');
      this.input = this.dialog.querySelector('input');
      this.errorEl = this.dialog.querySelector('#search-error-message');

      document.querySelectorAll<HTMLButtonElement>('[data-widget="search-button"]')
        .forEach((button) => button.addEventListener('click', this.openSearchFn));

      this.querySelectorAll('[data-widget="search-close"]')
        .forEach((button) => button.addEventListener('click', this.closeSearch.bind(this)));

      this.input.addEventListener('input', debounce(this.handleInput.bind(this), 300));

      document.addEventListener('keydown', this.handleKeydownFn);
    }

    disconnectedCallback() {
      document.querySelectorAll<HTMLButtonElement>('[data-widget="search-button"]')
        .forEach((button) => button.removeEventListener('click', this.openSearchFn));

      document.removeEventListener('keydown', this.handleKeydownFn);
    }

    openSearch() {
      this.dialog.showModal();
    }

    closeSearch() {
      this.dialog.close();
    }

    handleKeydown(event: KeyboardEvent) {
      if (!this.dialog.open) {
        const isMetaPressed = window.navigator.platform === 'MacIntel' ? event.metaKey : event.altKey;

        if (isMetaPressed && event.key === 'k') {
          this.openSearch();
          event.stopPropagation();
          event.preventDefault();
          return;
        }
      } else {
        if (event.key === 'ArrowDown' || event.key === 'ArrowUp') {
          event.stopPropagation();
          event.preventDefault();

          if (!this.resultList.childElementCount) return;

          const active = this.resultList.querySelector(':focus')?.parentElement;

          let nextElement;
          if (active) {
            if (event.key === 'ArrowDown') {
              if (!active.nextElementSibling) {
                nextElement = this.resultList.firstElementChild;
              } else {
                nextElement = active.nextElementSibling;
              }
            } else {
              if (!active.previousElementSibling) {
                nextElement = this.resultList.lastElementChild;
              } else {
                nextElement = active.previousElementSibling;
              }
            }
          } else {
            nextElement = this.resultList.firstElementChild;
          }
          (nextElement as HTMLElement).querySelector('a').focus();

          return;
        }
      }
    }

    async handleInput() {
      if (!this.dialog.open) return;

      if (!this.input.value) {
        this.updateState('empty');
        return;
      }

      this.dialog.classList.add('is-searching');

      const [environment, ...paths] = window.location.pathname.substring(1).split('/');

      try {
        if (gtag) {
          gtag('event', 'site_search', {
            'search_parameter': this.input.value,
          });
        }
      } catch (_e) {
        // Noop
      }

      if (!this.pagefind) {
        try {
          this.pagefind = await import(/* @vite-ignore */(`${location.origin}/pagefind/pagefind.js`));

          // some tuning of the search ranking
          // https://pagefind.app/docs/ranking/
          await this.pagefind.options({
            ranking: {
              termFrequency: 0.5,
              termSimilarity: 0.9,
              pageLength: 0.8,
              termSaturation: 1.9,
            }
          });

          await this.pagefind.filters();
        } catch (e) {
          this.errorEl.textContent = e.message;
          this.updateState('error');
          return;
        }
      }

      let results: PagefindSearchResult[];
      if (environment === 'docs') {
        results = await this.handleDocsSearch(paths);
      } else {
        results = (await this.pagefind.search(this.input.value)).results;
      }

      await this.setResults(results);
      this.dialog.classList.remove('is-searching');
    }

    async handleDocsSearch(paths: string[]): Promise<PagefindSearchResult[]> {
      const filterSet = paths.map((val, idx, arr) => {
        const filters = {environment: 'docs'};
        for (let i = 0; i <= idx; i++) {
          const key = {
            0: 'section',
            1: 'subcategory',
            2: 'tertcategory',
            3: 'quatercategory'
          }[i];
          filters[key] = arr[i].replaceAll('-', ' ');
        }
        return filters;
      });
      filterSet.reverse();
      filterSet.push({environment: 'docs'});

      const promises = filterSet.map(filters => this.pagefind.search(this.input.value, {filters}));
      promises.push(this.pagefind.search(this.input.value));

      const filterThreshold = 0.3;

      const resolved = await Promise.all(promises);
      const results: PagefindSearchResult[] = [];
      resolved.filter(response => !!response)
        .forEach((response, idx, arr) => response.results
          .filter(result => idx + 1 === arr.length || result.score > filterThreshold)
          .forEach(result => {
            if (!results.find(r => r.id === result.id)) {
              results.push(result);
            }
          }));
      return results;
    }

    updateState(state: 'results' | 'empty' | 'error') {
      this.dialog.classList.toggle('has-no-results', state === 'empty');
      this.dialog.classList.toggle('has-results', state === 'results');
      this.dialog.classList.toggle('has-errors', state === 'error');
    }

    async setResults(results: PagefindSearchResult[]) {
      if (!results.length) {
        this.resultList.replaceChildren();
        this.updateState('empty');
        return;
      }

      await Promise.all(
        results.slice(0, 100)
          .map((result => result.data()))
      )
        .then((results) => {
          return results.map(result => {
            const element = document.importNode(this.resultsTpl.content, true);
            element.querySelector('a').href = result.url;
            element.querySelector('[data-widget="search-result-title"]').textContent = result.meta.title;
            element.querySelector('[data-widget="search-result-excerpt"]').innerHTML = result.excerpt;
            return element;
          })
        })
        .then((elements) => this.resultList.replaceChildren(...elements));

      this.resultList.querySelectorAll('a').forEach((element) => element.addEventListener('mouseover', () => {
        element.focus();
      }));

      this.updateState('results');

      this.resultList.parentElement.scrollTo({top: 0, behavior: 'instant'});
    }
  }

  customElements.define('fa-search-modal', SearchModal);
</script>
