<!doctype html>
<html lang="en">
{% include _head.html %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include _navigation.html %}
<article class="clean-block dark">
  <section class="container">
    <div class="block-heading guide-header">
      <h1 class="text-white">{{ page.title }}</h1>
      <p class="text-white"><em>{{ page.subtitle }}</em></p>
    </div>
    <div class="card">
      <div class="card-body">
        {% if page.markdown == 1 %}
          {{ content | markdownify }}
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </div>
  </section>
</article>
{% include _footer.html %}
</body>
</html>