<!doctype html>
<html>
{% include _head.html %}
<body>
{% include _navigation.html %}
<main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <article class="block-content">
                    <div class="post-image" style='background-image:url("/assets/img/scenery/image3.jpg?h=ac24b5d095faa4c54bfac77ea0d550dd");'></div>
                    <div class="post-body">
                        <h3 class="post-title">{{ page.title }}</h3>
                        <div class="post-info">
<span class="post-author">{{ page.author }}</span><span class="post-date">{{ page.date }}</span>
</div>
                        <div class="post-body-content">
{% if page.markdown == 1 %}
  {{ content | markdownify }}
{% else %}
  {{ content }}
{% endif %}</div>
                    </div>
                </article>
            </div>
        </section>
    </main>
{% include _footer.html %}
</body>
</html>
