<!doctype html>
<html>
{% include _head.html %}
<body>
{% include _navigation.html %}
<main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <article class="block-content">
                    <div class="post-image" style="background-image: url('/assets/img/blogs/{{ page.image }}');"></div>
                    <div class="post-body">
                        <h1 class="post-title">{{ page.title }}</h1>
                        <div class="post-info">
<span class="post-date">{{ page.date | date_to_string: "ordinal", "US" }}</span><span class="post-author">{{ page.author }}</span>
</div>
                        <div class="post-body-content">
{% if page.markdown == 1 %}
  {{ content | markdownify }}
{% else %}
  {{ content }}
{% endif %}</div>
                    </div>
                </article>
            </div>
        </section>
    </main>
{% include _footer.html %}
</body>
</html>
