<!doctype html>
<html>
{% include docs/_head.html %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFGZT3Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include docs/_header.html %}

{% include docs/_navigation.html %}
<div class="main prime-side-menu-body">

<article>
  {% if page.markdown == 1 %}
    {{ content | markdownify }}
  {% else %}
    {{ content }}
  {% endif %}
  {% include docs/_footer.html %}
</article>
</div>
</body>
</html>