<h3><strong>Powered By Coffee and FusionAuth help save media companies and digital publishers money and time</strong>
</h3>
<p>
  Powered By Coffee is a UK based specialist web development shop with a history of helping media companies and digital publishers such as Bonhill and STV. As they have grown over the years, they've specialised in solving more and more complicated issues for their clients.
</p>
<p>
  Join FusionAuth's Head of Developer Relations Dan Moore, and Powered By Coffee's Founder and Director Stewart Richie as they discuss memberships, paywalls and user management. They'll also cover why engineering leaders are turning to trusted partners to help them implement auth systems.
</p>
<p>
  In this webinar, you’ll learn:
</p>
<ul>
  <li>why you should integrate your paywall and membership systems with your CMS</li>
  <li>how Powered By Coffee can help your digital efforts</li>
  <li>how a user managment system allows you to have a single view of your readers and customers</li>
  <li>how single sign on and other advanced auth features lead to a better user experience</li>
</ul>
<p>
  <img src="/assets/img/partners/powered-by-coffee-logo-white.svg" alt="Powered by Coffee logo" class="w-100">
  <img src="/assets/img/logo-white.svg" alt="FusionAuth logo" class="w-100">
</p>
