<div id="page-container">
  <div id="page-header">
    <div id="logo-header">
      <img
        src="/assets/changebank.svg"
        alt="Change Bank"
        width="257"
        height="55"
      />

      @if (isLoggedIn) {
      <div class="h-row">
        <p class="header-email">
          @if (isGettingUserInfo) {
          {{ "Loading..." }}
          } @else {
          {{ userInfo?.email }}
          }
        </p>
        <a class="button-lg" (click)="logout()" style="cursor: pointer">
          Logout
        </a>
      </div>
      } @else {
      <a class="button-lg" (click)="login()" style="cursor: pointer"> Login </a>
      }
    </div>

    <div id="menu-bar" class="menu-bar">
      <ng-container *ngIf="isLoggedIn">
        <a class="menu-link" routerLink="account" routerLinkActive="active"
          >Account</a
        >
        <a class="menu-link" routerLink="make-change" routerLinkActive="active"
          >Make Change</a
        >
      </ng-container>
      <ng-container *ngIf="!isLoggedIn">
        <a class="menu-link" style="text-decoration-line: underline">Home</a>
        <a class="menu-link">Products</a>
        <a class="menu-link">Services</a>
        <a class="menu-link">About</a>
      </ng-container>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
