---
import Layout from 'src/layouts/Developer.astro';

const title = 'getWUPHF';
const description = 'You discovered an Easter Egg!';
---
<Layout {title} {description}>
  <section class="py-24">
  <div class="w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] mx-auto">
    <div class="mb-10 justify-center flex flex-row items-stretch flex-wrap">
        <img src="/img/landing/social-network.jpg">
    </div>
    <div class="mb-10 justify-center flex flex-row items-stretch flex-wrap">
      <div class="flex-col justify-center items-center mx-auto">
        <h2 class="text-4xl my-4 font-semibold text-slate-600 text-center">
          Thanks for reading the Multi-Tenant guide.
        </h2>
        <p class="text-center my-2">
          If you build out video chat with middle-out compression, please let us know.
        </p>
        <p class="text-center my-8 bg-orange-500 rounded w-[270px] h-10 mx-auto flex flex-col justify-center">
          <a class="text-white font-semibold text-sm my-4" href="/download">DOWNLOAD FUSIONAUTH</a>
        </p>
      </div>
    </div>
  </div>
</section>
</Layout>

