---
import Kickstart from 'src/components/download/Kickstart.astro';
import {Content as DockerCompose} from "./docker-compose.mdx";
import {Content as Docker} from "./docker.mdx";
import {Content as Macintosh} from "./macos.mdx";
import {Content as Homebrew} from "./homebrew.mdx";
import {Content as Linux} from "./linux.mdx";
import {Content as Debian} from "./debian.mdx";
import {Content as RedHat} from "./redhat.mdx";
import {Content as Windows} from "./windows.mdx";
import {Content as Helm} from "./helm.mdx";
import {Content as GKE} from "./gke.mdx";
import {Content as EKS} from "./eks.mdx";
import {Content as AKS} from "./aks.mdx";
import {Content as CLI} from "./cli.mdx";
import {Content as Minikube} from "./minikube.mdx";
import '../../css/style.css';

const {kickstartEnabled, kickstartName, kickstartCustomizationInstructions = new Array()} = Astro.props;

var tabs = [];

tabs.push(
    {
      "id": "docker",
      "title": "Docker",
      "image": "docker.svg",
      "active": true
    },
    {
      "id": "cli",
      "title": "FusionAuth CLI",
      "image": "cli.svg",
      "active": false
    }
);

const tabClass = "bg-indigo-950 border border-slate-700 flex-1 overflow-hidden rounded-lg text-sm";
const subTabClass = "block border-b-2 border-transparent prose font-semibold px-7 py-3 text-md text-slate-400 group-[.active]:border-indigo-400 group-[.active]:text-white";
---
<div class="bg-indigo-900 flex gap-3 mb-10 p-3 rounded-2xl text-sm text-white">
  <ul class="bg-indigo-950 border not-prose border-slate-700 flex flex-col gap-1 p-2 rounded-lg text-[13px]">
    {tabs.map(tab =>
        <li class:list={["group", tab.active ? "active" : ""]}>
          <a data-tab-button href={"#" + tab.id} class="border border-transparent items-center not-prose flex gap-2 rounded-md px-4 py-2 text-slate-400 group-[.active]:border-indigo-500 group-[.active]:bg-indigo-800 hover:bg-indigo-900 hover:text-orange-400">
            <img src={"/img/icons/download/" + tab.image} alt={tab.title} class="m-0 p-0 w-7"/>
            <span class="text-nowrap">{tab.title}</span>
          </a>
        </li>
    )}
  </ul>
  <div data-tab-content id="docker" class:list={[tabClass, "active"]}>
    <div data-tab-content id="docker" class="m-8">
      <h2 class="mb-4 text-2xl">Docker</h2>
      <DockerCompose/>
    </div>
  </div>


  <div data-tab-content id="cli" class:list={[tabClass, "hidden"]}>
    <div data-tab-content id="fusionauth-cli" class="m-8">
      <h2 class="mb-4 text-2xl">FusionAuth CLI</h2>
      <CLI/>
    </div>
  </div>
</div>
