---
---
<div class="flex flex-row my-0">
  <img class="my-0" src="/img/docs/get-started/run-in-the-cloud/reactor-logo-gray.svg" alt="FusionAuth Reactor logo" width="50" />
  <p class="ml-2">
    <slot></slot>
  </p>
</div>
