---
const { feature } = Astro.props;
---
{ feature && <><p><strong>Note:</strong> An Enterprise plan is required to utilize {feature}.</p></>}
{!feature && <><p><strong>Note:</strong> An Enterprise plan is required to utilize <slot></slot>.</p></>}

