---
import EditionBlurb from './_edition-blurb.astro';
---
<EditionBlurb>
  This feature is only available in the Enterprise plan. Please visit <a href="/pricing">our pricing page</a> to learn more.
</EditionBlurb>
