---
const { identity_provider_name } = Astro.props;
import OAuthAndFederationDiagram from 'src/diagrams/docs/get-started/core-concepts/integration-points/oauth-grant-with-federation.astro';
const alt = "Logging In Using "+identity_provider_name
---

<p>
Here's a diagram of the login flow between:
</p>

<ul>
<li>the user</li>
<li>your application</li>
<li>FusionAuth and</li>
<li>a remote identity provider such as {identity_provider_name}</li>
</ul>

<OAuthAndFederationDiagram alt={alt} identityProviderName={identity_provider_name} />

<p>
Although this looks complex, the user only sees a few screens, such as the FusionAuth login screen, the {identity_provider_name} login screen, and your application.
</p>
