---
import lambdas from 'src/content/json/lambdas.json';
import APIField from 'src/components/api/APIField.astro';

lambdas.sort((a, b) => { return a.displayName.toUpperCase().localeCompare(b.displayName.toUpperCase())}); 
---
<ul>
{lambdas.map((lambda) => 
  <li>
    <a href={lambda.docLink}>{lambda.displayName}</a>
  </li>
)}
</ul>
