---
import EditionBlurb from './_edition-blurb.astro';
---
<EditionBlurb>
  This feature is available to licensed FusionAuth instances as of 1.52.0. A free license is available to all registered accounts on the <a href="https://account.fusionauth.io/" target="_blank">account portal</a>.
</EditionBlurb>
