---
import InlineField from "src/components/InlineField.astro";
import LoginAPIWithFederationDiagram from 'src/diagrams/docs/get-started/core-concepts/integration-points/login-api-flow-federation.astro';

const { apiRef, identity_provider_name } = Astro.props;
const alt = "An Integration With The "+identity_provider_name+" Identity Provider Using The API"

---

<p>
If you are building your own login experience, you'll want to start the identity provider flow yourself and then complete the login. 
</p>

<p>
You might do this if you are using the <a href="/docs/apis/login">Login API</a> rather than using the hosted FusionAuth login pages. Here's a diagram illustrating this login flow.
</p>

<LoginAPIWithFederationDiagram alt={alt} identityProviderName={identity_provider_name} />

<p>
  Completing the login is <a href={apiRef}>documented further in the API</a>.
</p>

<p>
If you require a refresh token after completing the login, ensure <InlineField>Enable JWT Refresh</InlineField> is <code>true</code> in the application configuration. This is found in the administrative user interface by navigating to <strong>Applications -> Your Application -> Security -> Login API settings</strong>.
</p>


