---
const { feature } = Astro.props;
---
{feature && <><p><strong>Note:</strong> A paid plan is required to utilize {feature}.</p></>}
{!feature && <><p><strong>Note:</strong> A paid plan is required to utilize <slot></slot>.</p></>}

