<script>
  import HubSpotForm from "src/components/HubspotForm";
  new HubSpotForm("#release-notification","c8db8f9b-f7f1-40d6-ae85-88fba80822bc");
</script>

<p>There are a number of ways to be notified of new releases:</p>
<ul>
  <li>
    The <a href="/docs/release-notes">release notes</a> are updated when there is
    a new release or shortly thereafter.
  </li>
  <li>
    There is an <a href="/docs/releases.xml">RSS feed of releases</a> to which you
    can subscribe.
  </li>
  <li>
    The <a href="/blog/tag/release-notes/"
      >blog has release announcement posts</a
    > and you can subscribe to an <a href="/blog/feed.xml">RSS feed</a>.
  </li>
  <li>
    You can subscribe to our release announcement email list using the form
    below.
  </li>
</ul>
<div class="success-message" style="display:none;"></div>
<div class="error-container mb-4"></div>
<div class="form-container">
  <div style="margin-top: 25px;">
    <form data-hubspot-form id="release-notification" class="space-y-4">
      <div class="error-container mb-4" style="display:none;"></div>

      <div
        class="form-fields flex flex-col sm:flex-row items-start gap-x-4 gap-y-2 w-full max-w-md sm:w-96"
      >
        <div class="flex-auto w-full sm:w-auto">
          <input
            type="email"
            name="EMAIL"
            size="30"
            placeholder="Email address *"
            aria-label="Email address"
            required
            class="min-w-0 w-full rounded-md border-0 bg-slate-100 px-3.5 py-2 dark:bg-white/5 text-slate-600 dark:text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 placeholder:text-gray-500"
          />
        </div>
        <input type="hidden" name="hs_context" id="hs_context" />
        <button
          type="submit"
          class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 w-full sm:w-auto"
          >Submit</button
        >
      </div>

      <div class="success-message mt-4" style="display:none;"></div>
    </form>
  </div>
</div>
