---
import templates from 'src/content/json/themes/templates.json';
import APIField from 'src/components/api/APIField.astro';
import URI from 'src/components/URI.astro';
import { marked } from 'marked';

templates.sort((a, b) => { return a.fieldName.toUpperCase().localeCompare(b.fieldName.toUpperCase())});
---
{templates.filter((t) => t.onlyAPI === undefined).map((t) =>
  <APIField name={t.displayName} since={t.version} required>
    <span set:html={t.description ? marked.parse(t.description) : ''}></span>
    <URI>{t.path}</URI>
  </APIFIeld>
)}
