---
import AvailableSince from 'src/components/api/AvailableSince.astro';
import AuthenticationTypes from 'src/content/json/generated/authenticationtype.json';
import { parseInline } from 'marked';

const { showSince } = Astro.props;
---

<ul>
{AuthenticationTypes.map((type) =>
  <li>
      <code>{type.name}</code> - <span set:html={parseInline(type.description)}/> {type.since ? <AvailableSince showSince={showSince} since={type.since} /> : "" }
  </li>
)}
</ul>
