---
import ClickableCard from "../ClickableCard.astro";
import { getCollection } from "astro:content";

const { section } = Astro.props;
const tools = await getCollection("dev-tools");
---

<div class="gap-6 grid grid-cols-1 not-prose lg:grid-cols-2 mt-10" xmlns="http://www.w3.org/1999/xhtml">
  {tools.map(tool =>
    <ClickableCard href={`/dev-tools/${tool.slug}`} title={tool.data.title} description={tool.data.description} icon={tool.data.icon ? tool.data.icon : null}/>
  )}
</div>