.mermaid-diagram {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-size: 16px !important;
  width: 100%
}

.mermaid-diagram .error-icon {
  fill: red !important;
}

.mermaid-diagram .error-text {
  fill: red !important;
  stroke: red !important;
}

.mermaid-diagram .marker {
  fill: black !important;
  stroke: black !important;
}

.mermaid-diagram .marker.cross {
  stroke: red !important;
}

.mermaid-diagram .actor {
  stroke: #94a3b8 !important;
  fill: #e2e8f0 !important;
}

.dark .mermaid-diagram .actor {
  stroke: #94a3b8 !important;
  fill: #1e293b !important;
}

.mermaid-diagram text.actor > tspan {
  fill: #1e293b !important;
  stroke: none !important;
}

.dark .mermaid-diagram text.actor > tspan {
  fill: #f8fafc !important;
  stroke: none !important;
}

.mermaid-diagram .actor-line {
  stroke: red !important;
}

.mermaid-diagram .messageLine0 {
  stroke: #64748b !important;
}

.dark .mermaid-diagram .messageLine0 {
  stroke: #e2e8f0 !important;
}

.mermaid-diagram .messageLine1 {
  stroke: #64748b !important;
}

.dark .mermaid-diagram .messageLine1 {
  stroke: #e2e8f0 !important;
}

.mermaid-diagram #arrowhead path {
  fill: #64748b !important;
  stroke: #64748b !important;
}

.dark .mermaid-diagram #arrowhead path {
  fill: #e2e8f0 !important;
  stroke: #e2e8f0 !important;
}

.mermaid-diagram .sequenceNumber {
  fill: #f1f5f9 !important;
  font-size: 16px;
}

.mermaid-diagram #sequencenumber {
  fill: #64748b !important;
}

.dark .mermaid-diagram #sequencenumber {
  fill: #334155 !important;
}

.mermaid-diagram #sequencenumber circle {
  r: 9px;
}

.mermaid-diagram #crosshead path {
  fill: #64748b !important;
  stroke: #64748b !important;
}

.dark .mermaid-diagram #crosshead path {
  fill: #e2e8f0 !important;
  stroke: #e2e8f0 !important;
}

.mermaid-diagram .messageText {
  fill: #1e293b !important;
  stroke: none !important;
}

.dark .mermaid-diagram .messageText {
  fill: #f8fafc !important;
  stroke: none !important;
}

.mermaid-diagram .labelBox {
  fill: #c7d2fe !important;
  stroke: #818cf8 !important;
}

.dark .mermaid-diagram .labelBox {
  fill: #3730a3 !important;
  stroke: #818cf8 !important;
}

.mermaid-diagram .labelText, .mermaid-diagram .labelText > tspan {
  fill: #1e293b !important;
  stroke: none !important;
}

.dark .mermaid-diagram .labelText, .mermaid-diagram .labelText > tspan {
  fill: #f8fafc !important;
  stroke: none !important;
}

.mermaid-diagram .loopText, .mermaid-diagram .loopText > tspan {
  fill: #f8fafc !important;
  stroke: none !important;
}

.mermaid-diagram .loopLine {
  fill: #c7d2fe !important;
  stroke: #818cf8 !important;
}

.dark .mermaid-diagram .loopLine {
  fill: #3730a3 !important;
  stroke: #818cf8 !important;
}

.mermaid-diagram .note {
  fill: #c7d2fe !important;
  stroke: #818cf8 !important;
}

.dark .mermaid-diagram .note {
  fill: #3730a3 !important;
  stroke: #818cf8 !important;
}

.mermaid-diagram .noteText, .mermaid-diagram .noteText > tspan {
  fill: #1e293b !important;
  stroke: none !important;
}

.dark .mermaid-diagram .noteText, .dark .mermaid-diagram .noteText > tspan {
  fill: #f1f5f9 !important;
  stroke: none !important;
}

.mermaid-diagram .activation0 {
  fill: #e2e8f0 !important;
  stroke: #94a3b8 !important;
}

.dark .mermaid-diagram .activation0 {
  fill: #1e293b !important;
  stroke: #94a3b8 !important;
}

.mermaid-diagram .activation1 {
  fill: red !important;
  stroke: red !important;
}

.mermaid-diagram .activation2 {
  fill: red !important;
  stroke: red !important;
}

.mermaid-diagram .actorPopupMenuPanel {
  fill: red !important;
}

.mermaid-diagram .actor-man line {
  fill: #e2e8f0 !important;
  stroke: #94a3b8 !important;
}

.dark .mermaid-diagram .actor-man line {
  fill: #e2e8f0 !important;
  stroke: #94a3b8 !important;
}

.mermaid-diagram .actor-man circle {
  fill: #e2e8f0 !important;
  stroke: #94a3b8 !important;
}

.dark .mermaid-diagram .actor-man circle {
  fill: #1e293b !important;
  stroke: #94a3b8 !important;
}

.mermaid-diagram line {
  stroke: #cbd5e1 !important;
  fill: #cbd5e1 !important;
}

.dark .mermaid-diagram line {
  stroke: #64748b !important;
  fill: #64748b !important;
}

foreignObject {
  overflow: visible;
}