
 ul.no-list.hs-error-msgs.inputs-list {
     list-style-type: none;
     padding-left: 5px;
 }

label.hs-error-msg {
    color: red;
    font-size: 12px;
    font-weight: 500;
}

label.hs-main-font-element {
    color: red;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

div#placeholder {
    color: white;
}

<!-- Common HS Styling -->

 .contact-us_form-div.misc form {
     display: block;
 }

.contact-us_form-div.misc fieldset.form-columns-1 {
    max-width: 100%;
}

.contact-us_form-div.misc fieldset.form-columns-2 {
    max-width: 100%;
}

.contact-us_form-div.misc label.hs-main-font-element{
    display: block;
    font-family: Inter,sans-serif;
    margin-top: 5px;
}


.contact-us_form-div.misc div.hs_recaptcha.hs-recaptcha.field.hs-form-field {
    display: none;
}


<!-- Light mode -->

 .contact-us_form-div.misc div.-webkit-input-placeholder {
     color: white !important;
 }

.contact-us_form-div.misc input.hs-input {
    width: 100% !important;
    height: 50px;
    padding: 8px 12px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: Inter,sans-serif;
    color: #334155;
    font-weight: 500;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid  #CBD5E1;
    border-radius: 5px;
}

.contact-us_form-div.misc textarea.hs-input {
    width: 100% !important;
    height: 70px;
    padding: 8px 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: Inter,sans-serif;
    color: #334155;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid  #CBD5E1;
    border-radius: 5px;
}

.contact-us_form-div.misc input.hs-button.primary.large {
    width: 100%;
    height: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    background-color: #f58320;
    -webkit-transition: .2s;
    transition: .2s;
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}


.contact-us_form-div.misc input.hs-button.primary.large:hover {
    background-color: #d3711c;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 21%);
    -webkit-transform: translate(0,-3px);
    -ms-transform: translate(0,-3px);
    transform: translate(0,-3px);
    color: #fff;
}


<!-- Dark Mode -->

 .contact-us_form-div.misc.dark .hs-input-field__input::placeholder {
     color: #94A3B880; /* Adjust the color as needed */
 }

.contact-us_form-div.misc.dark input.hs-input {
    width: 100% !important;
    height: 50px;
    padding: 8px 12px;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 14px;
    font-family: Inter,sans-serif;
    font-weight: 500;
    line-height: 1.42857143;
    color: #94A3B8;
    background-color: #21295080;
    border: 0px solid #0F172A;
    border-radius: 4px;
}

.contact-us_form-div.misc.dark textarea.hs-input {
    width: 100% !important;
    height: 50px;
    padding: 8px 12px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: Inter,sans-serif;
    font-weight: 500;
    line-height: 1.42857143;
    color: #94A3B8;
    background-color: #21295080;
    border: 0px solid #0F172A;
    border-radius: 4px;
}

.contact-us_form-div.misc.dark input.hs-button.primary.large {
    width: 100%;
    height: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    background-color: #f58320;
    -webkit-transition: .2s;
    transition: .2s;
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    margin-top: 24px;
}


.contact-us_form-div.misc.dark input.hs-button.primary.large:hover {
    background-color: #d3711c;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 21%);
    -webkit-transform: translate(0,-3px);
    -ms-transform: translate(0,-3px);
    transform: translate(0,-3px);
    color: #fff;
}
