---

---

Let's look at how FusionAuth is configured to integrate with the example application.
<ol>
<li>In the previous step, you logged in to the system as an admin user. Go back to that browser screen, which should be showing the administrative interface for FusionAuth.</li>
<li>Navigate to "Applications" in the left-hand sidebar (you may need to use the hamburger icon at the top left of the screen to see all options)</li>
<li>Choose the "Start Here App" application</li>
<li>Choose "Edit" from the Actions dropdown</li>
</ol>
