---
import {RemoteCode} from '@fusionauth/astro-components';
---

<details><summary>Application Authentication</summary>

<p>In the FusionAuth application you can view and change your authentication URLs and how tokens are generated/exchanged.

<p> HERE IS WHERE THE SCREENSHOTS WILL GO</p>

</details>

<details><summary>Token Exchange Details</summary>

<p>To understand how authentication is being done, take a quick look at some of the code from the repository.  </p>

<p>During login, the system checks for a valid token before letting the user in.</p>

<RemoteCode url="https://raw.githubusercontent.com/synedra/fusionauth-example-express-start-here/main/app/src/index.ts" lang="javascript" tags="login" />

<p>If the user needs a new token, the oauth path is followed to get them a fresh valid token.</p>

<RemoteCode url="https://raw.githubusercontent.com/synedra/fusionauth-example-express-start-here/main/app/src/index.ts" lang="javascript" tags="oauth-redirect" />

<p>For the account page, which requires authorization, the user's identity is checked and the browser is redirected to the main page if there is no valid token.</p>
<RemoteCode url="https://raw.githubusercontent.com/synedra/fusionauth-example-express-start-here/main/app/src/index.ts" lang="javascript" tags="account" />

<p>Similarly, the make-change function requires a logged-in user so that is checked at the beginning of the function.

<RemoteCode url="https://raw.githubusercontent.com/synedra/fusionauth-example-express-start-here/main/app/src/index.ts" lang="javascript" tags="make-change" />

</details>