---
import {RemoteCode} from '@fusionauth/astro-components';
---

<details><summary>Application Configuration</summary>

<p>After the user signs in at FusionAuth, they need to get back to your application. In the FusionAuth application configuration you can view authorized redirect URLs and how tokens are generated/exchanged.

<p>
<img src="/img/docs/get-started/start-here/edit-application.png" alt="The edit screen of the application." />
</p>

<p>
The "Client Id" is a unique identifier for the application. In this case it is the "Start Here App", but it could be any application, including SaaS apps like Zendesk or open source applications that support OIDC or SAML.
</p>
<p>
The "Authorized Redirect URLs" field is a list of valid URLs that FusionAuth can send the user back to after they've authenticated. The code at these URLs, which you'll look at below, processes the request and completes the login. 
</p>
</details>

<details><summary>After the User Authenticates</summary>

<p>To understand how the JavaScript application integrates with FusionAuth, take a quick look at some of the code from the repository.  </p>

<p>We craft a URL that includes the `clientId` from the configuration you reviewed above, as well as some other parameters. This is where the user goes to log in with FusionAuth. TODO need to only show the `redirect(302, `fusionAuthURL/oauth2/authorize` line</p>

<RemoteCode url="https://raw.githubusercontent.com/synedra/fusionauth-example-express-start-here/main/app/src/index.ts" lang="javascript" tags="login" />

<p>Once the user authenticates, the code at the configured redirect URL is called. This code sends parameters from the login event (the authorization code), the client identifier (clientId) and other information to get a valid token from FusionAuth. When the app receives this token, the user has fully been authenticated. TODO need to only show the try block here 	</p>

<RemoteCode url="https://raw.githubusercontent.com/synedra/fusionauth-example-express-start-here/main/app/src/index.ts" lang="javascript" tags="oauth-redirect" />

<p>Once you have the token, what should the app do with it? One option is to store it as a secure cookie. We do that here. TODO show cookie saving</p>
<RemoteCode url="https://raw.githubusercontent.com/synedra/fusionauth-example-express-start-here/main/app/src/index.ts" lang="javascript" tags="account" />


<p>We now can protect certain app functionality. For the account page, which requires authorization, the user's identity is checked and the browser is redirected to the main page if there is no valid token.</p>
<RemoteCode url="https://raw.githubusercontent.com/synedra/fusionauth-example-express-start-here/main/app/src/index.ts" lang="javascript" tags="account" />

</details>
