---
import Code from 'astro/components/Code.astro';

---
<dd>
In your shell, type the following to start up the application:

<Code code="cd app; npm install; npm run dev" />
</dd>

Point your browser to the application:

<p>GitPod:
<Code code="gp preview `gp url 8080`" />
</p>
<p>
Local:
<Code code="open http://localhost:8080" /></p>

Now, login to the application in your browser using admin@example.com and 'password' to see the integration working.