---
import Code from 'astro/components/Code.astro';
import Aside from 'src/components/Aside.astro';
---
<dd>
<h2> Docker Requirements</h2>
<Aside type="note">
    You need to have Docker and Docker Compose installed.</Aside>


<p>This document has been tested with Docker version 20, but should work with other versions.</p>

  <i>Testing the Docker Installation</i>

 <Code lang="shell" code="docker -v" />
  

 <i>Result Of Testing the Docker Installation</i>
  <Code lang="shell" code="Docker version 20.10.17, build 100c701"/>
  
  </dd>


