# This is workflow for spell checking using PySpelling lib (https://pypi.org/project/pyspelling/)
name: spellcheck_website
on: 
  # run once a weekday at ~noon MT 
  schedule:
    - cron: '31 18 * * 2,4'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # linkcheck
        with:
          arguments: https://fusionauth.io/
        name: linkcheck
