# This is workflow for spell checking using PySpelling lib (https://pypi.org/project/pyspelling/)
name: linkcheck_website
on: 
  # run two times a weekday 
  schedule:
    - cron: '31 18 * * 2,4'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  check_links:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # linkcheck
      - uses: actions/checkout@v4
      - uses: filiph/linkcheck@3.0.0
        with:
          arguments: https://fusionauth.io/ --skip-file config/linkcheck/linkcheck-skip.txt --connection-failures-as-warnings
        name: linkcheck
