name: deploy_website

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "deploy_website"
  deploy_website:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        name: Cache savant build
        with: 
          path: |
            ~/dev
            ~/.savant/cache
          key: ${{ runner.os }}-${{ hashFiles('**/.github/scripts/setup.sh') }}-${{ hashFiles('**/.savant/plugins/*.properties') }}-${{ hashFiles('**/build.savant') }}
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      # Runs a set of commands using the runners shell
      - env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
        name: Deploy website
        run: |
          .github/scripts/setup.sh
          bundle exec jekyll build || true # have to do this first or we miss files and the savant push barfs. Never want to fail.
          sleep 1
          ~/dev/savant/current/bin/sb push
        shell: bash
