name: Linting
on: [push]

jobs:
  prose:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: File Changes
      id: file_changes
      uses: trilom/file-changes-action@v1.2.3
    - name: Vale
      uses: errata-ai/vale-action@v1.3.0
      with:
        styles: |
          https://github.com/errata-ai/Microsoft/releases/latest/download/Microsoft.zip
          https://github.com/errata-ai/write-good/releases/latest/download/write-good.zip
        files: '${{ steps.file_changes.outputs.files_modified }}'
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
